<!DOCTYPE html>
<html>
  <head>
    <title>Tahi Styleguide</title>
    <%= stylesheet_link_tag 'kss' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'blackboard' %>
  </head>
  <body class="kss-body">
    <header class="kss-header">Tahi Styleguide</header>

    <div id="kss_wrapper">
      <nav role="main" class="kss-nav">
        <ul>
          <li><%= link_to 'Home', kss.root_path %></li>
          <li><%= link_to 'Styleguide', kss.styleguide_path %></li>
          <li><%= link_to 'Styleguide New', '/kss/styleguide2' %></li>
        </ul>
      </nav>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'kss' %>
    <%# was breaking example markup= javascript_include_tag 'rainbow' %>
  </body>
</html>
