{{#ember-wormhole to="overlay-drop-zone"}}
  {{#overlay-animate outAnimationComplete=(action "close")
                     as |animateOut|}}
    <div class="overlay overlay--card {{task-component-name model.type}}-overlay">
      <div class="overlay-container">
        <header class="overlay-header">
          <span>
            {{#link-to "paper.index" model.paper.id class="task-overlay-paper-title"}}
              {{partial "svg/manuscript-icon"}}
              {{{model.paperTitle}}}
            {{/link-to}}
          </span>
          <a class="button-secondary button--green overlay-close-button" {{action animateOut}}>Close</a>
        </header>
        <div class="overlay-body">
          <div id="versioned-metadata">
            {{#util/promise-loader promise=selectedSnapshots as |snapshots| }}
              <div class="versioned-metadata-version">
                <span class="grey">Viewing</span>
                <span class="versioned-metadata-version-string">
                  Version {{ snapshots.v1.versionString }}
                  &mdash;
                  {{format-date snapshots.v1.createdAtOrNow format='MMM D, YYYY'}}
                </span>
                {{#if snapshots.v2}}
                  <span class="grey">comparing with</span>
                  <span class="versioned-metadata-version-string">
                    Version {{ snapshots.v2.versionString }}
                    &mdash;
                    {{format-date snapshots.v2.createdAtOrNow format='MMM D, YYYY'}}
                  </span>
                {{/if}}
              </div>
            {{/util/promise-loader}}

            <h2>{{model.title}}</h2>

            {{#util/promise-loader promise=selectedSnapshots as |snapshots|}}
                {{nested-snapshot
                  snapshot1=snapshots.v1.contents
                  snapshot2=snapshots.v2.contents}}
            {{else}}
              {{progress-spinner visible=true size="large" center=true}}
            {{/util/promise-loader}}
          </div>
        </div>
        <footer class="overlay-footer">
          <a class="button-secondary button--green overlay-close-button" {{action animateOut}}>Close</a>
        </footer>
      </div>
    </div>
  {{/overlay-animate}}
{{/ember-wormhole}}
