{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#ember-wormhole to="overlay-drop-zone"}}
  {{#overlay-animate outAnimationComplete=(action "close")
                     as |animateOut|}}
    <div class="overlay overlay--card {{model.taskComponentName}}-overlay">
      <div class="overlay-container">
        <header class="overlay-header">
          <span>
            {{#link-to "paper.index" model.paper.id class="task-overlay-paper-title"}}
              {{{model.paperTitle}}}
            {{/link-to}}
          </span>
          <a class="button-secondary button--green overlay-close-button" {{action animateOut}}>Close</a>
        </header>
        <div class="overlay-body">
          <div id="versioned-metadata">
            {{#util/async-content concurrencyTask=selectedSnapshots as |snapshots| }}
              <div class="versioned-metadata-version">
                <span class="grey">Viewing</span>
                <span class="versioned-metadata-version-string">
                  Version {{ snapshots.v1.versionString }}
                  &mdash;
                  {{format-date snapshots.v1.createdAtOrNow 'short-date'}}
                </span>
                {{#if snapshots.v2}}
                  <span class="grey">comparing with</span>
                  <span class="versioned-metadata-version-string">
                    Version {{ snapshots.v2.versionString }}
                    &mdash;
                    {{format-date snapshots.v2.createdAtOrNow 'short-date'}}
                  </span>
                {{/if}}
              </div>
            {{/util/async-content}}

            <h2>{{model.title}}</h2>

            {{#util/async-content concurrencyTask=selectedSnapshots as |snapshots|}}
                {{nested-snapshot
                  snapshot1=snapshots.v1.contents
                  snapshot2=snapshots.v2.contents}}
            {{else}}
              {{progress-spinner visible=true size="large" center=true}}
            {{/util/async-content}}
          </div>
        </div>
        <footer class="overlay-footer">
          <a class="button-secondary button--green overlay-close-button" {{action animateOut}}>Close</a>
        </footer>
      </div>
    </div>
  {{/overlay-animate}}
{{/ember-wormhole}}
