{{#ember-wormhole to="overlay-drop-zone"}}
  {{#overlay-animate outAnimationComplete=(action "close")
                     as |animateOut|}}
    <div class="overlay overlay--card {{task-component-name model.title}}-overlay">
      <div class="overlay-container">
        <header class="overlay-header">
          <span>
            {{#link-to "paper.index" model.paper.id class="task-overlay-paper-title"}}
              {{partial "svg/manuscript-icon"}}
              {{{model.paperTitle}}}
            {{/link-to}}
          </span>
          <a class="button-secondary button--green overlay-close-button" {{action animateOut}}>Close</a>
        </header>
        <div class="overlay-body">
          <div id="versioned-metadata">
            {{#unless isLoading}}
              <div class="versioned-metadata-version">
                Viewing
                <span class="versioned-metadata-version-string">
                  Version {{snapshot.versionString}}
                  &mdash;
                  {{format-date snapshot.createdAt format="MMM D, YYYY"}}
                </span>
              </div>
            {{/unless}}

            <h2>{{model.title}}</h2>

            {{#if isLoading}}
              {{partial "task-loading-section"}}
            {{else}}
              {{nested-snapshot snapshot=snapshot.contents}}
            {{/if}}
          </div>
        </div>
        <footer class="overlay-footer">
          <a class="button-secondary button--green overlay-close-button" {{action animateOut}}>Close</a>
        </footer>
      </div>
    </div>
  {{/overlay-animate}}
{{/ember-wormhole}}
