{{partial "paper/control-bar"}}

<div id="paper-container" {{bind-attr class="isSidebarEmpty:sidebar-empty :paper-container-latex"}}>

  {{partial "paper/sidebar"}}

  <div class="manuscript-container">

    <div class="editor-toolbar">
      <div class="ve-toolgroup btn-group">
        {{toggle-paper-editable action="toggleEditing" canEdit=canEdit isEditing=isEditing}}
      </div>
      {{#if isSidebarEmpty}}
        <div class="ve-toolgroup btn-group">
          <a {{action "submit" target="view"}}
             {{bind-attr class=":no-sidebar-submit-manuscript :button-primary allMetadataTasksCompleted:button--green:button--disabled"}}
             href="#">Submit Manuscript</a>
          <span {{bind-attr class=":glyphicon :glyphicon-lock locked::hidden"}}></span>
        </div>
      {{/if}}
      <div class="ve-tool-group pull-right">
        <span {{bind-attr class=":saving-spinner isSaving::hidden"}}>
          <i class="fa fa-spinner fa-spin"></i>
        </span>
        <span class="edit-paper-lock-message">
          {{display-value statusMessage or=""}}
          {{time-ago time=savedAt}}
        </span>
      </div>
    </div>

    <main>

      {{flash-messages classNames="flash-messages-paper-editor"}}

      <article {{ bind-attr class=":manuscript isEditing:editing:read-only"}}>
        <div class="manuscript-title-and-placeholder">
          {{content-editable tagName="h2"
                             id="paper-title"
                             placeholder="Type your manuscript title here"
                             value=title
                             preventEnterKey="true"}}

        </div>
        <div class="double-pane-editor">
          <div id="paper-body" class="double-pane left-pane">
            {{code-mirror-editor value=model.body
                                 mode="stex"}}
          </div>

          <div id="rendered-latex" class="double-pane right-pane">
            {{#if body}}
              <img {{bind-attr src="renderedLatexUrl"}} />
            {{/if}}
          </div>
        </div>
      </article>
    </main>

  </div>

</div>
