{{#if showTextAndLabel}}
  <p class="content-text">
    {{{content.text}}}
    {{#if content.isRequired}}
      <span class="required-field">*</span>
    {{/if}}
  </p>
{{/if}}
{{card-content/validation-errors errors=answer.readyIssuesArray}}
<div class="checkbox">
  <label for={{name}}>
    {{check-box
      name=name
      id=name
      checked=answer.value
      disabled=disabled
      content=content
      answer=answer
      action="valueChanged"}}
    <span>{{{if (or showTextAndLabel labelOnly) content.label content.text }}}</span>
    {{#if (and (not showTextAndLabel) content.isRequired)}}
      <span class="required-field">*</span>
    {{/if}}
  </label>
</div>
<div>
  {{card-content/validation-errors errors=answer.readyIssuesArray}}
</div>
{{card-content/display-children
  content=content
  owner=owner
  repetition=repetition
  disabled=disabled
  preview=preview}}
