<p class="content-text">{{#if content.text}}{{{content.text}}}{{/if}}
    {{#if content.isRequired}}
      <span class="required-field">*</span>
    {{/if}}</p>
<label for={{name}}>{{check-box
  name=name
  id=name
  checked=answer.value
  disabled=disabled
  content=content
  answer=answer
  action="valueChanged"}}{{{content.label}}}
</label>
{{card-content/validation-errors errors=answer.readyIssuesArray}}
{{card-content/display-children
  content=content
  owner=owner
  disabled=disabled
  preview=preview}}
