{{#if content.text}}
  <p class="content-text">{{{content.text}}}
    {{#if content.isRequired}}
      {{#unless answer.wasAnswered}}<span class="error-message">*</span>{{/unless}}
    {{/if}}</p>
{{/if}}

{{check-box
  name=name
  id=name
  checked=(readonly answer.value)
  disabled=disabled
  content=content
  answer=answer
  action="valueChanged"}}
{{#if content.label}}
  <label for={{name}}>{{{content.label}}}</label>
{{/if}}
<p>{{card-content/validation-errors errors=answer.readyIssuesArray}}</p>
