{{#if content.text}}
  <p class="content-text">{{{content.text}}}
    {{#if content.isRequired}}
      {{#unless answer.wasAnswered}}<span class="required-field">*</span>{{/unless}}
    {{/if}}</p>
{{/if}}
{{card-content/validation-errors errors=answer.readyIssuesArray}}
<div class="card-content-flex-box">
  <div>{{check-box
    name=name
    id=name
    checked=answer.value
    disabled=disabled
    content=content
    answer=answer
    action="valueChanged"}}
  </div>
  <div class="flex-label">
    {{#if content.label}}
      <label for={{name}}>{{{content.label}}}</label>
    {{/if}}
  </div>
</div>

{{card-content/display-children
content=content
owner=owner
disabled=disabled
preview=preview}}
