{{#if content.text}}
  <span class="help-block">{{{content.text}}}</span>
{{/if}}
<div class="form-group">
  {{card-content/validation-errors errors=answer.readyIssuesArray}}
  <label for={{name}}>{{check-box
    name=name
    id=name
    checked=answer.value
    disabled=disabled
    content=content
    answer=answer
    action="valueChanged"}}{{{content.label}}}
    {{#if content.isRequired}}
      <span class="required-field">*</span>
    {{/if}}
  </label>
  {{card-content/display-children
  content=content
  owner=owner
  disabled=disabled
  preview=preview}}
</div>
