{{#if content.text}}
  <p class="content-text">{{{content.text}}}</p>
{{/if}}
{{check-box
  name=name
  id=name
  checked=answer.value
  disabled=disabled
  action="valueChanged"}}
{{#if content.label}}
  <label for={{name}}>{{{content.label}}}</label>
{{/if}}

{{card-content/display-children
content=content
owner=owner
disabled=disabled
preview=preview}}
