{{#if pfa}}
  {{#billing-pfa billingController=this}}
    <li class="question">
      <div>
        <h3>
          PLOS Publication Fee Assistance (PFA Program)
        </h3>

        <p>
          PLOS believes that lack of funds should not be a barrier to Open Access publication.
          PFA is intended for authors who do not have sufficient fund
          available to support publication fees. PLOS expects authors to exhaust all
          alternative funding sources before applying for PFA.
        </p>

        <ul>
          <li>
            Have you investigated if Open Access Funds are available from your institutional library?
          </li>
          <li>
            Have you investigated if institutional discretionary funds are available to support your research publishing?
            For example, have you asked your Dean or Department Head for funding support?
          </li>
          <li>
            Have you investigated if there are discretionary funds in your co-authors’ grant to support your fee?
          </li>
          <li>
            For European researchers, have you asked your librarian if article processing grants from research funders are available?
            For example, from Research Councils UK (RCUK), the German Research Foundation (DFG) or The Netherlands Organization for Scientific Research (NWO).
          </li>
        </ul>
      </div>

      <div class="question-dataset">
        {{#question-radio ident="plos_billing.pfa_question_1"
                          task=model
                          question="Have you investigated if funding is available from your co-authors' institutions to pay the publication fee?"
                          yesLabel="Partial"
                          noLabel="None" as |selected|}}
          {{#if selected.yes}}
            If your coauthors' institutions will provide partial funding
            to publish the article, indicate the amount they will pay towards
            your publication fee (in USD).
            {{question-input ident="plos_billing.pfa_question_1b"
                             task=model
                             question="$"}}
          {{/if}}
          {{#if selected.no}}
            If your co-authors' institutions will not provide any funding to publish the article, indicate why.
            {{question-textarea ident="plos_billing.pfa_question_1a"
                                task=model}}
          {{/if}}
        {{/question-radio}}
        <br>

        {{#question-radio
            ident="plos_billing.pfa_question_2"
            task=model
            question="Have you investigated if funding is available from your institution to pay the publication fee?"
            yesLabel="Partial"
            noLabel="None" as |selected|}}
          {{#if selected.yes}}
            If your institution will provide partial funding to publish the article, indicate the amount it will pay toward your publication fee (in USD).
            {{question-input ident="plos_billing.pfa_question_2b"
                             task=model
                             question="$"}}
          {{/if}}
          {{#if selected.no}}
            If your institution cannot provide any funding to publish the article, indicate why.
            {{question-textarea ident="plos_billing.pfa_question_2a"
                                task=model}}
          {{/if}}
        {{/question-radio}}
        <br>

        {{#question-radio
            ident="plos_billing.pfa_question_3"
            task=model
            question="Do your co-authors have any other sources of funding that can be used towards the publication fee?"
            as |selected|}}
          {{#if selected.yes}}
            Indicate the amount that they can pay (in USD).
            {{question-input ident="plos_billing.pfa_question_3a"
                             task=model
                             question="$"}}
          {{/if}}
        {{/question-radio}}
        <br>

        {{#question-radio
            ident="plos_billing.pfa_question_4"
            task=model
            question="Do you have any other sources of funding that can be used towards the publication fee?"
            as |selected|}}
          {{#if selected.yes}}
            Indicate the amount that they can pay (in USD).
            {{question-input ident="plos_billing.pfa_question_4a"
                             task=model
                             question="$"}}
          {{/if}}
        {{/question-radio}}
        <br>

        <div>
          <div class="question-text">
            Given your answers to the above questions on your funding availability,
            what is the amount that you and your co-authors can jointly pay for publication? (Specify in USD.)
          </div>
          {{question-input ident="plos_billing.pfa_amount_to_pay"
                           task=model
                           question="$"}}
        </div>

        <br>
        <div>
          {{#question-radio
              ident="plos_billing.pfa_supporting_docs"
              task=model
              question="If you would like to provide documents to assist in demonstrating your request, you will have the opportunity to do so. After PLOS has received the completed application, the confirmation email will provide direction on where to send supplemental documents. Do you intend to supply supplemental documents?"}}
          {{/question-radio}}
        </div>

        <br>

        <div>
          <div class="question-text">
            If you wish to make additional comments to support your request, provide them below.
            If you have no additional comments, enter "None" in the box.
          </div>
          {{question-textarea ident="plos_billing.pfa_additional_comments"
                              task=model}}
        </div>

        <br>
        <h3>
          Author confirmation
        </h3>
        <p>
          {{question-check ident="plos_billing.affirm_true_and_complete"
                           displayQuestion="By checking this box, you are acknowledging that you have read and agree to the following statement: <br> <strong>I affirm that the information provided in this application is true and complete.</strong>"
                           task=model}}
        </p>

      </div>
    </li>
  {{/billing-pfa}}
{{/if}}
