{{#if pfa}}
  {{#billing-pfa billingController=this}}
    <li class="question">
      <div>
        <h3>
          PLOS Publication Fee Assistance (PFA Program)
        </h3>

        <p>
          PLOS believes that lack of funds should not be a barrier to Open Access publication.
          PFA is intended for authors who do not have sufficient fund
          available to support publication fees. PLOS expects authors to exhaust all
          alternative funding sources before applying for PFA.
        </p>

        <ul>
          <li>
            Have you investigated if Open Access Funds are available from your institutional library?
          </li>
          <li>
            Have you investigated if institutional discretionary funds are available to support your research publishing?
            For example, have you asked your Dean or Department Head for funding support?
          </li>
          <li>
            Have you investigated if there are discretionary funds in your co-authors’ grant to support your fee?
          </li>
          <li>
            For European researchers, have you asked your librarian if article processing grants from research funders are available?
            For example, from Research Councils UK (RCUK), the German Research Foundation (DFG) or The Netherlands Organization for Scientific Research (NWO).
          </li>
        </ul>
      </div>

      <div class="question-dataset">
        {{#nested-question-radio
            ident="pfa_question_1"
            owner=task
            yesLabel="Partial"
            noLabel="None" as |selected|}}
          {{#if selected.yes}}
            {{nested-question-input ident="pfa_question_1b" owner=task textClassNames=""}}
            {{error-message elementId="error-for-pfa_question_1b" message=pfaData.errors.pfa_question_1b.value}}
          {{/if}}
          {{#if selected.no}}
            {{nested-question-textarea ident="pfa_question_1a" owner=task textClassNames=""}}
          {{/if}}
        {{/nested-question-radio}}
        <br>

        {{#nested-question-radio
            ident="pfa_question_2"
            owner=task
            yesLabel="Partial"
            noLabel="None" as |selected|}}
          {{#if selected.yes}}
            {{nested-question-input ident="pfa_question_2b" owner=task textClassNames=""}}
            {{error-message elementId="error-for-pfa_question_2b" message=pfaData.errors.pfa_question_2b.value}}
          {{/if}}
          {{#if selected.no}}
            {{nested-question-textarea ident="pfa_question_2a" owner=task textClassNames=""}}
          {{/if}}
        {{/nested-question-radio}}
        <br>

        {{#nested-question-radio ident="pfa_question_3" owner=task as |selected|}}
          {{#if selected.yes}}
            {{nested-question-input ident="pfa_question_3a" owner=task textClassNames=""}}
            {{error-message elementId="error-for-pfa_question_3a" message=pfaData.errors.pfa_question_3a.value}}
          {{/if}}
        {{/nested-question-radio}}
        <br>

        {{#nested-question-radio ident="pfa_question_4" owner=task as |selected|}}
          {{#if selected.yes}}
            {{nested-question-input ident="pfa_question_4a" owner=task textClassNames=""}}
            {{error-message elementId="error-for-pfa_question_4a" message=pfaData.errors.pfa_question_4a.value}}
          {{/if}}
        {{/nested-question-radio}}
        <br>

        <div>
          {{nested-question-input ident="pfa_amount_to_pay" owner=task}}
          {{error-message elementId="error-for-pfa_amount_to_pay" message=pfaData.errors.pfa_amount_to_pay.value}}
        </div>

        <br>
        <div>
          {{nested-question-radio ident="pfa_supporting_docs" owner=task}}
        </div>

        <br>

        <div>
          {{nested-question-textarea ident="pfa_additional_comments" owner=task}}
        </div>

        <br>
        <h3>
          Author confirmation
        </h3>
        <p>
          {{nested-question-check ident="affirm_true_and_complete"
              owner=task
              questionText="By checking this box, you are acknowledging that you have read and agree to the following statement:<br><strong>I affirm that the information provided in this application is true and complete.</strong>"}}
        </p>
      </div>
    </li>
  {{/billing-pfa}}
{{/if}}
