<div class="task-disclosure-heading {{if notViewable 'disabled'}}" {{action "toggleVisibility"}}>
  <div class="task-disclosure-completed-icon {{if task.completedProxy "active"}}">
    {{partial "svg/check"}}
  </div>
  {{task.title}}
</div>

{{#if taskOpen}}
  <div class="task-disclosure-body">{{yield}}</div>
{{/if}}
