<div class="task-disclosure-heading" {{action "toggleVisibility"}}>
  {{#unless taskVisible}}
    <div class="task-disclosure-completed-icon {{if task.completed "active"}}">
      {{partial "svg/check"}}
    </div>
  {{/unless}}

  {{#if unreadCommentsCount}}
    <span class="badge badge--red unread-comments-count">{{unreadCommentsCount}}</span>
  {{/if}}

  <div class="task-disclosure-title">{{task.title}}</div>
</div>

{{#if taskVisible}}
  <div class="task-disclosure-body">{{yield}}</div>
{{/if}}
