<div class="sheet-toolbar">
  <span class="sheet-toolbar-button" {{action "cancel" model}}>
    &lt; Cancel
  </span>
</div>

<div class="sheet-content discussions-show-content">
  <div class="discussions-show-header">
    <h1 class="discussions-show-title">Create New Topic</h1>
  </div>

  <div class="inset-form-control required {{if validationErrors.title "error"}}">
    <div class="inset-form-control-text">
      <label>Topic Title</label>
      {{error-message message=validationErrors.title
                      displayIcon=true
                      displayText=false}}
    </div>
    {{input id="topic-title-field"
            type="text"
            value=model.title
            focus-out="validateTitle"
            class="inset-form-control-input discussion-topic-title-field"
            placeholder="Tech Check Discussion"}}
  </div>

  <div class="inset-form-control">
    <label class="inset-form-control-text">Message</label>
    {{#expanding-textarea}}
      {{at-mentionable-textarea
          atMentionableUsers=atMentionableStaffUsers
          value=replyText
          class="inset-form-control-textarea discussion-topic-comment-field"
          placeholder="First comment!"}}
    {{/expanding-textarea}}
  </div>

  <div class="discussion-post-actions">
    {{#if topicCreation.isIdle}}
      <button id="create-topic-button"
              class="button-primary button--green"
              {{action "save" model replyText}}>
        Create Topic
      </button>
    {{else}}
      <button class="button-primary button--disabled">Create Topic</button>
      {{progress-spinner visible=true
                         size="small"}}
    {{/if}}
  </div>
</div>
