<div class="sheet-toolbar">
  {{#link-to topicsIndexPath class="sheet-toolbar-button"}}
    <i class="fa fa-chevron-left"></i> back
  {{/link-to}}
</div>

<div class="sheet-content discussions-show-content">
  <div class="discussions-show-header">
    <h1 class="discussions-show-title">{{model.title}}</h1>

    {{participant-selector currentParticipants=participants
                           everyone=allUsers
                           label="Participants:"
                           onRemove="removeParticipantByUserId"
                           onSelect="addParticipantByUserId"}}
  </div>

  {{comment-board-form save="postReply"}}

  <br>

  {{#each model.discussionReplies as |reply|}}
    <div class="message-comment">
      {{user-thumbnail user=reply.replier}}
      <span class="comment-name">{{reply.replier.fullName}}</span>
      <span class="comment-date">posted {{relative-time time=reply.createdAt}}</span>
      <div class="comment-body">{{display-line-breaks reply.body}}</div>
    </div>
  {{/each}}
</div>
