<div class="sheet-toolbar">
  {{link-to "< Back" topicsIndexPath class="sheet-toolbar-button"}}
</div>

<div class="sheet-content discussions-show-content">
  <div class="discussions-show-header">
    <h1 class="discussions-show-title {{if validationErrors.title "error"}}">
      {{#if (can 'edit' model)}}
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
        {{input value=model.title class="edit-comment-title-field" focus-out="saveTopic"}}
      {{else}}
        {{model.title}}
      {{/if}}
    </h1>

    {{participant-selector currentParticipants=participants
                           url=discussionParticipantUrl
                           label="Participants:"
                           displayEmails=true
                           canManage=(can 'manage_participant' model)
                           onRemove=(action "removeParticipantByUserId")
                           onSelect=(action "saveNewParticipant")}}
  </div>

  <div class="discussions-show-form">
    {{comment-board-form save="postReply" participants=participants atMentionableStaffUsers=atMentionableStaffUsers}}
  </div>

  <br>

  {{#each sortedReplies as |reply|}}
    {{discussion-reply reply=reply}}
  {{/each}}
</div>
