<div class="sheet-toolbar">
  {{link-to "< Back" topicsIndexPath class="sheet-toolbar-button"}}
</div>

<div class="sheet-content discussions-show-content">
  <div class="discussions-show-header">
    <h1 class="discussions-show-title">
      {{input value=model.title focus-out="saveTopic"}}
    </h1>

    {{participant-selector currentParticipants=participants
                           everyone=allUsers
                           paperId=model.paperId
                           label="Participants:"
                           canManage=(can 'manage_participant' model)
                           onRemove=(action "removeParticipantByUserId")
                           onSelect=(action "addParticipantByUserId")}}
  </div>

  <div class="discussions-show-form">
    {{comment-board-form save="postReply"}}
  </div>

  <br>

  {{#each sortedReplies as |reply|}}
    <div class="message-comment">
      {{notification type="DiscussionReply" id=reply.id}}
      {{user-thumbnail user=reply.replier}}
      <span class="comment-name">{{reply.replier.fullName}}</span>
      <span class="comment-date">posted {{format-date reply.createdAt}}</span>
      <div class="comment-body">{{url-to-href text=reply.body}}</div>
    </div>
  {{/each}}
</div>
