<div class="sheet-toolbar">
  {{link-to "< Back" topicsIndexPath class="sheet-toolbar-button"}}
</div>

<div class="sheet-content discussions-show-content">
  <div class="discussions-show-header">
    <h1 class="discussions-show-title">
      {{input value=model.title focus-out="saveTopic"}}
    </h1>

    {{participant-selector currentParticipants=participants
                           everyone=allUsers
                           paperId=model.paperId
                           label="Participants:"
                           onRemove="removeParticipantByUserId"
                           onSelect="addParticipantByUserId"}}
  </div>

  <div class="discussions-show-form">
    {{comment-board-form save="postReply"}}
  </div>

  <br>

  {{#each sortedReplies as |reply|}}
    {{discussion-reply reply=reply}}
  {{/each}}
</div>
