<p class="overlay-supporting-text">
  Select people to collaborate with on this paper. Collaborators can edit the paper, will be notified about edits on the paper, and can participate in the discussion about this paper.
</p>

<div class="call-to-action">
  {{select-2-single class="collaborator-select"
                    name="collaborators"
                    minimumInputLength=3
                    placeholder="Add collaborator"
                    selectionSelected="addNewCollaborator"
                    remoteSource=select2RemoteSource
                    value=""}}

  <div class="overlay-action-buttons">
    <a class="button-link button--green" {{action "cancel"}}>cancel</a>
    <button class="button-primary button--green" {{action "save" phase}}>Save</button>
  </div>
</div>

<ul class="collaborators-list">
  {{#each collaborators as |collaborator|}}
    <li class="collaborator">
      <span class="avatar">{{user-thumbnail user=collaborator}}</span>
      <span class="name">{{collaborator.fullName}}
        <span class="delete-button fa fa-trash" {{action "removeCollaborator" collaborator}}>
        </span>
      </span>
    </li>
  {{/each}}
</ul>
