{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<p class="overlay-supporting-text">
  Select people to collaborate with on this paper. Collaborators can edit the paper, will be notified about edits on the paper, and can participate in the discussion about this paper.
</p>

<div class="call-to-action">
  {{select-2-single class="collaborator-select"
                    name="collaborators"
                    minimumInputLength=3
                    placeholder="Add collaborator"
                    selectionSelected="addNewCollaborator"
                    remoteSource=select2RemoteSource
                    value=""}}

  <div class="overlay-action-buttons">
    <a class="button-link button--green" {{action "cancel"}}>cancel</a>
    <button class="button-primary button--green" {{action "save" phase}}>Save</button>
  </div>
</div>

<ul class="collaborators-list">
  {{#each collaborators as |collaborator|}}
    <li class="collaborator">
      <span class="avatar">{{user-thumbnail user=collaborator}}</span>
      <span class="name">{{collaborator.fullName}}
        <span class="delete-button fa fa-trash" {{action "removeCollaborator" collaborator}}>
        </span>
      </span>
    </li>
  {{/each}}
</ul>
