<td colspan="2" class="export-delivery-message">
  Export <strong>{{ delivery.humanReadableState }}</strong>. {{ delivery.errorMessage }}
  {{#if delivery.preprintDoiAssigned}}
    <br/>Assigned preprint DOI:
    {{#if delivery.published}}
      <a class="preprint-link" href="{{delivery.paper.aarxLink}}">{{delivery.exportDoi}}</a>
    {{else}}
      {{delivery.exportDoi}}
    {{/if}}
  {{/if}}
</td>

<td class="export-delivery-date">
  {{format-date delivery.createdAt }}
</td>

{{#if delivery.failed}}
  <td class="export-delivery-date">
    <i class="fa fa-exclamation-triangle red"></i>
  </td>
{{/if}}
