{{#unless (is-equal uiState 'edit')}}
<div class="si-file-viewing">

  {{#if isEditable}}
    <div class="si-file-control-icons">
      <i class="fa fa-pencil si-file-edit-icon" {{action 'enterEditState' on='click'}}></i>
      <i class="fa fa-trash si-file-delete-icon" {{action 'enterDeleteState' on='click'}}></i>
    </div>
  {{/if}}

  <a href="{{ file.src }}" class="si-file-filename"><i class="fa fa-file-o"></i>{{ file.filename }}</a>

  <div class="si-file-title">{{ file.label }} {{ file.category }}{{if file.category '.' ''}} {{ file.title }}</div>

  {{#if file.caption}}
    <div class="si-file-caption">{{ file.caption }}</div>
  {{/if}}

  <div class="{{if (is-equal uiState 'delete') 'visible'}} si-file-delete {{if file.caption '' 'si-file-full-height'}}">
    <button class="button si-file-cancel-delete-button"
      {{action "cancelDelete"}}>
      Cancel
    </button>

    <button class="button si-file-delete-button"
      {{action "delete"}}>
      Delete Forever
    </button>
  </div>
</div>

{{/unless}}

{{#if (is-equal uiState 'edit')}}
<div class="si-file-editor flex-form">
  <span> Uploader here </span>

  <div class="flex-group">
    {{input class="flex-element" name="label" value=fileLabel}}
    {{input class="flex-element" name="category" value=fileCategory}}
    {{input class="flex-element" name="title" value=fileTitle}}
  </div>
  <div class="flex-group">
    {{textarea placeholder="Enter a legend (optional)" name="caption" value=fileCaption rows="5" class="flex-element si-file-caption-textbox"}}
  </div>
  <button class="button button-secondary si-file-cancel-edit-button"
    {{action "cancelEdit"}}>
    Cancel
  </button>
  <button class="button--white button-primary si-file-save-edit-button"
    {{action "saveEdit"}}>
    Save
  </button>
</div>
{{/if}}
