{{#if isEditing}}
  <div class="si-file-editor flex-form visible">
    <div class="si-file-filename">
      <a href="{{file.src}}"><i class="fa {{iconClass}}"></i>{{file.filename}}</a>

      <div class="fileinput-button">
        {{fa-icon icon="refresh"}}
        <span>Replace File</span>
        {{file-uploader url=attachmentUrl
                        railsMethod="PUT"
                        multiple=false
                        filePrefix="supporting-info"
                        done="uploadFinished"
                        cancel="cancelUploads"}}
      </div>
    </div>
    <div class="flex-group">
      <div class="inset-form-control flex-element required si-file-label-input {{if model.validationErrors.label "error"}}">
        <div class="inset-form-control-text">
          <label>Label</label>
        </div>
        {{input class="inset-form-control-input"
                placeholder="E.g. S1"
                name="label"
                key-up="validateLabel"
                value=file.label}}
      </div>

      <div class="inset-form-control flex-element">
      {{power-select-other class="form-control si-file-category-input"
                           otherText="Other"
                           selectPlaceholder="Select category"
                           inputPlaceholder="Please specify"
                           name="category"
                           options=categories
                           required=true
                           errors=model.validationErrors.category
                           searchEnabled=false
                           validate=(action "validateCategory")
                           value=file.category}}
      </div>
    </div>
    <div class="flex-group">
      {{format-input class="form-control flex-element si-file-title-input"
                     placeholder="Enter a title (optional)"
                     name="title"
                     value=file.title
                     displayBold=false}}

      {{format-input placeholder="Enter a legend (optional)"
                     name="caption"
                     class="form-control flex-element si-file-caption-textbox"
                     value=file.caption
                     displayBold=false}}
    </div>
    <label class="si-file-publishable-checkbox">{{input type="checkbox" checked=file.publishable}} For publication</label>
    {{#if (eq file.category "Figure")}}
      <label class="si-file-striking-image-checkbox">{{input type="checkbox" checked=file.strikingImage}} Nominate as striking image</label>
    {{/if}}

    <div class="si-file-actions">
      {{error-message message=model.validationErrors.save}}
      <button class="button--green button-link si-file-cancel-edit-button"
        {{action "cancelEdit"}}>
        Cancel
      </button>
      <button class="button-secondary {{if model.validationErrors.save "button--red" "button--green"}} si-file-save-edit-button"
        {{action "saveEdit"}}>
        Save
      </button>
    </div>
  </div>

{{else}}

  <div class="si-file-viewing" {{action "enterEditStateIfEditable" on="doubleClick"}}>
    {{#if isEditable}}
      <div class="si-file-control-icons">
        <i class="fa fa-pencil si-file-edit-icon" {{action "enterEditStateIfEditable" on="click"}}></i>
        <i class="fa fa-trash si-file-delete-icon" {{action "enterDeleteState" on="click"}}></i>
      </div>
    {{/if}}

    <a href="{{file.src}}" class="si-file-filename">
      <i class="fa {{fileIconClass}}"></i>{{file.filename}}
    </a>

    <div class="si-file-title">
      {{file.label}} {{file.category}}{{if file.category "." ""}} {{{file.title}}}
    </div>

    {{#if file.caption}}
      <div class="si-file-caption">{{{file.caption}}}</div>
    {{/if}}

    {{error-message message=model.validationErrors.save
                    displayIcon=true}}

    <div class="{{if (eq uiState "delete") "visible"}} si-file-delete">
      <button class="button si-file-cancel-delete-button" {{action "cancelDelete"}}>
        Cancel
      </button>

      <button class="button si-file-delete-button" {{action "deleteFile"}}>
        Delete Forever
      </button>
    </div>
  </div>

{{/if}}
