{{#if isEditable}}
  <div class="si-file-control-icons">
    <i class="fa fa-pencil si-file-edit"></i>
    <i class="fa fa-trash si-file-delete"></i>
  </div>
{{/if}}

<a href="{{ file.url }}" class="si-file-filename"><i class="fa fa-file-o"></i>{{ file.filename }}</a>

<div class="si-file-title">{{ file.label }} {{ file.category }} {{ file.title }}</div>
<div class="si-file-caption">{{ file.caption }}</div>
