<div class="inline-edit bodypart-display {{if editing "editing"}} {{bodyPartType}} {{if showChooseReceivers "show-choose-receivers"}}">
  {{#if isSendable}}
    <div class="send-email">
      {{#if lastSentAt}} <span class="bodypart-last-sent">Sent {{lastSentAt}}</span>{{/if}}
      <div class="button-secondary button--green email-send-participants" {{action "toggleChooseReceivers"}}>Send this Email</div>
    </div>
  {{/if}}
  <div class="item-text">
    <div class="item-subject">
      Subject: {{bodyPart.subject}}
    </div>
    {{{bodyPart.value}}}
  </div>
</div>

<div class="inline-edit-form {{if editing "editing"}} {{if showChooseReceivers "hidden"}}">
  {{input value=bodyPart.subject placeholder="Enter a subject"}}
  {{content-editable value=bodyPart.value class="editable email-body"}}
</div>

{{#if showChooseReceivers}}
  <div class="bodypart-choose-receiver-overlay bodypart-overlay">
    <p>Please choose who should receive this email.</p>
    {{participant-selector currentParticipants=recipients
                           everyone=allUsers
                           onRemove=(action "removeRecipient")
                           onSelect=(action "addRecipientById")
                           label="Recipients:"
                           task=task
                           taskId=task.id
                           paperId=paperId
                           canManage=(can 'add_email_participants' task)}}
    <button class="button-secondary button--green knockout" {{action "toggleChooseReceivers"}}>Cancel</button>
    <button class="button-secondary button--green knockout send-email-action" {{action "sendEmail" model}}>Send Email</button>
  </div>
{{/if}}

{{#if showSentMessage}}
  <div class="bodypart-email-sent-overlay bodypart-overlay">
    <span class="fa fa-remove animation-scale-in" {{action "clearEmailSent"}}></span>
    <p>Your email has been sent.</p>
  </div>
{{/if}}
