<h1>Initial Tech Check</h1>

<ul class="list-unstyled">
<li class="item">
  {{question-check ident="initial_tech_check.open_rejects"
                   task=model
                   question="Check Section Headings of all new submissions (including Open Rejects). Should broadly follow: Title, Authors, Affiliations, Abstract, Introduction, Results, Discussion, Materials and Methods, References, Acknowledgements, and Figure Legends."}}
Note that if all of these things are present in the submission either 1) in a different order or 2) titles slightly different then this is okay to pass through. If not, ask the authors to address.
</li>
<li class="item">
  {{question-check ident="initial_tech_check.human_subjects"
                   task=model
                   question="Check the ethics statement - does it mention Human Participants? If so, flag this with the editor in the discussion below."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.ethics_needed"
                   task=model
                   question="Check if there are any obvious ethical flags (mentions of animal/human work in the title/abstract), check that there's an ethics statement. If not, ask the authors about this."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.data_available"
                   task=model
                   question="Is the data available? If not, or it's only available by contacting an author or the institution, make a note in the discussion below."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.supporting_information"
                   task=model
                   question="If author indicates the data is available in Supporting Information, check to make sure there are Supporting Information files in the submission (don't need to check for specifics at this stage)."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.dryad_url"
                   task=model
                   question="If the author has mentioned Dryad in their Data statement, check that they've included the Dryad reviewer URL. If not, make a note in the discussion below."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.financial_disclosure"
                   task=model
                   question="If Financial Disclosure Statement is not complete (they've written N/A or something similar), message author."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.tobacco"
                   task=model
                   question="If the Financial Disclosure Statement includes any companies from the Tobacco Industry, make a note in the discussion below."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.figures_legible"
                   task=model
                   question="If any figures are completely illegible, contact the author."}}
</li>

<li class="item">
  {{question-check ident="initial_tech_check.cited"
                   task=model
                   question="If any files or figures are cited but not included in the submission, message the author."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.cover_letter"
                   task=model
                   question="Have the authors asked any questions in the cover letter? If yes, contact the editor/journal team."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.billing_inquiries"
                   task=model
                   question="Have the authors mentioned any billing information in the cover letter? If yes, contact the editor/journal team."}}
</li>
<li class="item">
  {{question-check ident="initial_tech_check.ethics_statement"
                   task=model
                   question="If an Ethics Statement is present, make a note in the discussion below."}}
</li>
</ul>
<br>
<h2>If there are issues the author needs to address, create a changes card for them here:</h2>

{{flash-messages}}

{{#if authorChanges}}
  {{textarea value=authorChangesLetter 
             placeholder="Type changes required by the author to this manuscript"
             class="form-group form-control"}}
  {{#if authorChangesLetterPresent}}
    <button class="button-primary button--green" {{action "updateAuthorChangesCard"}}>
      Update Author Changes Card
    </button>
  {{else}}
    <button class="button-primary button--green" {{action "createAuthorChangesCard"}}>
      Create Author Changes Card
    </button>
  {{/if}}
{{else}}
  {{#if authorChangesLetterPresent}}
    <button class="button-primary button--green" {{action "makeAuthorChanges"}}>
      Edit Author Changes Letter
    </button>
  {{else}}
    <button class="button-primary button--green" {{action "makeAuthorChanges"}}>
      Write Author Changes Letter
    </button>
  {{/if}}
{{/if}}
