<div class="form-group">
  {{#if content.text}}
    <legend>{{{content.text}}}
      {{#if content.isRequired}}
        {{#unless answer.wasAnswered}}<span class="required-field">*</span>{{/unless}}
      {{/if}}
    </legend>
  {{/if}}
  {{#if isText}}
    {{#each content.possibleValues as |opt index|}}
      <div class="radio">
        <label for="{{guid-id this index}}" class="radio">
          {{radio-button
            selection=answer.value
            value=opt.value
            disabled=disabled
            id=(guid-id this index)
            content=content
            action=(action "valueChanged")}}
          <span class="card-content-radio-label">{{{opt.label}}}</span>
        </label>
      </div>
    {{/each}}
  {{else }}
    <div class="radio">
      <label for="{{guid-id this '0'}}" class="radio">
        {{radio-button
          selection=answer.value
          value=true
          id=(guid-id this '0')
          disabled=disabled
          content=content
          action=(action "valueChanged")}}
        <span class="card-content-radio-label">Yes</span>
      </label>
    </div>
    <div class="radio">
      <label for="{{guid-id this '1'}}" class="radio">
        {{radio-button
          selection=answer.value
          value=false
          id=(guid-id this '1')
          disabled=disabled
          content=content
          action=(action "valueChanged")}}
        <span class="card-content-radio-label">No</span>
      </label>
    </div>
  {{/if}}

  {{card-content/display-children
    content=content
    owner=owner
    disabled=disabled
    preview=preview}}
</div>