<div>
  {{#if isText}}
    {{#each content.possibleValues as |opt index|}}
      <label for="{{guid-id this index}}" class="option">
        {{radio-button
          selection=answer.value
          value=opt.value
          disabled=disabled
          id=name
          content=content
          action=(action "valueChanged")}}
        <span class="card-content-radio-label">{{{opt.label}}}</span>
      </label>
    {{/each}}
  {{else }}
    <label for="{{guid-id this '0'}}" class="option">
      {{radio-button
        selection=answer.value
        value=true
        id=name
        disabled=disabled
        content=content
        action=(action "valueChanged")}}
      <span class="card-content-radio-label">Yes</span>
    </label>
    <label  for="{{guid-id this '1'}}" class="option">
      {{radio-button
        selection=answer.value
        value=false
        id=name
        disabled=disabled
        content=content
        action=(action "valueChanged")}}
      <span class="card-content-radio-label">No</span>
    </label>
  {{/if}}
</div>
<div>{{card-content/validation-errors errors=answer.readyIssuesArray}}</div>
{{card-content/display-children
  content=content
  owner=owner
  disabled=disabled
  preview=preview}}
