{{#if hasText}}
  <div class="{{cardFormClass}}">
    {{{content.text}}}
  </div>
{{/if}}
{{card-content/validation-errors hideErrors=answer.hideErrors errors=answer.readyIssuesArray}}
{{#if isText}}
  {{#each content.possibleValues as |opt index|}}
    <div class="card-radio">
      <label class="card-form-element">
        {{radio-button
          selection=answer.value
          value=opt.value
          disabled=disabled
          content=content
          action=(action "valueChanged")
        }}

        <span class="card-form-label">{{{opt.label}}}</span>
        {{partial "required-field"}}
      </label>
    </div>
  {{/each}}
{{else }}
  <div class="card-radio">
    <label class="card-form-element">
      {{radio-button
        selection=answer.value
        value=true
        disabled=disabled
        content=content
        action=(action "valueChanged")
      }}

      <span class="card-form-label">{{{trueLabel}}}</span>
      {{partial "required-field"}}
    </label>
  </div>

  <div class="card-radio">
    <label class="card-form-element">
      {{radio-button
        selection=answer.value
        value=false
        disabled=disabled
        content=content
        action=(action "valueChanged")
      }}

      <span class="card-form-label">{{{falseLabel}}}</span>
      {{partial "required-field"}}
    </label>
  </div>
{{/if}}

{{card-content/display-children
  content=content
  owner=owner
  disabled=disabled
  repetition=repetition
  preview=preview
}}
