{{!--
  This card-content component will be rendered
  for every node in the tree, wrapping a more specific
  inner component that depends on the type of the content--}}
  {{#if (and answer keepAnswerContainer)}}
    <div class="answer-container">
      <div class="answer">
        {{#if textOnly}}
          {{partial "card-content-component"}}
        {{else}}
          <label for={{name}}>
            {{partial "card-content-component"}}
            {{{content.label}}}
          </label>
        {{/if}}
      </div>
      <div class="additional-text">
        {{#if content.hasAdditionalText}}
          {{card-content/tabbed-textarea
          annotationChanged=(action 'updateAnnotation')
          showAnnotation=content.allowAnnotations
          annotation=answer.annotation
          instructionText=content.instructionText
          disabled=disabled}}
        {{/if}}
      </div>
    </div>
  {{else}}
    {{#if textOnly}}
      {{partial "card-content-component"}}
    {{else}}
      <label for={{name}}>
        {{partial "card-content-component"}}
        {{{content.label}}}
      </label>
    {{/if}}
  {{/if}}
