<div class="sheet sheet--visible">
  <span class="sheet-close-x" {{action "toggleDownloads"}}>&times;</span>
  <div class="sheet-content">
    <h1 class="sheet-title">Downloads</h1>
    <br>
    <table class="paper-downloads">
      <tr class="paper-downloads-row">
        <th>Manuscript Version</th>
        <th class="paper-downloads-links">Format</th>
      </tr>
      <tr class="paper-downloads-row">
        <td>Draft</td>
        <td class="paper-downloads-links">
          {{#if (or (eq model.fileType "docx") (eq model.fileType "doc"))}}
            <a href="#" {{action "exportDocument" model.fileType}} class="download-docx" title="Download {{unbound model.fileType}}">
              {{fa-icon "file-word-o"}} Word
            </a>

            {{#direct-download-link link=downloadLink extension=".pdf"}}
              {{fa-icon "file-pdf-o"}} PDF
            {{/direct-download-link}}
          {{/if}}

          {{#if (eq model.fileType "pdf")}}
            <a href="#" {{action "exportDocument" "pdf"}} class="download-pdf" title="Download PDF">
              {{fa-icon "file-word-o"}} Word
            </a>
          {{/if}}
        </td>
      </tr>
    </table>
  </div>
</div>
