<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      {{#link-to "admin.journals.emailtemplates" template.journalId class="email-editor-header-back"}}&lt; Email Templates{{/link-to}}
      <h1>
        {{template.name}}
      </h1>
      {{#tab-bar}}
        <a class="active">Edit Email</a>
      {{/tab-bar}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 edit-email-backsplash">
      <div class="text-right">
        {{#unless displayMessage}}
          <span class="text-{{messageType}}">{{message}}</span>&nbsp;&nbsp;&nbsp;
        {{/unless}}
        {{save-button
          text="SAVE"
          spinnerSize="mini"
          click=(action 'save')
          class="button-primary button--blue edit-email-button"
          disabled=(or saved template.isSaving)
          displaySpinner=template.isSaving}}
      </div>

      <div class="edit-email-well">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <label for="subject" class="text-bold">Subject </label>
                <div class="{{if (or subjectErrorPresent  subjectEmpty) 'error'}}">
                  {{input class="form-control" id="subject" value=template.subject key-down="handleInputChange" focus-out="checkSubject"}}
                  {{#if subjectEmpty}}
                    <span>{{fa-icon 'warning'}} This field is required.</span>
                  {{/if}}
                  {{#if subjectErrorPresent}}
                    <div class="error">
                      <span>{{fa-icon 'warning'}} Please correct the following syntax errors.</span>
                      <ul>
                        {{#each subjectErrors as |error|}}
                          <li>{{error}}</li>
                        {{/each}}
                      </ul>
                    </div>
                  {{/if}}
                </div>
              </div>

              <div class="form-group">
                <label for="body" class="text-bold">Body </label>
                <div class="{{if (or bodyErrorPresent bodyEmpty) 'error'}}">
                  {{textarea id="body" class="form-control" value=template.body key-down="handleInputChange" focus-out="checkBody"}}
                  {{#if bodyEmpty}}
                    <span>{{fa-icon 'warning'}} This field is required.</span>
                  {{/if}}
                  {{#if bodyErrorPresent}}
                    <div class="error">
                      <span>{{fa-icon 'warning'}} Please correct the following syntax errors.</span>
                      <ul>
                        {{#each bodyErrors as |error|}}
                          <li>{{error}}</li>
                        {{/each}}
                      </ul>
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
            <div class="col-xs-3 available-merge-fields-col">
              <div class="available-merge-fields-header">Available Merge Fields</div>
              <div class="available-merge-fields">
                {{#each template.mergeFields as |mergeField|}}
                  {{admin-page/email-templates/edit/merge-field mergeField=mergeField}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>