<div class="col-xs-12">
  {{#link-to "admin.cc.journals.emailtemplates" class="card-editor-header-back"}}&lt; Emails{{/link-to}}

  <h1>
    {{template.text}}
  </h1>
  {{#tab-bar}}
    <a class="active">Edit Email</a>
  {{/tab-bar}}
</div>
<div class="col-xs-12 edit-email-backsplash">
  <div class="well well-lg edit-email-well">
    <div class="form-group {{unless (or unsaved template.subject) 'error'}}">
      <label for="subject" class="text-bold">Subject:</label>
      {{input class="form-control" id="subject" value=template.subject}}
      {{#unless (or unsaved template.subject)}}
        <span>{{fa-icon 'warning'}} Please enter a subject line</span>
      {{/unless}}
    </div>
    <div class="form-group {{unless (or unsaved template.letter) 'error'}}">
      <label for="letter" class="text-bold">Body:</label>
      {{textarea id="letter" class="form-control" value=template.letter autoresize=true}}
      {{#unless (or unsaved template.letter)}}
        <span>{{fa-icon 'warning'}} Please enter body text</span>
      {{/unless}}
    </div>
    <div class="text-right">
      <button class="button-primary button--blue" {{action "save"}}>
        Save
      </button>
    </div>
  </div>
</div>
