<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <p class="top-marg-10">
        {{#link-to "admin.journals.emailtemplates" template.journalId class="email-editor-header-back"}}&lt; Email Templates{{/link-to}}
      </p>

      {{#if isEditingName}}
        <div class="name-input-size {{unless template.name 'error'}}">
          {{input value=template.name key-down="handleInputChange" class="form-control template-name"}}
        </div>
        {{#if nameEmpty}}
          <span class="error">{{fa-icon 'warning'}} This field is required.</span>
        {{/if}}
        {{#if nameErrorPresent}}
          <span class="error">
            {{fa-icon 'warning'}} The email template name of "{{unbound template.name}}" is already taken for this journal. 
            Please give your template a new name.
          </span>
        {{/if}}
      {{else}}
        <h2>
          {{template.name}}  <small {{action 'editTitle'}} class="pointer-mouse">{{fa-icon 'pencil'}}</small>
        </h2>
      {{/if}}

      {{#tab-bar}}
        <a class="active">Edit Email</a>
      {{/tab-bar}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 edit-email-backsplash">
      <div class="text-right">
        <span class="text-{{messageType}}">{{message}}</span>&nbsp;&nbsp;&nbsp;
        {{#save-button
          spinnerSize="mini"
          click=(action 'save')
          class="button-primary button--blue edit-email-button"
          disabled=(or saved template.isSaving)
          displaySpinner=template.isSaving}}
          SAVE
        {{/save-button}}
      </div>

      <div class="edit-email-well">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <label for="subject" class="text-bold required-field-label">Subject </label>
                <div class="{{if (or subjectErrorPresent  subjectEmpty) 'error'}}">
                  {{input class="form-control template-subject" value=template.subject key-down="handleInputChange" focus-out="checkSubject"}}
                  {{#if subjectEmpty}}
                    <span>{{fa-icon 'warning'}} This field is required.</span>
                  {{/if}}
                  {{#if subjectErrorPresent}}
                    <div class="error">
                      <span>{{fa-icon 'warning'}} Please correct the following syntax errors.</span>
                      <ul>
                        {{#each subjectErrors as |error|}}
                          <li>{{error}}</li>
                        {{/each}}
                      </ul>
                    </div>
                  {{/if}}
                </div>
              </div>

              <div class="form-group">
                <label for="cc" class="text-bold">CC </label>
                <div class="{{if ccErrorPresent 'error'}}">
                  {{input class="form-control template-cc" value=template.cc key-down="handleInputChange"}}
                  {{#if ccErrorPresent}}
                    <div class="error">
                      <span>{{fa-icon 'warning'}} Please correct the following syntax errors.</span>
                      <ul>
                        {{#each ccErrors as |error|}}
                          <li>{{error}}</li>
                        {{/each}}
                      </ul>
                    </div>
                  {{/if}}
                </div>
              </div>

              <div class="form-group">
                <label for="bcc" class="text-bold">BCC </label>
                <div class="{{if bccErrorPresent 'error'}}">
                  {{input class="form-control template-bcc" value=template.bcc key-down="handleInputChange"}}
                  {{#if bccErrorPresent}}
                    <div class="error">
                      <span>{{fa-icon 'warning'}} Please correct the following syntax errors.</span>
                      <ul>
                        {{#each bccErrors as |error|}}
                          <li>{{error}}</li>
                        {{/each}}
                      </ul>
                    </div>
                  {{/if}}
                </div>
              </div>

              <div class="form-group">
                <label for="body" class="text-bold required-field-label">Body </label>
                <div class="{{if (or bodyErrorPresent bodyEmpty) 'error'}}">
                  {{textarea class="form-control template-body" value=template.body key-down="handleInputChange" focus-out="checkBody"}}
                  {{#if bodyEmpty}}
                    <span>{{fa-icon 'warning'}} This field is required.</span>
                  {{/if}}
                  {{#if bodyErrorPresent}}
                    <div class="error">
                      <span>{{fa-icon 'warning'}} Please correct the following syntax errors.</span>
                      <ul>
                        {{#each bodyErrors as |error|}}
                          <li>{{error}}</li>
                        {{/each}}
                      </ul>
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
            <div class="col-xs-3 available-merge-fields-col">
              <div class="available-merge-fields-header">
                <strong>Available Merge Fields for</strong>
                {{util/wrap-at-delimiter input=template.scenario}}
              </div>
              <div class="available-merge-fields">
                {{#each template.mergeFields as |mergeField|}}
                  {{admin-page/email-templates/edit/merge-field mergeField=mergeField}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{dirty-overlay visible=showDirtyOverlay
   outAnimationComplete=(toggle "showDirtyOverlay" this)
   cleanDirtyModel=(action 'cleanDirtyModel')}}
