<div id="tahi-container" class="full-width manuscript-manager-template">
  <div id="manuscript-manager">
    <div class="full-height">
      <div class="paper-type-form">
        {{#if editingMmtName}}
          {{input value=model.paperType placeholder="Paper Type" class="edit-paper-type-field"}}
          {{error-message message=validationErrors.paperType classNames="mmt-edit-error-message"}}
        {{else}}
          <div class="paper-type-name" {{action "editMmtName"}}>
            {{model.paperType}}
            <span class="fa fa-pencil"></span>
          </div>
          &nbsp;
          {{#link-to "admin.journal" journal class="button-link button--blue"}}&lt; Back{{/link-to}}
        {{/if}}
        {{#if showSaveButton}}
          <a class="button-secondary button--blue paper-type-save-button" {{action "saveTemplateOnClick"}}>Save Template</a>
          <a class="button-link button--blue paper-type-cancel-button" {{action "cancel"}}>cancel</a>
        {{/if}}
      </div>

      <div class="columns manuscript-manager-template-columns">
        {{add-column position=0 action="addPhase" bonusClass="first-add-column"}}
        {{#each sortedPhaseTemplates as |phaseTemplate|}}
          {{#manuscript-manager-column content=phaseTemplate changeTaskPhase="changeTaskPhase" as |nextPosition|}}
            {{add-column position=nextPosition action="addPhase"}}

            {{phase-header phase=phaseTemplate
                           savePhase="savePhase"
                           removePhase="removeRecord"
                           rollbackPhase="rollbackPhase"}}

            <div class="column-content">
              {{#each phaseTemplate.taskTemplates as |task|}}
                {{card-preview paper=null
                               task=task
                               canRemoveCard=true
                               canDragCard=true
                               removeTask="removeRecord"
                               showDeleteConfirm="showDeleteConfirm"
                               action=null}}
              {{/each}}
              <a {{action "chooseNewCardTypeOverlay" phaseTemplate}} class="button-secondary button--green">Add New Card</a>
            </div>
          {{/manuscript-manager-column}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
