{{#overlay-fullscreen visible=showCardDeleteOverlay
                      outAnimationComplete=(action "hideCardDeleteOverlay")
                      title="You're about to remove this card from the workflow."
                      overlayClass="card-delete-overlay"
                      as |overlay|}}
    {{card-delete model=taskToDelete
                  buttonText="Yes, remove this card"
                  close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}

{{#overlay-fullscreen visible=showChooseNewCardOverlay
                      outAnimationComplete=(action "hideChooseNewCardOverlay")
                      title="Pick the types of cards to add"
                      as |overlay|}}
    {{choose-new-card phase=addToPhase
                      journalTaskTypes=journalTaskTypes
                      cards=cards
                      isLoading=journalTaskTypesIsLoading
                      onSave=(action "addTaskTemplate")
                      close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}

{{#if showAdHocTaskOverlay}}
  {{overlay-ad-hoc-template
      task=adHocTaskToDisplay
      outAnimationComplete=(action "hideAdHocTaskOverlay")}}
{{/if}}

{{#control-bar}}
  <nav role="navigation" id="control-bar">
    {{#unless showSaveButton}}
      {{#if (feature-flag "CARD_CONFIGURATION")}}
        {{#link-to "admin.cc.journals.workflows" (query-params journalID=journal.id) id="control-bar-journal-back-button"}}
          {{fa-icon icon="chevron-left"}}
          Back
        {{/link-to}}
      {{else}}
        {{#link-to "admin.journal" journal id="control-bar-journal-back-button"}}
          {{fa-icon icon="chevron-left"}}
          Back
        {{/link-to}}
      {{/if}}
    {{/unless}}

    {{#if editingName}}
      <div style="align-self: center;">
        {{input value=model.paperType
                placeholder="Paper Type"
                class=(concat "edit-paper-type-field" (if validationErrors.paperType ' error'))}}
        {{error-message message=validationErrors.paperType classNames="mmt-edit-error-message"}}
      </div>
    {{else}}
      <div class="paper-type-name" {{action "editMmtName"}}>
        {{model.paperType}}
        {{fa-icon icon="pencil"}}
      </div>
    {{/if}}

    {{#if showSaveButton}}
      <div style="align-self: center;">
        <a class="button-secondary button--blue paper-type-save-button" {{action "saveTemplateOnClick"}}>Save Template</a>
        <a class="button-link button--blue paper-type-cancel-button" {{action "cancel"}}>cancel</a>
      </div>
    {{/if}}

    <div class="uses-research-article-reviewer-report">
      <label>
      <input type="checkbox"
             checked={{model.usesResearchArticleReviewerReport}}
             onclick={{action "toggleResearchArticleReviewerReport" value="target.checked"}}>

        Uses research article reviewer report
      </label>
    </div>
    <div class="spacer"></div>
  </nav>
{{/control-bar}}

<div class="columns manuscript-manager-template-columns">
  {{add-column position=0 action="addPhase" bonusClass="first-add-column"}}
  {{#each sortedPhaseTemplates as |phaseTemplate|}}
    {{phase-template-column phaseTemplate=phaseTemplate
                            taskMovedWithinList=(action "taskMovedWithinList")
                            taskMovedBetweenList=(action "taskMovedBetweenList")
                            startDragging=(action "startDragging")
                            stopDragging=(action "stopDragging")
                            editTaskTemplate=(action "editTaskTemplate")
                            addPhase="addPhase"
                            savePhase="savePhase"
                            removeRecord="removeRecord"
                            rollbackPhase="rollbackPhase"
                            showDeleteConfirm="showCardDeleteOverlay"
                            chooseNewCardTypeOverlay="showChooseNewCardOverlay"}}
  {{/each}}
</div>
