<div class="base-screen manuscript-manager-template">
  <div class="paper-type-form">
    {{#if editingName}}
      {{input value=model.paperType placeholder="Paper Type" class="edit-paper-type-field"}}
      {{error-message message=validationErrors.paperType classNames="mmt-edit-error-message"}}
    {{else}}
      <div class="paper-type-name" {{action "editMmtName"}}>
        {{model.paperType}}
        <span class="fa fa-pencil"></span>
      </div>
    {{/if}}

    {{#if showSaveButton}}
      <a class="button-secondary button--blue paper-type-save-button" {{action "saveTemplateOnClick"}}>Save Template</a>
      <a class="button-link button--blue paper-type-cancel-button" {{action "cancel"}}>cancel</a>
    {{else}}
      {{link-to "< Back" "admin.journal" journal class="button-link button--blue"}}
    {{/if}}

    <div>
      <label class="uses-research-article-reviewer-report">
      <input type="checkbox" 
             checked={{model.usesResearchArticleReviewerReport}} 
             onclick={{action "toggleResearchArticleReviewerReport" value="target.checked"}}
             class="uses-research-article-reviewer-report">

        Uses research article reviewer report
      </label>
    </div>
  </div>


  <div class="columns manuscript-manager-template-columns">
    {{add-column position=0 action="addPhase" bonusClass="first-add-column"}}
    {{#each sortedPhaseTemplates as |phaseTemplate|}}
      {{phase-template-column phaseTemplate=phaseTemplate
                              taskMovedWithinList=(action "taskMovedWithinList")
                              taskMovedBetweenList=(action "taskMovedBetweenList")
                              startDragging=(action "startDragging")
                              stopDragging=(action "stopDragging")
                              editTaskTemplate=(action "editTaskTemplate")
                              addPhase="addPhase"
                              savePhase="savePhase"
                              removeRecord="removeRecord"
                              rollbackPhase="rollbackPhase"
                              showDeleteConfirm="showCardDeleteOverlay"
                              chooseNewCardTypeOverlay="showChooseNewCardOverlay"}}
    {{/each}}
  </div>
</div>

{{#overlay-fullscreen visible=showCardDeleteOverlay
                      outAnimationComplete=(action "hideCardDeleteOverlay")
                      title="You're about to delete this card forever."
                      overlayClass="card-delete-overlay"
                      as |overlay|}}
    {{card-delete model=taskToDelete
                  close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}

{{#overlay-fullscreen visible=showChooseNewCardOverlay
                      outAnimationComplete=(action "hideChooseNewCardOverlay")
                      title="Pick the types of cards to add"
                      as |overlay|}}
    {{choose-new-card journalTaskTypes=journalTaskTypes
                      phase=addToPhase
                      isLoading=journalTaskTypesIsLoading
                      addTaskType=(action "addTaskType")
                      close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


{{#if showAdHocTaskOverlay}}
  {{overlay-ad-hoc-template
      task=adHocTaskToDisplay
      outAnimationComplete=(action "hideAdHocTaskOverlay")}}
{{/if}}
