<h1>Ethics Statement</h1>

<form>
  <p>You must provide an ethics statement if your study involved human participants, specimens or tissue samples, or vertebrate animals, embryos or tissues. All information entered here should also be included in the Methods section of your manuscript.</p>
  <fieldset>
  <ol>
    <li class="question">
      {{#question-radio ident="ethics.human_subjects"
        task=model
        question="Does your study involve human participants, specimens or tissue samples, or vertebrate animals, cephalopods, embryos or tissues?"}}

        {{#show-if-parent prop='selectedYes'}}
          <div class="question-dataset">
            {{question-textarea ident="ethics.approving_committee" task=model
                                question="Please enter the name of the IRB or Ethics Committee that approved this study in the space below. Include the approval number and/or a statement indicating approval of this research."}}

            <div class="question-info">
              <div class="question-info-header">Human Subject Research (involved human participants and/or tissue)</div>
              <p>All research involving human participants must have been approved by the authors' Institutional Review Board (IRB) or an equivalent committee, and all clinical investigation must have been conducted according to the principles expressed in the <a href="http://www.wma.net/en/30publications/10policies/b3/index.html">Declaration of Helsinki.</a></p>
              <p>Informed consent, written or oral, should also have been obtained from the participants.  If no consent was given, the reason must be explained (e.g. the data were analyzed anonymously) and reported.  The form of consent (written/oral), or reason for lack of consent, should be indicated in the Methods section of your manuscript.</p>
            </div>

            {{question-uploader ident="ethics.trial_protocol" task=model
                                question="Please provide a copy of the trial protocol."
                                updateStore='updateStore'
                                accept=".docx,.pdf"}}

            {{question-uploader ident="ethics.consort_checklist" task=model
                                question="Please provide a completed CONSORT checklist as supporting information."
                                updateStore='updateStore'
                                accept=".docx,.pdf"}}
          </div>
        {{/show-if-parent}}
      {{/question-radio}}
    </li>
    <li class="question">
      {{#question-radio ident="ethics.animal_subjects"
                        task=model
                        question="Does this study involve vertebrate animals, embryos or tissues?"}}

        {{#show-if-parent prop='selectedYes'}}
          <div class="question-dataset">
            {{question-textarea ident="ethics.animal_subjects.institution_name" task=model
                                question="Please enter the name of your Institutional Animal Care and Use Committee (IACUC) or other relevant ethics board."}}

            <br>
            {{#question-radio ident="ethics.animal_subjects.ethical_approval"
                              task=model
                              class="question"
                              question="Did they approve this research or grant a formal waiver of ethical approval?"}}

                {{#show-if-parent prop='selectedYes'}}
                  {{question-textarea ident="ethics.animal_subjects.ethical_approval.approval_number"
                                      task=model
                                      class="question sub-question"
                                      question="Please provide an approval number if one was obtained."}}
                {{/show-if-parent}}
            {{/question-radio}}

            <br>
            {{#question-radio ident="ethics.animal_subjects.animal_sacrifice"
                              task=model
                              class="question"
                              question="Was anesthesia, euthanasia or any kind of animal sacrifice part of the study?"}}

                {{#show-if-parent prop='selectedYes'}}
                  {{question-textarea ident="ethics.animal_subjects.animal_sacrifice.method_information"
                                      task=model
                                      class="question sub-question"
                                      question="Please include briefly in your statement which substances and/or methods were applied."}}

                  <div class="question-info">
                    <div class="question-info-header">Animal Research (involved vertebrate animals, embryos or tissues)</div>
                    <p>All animal work must have been conducted according to relevant national and international guidelines. If your study involved non-human primates, you must provide details regarding animal welfare and steps taken to ameliorate suffering; this is in accordance with the recommendations of the Weatherall report, <a href="http://www.acmedsci.ac.uk/more/news/the-use-of-non-human-primates-in-research/">The use of non-human primates in research.</a> The relevant guidelines followed and the committee that approved the study should be identified in the ethics statement.</p>
                  </div>

                  {{question-uploader ident="ethics.animal_subjects.arrive_checklist" task=model
                                      question="Please provide a copy of the <a href='http://www.nc3rs.org.uk/page.asp?id=1357' target='_new'>ARRIVE Guidelines</a> checklist."
                                      updateStore='updateStore'
                                      accept=".docx,.pdf"}}
                {{/show-if-parent}}
            {{/question-radio}}

  <br>
            {{#question-radio ident="ethics.animal_subjects.euthanasia"
                              task=model
                              class="question"
                              question="Did you use anesthesia or perform euthanasia?"}}

                {{#show-if-parent prop='selectedYes'}}
                  {{question-textarea ident="ethics.animal_subjects.animal_sacrifice.euthanasia.specifics"
                                      task=model
                                      class="question sub-question"
                                      question="Please describe dates and specific use of anesthesia; please describe dates and methods of euthanasia."
                                      }}

                {{/show-if-parent}}
            {{/question-radio}}

          </div>
        {{/show-if-parent}}
      {{/question-radio}}
    </li>
    <li class="question">
      {{#question-radio ident="ethics.field_research"
        task=model
        question="Did this study entail field research? (note, this question is commonly 'yes' for animal research papers, but it must be presented to other papers as well, e.g. paleontology)"}}

        {{#show-if-parent prop='selectedYes'}}
          <div class="question-dataset">
            {{#question-radio ident="ethics.field_research.field_permit"
              task=model
              question="Did this study require a Field Permit?"}}

              {{#show-if-parent prop='selectedYes'}}
                {{question-textarea ident="ethics.field_research.field_permit.institution_name"
                                    task=model
                                    class="question sub-question"
                                    question="Please indicate the name of the institution or the relevant body that granted permission."}}
              {{/show-if-parent}}
            {{/question-radio}}
          </div>
        {{/show-if-parent}}
      {{/question-radio}}
    </li>
  </ol>
  </fieldset>
</form>
