<h1>{{model.title}}</h1>

{{#if isEditable}}
  <span class="button-secondary fileinput-button">
    <span>Add new Figures</span>
    {{file-uploader id="figure_attachment"
                    accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps"
                    url=figureUploadUrl
                    filePrefix='paper/figures'
                    start='uploadStarted'
                    done='uploadFinished'
                    progress='uploadProgress'
                    multiple=true}}
  </span>
{{/if}}
<ul id="paper-figure-uploads">
  {{#each upload in uploads}}
    {{upload-preview upload=upload}}
  {{/each}}
</ul>

<ul class="paper-figures">
  {{#if isEditable}}
    {{#each figure in figures}}
      {{figure-thumbnail figure=figure}}
    {{/each}}
  {{else}}
    {{#each figure in figures}}
      {{partial 'figure_show_only'}}
    {{/each}}
  {{/if}}
</ul>
