<h1>{{model.title}}</h1>

{{#if isEditable}}
  <span class="button-primary button--green fileinput-button">
    <span>Add new Figures</span>
    {{file-uploader id="figure_attachment"
                    accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps"
                    url=figureUploadUrl
                    filePrefix="paper/figures"
                    start="uploadStarted"
                    done="uploadFinished"
                    progress="uploadProgress"
                    multiple=true}}
  </span>
{{/if}}
<div id="paper-attachment-uploads">
  {{#each upload in uploads}}
    {{upload-preview upload=upload}}
  {{/each}}
</div>

{{#if isEditable}}
  {{#each figure in figures}}
    {{figure-thumbnail attachment=figure
                       action="changeStrikingImage"
                       saveAttachment="updateStrikingImage"
                       destroyAttachment="destroyAttachment"
                       uploadFinished="uploadFinished"
                       uploadStarted="uploadStarted"
                       uploadProgress="uploadProgress"}}
  {{/each}}
{{else}}
  {{#each attachment in figures}}
    {{partial "attachment_thumbnail_locked"}}
  {{/each}}
{{/if}}
