<h1>Publishing Related Questions</h1>
<form>
  <fieldset>
    <ol>
      <li class="question">
      {{#question-radio ident="publishing_related_questions.published_elsewhere"
                        task=model
                        question="Have the results, data, or figures in this manuscript been published elsewhere? Are they under consideration for publication elsewhere?"}}

        {{#show-if-parent prop='selectedYes'}}
          <div class="question-dataset">
            <div class="question-dataset-header">Please identify which results, data, or figures have been taken from other published or pending manuscripts, and explain why inclusion in this submission does not constitute dual publication.</div>
            {{question-input ident="publishing_related_questions.published_elsewhere.taken_from_manuscripts"
                             class="Please identify which results, data, or figures have been taken from other published or pending manuscripts, and explain why inclusion in this submission does not constitute dual publication."
                             task=model
                             question="Title"}}
            <br>
            {{question-uploader ident="publishing_related_questions.published_elsewhere.upload_related_work" task=model
                                question="Please also upload a copy of the related work with your submission as a 'Related Manuscript' item. Note that reviewers may be asked to comment on the overlap between the related submissions."
                                updateStore='updateStore'
                                accept=".docx,.pdf"}}
          </div>
        {{/show-if-parent}}
      {{/question-radio}}
      </li>
      <li class="question">
      {{#question-radio ident="publishing_related_questions.submitted_in_conjunction"
                        task=model
                        question="Is this manuscript being submitted in conjunction with another submission?"}}

        {{#show-if-parent prop='selectedYes'}}
          <div class="question-dataset">
            <div class="question-dataset-header">Please provide the title of that submission and the corresponding author.</div>
            {{question-input ident="publishing_related_questions.submitted_in_conjunction.corresponding_title"
                             class="sub-question"
                             task=model
                             question="Title"}}
            <br>
            {{question-input ident="publishing_related_questions.submitted_in_conjunction.corresponding_author"
                             class="sub-question"
                             task=model
                             question="Corresponding author"}}
          </div>
        {{/show-if-parent}}
      {{/question-radio}}
      </li>
      <li class="question">
          <div class="question-text">Please indicate whether you have had any of the following previous interactions about this manuscript.</div>
          <div class="question-text">Check all that apply.</div>
          {{#question-check ident="publishing_related_questions.previous_interactions.this_manuscript"
                            task=model
                            question="I have had previous interactions about this manuscript with a staff editor or Academic Editor of this journal."}}
            {{#show-if-parent prop='checked'}}
              <div class="question-dataset">
                {{question-textarea ident="publishing_related_questions.previous_interactions.this_manuscript.submission_details"
                                    task=model
                                    question="Please enter manuscript number and editor name, if known"}}
              </div>
            {{/show-if-parent}}
          {{/question-check}}

          {{#question-check ident="publishing_related_questions.previous_interactions.presubmission_inquiry"
                            task=model
                            question="I submitted a presubmission inquiry for this manuscript."}}
            {{#show-if-parent prop='checked'}}
              <div class="question-dataset">
                {{question-textarea ident="publishing_related_questions.previous_interactions.presubmission_inquiry.submission_details"
                                    task=model
                                    question="Please enter manuscript number and editor name, if known"}}
              </div>
            {{/show-if-parent}}
          {{/question-check}}

          {{#question-check ident="publishing_related_questions.previous_interactions.other_journal_submission"
                            task=model
                            question="This manuscript was previously submitted to a different PLOS journal as either a presubmission inquiry or a full submission."}}

            {{#show-if-parent prop='checked'}}
              <div class="question-dataset">
                {{question-textarea ident="publishing_related_questions.previous_interactions.other_journal_submission.submission_details"
                                    task=model
                                    question="Please enter manuscript number and editor name, if known"}}
              </div>
            {{/show-if-parent}}
          {{/question-check}}

          {{question-check ident="publishing_related_questions.previous_interactions.journal_editor"
                           task=model
                           question="One or more of the authors (including myself) currently serve, or have previously served, as an Academic Editor or Guest Editor for this journal."}}
      </li>
      <li class="question">
        {{question-input ident="publishing_related_questions.intended_collection"
                          task=model
                          question="If your submission is intended for a PLOS Collection, enter the name of the collection in the box below. Please also ensure the name of the collection is included in your cover letter."}}

      </li>
    </ol>
  </fieldset>
</form>

