<h1>Reporting Guidelines</h1>

<form>
  <fieldset>
    <ol>
      <li class="question">
        <div class="question-text">
          Authors should check the EQUATOR Network site for any reporting guidelines that apply to their study design, and ensure that any required Supporting Information (checklists, protocols, flowcharts, etc.) be included in the article submission.
        </div>
        <div class="help">
          Select all that apply
        </div>
        <ul class="list-unstyled">
          <li class="item">
            {{question-check ident="reporting_guidelines.clinical_trial"
                             task=model
                             question="Clinical Trial"}}
          </li>

          <li class="item">
            {{#question-check ident="reporting_guidelines.systematic_reviews"
                              task=model
                              question="Systematic Reviews"}}
              {{#each datum in view.additionalData}}
                <div class="question-dataset">
                  <p>PLACEHOLDER!</p>
                  {{input type="text" name="placeholder" placeholder="placeholder" value=datum class="form-control"}}
                </div>
              {{/each}}
            {{/question-check}}
          </li>

          <li class="item">
            {{#question-check ident="reporting_guidelines.meta_analyses"
                              task=model
                              question="Meta-analyses"}}
              {{#each datum in view.additionalData}}
                <div class="question-dataset">
                  <p>PLACEHOLDER</p>
                  {{input type="text" name="placeholder" placeholder="placeholder" value=datum class="form-control"}}
                </div>
              {{/each}}
            {{/question-check}}
          </li>

          <li class="item">
            {{question-check ident="reporting_guidelines.diagnostic_studies"
                             task=model
                             question="Diagnostic studies"}}
          </li>

          <li class="item">
            {{question-check ident="reporting_guidelines.epidemiological_studies"
                             task=model
                             question="Epidemiological studies"}}
          </li>

          <li class="item">
            {{question-check ident="reporting_guidelines.microarray_studies" 
                             task=model
                             question="Microarray studies"}}
          </li>
        </ul>
      </li>
    </ol>
  </fieldset>
</form>
