<p style="font-size:18px;">Reminders</p>
<div class='scheduled-events-table'>
  {{#each eventsAscending as |event|}}
    <div class="scheduled-event scheduled-event-row event-{{event.state}}">
      <div class="scheduled-event-cell">
        <div class="scheduled-event-description">
          {{event.name}} on
          {{moment-format event.dispatchAt dispatchDateFormat}} {{dueAtTimezone}}
          {{due-date-offset event.dispatchAt dueDate}}
        </div>
      </div>
      <div class='scheduled-event-cell'>
        {{scheduled-event-status event=event}}
      </div>
    </div>
  {{/each}}
</div>
<br>
