<p style="font-size:18px;">Reminders</p>
{{#each events as |event|}}
  <div class="scheduled-event event-{{event.state}}">
    <p>
      {{event.name}} on
      {{moment-format event.dispatchAt dispatchDateFormat}} {{dueAtTimezone}}
      {{due-date-offset event.dispatchAt dueDate}}
    </p>
    <p>
      {{scheduled-event-status event=event}}
    </p>

  </div>
{{/each}}
<br>
