<p style="font-size:18px;">Reminders</p>
{{#each events as |event|}}
  <div class="scheduled-event {{if event.completed 'event-completed'}}">
    <p>
      {{event.name}} on
      {{moment-format event.dispatchAt dispatchDateFormat}} {{dueAtTimezone}}
      {{due-date-offset event.dispatchAt dueDate}}
    </p>
    <p>
      {{#if event.completed}}<span>{{fa-icon 'fa-check'}}&nbsp;Sent</span>{{/if}}
    </p>
  </div>
{{/each}}
<br>
