<tr>
  <td>
    {{#if paper.commentLooks}}
      <span class="badge badge--red">{{paper.commentLooks.length}}</span>
    {{/if}}
  </td>
  <td class="paper-tracker-title-column">
    {{#link-to "paper.index" paper.id}}
      {{{paper.displayTitle}}}
    {{/link-to}}
  </td>
  <td class="paper-tracker-paper-id-column">
    {{link-to paper.manuscript_id "paper.index" paper.id}}
  </td>
  <td class="paper-tracker-date-column">
    {{format-date paper.submittedAt}}<br>
    {{relative-time time=paper.submittedAt}}
  </td>
  <td class="paper-tracker-type-column">{{paper.paperType}}</td>
  <td class="paper-tracker-members-column">
    {{#each paper.relatedUsers as |oldRole|}}
      <div class="paper-tracker-members-group">
        <span>{{pluralize-string string=oldRole.name count=oldRole.users.length}}:</span>
        {{comma-separated-user-list users=oldRole.users}}
      </div>
    {{/each}}
  </td>
</tr>
