<tr>
  <td class="paper-tracker-badge-column">
    {{#if paper.commentLooks}}
      <span class="badge badge--red">{{paper.commentLooks.length}}</span>
    {{/if}}
  </td>
  <td class="paper-tracker-title-column">
    {{#link-to "paper.index" paper.id}}
      {{{paper.title}}}
    {{/link-to}}
  </td>
  <td class="paper-tracker-paper-id-column">
    {{link-to paper.manuscript_id "paper.index" paper.id}}
  </td>
  <td class="paper-tracker-date-column">
    {{format-date paper.submittedAt}}<br>
    {{relative-time time=paper.submittedAt}}
  </td>
  <td class="paper-tracker-type-column">{{paper.paperType}}</td>
  <td class="paper-tracker-status-column">{{humanize paper.publishingState}}</td>
  <td class="paper-tracker-members-column">
    {{#each paper.simplifiedRelatedUsers as |role|}}
    <div class="paper-tracker-users-group">
      <span>{{pluralize-string string=role.name count=role.users.length}}:</span>
      {{comma-separated-user-list users=role.users}}
    </div>
    {{/each}}
  </td>
  <td class="paper-tracker-handling-editor-column">
    <div class="paper-tracker-users-group">
      {{comma-separated-user-list users=paper.handlingEditors}}
    </div>
  </td>
  <td class="paper-tracker-cover-editor-column">
    <div class="paper-tracker-users-group">
      {{comma-separated-user-list users=paper.coverEditors}}
    </div>
  </td>
</tr>
