<tr>
  <td>
    {{#if paper.commentLook}}
      <span class="badge badge--red">{{paper.commentLook}}</span>
    {{/if}}
  </td>
  <td>
    {{link-to paper.displayTitle "paper.edit" paper.id}}
  </td>
  <td class="paper-tracker-paper-id-column">
    {{link-to paper.id "paper.edit" paper.id}}
  </td>
  <td class="paper-tracker-date-column">
    {{format-date paper.submittedAt}}<br>
    {{relative-time time=paper.submittedAt}}
  </td>
  <td class="paper-tracker-type-column">{{paper.paperType}}</td>
  <td class="paper-tracker-members-column">
    {{#each paper.roles as |role|}}
      <div class="paper-tracker-members-group">
        <span>{{role.name}}:</span>
        {{#each role.users as |user|}}
          {{user.firstName}} {{user.lastName}}
        {{/each}}
      </div>
    {{/each}}
  </td>
</tr>
