<div class="inline-edit bodypart-display {{if editing "editing"}} {{bodyPartType}}">
  <label>
    {{check-box checked=checked action="saveChanges"}}
    {{{bodyPart.value}}}
  </label>
</div>

<div class="inline-edit-form {{if editing "editing"}}">
  <div class="two-element-form">
    {{content-editable value=bodyPart.value class="editable" tagName='label'}}
    <span class="item-remove" {{action "deleteItem"}}></span>
  </div>
</div>
