<div {{bind-attr class=":inline-edit editing :bodypart-display bodyPartType"}}>
  <label>
    {{check-box checked=checked action='saveModel'}}
    {{{bodyPart.value}}}
  </label>
</div>

<div {{bind-attr class=":inline-edit-form editing"}}>
  <div class="two-element-form">
    {{content-editable value=bodyPart.value class="editable" tagName='label'}}
    <span class="item-remove" {{action "deleteItem"}}></span>
  </div>
</div>
