<div {{bind-attr class=":overlay message"}}>
  <div>
    <header>
      <h2><a class="overlay-paper-title" href='paperpath'>{{paper.displayTitle}}</a></h2>
      <a {{bind-attr class=":primary-button message"}} {{action 'closeAction'}}>Close</a>
    </header>
    <main>
      {{yield}}
    </main>
    <footer>
      <div class="content">
        <div class="assignee-drop-down chosen-style-override">
          <label for="assignee">This card is owned by</label>
          {{chosen content=assignees name='assignee'
                   prompt="Please select an assignee"
                   value=assignee
                   changeAction='saveModel'
                   optionValuePath="content"
                   optionLabelPath="content.fullName"
                   class="chosen-assignee"}}
        </div>
        <div class="completed-checkbox">
          {{input id="task_completed" type='checkbox' name="task_completed" checked=completed}}
          <label for="task_completed">Completed</label>
        </div>
      </div>
      <a {{bind-attr class=":primary-button message"}} {{action 'closeAction'}}>Close</a>
    </footer>
  </div>
</div>
