<div class="overlay">
  <div {{bind-attr class=":overlay-container overlayClass"}}>
    <header class="overlay-header">
      <h2 class="overlay-header-title">
        {{#link-to 'paper.edit' paper class="overlay-paper-link"}}
          {{paper.displayTitle}}
        {{/link-to}}
      </h2>
    </header>

    <main class="overlay-content">{{yield}}</main>

    <footer class="overlay-footer">
      <div class="overlay-footer-content">
        <a class="close-overlay" {{action 'cancel'}}>Cancel</a>
      </div>
      <a class="primary-button" {{action 'createCard'}}>Create card</a>
    </footer>
  </div>
</div>
