<div class="overlay">
  <span class="glyphicon glyphicon-remove overlay-close-x animation-scale-in" {{action "closeAction"}}></span>
  <div {{bind-attr class=":overlay-container overlayClass"}}>
    <header class="overlay-header">
      <h2 class="overlay-header-title">
        {{#link-to "paper.edit" paper class="overlay-paper-link"}}
          {{paper.displayTitle}}
        {{/link-to}}
      </h2>
    </header>

    <main class="overlay-content">{{yield}}</main>

    <footer class="overlay-footer">
      <div class="overlay-footer-content">
        <a class="close-overlay button-link" {{action "cancel"}}>Cancel</a>
      </div>
      <a class="button-primary button--green" {{action "createCard"}}>Create card</a>
    </footer>
  </div>
</div>
