<div {{bind-attr class=":overlay overlayClass"}}>
  <span class="glyphicon glyphicon-remove overlay-close-x" {{action 'closeAction'}}></span>
  <div class="overlay-container">

    {{partial "overlay-header"}}

    <main class="overlay-content">
      {{yield}}
      {{participant-selector
        currentParticipants=model.participants
        everyone=allUsers
        onSelect='saveNewParticipant'}}
      {{comment-board
        comments=comments
        currentUser=currentUser
        postComment="postComment"}}
    </main>
    {{progress-spinner visible=isLoading}}

    <footer class="overlay-footer">
      <div class="overlay-footer-content">
        {{partial 'overlay-completed-checkbox'}}
      </div>
      <a class="button-primary button--green overlay-close-button" {{action "closeAction"}}>Close</a>
    </footer>
  </div>
</div>
