<div {{bind-attr class=":overlay overlayClass"}}>
  <span class="glyphicon glyphicon-remove overlay-close-x" {{action 'closeAction'}}></span>
  <div class="overlay-container">

    {{partial "overlay-header"}}

    <main class="overlay-content">
      {{yield}}
      {{comment-board
        comments=comments
        currentUser=currentUser
        postComment="postComment"}}
    </main>
    {{progress-spinner visible=isLoading}}

    <footer class="overlay-footer">
      <div class="overlay-footer-content">
        {{partial 'overlay-completed-checkbox'}}
      </div>
      <a {{bind-attr class=":button-primary :button--green :overlay-close-button"}} {{action 'closeAction'}}>Close</a>
    </footer>
  </div>
</div>
