<div {{bind-attr class=":overlay overlayClass"}}>
  <span class="glyphicon glyphicon-remove overlay-close-x animation-scale-in" {{action "closeAction"}}></span>
  <div class="overlay-container">

    {{partial "overlay-header"}}

    <main class="overlay-content">
      {{yield}}
      {{partial "discussion"}}
    </main>
    {{progress-spinner visible=isLoading}}

    <footer class="overlay-footer">
      <div class="overlay-footer-content">
        {{partial "overlay-completed-checkbox"}}
        {{participant-selector
          currentParticipants=participants
          onRemove='removeParticipant'
          paperId=model.paper.id
          onSelect="saveNewParticipant"}}
      </div>
      <a class="button-primary button--green overlay-close-button" {{action "closeAction"}}>Close</a>
    </footer>
  </div>
</div>
