{{#if (can "manage_workflow" paper)}}
  <div class="correspondence-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="correspondence-date-column">Date</th>
          <th class="correspondence-subject-column">Correspondence</th>
          <th class="correspondence-recipient-column">Recipient</th>
          <th class="correspondence-manuscript-column">Manuscript Version / Status</th>
          <th class="correspondence-sender-column">Initiator</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |message|}}
          {{#if message.hasActivities}}
            <tr class="most-recent-activity">
              <td colspan="5">{{message.activityMessages.lastObject}}</td>
            </tr>
          {{/if}}
          <tr onmouseenter={{action "toggleHighlight"}} onmouseleave={{action "toggleHighlight"}}>
            <td>{{format-date message.sentAt}}</td>
            <td>
              <div class="correspondence{{message.id}}">
                {{#link-to 'paper.correspondence.viewcorrespondence' paper message.id }}
                  {{if message.external message.description message.subject}} &nbsp;
                {{/link-to}}
                {{#if message.hasAnyAttachment}}
                  <span class="fa fa-paperclip"></span>
                {{/if}}
              </div>
            </td>
            <td style="border-top: none">{{message.recipient}}</td>
            <td class="{{if (eq message.manuscriptVersionStatus "Unavailable") "unavailable"}}" style="border-top: none">
              {{message.manuscriptVersionStatus}}
            </td>
            <td style="border-top: none">{{message.sender}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{#if isRecordLost}}
      <p>Correspondence sent before February 1, 2017 is not available for display.</p>
    {{/if}}
  </div>
{{/if}}
