{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if (can "manage_workflow" paper)}}
  <div class="correspondence-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="correspondence-date-column">Date</th>
          <th class="correspondence-subject-column">Correspondence</th>
          <th class="correspondence-recipient-column">Recipient</th>
          <th class="correspondence-manuscript-column">Manuscript Version / Status</th>
          <th class="correspondence-sender-column">Initiator</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedSentAt as |message|}}
          {{#if message.hasActivities}}
            <tr class="most-recent-activity">
              <td colspan="5">{{message.lastActivityMessage}}</td>
            </tr>
          {{/if}}
          {{#if message.isActive}}
            <tr onmouseenter={{action "toggleHighlight"}} onmouseleave={{action "toggleHighlight"}}>
              <td>{{message.utcSentAt}}</td>
              <td>
                <div class="correspondence{{message.id}}">
                  {{#link-to 'paper.correspondence.viewcorrespondence' paper message.id }}
                    {{if message.external message.description message.subject}} &nbsp;
                  {{/link-to}}
                  {{#if message.hasAnyAttachment}}
                    <span class="fa fa-paperclip"></span>
                  {{/if}}
                </div>
              </td>
              <td>{{message.recipient}}</td>
              <td class="{{if (eq message.manuscriptVersionStatus "Unavailable") "unavailable"}}">
                {{message.manuscriptVersionStatus}}
              </td>
              <td>{{message.sender}}</td>
            </tr>
          {{else}}
            <tr onmouseenter={{action "toggleHighlight"}} onmouseleave={{action "toggleHighlight"}}>
              <td>{{message.utcSentAt}}</td>
              <td>
                <div class="correspondence{{message.id}}">
                  {{#link-to 'paper.correspondence.viewcorrespondence' paper message.id }}
                    {{if message.external "[view details]"}} &nbsp;
                  {{/link-to}}
                </div>
              </td>
              <td>n.a.</td>
              <td>
                n.a.
              </td>
              <td>n.a.</td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>

    {{#if isRecordLost}}
      <p>Correspondence sent before February 1, 2017 is not available for display.</p>
    {{/if}}
  </div>
{{/if}}
