{{#if (can "manage_workflow" paper)}}
  <div class="correspondence-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="correspondence-date-column">Date</th>
          <th class="correspondence-subject-column">Correspondence</th> 
          <th class="correspondence-recipient-column">Recipient</th>                   
          <th class="correspondence-manuscript-column">Manuscript Version / Status</th>
          <th class="correspondence-sender-column">Initiator</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |message|}}
          <tr>
            <td>{{format-date message.sentAt}}</td>
            <td>
              <div class="correspondence{{message.id}}">
                {{#link-to 'paper.correspondence.viewcorrespondence' paper message }}
                  {{if message.external message.description message.subject}} &nbsp;
                {{/link-to}}
                {{#if message.hasAnAttachment}}
                  <span class="fa fa-paperclip"></span>
                {{/if}}
              </div>
            </td>
            <td>{{message.recipient}}</td>
            <td class="{{if (eq message.manuscriptVersionStatus "Unavailable") "unavailable"}}">
              {{message.manuscriptVersionStatus}}
            </td>
            <td>{{message.sender}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
