{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<h4 class="block-title">FUNDER</h4>

{{#if enabled}}
  <span {{action "removeFunder" isNotEditable}} class="remove-funder fa fa-trash small"></span>
{{/if}}

<div class="form-group">
  <span class="text-field-title">Funder</span>
  {{input
    type="text"
    name="name"
    value=model.name
    class="funder-name form-control tall-text-field"
    placeholder="Funder Name"
    disabled=disabled}}
</div>

<div class="form-group">
  <span class="text-field-title">Grant Number</span>
  {{input
    type="text"
    name="grant_number"
    value=model.grantNumber
    class="grant-number form-control tall-text-field"
    placeholder="502-686353647"
    disabled=disabled}}
</div>

<div class="form-group">
  <span class="text-field-title">Website</span>
  {{input
    type="text"
    name="website"
    value=model.website
    class="form-control tall-text-field"
    placeholder="www.funder.org"
    disabled=disabled}}
</div>

<div class="form-group">
  <span class="text-field-title">Additional Comments</span>
  {{input
    type="text"
    name="additional_comments"
    value=model.additionalComments
    class="form-control tall-text-field"
    placeholder="Additional comments about the funder go here"
    disabled=disabled
  }}
</div>

{{#nested-question-radio
  ident="funder--had_influence"
  owner=model
  disabled=disabled
  yesAction="userSelectedYesForFunderInfluence"
  noAction="userSelectedNoForFunderInfluence" as |selected|}}

  {{#if selected.yes}}
    <p class="question-text">
      {{{funderRoleDescriptionQuestion.text}}}
    </p>

    <div class="form-group">
      <div class="inset-form-control">
        <div class="inset-form-control-text">
          <label>Role of sponsors or funders</label>
        </div>
        {{nested-question-input
          type="text"
          ident="funder--had_influence--role_description"
          owner=model
          displayQuestionText=false
          placeholder="Description"
          inputClassNames="form-control tall-text-field"
          disabled=disabled
        }}
      </div>
    </div>
  {{/if}}

{{/nested-question-radio}}
