{{#full-screen-modal}}
  <span class="overlay-close-x animation-scale-in" {{action "closeModal"}}>&times;</span>

  <div class="overlay-title-text">
    <h1>Pick the type of card to add</h1>
  </div>

  {{#if formattedTaskTypesReady}}
    <div class="overlay-action-buttons">
      <button class="button-primary button--green" {{action "addTaskType" phase taskType}}>Add</button>
      <button class="button-link button--green cancel" {{action "closeModal"}}>cancel</button>
    </div>

    {{select-2-single placeholder="Select a task type"
                      selectedData=selectedData
                      selectionSelected="taskTypeSelected"
                      source=formattedTaskTypes
                      class="task-type-select"
                      value=""
                      width="200"}}
  {{else}}
    {{progress-spinner visible=true
                       align="middle"
                       size="large"}}
  {{/if}}


{{/full-screen-modal}}
