{{partial "task-completed-section"}}

<div class="task-main-content">
  <div class="invite-reviewer-text">
    <div class="invite-reviewers">
      <span class="assign_team_select2_container assign_team_select2_container_first">
        <label for="role">Role</label>
        {{select-2-single minimumInputLength=0
                          name="journal_roles"
                          placeholder="Please select Role"
                          selectedData=selectedRole
                          source=selectableRoles
                          selectionSelected="didSelectRole"
                          value=""
                          width="200px"}}
      </span>
      <span class="assign_team_select2_container">
        <label for="user">User</label>
        {{select-2-single
            minimumInputLength=3
            name="role_users"
            placeholder="Please select User"
            remoteSource=select2RemoteSource
            selectedData=selectedUser
            selectionSelected="didSelectUser"
            value=""
            width="200px"}}
      </span>
      <button class="button-primary button--green invite-reviewer-button {{if isAssignable "button--green" "button--disabled"}}" {{action "assignRoleToUser"}}> Assign </button>
      {{#if validationErrors.role}}
        {{error-message message=validationErrors.role}}
      {{/if}}
    </div>

    <table class="invitees">
      <tbody class="active-invitations">
        {{#each task.assignments as |assignment|}}
          <tr class="invitation">
            <td><span>{{user-thumbnail user=assignment.user classNames="invitee-thumbnail"}}</span></td>
            <td><span class="invitee-full-name">{{assignment.user.name}}</span> has been assigned as {{assignment.role.name}}</td>
            <td><span class="invitation-updated-at">{{format-date assignment.createdAt format="LLL"}}</span></td>
            <td><span class="invitation-state">Assigned</span></td>
            <td><span class="fa fa-trash invite-remove" {{action "destroyAssignment" assignment}}></span></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
