{{partial "task-completed-section"}}

<div class="task-main-content">
  <div class="assign-team-content">
    <div class="assign-team-role-user-selection">
      <span class="assign_team_select2_container assign_team_select2_container_first">
        <label>Role</label>
        {{select-2-single
            class="assignment-role-input"
            minimumInputLength=0
            name="journal_roles"
            placeholder="Please select Role"
            selectedData=selectedRole
            source=selectableRoles
            selectionSelected="didSelectRole"
            value=""
            width="200px"}}
      </span>
      <span class="assign_team_select2_container">
        <label>User</label>
        {{select-2-single
            class="assignment-user-input"
            minimumInputLength=3
            name="role_users"
            placeholder="Please select User"
            remoteSource=select2RemoteSource
            selectedData=selectedUser
            selectionSelected="didSelectUser"
            value=""
            width="200px"}}
      </span>
      <button class="button-primary button--green assign-user-button {{if isAssignable "button--green" "button--disabled"}}" {{action "assignRoleToUser"}}> Assign </button>
      {{#if validationErrors.role}}
        {{error-message message=validationErrors.role}}
      {{/if}}
    </div>

    <table class="assignments">
      <tbody class="active-assignments">
        {{#each task.assignments as |assignment|}}
          <tr class="assignment">
            <td><span>{{user-thumbnail user=assignment.user classNames="assignee-thumbnail"}}</span></td>
            <td><span class="assignee-full-name">{{assignment.user.name}}</span> has been assigned as {{assignment.role.name}}</td>
            <td><span class="assignment-updated-at">{{format-date assignment.createdAt format="LLL"}}</span></td>
            <td><span class="assignment-state">Assigned</span></td>
            <td><span class="fa fa-trash assignment-remove" {{action "destroyAssignment" assignment}}></span></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
