<div id="tahi-container" class="admin-screen">

  <h1>Journal Administration</h1>

  <div class="admin-users-row">
    <h2>Users</h2>
    <div class='col-md-4'>
      <div class="row admin-user-search">
        {{input action="searchUsers" placeholder="SEARCH ALL USERS" class="admin-user-search-input" name='Admin Search Input' value=searchQuery}}
        <button class="admin-user-search-button" {{action "searchUsers"}}><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>

    {{#if adminJournalUsers}}
      <table class='col-md-12 admin-users'>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Roles</th>
        </tr>
        {{#each user in adminJournalUsers}}
          {{render "adminJournalUser" user}}
        {{/each}}
      </table>
    {{/if}}
  </div>

  {{render "roles/index" roles}}

  {{render "manuscript_manager_template/index" manuscriptManagerTemplates}}

  <div class="admin-section">
    <h2 class="admin-section-title">Style Settings</h2>

    <div class="admin-style-setting-section">
      {{partial "journal/upload-epub-cover"}}
    </div>

    {{modal-text-area name="epub"
                      class="epub-css"
                      attr=epubCss
                      action="saveAttr"
                      resetSaveStatusAction="resetSaveStatuses"
                      saveStatus=epubCssSaveStatus
                      modalTitle="ePub CSS"
                      modalButtonText="Edit ePub CSS"
                      helperText="Enter or edit CSS to format the ePub output for this journal's papers."
                      textAreaPlaceHolder="Type your CSS here"}}

    {{modal-text-area name="pdf"
                      class="pdf-css"
                      attr=pdfCss
                      action="saveAttr"
                      resetSaveStatusAction="resetSaveStatuses"
                      saveStatus=pdfCssSaveStatus
                      modalTitle="PDF CSS"
                      modalButtonText="Edit PDF CSS"
                      helperText="Enter or edit CSS to format the PDF output for this journal's papers."
                      textAreaPlaceHolder="Type your CSS here"}}

    {{modal-text-area name="manuscript"
                      class="manuscript-css"
                      attr=manuscriptCss
                      action="saveAttr"
                      resetSaveStatusAction="resetSaveStatuses"
                      saveStatus=manuscriptCssSaveStatus
                      modalTitle="Manuscript CSS"
                      modalButtonText="Edit Manuscript CSS"
                      helperText="Enter or edit CSS to format the manuscript editor and output for this journal."
                      textAreaPlaceHolder="Type your CSS here"}}

  </div>
</div>
