<div id="tahi-container" class="admin-screen">
  <div class="admin-users-row">
    <h2 class="admin-section-title">Users</h2>
    <div class='col-md-4'>
      <div class="row admin-user-search">
        {{input action="searchUsers" placeholder="SEARCH ALL USERS" class="admin-user-search-input" name='Admin Search Input' value=searchQuery}}
        <button class="admin-user-search-button" {{action "searchUsers"}}><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>

    {{#if adminJournalUsers}}
      <table class='col-md-12 admin-users'>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Roles</th>
        </tr>
        {{#each user in adminJournalUsers}}
          {{render "adminJournalUser" user}}
        {{/each}}
      </table>
    {{/if}}
  </div>

  {{render "roles/index" roles}}

  <div class="admin-section">
    <h2 class="admin-section-title">Available Task Types</h2>
    <div class="button-primary button--blue" {{action "editTaskTypes"}}>Edit Task Types</div>
  </div>

  {{render "manuscript_manager_template/index" manuscriptManagerTemplates}}

  <div class="admin-section doi-form">
    <h2 class="admin-section-title">
      DOI
    </h2>

    <div class="admin-doi-setting-section">
      Publisher DOI Prefix:
      <br>
      {{input type="text" class="doi_publisher_prefix" value=doiPublisherPrefix}}
      <br><br>

      Journal Prefix:
      <br>
      {{input type="text" class="doi_journal_prefix" value=doiJournalPrefix}}
      <br><br>

      Start Number:
      <br>
      {{input type="text" class="last_doi_issued" value=doiStartNumber}}
    </div>

    <div class="alert alert-info" style="margin-top: 25px;">
      Careful! You can only save this once.
    </div>

    <div class="admin-doi-setting-section">
      <button class="button-primary button--blue"
        {{action "saveDOI"}}>Save DOI</button>
    </div>
  </div>

  <div class="admin-section">
    <h2 class="admin-section-title">Style Settings</h2>

    <div class="admin-style-setting-section">
      {{partial "journal/upload-epub-cover"}}
    </div>

    <div class="admin-style-setting-section">
      <button class="button-primary button--blue" {{action "editEPubCSS"}}>Edit ePub CSS</button>
      {{view ETahi.TimedMessageView class="epub-css save-status" message=epubCssSaveStatus}}
    </div>

    <div class="admin-style-setting-section">
      <button class="button-primary button--blue" {{action "editPDFCSS"}}>Edit PDF CSS</button>
      {{view ETahi.TimedMessageView class="pdf-css save-status" message=pdfCssSaveStatus}}
    </div>

    <div class="admin-style-setting-section">
      <button class="button-primary button--blue" {{action "editManuscriptCSS"}}>Edit Manuscript CSS</button>
      {{view ETahi.TimedMessageView class="manuscript-css save-status" message=manuscriptCssSaveStatus}}
    </div>
  </div>
</div>
