{{#view ETahi.ControlBarView}}
  <div class="control-bar-inner-wrapper">
    <ul>
      <li id="control-bar-paper-journal-logo" class="control-bar-item">
        {{#if logo}}
          <img {{bind-attr src="logo"}} />
        {{else}}
          {{name}} -
        {{/if}}
      </li>
      <li class="control-bar-item control-bar-page-title">
        <span>Journal Administration</span>
      </li>
    </ul>
    <ul>
      <li class="template-edit-message control-bar-item">
        <span {{bind-attr class="errorText:show:hidden :alert-danger :control-bar-message"}}>{{errorText}}</span>
      </li>
    </ul>
  </div>
{{/view}}

<div id="tahi-container" class="admin-screen">
  <div class="admin-users-row">
    <h2 class="admin-section-title">Users</h2>
    <div class='col-md-4'>
      <div class="row admin-user-search">
        {{input action="searchUsers" placeholder="SEARCH ALL USERS" class="admin-user-search-input" name='Admin Search Input' value=searchQuery}}
        <button class="admin-user-search-button" {{action "searchUsers"}}><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>

    {{#if adminJournalUsers}}
      <table class='col-md-12 admin-users'>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Roles</th>
        </tr>
        {{#each user in adminJournalUsers}}
          {{render "adminJournalUser" user}}
        {{/each}}
      </table>
    {{/if}}
  </div>

  {{render "roles/index" roles}}

  <div class="admin-section">
    <h2 class="admin-section-title">Available Task Types</h2>
    <div class="button-primary button--blue" {{action "editTaskTypes"}}>Edit Task Types</div>
  </div>

  {{render "manuscript_manager_template/index" manuscriptManagerTemplates}}

  <div class="admin-section">
    <h2 class="admin-section-title">Style Settings</h2>

    <div class="admin-style-setting-section">
      {{partial "journal/upload-epub-cover"}}
    </div>

    <div class="admin-style-setting-section">
      <button class="button-primary button--blue" {{action "editEPubCSS"}}>Edit ePub CSS</button>
      {{view ETahi.TimedMessageView class="epub-css save-status" message=epubCssSaveStatus}}
    </div>

    <div class="admin-style-setting-section">
      <button class="button-primary button--blue" {{action "editPDFCSS"}}>Edit PDF CSS</button>
      {{view ETahi.TimedMessageView class="pdf-css save-status" message=pdfCssSaveStatus}}
    </div>

    <div class="admin-style-setting-section">
      <button class="button-primary button--blue" {{action "editManuscriptCSS"}}>Edit Manuscript CSS</button>
      {{view ETahi.TimedMessageView class="manuscript-css save-status" message=manuscriptCssSaveStatus}}
    </div>
  </div>
</div>
