{{notification type="DiscussionReply" id=reply.id}}
{{user-thumbnail user=reply.replier}}
<span class="comment-name">{{reply.replier.fullName}}</span>
<span class="comment-date">posted {{format-date reply.createdAt}}</span>
<div class="comment-body">{{url-to-href text=(break-to-tag reply.body)}}</div>
