{{flash-messages}}

<div class="form-group">
  <label class="paper-new-label">
    Give your paper a title
  </label>

  {{format-input value=paper.title
                 id="new-paper-title"
                 placeholder="Crystalized Magnificence in the Modern World"
                 displayBold=false}}

  {{#if hasTitle}}
    <span class="paper-new-valid-icon animation-fade-in"><i class="fa fa-check"></i></span>
  {{/if}}
</div>

<div class="form-group">
  <label class="paper-new-label">
    What journal are you submitting to?
  </label>

  {{#power-select placeholder="Select a journal"
                  class="paper-new-select"
                  id="paper-new-journal-select"
                  tagName="div"
                  options=journals
                  selected=paper.journal
                  onchange=(action "selectJournal")
                  searchEnabled=false
                  as |journal|}}
    {{journal.name}}
  {{/power-select}}

  {{#if paper.journal}}
    <span class="paper-new-valid-icon animation-fade-in"><i class="fa fa-check"></i></span>
  {{/if}}
</div>

<div class="form-group">
  <label class="paper-new-label">
    Choose the type of paper you're submitting
  </label>

  {{#power-select placeholder="Select a paper type"
                  class="paper-new-select"
                  id="paper-new-paper-type-select"
                  tagName="div"
                  options=paper.journal.paperTypes
                  selected=paper.paperType
                  onchange=(action "selectPaperType")
                  searchEnabled=false
                  disabled=journalEmpty
                  as |paperType|}}
    {{paperType}}
  {{/power-select}}

  {{#if paper.paperType}}
    <span class="paper-new-valid-icon animation-fade-in"><i class="fa fa-check"></i></span>
  {{/if}}
</div>
<div class="paper-new-submit-actions">
  {{#if isSaving}}
    <div class="paper-new-paper-saving animation-fade-in">
      {{progress-spinner visible=true size="medium"}}
      Creating new Submission&#8230;
    </div>
  {{/if}}
  <span class="{{if isSaving "button--disabled"}} paper-new-upload-button button-secondary button--green fileinput-button">
    <i class="fa fa-upload"></i> Upload Document
    {{s3-file-uploader elementId="upload-files"
                       accept=".docx,.doc"
                       validateFileTypes=true
                       filePath="paper/manuscript"
                       fileAdded=(action "fileAdded")
                       addingFileFailed=(action "addingFileFailed")
                       uploadFinished=(action "uploadFinished")
                       uploadFailed=(action "uploadFailed")}}
  </span>
  <p>Microsoft Word files only (.docx or .doc)</p>
</div>
