<div class="admin-modal modal" id={{unbound modalId}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>{{modalTitle}}</h1>
        {{yield}}
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" href='#' class="cancel-link" {{action cancel}}>Cancel</a>
        <button type="button" data-dismiss="modal" {{action perform}}>Save</button>
      </div>
    </div>
  </div>
</div>
