<h1>{{title}}</h1>

<div class="authors-overlay-list">
  {{#if isEditable}}
    <a class="button-primary button--green" {{action "toggleAuthorForm" group}}>Add a New Author</a>

    {{#if newAuthorFormVisible}}
      {{add-author-form institutions=institutions
                        hideAuthorForm="toggleAuthorForm"
                        saveAuthor="saveNewAuthor"}}
    {{/if}}
  {{/if}}

  {{view ETahi.AuthorDropTargetView index=0}}
  {{#each authorWithErrors in sortedAuthorsWithErrors}}
    {{author-view isEditable=isEditable
                  institutions=institutions
                  delete="removeAuthor"
                  save="saveAuthor"
                  author=authorWithErrors}}
    {{view ETahi.AuthorDropTargetView index=authorWithErrors.model.position}}
  {{/each}}
</div>
