<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <ul>
      <li id="control-bar-paper-journal-logo" class="control-bar-item">
        {{#if model.logoUrl}}
          <img src="{{unbound journal.logoUrl}}">
        {{else}}
          <div class="paper-journal">{{unbound model.name}}</div>
        {{/if}}
      </li>
      <li class="control-bar-item control-bar-page-title">
        {{#link-to "admin.journal" model}}Journal Administration{{/link-to}}
      </li>
    </ul>
    <ul>
      {{outlet "controlBarButtons"}}
    </ul>
  </div>
</div>

{{flash-messages classNames="flash-messages--below-control-bar"}}

{{outlet}}
