<div class="control-bar">
  <div class="control-bar-inner-wrapper base-layout">
    <ul>
      <li id="control-bar-paper-journal-logo" class="control-bar-item">
        {{#if model.logoUrl}}
          <img src="{{unbound model.logoUrl}}">
        {{else}}
          <div class="paper-journal">{{unbound model.name}}</div>
        {{/if}}
      </li>
      <li class="control-bar-item control-bar-page-title">
        {{link-to "Journal Administration" "admin.journal" model}}
      </li>
    </ul>
    <ul>
      {{outlet "controlBarButtons"}}
    </ul>
  </div>
</div>

{{flash-messages classNames="flash-messages--below-control-bar"}}

{{outlet}}
