{{#view "controlBar"}}
  <div class="control-bar-inner-wrapper">
    <ul>
      <li id="control-bar-paper-journal-logo" class="control-bar-item">
        {{#if logoUrl}}
          <img src="{{unbound journal.logoUrl}}">
        {{else}}
          <div class="paper-journal">{{unbound name}}</div>
        {{/if}}
      </li>
      <li class="control-bar-item control-bar-page-title">
        {{#link-to "admin.journal" model}}Journal Administration{{/link-to}}
      </li>
    </ul>
    <ul>
      <li class="template-edit-message control-bar-item">
        <span {{bind-attr class="errorText:show:hidden :alert-danger :control-bar-message"}}>{{errorText}}</span>
      </li>
      {{partial "flow-manager-buttons"}}
    </ul>
  </div>
{{/view}}

<div class="back-link">
  {{#link-to "admin.journal" journal class="button-link button--blue"}}&lt; Back{{/link-to}}
  Flow Manager for {{model.name}} Role
</div>
<div class="flow-admin-content">
  <ul class="columns flow-admin">
    {{#each flow in sortedFlows}}
      {{flow-column flow=flow
                    litePaper=litePaper
                    commentLooks=commentLooks
                    journalTaskTypes=journalTaskTypes
                    editable=true
                    removeFlow="removeFlow"
                    saveFlow="saveFlow"
                    viewCard="viewCard"
                    journalName=journal.name
                    journalLogo=journal.logoUrl}}
    {{/each}}
  </ul>
</div>
