<div class="auth-container">
  <%- if session["devise.provider"].blank? %>
    <h1>Sign up</h1>
  <% else %>
    <h1>Complete your signup!</h1>
  <% end %>

  <div class="auth-left auth-group">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="auth-field auth-field--text-input">
        <%= f.label :username %><br>
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="auth-field auth-field--text-input">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
      </div>

      <div class="auth-field auth-field--text-input">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
      </div>

      <div class="auth-field auth-field--text-input">
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </div>

      <%- if session["devise.provider"].blank? %>
        <div class="auth-field auth-field--text-input">
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </div>

        <div class="auth-field auth-field--text-input">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation %>
        </div>
      <% end %>

      <%= f.hidden_field :invitation_code, value: params["invitation_code"] %>

      <div><%= f.submit "Sign up", class: "button-primary button--green auth-signin" %></div>
    <% end %>
  </div>

  <div class="auth-right auth-group">
    <%= render "devise/shared/links" %>
  </div>
</div>
