<div class="previous-decisions">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {{#each previousDecisions as |decision|}}
    <div class="panel panel-default decision">
      <div class="panel-heading" role="tab" id="decision-{{unbound decision.id}}" >
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{unbound decision.id}}" aria-expanded="false" aria-controls="collapse-{{unbound decision.id}}">
            Revision
            <span class="revision-number">{{decision.revisionNumber}}</span>
          </a>
        </h4>
      </div>
      <div id="collapse-{{unbound decision.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="decision-{{unbound decision.id}}">
        <div class="panel-body">
          <h4>Request for Revision:</h4>
          <div class="letter">
            <p>{{decision.letter}}</p>
          </div>
          <h4>
            Revision Notes from Author:
          </h4>
          <div class="author-response">
            <p>{{decision.authorResponse}}</p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
