{{#if prompt}}
  <option disabled={{_promptDisabled}} selected={{if selection "false" "true"}}>
    {{prompt}}
  </option>
{{/if}}

{{#if optionValuePath}}
  {{#each content key="@index" as |item|}}
    <option value="{{read-path item optionValuePath}}"
            selected={{eq item selection}}>
      {{read-path item optionLabelPath}}
     </option>
  {{/each}}
{{else}}
  {{#each content key="@index" as |item|}}
    <option value={{item}} selected={{eq item selection}}>{{item}}</option>
  {{/each}}
{{/if}}
