{{#if prompt}}
  <option disabled selected={{if selection "false" "true"}}>
    {{prompt}}
  </option>
{{/if}}

{{#each content key="@index" as |item|}}
  <option value="{{read-path item optionValuePath}}"
          selected={{is-equal item selection}}>
    {{read-path item optionLabelPath}}
   </option>
{{/each}}
