<%= styleguide_block 'UI.Button' do -%>
<div class="button-primary $modifier_class">Save</div>
<div class="button-secondary $modifier_class">Save</div>
<div class="button-link $modifier_class">Save</div>
&nbsp; &nbsp; &nbsp;
<div class="button-primary button--small $modifier_class">Save</div>
<div class="button-secondary button--small $modifier_class">Save</div>
<div class="button-link button--small $modifier_class">Save</div>
&nbsp; &nbsp; &nbsp;
<div class="button-primary button--wide $modifier_class">Save</div>
<div class="button-secondary button--wide $modifier_class">Save</div>
<div class="button-link button--wide $modifier_class">Save</div>
&nbsp; &nbsp; &nbsp;
<div class="button-primary button--disabled $modifier_class">Save</div>
<div class="button-secondary button--disabled $modifier_class">Save</div>
<div class="button-link button--disabled $modifier_class">Save</div>
<% end -%>

<%= styleguide_block 'UI.Button.Knockout' do -%>
<div style="background-color: #87c0f9; padding: 10px;">
  <div class="button-secondary button--green knockout">Action</div>
  <div class="button-secondary button--blue knockout">Action</div>
  <div class="button-secondary button--grey knockout">Action</div>
  <div class="button-link knockout">Action</div>
</div>
<% end -%>

<%= styleguide_block 'UI.Card' do -%>
<div class="card $modifier_class">
  <div class="card-content">
    <span class="card-remove"></span>
    <span class="card-completed-icon"></span>
    Register Decision Task
  </div>
</div>
<% end -%>

<%= styleguide_block 'UI.ControlBar' do -%>
<div class="control-bar $modifier_class">
  <div class="control-bar-inner-wrapper">
    <ul>
      <li class="control-bar-item">
        <div class="button-secondary button--blue">Do Something</div>
      </li>
    </ul>
    <ul>
      <li class="control-bar-item">
        <div class="button-secondary button--blue">Do Stuff</div>
      </li>
    </ul>
  </div>
</div>
<% end -%>

<%= styleguide_block 'UI.Token' do -%>
<span class="token">tag</span>
<div class="token token--with-remove"><span class="token-remove"></span> delete me!</div>
<% end -%>
