{{#each repetitions as |rep|}}
  <div class="repeated-block">
    <h4>
      {{#unless minRepetitionsReached}}
        <span class="fa fa-trash remove-repetition pull-right" {{action "deleteRepetition" rep}}></span>
      {{/unless}}
      {{ itemName }}
    </h4>
    {{#each content.children as |child|}}
      {{card-content
        content=child
        disabled=disabled
        owner=owner
        answerChanged=answerChanged
        repetition=rep
        preview=preview}}
    {{/each}}
  </div>
{{/each}}
<a class="button-secondary button--blue add {{if maxRepetitionsReached "button--disabled"}}" {{action "addRepetition"}}>{{addLabelText}}</a>
