{{#each repetitions as |rep|}}
  <div class="well">
    {{#each content.children as |child|}}
      {{card-content
        content=child
        disabled=disabled
        owner=owner
        answerChanged=answerChanged
        repetition=rep
        preview=preview}}
    {{/each}}
    <a class="button-secondary button--red remove" {{action "deleteRepetition" rep}}>{{deleteLabelText}}</a>
  </div>
{{/each}}
<a class="button-secondary button--blue add" {{action "addRepetition"}}>{{addLabelText}}</a>
