{{#each repetitions as |rep index|}}
  <div class="repeated-block">
    <h4>
      {{#unless minRepetitionsReached}}
        <a class="fa fa-trash remove-repetition pull-right" {{action "deleteRepetition" rep}} href="#"></a>
      {{/unless}}
      {{ itemName }}
    </h4>
    {{#each content.children as |child|}}
      {{card-content
        content=child
        disabled=disabled
        owner=owner
        answerChanged=answerChanged
        repetition=rep
        preview=preview}}
    {{/each}}
  </div>
  <a class="add {{if maxRepetitionsReached "disabled"}}" {{action "addRepetition"}} href="#">&#43; {{addLabelText}}</a>
{{else}}
  <a class="add {{if maxRepetitionsReached "disabled"}}" {{action "addRepetition"}} href="#">&#43; {{addLabelText}}</a>
{{/each}}
