<%# Copyright (c) 2018 Public Library of Science %>

<%# Permission is hereby granted, free of charge, to any person obtaining a %>
<%# copy of this software and associated documentation files (the "Software"), %>
<%# to deal in the Software without restriction, including without limitation %>
<%# the rights to use, copy, modify, merge, publish, distribute, sublicense, %>
<%# and/or sell copies of the Software, and to permit persons to whom the %>
<%# Software is furnished to do so, subject to the following conditions: %>

<%# The above copyright notice and this permission notice shall be included in %>
<%# all copies or substantial portions of the Software. %>

<%# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR %>
<%# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, %>
<%# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL %>
<%# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER %>
<%# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING %>
<%# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER %>
<%# DEALINGS IN THE SOFTWARE. %>

<%= render partial: 'email/journal_logo_or_name', locals: { journal: @journal } %>
<br><br>

<h1>
  You have been added as a collaborator to a manuscript
</h1>

<hr>

<p>Hello <%= @invitee_name %>,</p>

<p>
  <%= @invitor_name %> just added you as a collaborator to a manuscript titled "<%= @paper.display_title(sanitized: false) %>."
  Collaborator status does not denote authorship of the manuscript.
  All authors should be listed in the Authors card, and must meet authorship criteria for <%= @journal.name %>.
</p>

<%= render partial: 'email/button', locals: {
  href: client_paper_url(@paper),
  text: 'View Manuscript'
} %>

<%= render partial: 'email/journal_signature', locals: { journal: @journal } %>

<hr>

<p>
  Visit this link to view the manuscript:
  <%= link_to client_paper_url(@paper), client_paper_url(@paper) %>
</p>
