<h1>
  <%= @assigner_name %> added you to a conversation
  in <%= app_name %>
</h1>

<hr>

<p>Hello <%= @assignee_name %>,</p>

<p>
  <%= @assigner_name %> just added you to a conversation in <%= app_name %> for the manuscript,
  "<%= @paper.display_title(sanitized: false) %>".
</p>

<%= render partial: 'email/journal_signature', locals: { journal: @paper.journal } %>

<%= render partial: 'email/button', locals: {
  href: client_paper_task_url(@task.paper, @task),
  text: 'View Conversation'
} %>
