<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>
<br><br>

<p>Hello <%= @invitee_name %>,</p>

<p>
  You've been invited to the Editor Discussion
  for the paper "<%= @paper.display_title(sanitized: false) %>"
</p>

<%= render partial: 'email/button', locals: {
  href: client_paper_task_url(@paper, @task),
  text: 'View Discussion'
} %>

<% unless @paper.abstract.blank? then %>
  <p class="abstract-title"><b>Abstract</b></p>
  <div class="abstract-text">
    <%= @paper.abstract %>
  </div>
<% end %>
