<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>
<br><br>

<h1>
  You've been assigned as an Editor on a Manuscript
</h1>

<hr>

<p>Hello <%= @editor_name %></p>

<p>
  You've been assigned as an Editor on a Manuscript titled
  "<%= @paper.display_title(sanitized: false) %>".
</p>

<%= render partial: 'email/journal_signature', locals: { journal: @paper.journal } %>

<%= render partial: 'email/button', locals: {
  href: client_paper_url(@paper),
  text: 'View Paper'
} %>
