<div class="container">
  <div class="greeting">
    <p class="message">
      You've been mentioned on a manuscript
    </p>
  </div>
  <hr>
  <div class="paper-info">
    <div class="paper-abstract">
      <p>
        Hello <%= @commentee.full_name %>,
      </p>
      <p>
        You've been mentioned by <%= @commenter.full_name %>
        on the <%= @task.title %> for the manuscript
        "<%= @paper.display_title(sanitized: false) %>".
      </p>
      <p>
        <%= @comment.body %>
      </p>
      <p>
        View the card here:
        <%= link_to client_paper_task_url(@paper, @task), client_paper_task_url(@paper, @task) %>.
      </p>
    </div>
  </div>
  <hr>
  <div class="footer">
    Sincerely,
    <br>
    <%= @journal.name %> Team
  </div>
</div>
