<p>
Hi <%= @commentee.full_name %>,
</p>

<p>
You've been mentioned by <%= @commenter.full_name %> on <%= @comment.task.paper.title %>'s <%= @comment.task.title %>:
</p>

<p>
<%= @comment.body %>
</p>


<p>
View the card here: <%= client_paper_task_url(@comment.task.paper, @comment.task) %>.
</p>

<p>
With Love,<br>
Team Tahi
</p>
