<%= render partial: 'email/journal_logo_or_name', locals: { journal: @journal } %>
<br><br>

<h1>
  Thank you for submitting your manuscript,
  <%= @paper.display_title(sanitized: false) %>, to <%= @journal.name %>.
</h1>

<p>Hello <%= @author.full_name %>,</p>

<p>
  Thank you for submitting your manuscript, "<%= @paper.display_title(sanitized: false) %>",
  to <%= @journal.name %>.
  We have received your changes and if we need anything further our staff will be in touch
  with next steps. If your manuscript meets the requirements for the next stage of the review
  process, the editor will be notified and will take the manuscript forwards.
</p>

<%= render partial: 'email/button', locals: {
  href: client_dashboard_url,
  text: 'Check Paper Progress'
} %>
