<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>
<br><br>

<h1>
  This manuscript has been withdrawn by <%= @withdrawal.withdrawn_by_user.full_name %>
</h1>

<p>
  <strong>MS #:</strong> <%= @paper.doi %><br/>
  <strong>Title:</strong> <%= @paper.display_title(sanitized: false) %><br />

  <% if @authors.length == 1 %>
    <strong>Author:</strong> <%= @authors.first.full_name %> (<%= @authors.first.email %>)<br />
  <% else %>
    <strong>Authors:</strong><br />
    <% @authors.each do |author| %>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= author.full_name %> (<%= author.email %>)<br />
    <% end %>
  <% end %>
</p>

<p>
  <strong>With the explanation</strong>:<br />
  <blockquote>
    <% if @withdrawal.reason.present? %>
      <%= simple_format @withdrawal.reason %>
      </p>
    <% else %>
      <em>No withdrawl reason was provided</em>
    <% end %>
  </blockquote>
</p>

<p>
  <% if @paper.handling_editors.length == 0 %>
    <strong>Handling Editor:</strong> <em>No assigned handling editors</em><br />
  <% elsif @paper.handling_editors.length == 1 %>
    <strong>Handling Editor:</strong> <%= @paper.handling_editors.first.full_name %> (<%= @paper.handling_editors.first.email %>)<br />
  <% else %>
    <strong>Handling Editors:</strong><br />
    <% @paper.handling_editors.each do |editor| %>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= editor.full_name %> (<%= editor.email %>)<br />
    <% end %>
    <br />
  <% end %>

  <% if @paper.cover_editors.length == 0 %>
    <strong>Cover Editor:</strong> <em>No assigned cover editors</em><br />
  <% elsif @paper.cover_editors.length == 1 %>
    <strong>Cover Editor:</strong> <%= @paper.cover_editors.first.full_name %> (<%= @paper.cover_editors.first.email %>)<br />
  <% else %>
    <strong>Cover Editors:</strong><br />
    <% @paper.cover_editors.each do |editor| %>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= editor.full_name %> (<%= editor.email %>)<br />
    <% end %>
    <br />
  <% end %>

  <% if @paper.academic_editors.length == 0 %>
    <strong>Academic Editor:</strong> <em>No assigned academic editors</em><br />
  <% elsif @paper.academic_editors.length == 1 %>
    <strong>Academic Editor:</strong> <%= @paper.academic_editors.first.full_name %> (<%= @paper.academic_editors.first.email %>)<br />
  <% else %>
    <strong>Academic Editors:</strong><br />
    <% @paper.academic_editors.each do |editor| %>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= editor.full_name %> (<%= editor.email %>)<br />
    <% end %>
    <br />
  <% end %>

  <% if @paper.reviewers.length == 0 %>
    <strong>Reviewer:</strong> <em>No assigned reviewers</em><br />
  <% elsif @paper.reviewers.length == 1 %>
    <strong>Reviewer:</strong> <%= @paper.reviewers.first.full_name %> (<%= @paper.reviewers.first.email %>)<br />
  <% else %>
    <strong>Reviewers:</strong><br />
    <% @paper.reviewers.each do |reviewer| %>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= reviewer.full_name %> (<%= reviewer.email %>)<br />
    <% end %>
    <br />
  <% end %>
</p>

<%= render partial: 'email/button', locals: {
  href: client_paper_url(@paper),
  text: 'View Manuscript'
} %>
