<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>

<%= @body.html_safe %>

<%= render partial: 'email/button', locals: {
  href: client_dashboard_url,
  text: 'Check Paper Progress'
} %>

<%= render partial: 'email/journal_signature', locals: { journal: @paper.journal } %>

<hr>

<p>
  You will be able to check on the progress of your paper by logging in here:
  <%= link_to client_dashboard_url, client_dashboard_url %>.
</p>