<div class="container">
  <div class="greeting">
    You've been mentioned on the manuscript, <%= @paper.title %>
  </div>
  <hr>
  <div class="paper-info">
    <p>
    Hello <%= @user.first_name %> <%= @user.last_name %>,
    </p>
    <p>
      You've been mentioned on the topic <%= @topic.title %> for the manuscript
      "<%= @paper.title %>"
    </p>
    <p>
    <%= if @reply
          @reply.body
        end %>
    </p>
    <p>
    View the message here: <a href="<%= client_discussion_url(@topic, @paper) %>">
      <%= client_discussion_url(@topic, @paper) %></a>
    </p>
  </div>
</div>
