<div class="snapshot-text wrap">
  <b>Name:</b> {{text-diff viewingText=viewing.authorName comparisonText=comparing.authorName}}<br/>
  <b>Email:</b> {{text-diff viewingText=viewing.email comparisonText=comparing.email}}<br/>
  <b>Title:</b> {{text-diff viewingText=viewing.title comparisonText=comparing.title}}<br/>
  <b>Department:</b> {{text-diff viewingText=viewing.department comparisonText=comparing.department}}<br/>
  <b>Affiliation:</b> {{text-diff viewingText=viewing.affiliation comparisonText=comparing.affiliation}}<br />
  <b>Secondary Affiliation:</b> {{text-diff viewingText=viewing.secondaryAffiliation comparisonText=comparing.secondaryAffiliation}}<br />
  <b>Contributions:</b> {{text-diff viewingText=viewing.contributions comparisonText=comparing.contributions}}<br />
  {{text-diff viewingText=viewing.corresponding comparisonText=comparing.corresponding}}<br />
  {{text-diff viewingText=viewing.government comparisonText=comparing.government}}<br />
  {{text-diff viewingText=viewing.deceased comparisonText=comparing.deceased}}<br />
</div>
