<div class="snapshot-text wrap">
  <b>Name:</b> {{text-diff viewingText=viewingName comparisonText=comparingName}}<br/>
  <b>Email:</b> {{text-diff viewingText=viewingEmail comparisonText=comparingEmail}}<br/>
  <b>Title:</b> {{text-diff viewingText=viewingTitle comparisonText=comparingTitle}}<br/>
  <b>Department:</b> {{text-diff viewingText=viewingDepartment comparisonText=comparingDepartment}}<br/>
  <b>Affiliation:</b> {{text-diff viewingText=viewingAffiliation comparisonText=comparingAffiliation}}<br />
  <b>Secondary Affiliation:</b> {{text-diff viewingText=viewingAffiliation comparisonText=comparingSecondaryAffiliation}}<br />
  <b>Contributions:</b> {{text-diff viewingText=viewingContributions comparisonText=comparingContributions}}<br />
  {{text-diff viewingText=viewingCorresponding comparisonText=comparingCorresponding}}<br />
  {{text-diff viewingText=viewingGovernment comparisonText=comparingGovernment}}<br />
  {{text-diff viewingText=viewingDeceased comparisonText=comparingDeceased}}<br />
</div>
