{{#if selectedItem}}
  <div class="did-you-mean-what-you-meant">
    {{yield selectedItem}}
    {{#if recognized}}
      <i class="fa fa-check-circle"></i>
    {{/if}}
    <span {{action "tryAgain" disabled}} class="did-you-mean-change">change</span>
  </div>
{{else}}

  <div class="form-control did-you-mean-input {{if focused "did-you-mean-focused"}} {{if searchResults "did-you-mean-input-expanded"}}">
    {{input value=resultText
            bubbles=true
            placeholder=placeholder
            class=""
            enter="search"
            key-up="search"
            focus-in="focus"
            focus-out="search"
            disabled=disabled}}

    {{#if search.isRunning}}
      {{progress-spinner visible=true size="small"}}
    {{else}}
      <button class="did-you-mean-button"
        tabindex=-1
        {{action "search"}}>
        <i class="fa fa-search"></i>
      </button>
    {{/if}}
  </div>

  {{#if searchResults}}
    <div class="did-you-mean-expanded">
      <div class="did-you-mean-question">Did you mean one of these?</div>
      <div class="did-you-mean-options">
        {{#each searchResults as |result|}}
          <div class="did-you-mean-item" {{action "selectItem" result}}>
            {{yield result}}
          </div>
        {{/each}}
      </div>
      <div class="did-you-mean-no-thanks" {{action "selectUnknownItem"}}>
        No thanks, I meant "{{ resultText }}".
      </div>
    </div>
  {{/if}}

{{/if}}
