{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if selectedItem}}
  <div class="did-you-mean-what-you-meant">
    {{yield selectedItem}}
    {{#if recognized}}
      {{fa-icon icon="check-circle"}}
    {{/if}}
    <span {{action "tryAgain" disabled}} class="did-you-mean-change">change</span>
  </div>
{{else}}

  <div class="form-control did-you-mean-input inset-form-control {{if required "required"}} did-you-mean-search-field {{if focused "did-you-mean-focused"}} {{if searchResults "did-you-mean-input-expanded"}}">
    <div class="inset-form-control-text">
    </div>
    {{input value=resultText
            bubbles=true
            placeholder=placeholder
            class=""
            enter="search"
            key-up="search"
            focus-in="focus"
            disabled=disabled}}

    {{#if search.isRunning}}
      {{progress-spinner visible=true size="small"}}
    {{else}}
      <button class="did-you-mean-button" tabindex=-1 {{action "search"}}>
        {{fa-icon icon="search"}}
      </button>
    {{/if}}
  </div>

  {{#if searchResults}}
    <div class="did-you-mean-expanded">
      <div class="did-you-mean-question">Did you mean one of these?</div>
      <div class="did-you-mean-options">
        {{#each searchResults as |result|}}
          <div class="did-you-mean-item" {{action "selectItem" result}}>
            {{yield result}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

{{/if}}
