{{partial "task-completed-section"}}

<div class="task-main-content">
  <h3>Enter Payee Details</h3>

  <div class="flex-form">
    <div class="flex-group flex-group--divider">
      <div class="flex-element">
        {{nested-question-input ident="plos_billing--first_name"
                                owner=task
                                placeholder="Jane"
                                disabled=isNotEditable
                                textClassNames="text-field-title required"
                                validate=(action "validateQuestion")
                                errors=validationErrors.plos_billing--first_name}}
      </div>

      <div class="flex-element">
        {{nested-question-input ident="plos_billing--last_name"
                                owner=task
                                placeholder="Doe"
                                disabled=isNotEditable
                                textClassNames="text-field-title required"
                                validate=(action "validateQuestion")
                                errors=validationErrors.plos_billing--last_name}}
      </div>
    </div>

    <div class="flex-group">
      <div class="flex-element">
        {{nested-question-input ident="plos_billing--title"
                                owner=task
                                placeholder="Professor"
                                disabled=isNotEditable
                                textClassNames="text-field-title"}}
      </div>

      <div class="flex-element">
        {{nested-question-input ident="plos_billing--department"
                                owner=task
                                placeholder="Biology"
                                disabled=isNotEditable
                                textClassNames="text-field-title required"
                                validate=(action "validateQuestion")
                                errors=validationErrors.plos_billing--department}}
      </div>
    </div>

    <div class="flex-group flex-group--divider">
      <div class="flex-element">
        {{institution-search value=affiliation1Proxy
                             institutionSelected="affiliation1Selected"
                             placeholder="Affiliation"
                             disabled=isNotEditable}}
      </div>

      <div class="flex-element">
        {{institution-search value=affiliation2Proxy
                             institutionSelected="affiliation2Selected"
                             placeholder="Secondary Affiliation (optional)"
                             disabled=isNotEditable}}
      </div>
    </div>

    <div class="flex-group">
      <div class="flex-element">
        {{nested-question-input ident="plos_billing--phone_number"
                                owner=task
                                placeholder="415-555-5555"
                                disabled=isNotEditable
                                textClassNames="text-field-title required"
                                validate=(action "validateQuestion")
                                errors=validationErrors.plos_billing--phone_number}}

      </div>
      <div class="flex-element">
        {{nested-question-input ident="plos_billing--email"
                                owner=task
                                placeholder="jane.goodll@science.com"
                                disabled=isNotEditable
                                textClassNames="text-field-title required"
                                validate=(action "validateQuestion")
                                errors=validationErrors.plos_billing--email}}

      </div>
    </div>

    <div class="flex-group">
      <div class="flex-element">
        {{nested-question-input ident="plos_billing--address1"
                                owner=task
                                placeholder="1581 Le Roy Ave"
                                disabled=isNotEditable
                                textClassNames="text-field-title required"
                                validate=(action "validateQuestion")
                                errors=validationErrors.plos_billing--address1}}
      </div>
      <div class="flex-element">
        {{nested-question-input ident="plos_billing--address2"
                                owner=task
                                placeholder="Suite 3"
                                disabled=isNotEditable
                                textClassNames="text-field-title"}}
      </div>
    </div>

    <div class="flex-group">
      <div class="flex-element billing-payee-city">
        {{nested-question-input ident="plos_billing--city"
                                owner=task
                                placeholder="Berkeley"
                                disabled=isNotEditable
                                textClassNames="text-field-title required"
                                validate=(action "validateQuestion")
                                errors=validationErrors.plos_billing--city}}
      </div>

      <div class="flex-group flex-element billing-payee-state-postal">
        <div class="flex-element">
          {{nested-question-input ident="plos_billing--state"
                                  owner=task
                                  placeholder="State or Province"
                                  disabled=isNotEditable
                                  textClassNames="text-field-title"}}
        </div>
        <div class="flex-element">
          {{nested-question-input ident="plos_billing--postal_code"
                                  owner=task
                                  placeholder="94708"
                                  disabled=isNotEditable
                                  textClassNames="text-field-title required"
                                  validate=(action "validateQuestion")
                                  errors=validationErrors.plos_billing--postal_code}}
        </div>
      </div>
    </div>

    <div class="flex-element billing-payee-country">
      {{#if countries.loaded}}
        {{nested-question-select ident="plos_billing--country"
                                 owner=task
                                 placeholder="Select Your Country"
                                 displayQuestionText=false
                                 source=formattedCountries
                                 enable=isEditable}}
      {{/if}}
      {{#if countries.loading}}
        {{progress-spinner visible=true size="mini"}}
        Loading countries
      {{/if}}
      {{#if countries.error}}
        <i class="fa fa-exclamation-triangle"></i>
        Error loading countries
      {{/if}}
    </div>
  </div>

  <hr>

  <h2>Payment Options</h2>

  {{partial "intro"}}

  <ol class="question-list">
    <li class="question">
      <h3>
        {{nested-question-display ident="plos_billing--payment_method"
                                  owner=task
                                  class="required"
                                  errors=validationErrors.plos_billing--payment_method}}
      </h3>

      <div class="form-group payment-method">
        {{nested-question-select ident="plos_billing--payment_method"
                                 owner=task
                                 displayQuestionText=false
                                 class="affiliation-field"
                                 selectionSelected="paymentMethodSelected"
                                 source=responses
                                 width="100%"
                                 enable=isEditable
                                 validate=(action "validateQuestion")
                                 errors=validationErrors.plos_billing--payment_method}}
      </div>
    </li>

    {{partial "self_payment"}}
    {{partial "institutional"}}
    {{partial "gpi"}}
    {{partial "pfa"}}
    {{partial "special_collection"}}
  </ol>
</div>
