{{partial "task-completed-section"}}

<div class="task-main-content">
  <h3>Please address the following changes so we can process your manuscript:</h3>
  <p class="preserve-line-breaks">{{task.body.initialTechCheckBody}}</p>

  {{flash-messages classNames="submit-tech-changes-flash"}}

  <button {{action "submitTechChanges"}}
          id="submit-tech-fix"
          class="button-primary button--green {{if isNotEditable "button--disabled"}} {{if isLoading "button--disabled"}}"
          disabled={{isLoading}}>
    These changes have been made
  </button>
</div>
