{{partial "task-completed-section"}}

<div class="task-main-content">
  <ul class="list-unstyled">
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--open_rejects"
              owner=task
              additionalData="Please ensure that all of the following sections are present and appear in your manuscript file in the following order: Title, Authors, Affiliations, Abstract, Introduction, Results, Discussion, Materials and Methods, References, Acknowledgments, and Figure Legends. More detailed guidelines can be found on our website: http://journals.plos.org/plosbiology/s/submission-guidelines#loc-manuscript-organization."}}
      <p class="additional-notes">
        Note that if all of these things are present in the submission either 1) in a different order or 2) titles slightly different then this is okay to pass through. If not, ask the authors to address.
      </p>
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--human_subjects"
              owner=task}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--ethics_needed"
              owner=task}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--data_available"
              owner=task}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--supporting_information"
              owner=task}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--dryad_url"
              owner=task}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--financial_disclosure"
              owner=task
              additionalData="Please complete the Financial Disclosure Statement field of the online submission form."}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--tobacco"
              owner=task
              additioanlData="This section should describe sources of funding that have supported the work. Please include relevant grant numbers and the URL of any funder's Web site."}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--figures_legible"
              owner=task
              additionalData="Your Figure is not easily legible. Please provide a higher quality version of this Figure while ensuring the file size remains below 10MB. We recommend saving your figures as TIFF files using LZW compression. More detailed guidelines can be found on our website: http://journals.plos.org/plosbiology/s/figures."}}
    </li>

    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--cited"
              owner=task
              additionalData="Please note you have cited a file in your manuscript that has not been included with your submission. Please upload this file, or if this file was cited in error, please remove the corresponding citation from your manuscript."}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--cover_letter"
              owner=task}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--billing_inquiries"
              owner=task
              additionalData="Please note that our policy requires the removal of any mention of billing information from the cover letter. I have forwarded your query to our Billing Team (authorbilling@plos.org). Further infromation about Publication Fees can be found here: http://www.plos.org/publications/publication-fees/. Thank you, PLOS Biology"}}
    </li>
    <li class="item">
      {{nested-question-check
              ident="plos_bio_initial_tech_check--ethics_statement"
              owner=task}}
    </li>
  </ul>

  <br>

  <h3 class="change-instructions">
    If there are issues the author needs to address, click below to send changes to the author.
  </h3>

  {{flash-messages classNames="initial-check-tech-flash"}}

  {{#if authoringMode}}
    <div class="form-group">
      <span class="text-field-title">
        List all changes the author needs to make:
      </span>
      {{textarea value=authorChangesLetter
                 name='author-changes-letter'
                 class="form-control tall-textarea extra-tall"}}
    </div>

      <button id="autogenerate-email" class="button" {{action "setQuestionSelectedText"}}>
        Auto-generate Text
      </button>
      <button class="button" {{action "saveLetter"}}>
        Save Text
      </button>
      <button class="button-primary button--green" {{action "sendEmail"}}>
        {{buttonText}}
      </button>
  {{else}}
    <button class="button-primary button--green" {{action "activateAuthoringMode"}}>
      {{buttonText}}
    </button>
  {{/if}}
</div>
