<div class="container">
  <div class="paper-info">
    <div class="journal-info">
      <% if @journal.logo_url %>
        <img class="journal-logo" src="<%= @journal.logo_url %>">
      <% else %>
        <div class="journal-name">
          <%= @journal.name %>
        </div>
      <% end %>
    </div>
    <div class="paper-abstract">
      <%= simple_format @invitation.body %>
    </div>
    <p>
      <a class="button" href="<%= client_dashboard_url({ invitation_code: @invitation.code }) %> target="_blank">
        View Invitation
      </a>
    </p>
  </div>
  <hr>
  <div class="footer">
    <%= @paper.journal.name %> Team
  </div>
</div>
