<td>
  {{role.name}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-view")
      checked=(readonly viewAllowed)
      disabled=(readonly editAllowed)
      action=(action "toggleViewPermission")}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-edit")
      checked=(readonly editAllowed)
      action=(action "toggleEditPermission")}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-discussion-view")
      checked=(readonly view_discussionAllowed)
      disabled=(readonly edit_discussionAllowed)
      action=(action "toggleViewDiscussionPermission")}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-discussion-edit")
      checked=(readonly edit_discussionAllowed)
      action=(action "toggleEditDiscussionPermission")}}
</td>
