<td>
  {{role.name}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-view")
      checked=(readonly viewAllowed)
      disabled=(readonly editAllowed)
      action=(action "toggleViewPermission")}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-edit")
      checked=(readonly editAllowed)
      action=(action "toggleEditPermission")}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-discussion-view")
      checked=(readonly view_discussion_footerAllowed)
      disabled=(readonly edit_discussion_footerAllowed)
      action=(action "toggleViewDiscussionFooterPermission")}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-discussion-edit")
      checked=(readonly edit_discussion_footerAllowed)
      action=(action "toggleEditDiscussionFooterPermission")}}
</td>
