- content_for :control_bar do
  #control-bar-container
    #control-bar
      %section
        %ul
          %li#paper-short-title= @paper.short_title
          %li#paper-revision R0
        %ul
          %li= link_to 'Article', edit_paper_path(@paper)
%ul
  - @task_manager.phases.each do |phase|
    %li.phase
      %h2= phase.name

      %ul
        - phase.tasks.each do |task|
          %li
            = link_to task.title, '#', data: { 'overlay-name' => 'paper-admin-card', 'overlay-title' => @paper.short_title, 'paper-id' => @paper.to_param, 'task-id' => task.to_param, 'task-completed' => task.completed? }
            #paper-admin-card-content.hidden
              %h1 Paper Shepherd
              = form_for [@paper, task], as: :task, url: paper_task_path(@paper, task), remote: true, format: :json, html: { class: 'js-submit-on-change' } do |f|
                = f.label :assignee_id
                = f.collection_select :assignee_id, User.all, :id, :full_name, prompt: 'Please select assignee'
