- content_for :control_bar do
  #control-bar-container
    #control-bar
      %section
        %ul
          %li#paper-short-title= @paper.short_title
          %li#paper-revision R0
        %ul
          %li= link_to 'Article', edit_paper_path(@paper)
%ul.phases
  - @task_manager.phases.each do |phase|
    %li.phase{class: "#{'active' if @task_manager.phases.first == phase}"}
      %h2= phase.name

      %ul.cards
        - phase.tasks.each do |task|
          %li
            = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'overlay-name' => "card-#{task.id}", 'overlay-title' => @paper.short_title, 'paper-id' => @paper.to_param, 'task-id' => task.to_param, 'task-completed' => task.completed? } do
              %span.glyphicon.glyphicon-ok
              = task.title
          .hidden{id: "card-#{task.id}-content"}
            = render task, paper: @paper
        %li
          :ruby
            haml_io << link_to('Add new card', '#',
              data: {
                assignees: User.admins.map { |u| [u.id, u.full_name] }.to_json,
                url: paper_tasks_path(@task_manager.paper, format: :json),
                phase_id: phase.id
              },
              class: "secondary-button react-new-card-overlay")
