{{#if orcidConnectEnabled}}
  {{#if orcidAccount.identifier}}
    <!-- orcid account linked -->
    <div class="orcid-wrapper">
    <div class="orcid-linked">
      <img id="orcid-id-logo" src="http://orcid.org/sites/default/files/images/orcid_24x24.png" width='24' height='24' alt="ORCID logo"/>
      ORCID ID: <a href="{{orcidAccount.profile_url}}" target="_blank">{{orcidAccount.identifier}}</a>
      {{#if canRemoveOrcid}}
        <i {{action "removeOrcidAccount" orcidAccount}} class="fa fa-trash remove-orcid"></i>
      {{else}}
        <p class="staff-remove-orcid">Please contact <a href="mailto:{{journal.staffEmail}}">{{journal.staffEmail}}</a> to remove this ORCID account.</p>
      {{/if}}
    </div>
    {{#if accessTokenExpired}}
      <div class="orcid-access-expired">
      <a href="{{orcidAccount.oauthAuthorizeUrl}}"
         class="button-secondary button--green"
         target="_blank">
         Reauthorize Expired ORCID Access
      </a>
      </div>
    {{/if}}
    </div>
  {{else}}
    <!-- no orcid account linked -->
    <div class="orcid-not-linked">
      <button
        class="button-secondary button--green display-while-disabled"
        disabled={{buttonDisabled}}
        {{action 'openOrcid'}}>
        <img id="orcid-id-logo" src="http://orcid.org/sites/default/files/images/orcid_24x24.png" width='24' height='24' alt="ORCID logo"/>
        {{buttonText}}
      </button>
    </div>
    <a href="https://plos.org/orcid" target="_blank" class="what-is-orcid">?</a>
  {{/if}}
{{/if}}
