{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#overlay-fullscreen visible=showUserDetailsOverlay
   outAnimationComplete=(action "hideUserDetailsOverlay")
   title="User Details"
   overlayClass="user-detail-overlay overlay--blue"
   as |overlay|}}
  {{user-details model=detailsForUser
    close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


<div class="admin-users-list-search admin-user-search">
  {{input enter="searchUsers"
    placeholder="SEARCH ALL USERS"
    value=searchQuery}}
  <button {{action "searchUsers"}}>{{fa-icon icon="search"}}</button>
</div>

{{#if adminJournalUsers}}
  <table class="admin-users-list-list">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Username</th>
      {{#if roles}}
        <th class="admin-users-list-roles">Roles</th>
      {{/if}}
    </tr>
    {{#each adminJournalUsers as |user|}}

      {{admin-journal-user user=user
        journal=journal
        displayDialog=(action "showUserDetailsOverlay" user)
        journalRoles=roles}}
    {{/each}}
  </table>
{{else}}
  <p class="admin-user-search-default-state-text">{{placeholderText}}</p>
{{/if}}
