<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>
<br><br>

<p>Hello <%= @assigner.first_name %></p>

<p>
  <%= @reviewer.full_name %> has declined your invitation to review the Manuscript: "<%= @paper.display_title(sanitized: false) %>".
</p>

<p class="decline_reason">
  <strong>Reason:</strong> <%= simple_format @invitation.decline_reason %>
</p>
<p class="reviewer_suggestions">
  <strong>Reviewer Suggestions:</strong> <%= simple_format @invitation.reviewer_suggestions %>
</p>

<%= render partial: 'email/button', locals: {
  href: client_paper_task_url(@paper, @invite_reviewer_task),
  text: 'View Your Invitation'
} %>

<%= render partial: 'email/journal_signature', locals: { journal: @paper.journal } %>
