<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>
<br><br>

<p class="user-name">Hello <%= @assigner.first_name %></p>

<p>
  <%= @reviewer.full_name %> has accepted your invitation to review the Manuscript: "<%= @paper.display_title(sanitized: false) %>".
</p>

<%= render partial: 'email/button', locals: {
  href: client_paper_task_url(@paper, @invite_reviewer_task),
  text: 'View Your Invitation'
} %>

<%= render partial: 'email/journal_signature', locals: { journal: @paper.journal } %>
