<td class="col-xs-8 dashboard-paper-title {{type}}-paper-title hug-left">
  <a href={{model.aarxLink}}>{{model.displayTitle}}</a>
  <br>
  <span class="dashboard-journal-name">
    ApertaRxiv
  </span>
  <span class="dashboard-manuscript-id">
    | ID: {{model.preprintDoiSuffix}}
  </span>
</td>
<td class="col-xs-3 hug-left">
  <span class="role-tag">{{roles}}</span><br>
</td>
<td class="col-xs-2"><div class='status-tag hug-left'>POSTED</div></td>
