{{partial "task-completed-section"}}

<div class="task-main-content">
  {{inline-edit-h1 title=task.title setTitle="setTitle"}}

  <div class="task-body">
    {{#each blocks as |block|}}
      {{#inline-edit-body-part block=block
                               editing=false
                               cancel="resetBlock"
                               save="saveBlock"
                               delete="deleteBlock"
                               addItem="addCheckboxItem"
                               as |editing|}}
        {{#each block as |item|}}
          {{inline-edit-item item=item
                             block=block
                             editing=editing
                             allUsers=allUsers
                             overlayParticipants=task.participations
                             emailSentStates=emailSentStates
                             isNew=false
                             saveModel=(action "save")
                             deleteBlock=(action "deleteBlock")
                             deleteItem=(action "deleteItem")
                             sendEmail=(action "sendEmail")}}
        {{/each}}
      {{/inline-edit-body-part}}
    {{/each}}

    {{#each newBlocks as |block|}}
      {{#inline-edit-body-part block=block
                               editing=true
                               cancel="resetBlock"
                               save="saveBlock"
                               delete="deleteBlock"
                               addItem="addCheckboxItem"
                               as |editing|}}
        {{#each block as |item|}}
          {{inline-edit-item item=item
                             block=block
                             editing=editing
                             allUsers=allUsers
                             overlayParticipants=task.participations
                             emailSentStates=emailSentStates
                             isNew=true
                             saveModel=(action "save")
                             deleteBlock=(action "deleteBlock")
                             deleteItem=(action "deleteItem")
                             sendEmail=(action "sendEmail")}}
        {{/each}}
      {{/inline-edit-body-part}}
    {{/each}}

    {{#if showAttachmentsBlock}}
      {{attachment-manager filePath="ad-hoc"
                           attachments=task.attachments
                           multiple=true
                           hasCaption=true
                           accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps,.docx,.odt,.epub,.pdf"
                           captionChanged=(action "updateAttachmentCaption")
                           deleteFile=(action "deleteAttachment")
                           uploadFinished=(action "createAttachment")
                           updateAttachment=(action "updateAttachment")}}
    {{/if}}
  </div>

  {{#reveal-adhoc-toolbar-buttons}}
    {{partial "components/reveal-adhoc-toolbar-buttons/buttons"}}
  {{/reveal-adhoc-toolbar-buttons}}
</div>
