#author-form-template.hidden
  .form-group.form-inline
    .form-group
      = text_field_tag :author_first_name, '', class: 'form-control', placeholder: 'First name'
    .form-group
      = text_field_tag :author_last_name, '', class: 'form-control', placeholder: 'Last name'
  .form-group
    = text_field_tag :author_email, '',class: 'form-control', placeholder: 'Email'
  .form-group.form-inline
    .form-group
      = text_field_tag :author_affiliation, '',class: 'form-control', placeholder: 'Affiliation'
    .form-group
      = submit_tag 'done', class: 'btn btn-primary'
