<div class="card-editor-save-buttons">
  <div class="card-editor-save-buttons-container">
    <div class="card-editor-save-buttons-state">
      {{fa-icon card.stateIcon}}
      <span>
        {{card.stateName}}
      </span>
    </div>
    <button class="button button--blue button-primary editor-save"
            onclick={{perform saveCard}}
            disabled={{or saveCard.isRunning publishCard.isRunning (not xmlDirty)}}>
      Save
    </button>

    <button class="button button--blue button-primary editor-publish"
            onclick={{perform publishCard}}
            disabled={{or saveCard.isRunning publishCard.isRunning}}>
      {{#if (eq card.state "draft")}}
        Publish Card
      {{else}}
        Publish Changes
      {{/if}}
    </button>
  </div>
</div>

<div class="card-editor-workspace">
  <div class="card-editor-xml-container">
    <div class="card-editor-xml-controls"></div>
    <div class="card-editor-xml">
      {{#each errors as |error|}}
        {{error-message message=(concat error.title ": " error.detail)}}
      {{/each}}

      {{textarea value=card.xml autoresize=true rows=10}}
    </div>
  </div>
</div>
