<div class="row">
  <div class="col-sm-12">
    <p>Manually add a correspondence record to the correspondence history, e.g.
      an email was sent from a personal email and you want to record it in
      Aperta. <strong>Note: this will NOT send an email</strong></p>
  </div>
</div>
<div class="row">
  <!-- {{input type="text"
                value=author.email
                class="author-email inset-form-control-input"
                disabled=isNotEditable
                focus-out=(action "validateField" "email")
                placeholder="jane.doe@example.com"}} -->
  <div class="col-sm-6 col-md-3">
    <div class="inset-form-control required">
      <div class="inset-form-control-text">
        <label>Date sent</label>
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
      </div>
      <!-- {{input type="text"
              value=''
              class="external-correspondence-date-sent inset-form-control-input"
              placeholder="Select date ..."}} -->
      {{date-picker name=ident
                    group=group
                    type="text"
                    role=role
                    class="external-correspondence-date-sent inset-form-control-input"
                    placeholder="Select date"}}
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="inset-form-control required">
      <div class="inset-form-control-text">
        <label>Time sent</label>
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
      </div>
      {{input type="text"
              value=''
              class="external-correspondence-time-sent inset-form-control-input"
              placeholder="Select time ..."}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="inset-form-control required">
      <div class="inset-form-control-text">
        <label>Description</label>
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
      </div>
      {{input type="text"
              value=''
              class="external-correspondence-description inset-form-control-input"
              placeholder="Enter a brief description of the purpose of the correspondence..."}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="inset-form-control required">
      <div class="inset-form-control-text">
        <label>From</label>
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
      </div>
      {{input type="text"
              value=''
              class="external-correspondence-from inset-form-control-input"
              placeholder="Sender's name and/or email address..."}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="inset-form-control required">
      <div class="inset-form-control-text">
        <label>To</label>
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
      </div>
      {{input type="text"
              value=''
              class="external-correspondence-to inset-form-control-input"
              placeholder="Recipient names and/or email address(es)..."}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="inset-form-control">
      <div class="inset-form-control-text">
        <label>Subject</label>
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
      </div>
      {{input type="text"
              value=''
              class="external-correspondence-subject inset-form-control-input"
              placeholder="Enter of copy-paste the subject line of the correspondence..."}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="inset-form-control">
      <div class="inset-form-control-text">
        <label>CC</label>
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
      </div>
      {{input type="text"
              value=''
              class="external-correspondence-cc inset-form-control-input"
              placeholder="Recipient names and/or email address(es)..."}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="inset-form-control">
      <div class="inset-form-control-text">
        <label>BCC</label>
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
      </div>
      {{input type="text"
              value=''
              class="external-correspondence-bcc inset-form-control-input"
              placeholder="Recipient names and/or email address(es)..."}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="button-secondary button--green feedback-form-screenshot-uploader fileinput-button">
      Attach Files
      {{file-uploader accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.pdf,.docx,.doc,.pages"
                      start="uploadStarted"
                      done="uploadFinished"
                      multiple="true"
                      filePrefix="ext-correspondence-attachment"}}
    </div>
  </div>
</div>
<div class="row">
  <p>&nbsp;</p>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="inset-form-control required">
      <div class="inset-form-control-text">
        <label>Contents</label>
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
      </div>
      {{#expanding-textarea}}
      {{textarea class="inset-form-control-textarea external-correspondence-contents"
                 name="remarks"
                 value=''
                 placeholder="Enter or copy-paste the contents of the correspondence."
                 autofocus="autofocus"}}
      {{/expanding-textarea}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">

  </div>
</div>
<div class="overlay-footer-content external-correspondence-form-footer-content">
  <div class="overlay-action-buttons">
    {{#if close}}
      <button class="button-link button--green" {{action close}}>cancel</button>
    {{/if}}
    <button class="button button--green button-primary external-correspondence-submit" {{action "submit"}}>ADD TO HISTORY</button>
  </div>
</div>
