{{#sticky-headers class="paper-sidebar"
                  stickySelector=".task-disclosure-heading"
                  sectionSelector=".task-disclosure"}}
  <div class="paper-sidebar-info">
    {{#if paper.doi}}
      <div class="task-list-doi"><strong>Manuscript ID:</strong> {{paper.manuscript_id}}</div>
    {{/if}}

    <div id="submission-state-information">
      {{#if paper.isPendingGradualEngagementSubmission}}
        <div id="submission-process-toggle-box">
          <i id="submission-process-toggle"
             title="Submission Process"
             class="fa fa-question-circle" {{action "toggleSubmissionProcess"}}>
          </i>

          <p><b>{{paper.journal.name}} Submission Process </b></p>
        </div>
      {{/if}}

      {{#if (and paper.isReadyForSubmission (can 'submit' paper))}}
        <div class="ready-to-submit {{paper.engagementState}}">Your manuscript is ready for <span class="text-capitalize">{{paper.engagementState}}</span> Submission.</div>

        <button id="sidebar-submit-paper" {{action "submitPaper"}}
          class="button-primary button-pre-submit-paper button--green">
          Submit
        </button>
      {{/if}}

      {{#if paper.isPreSubmission}}
        {{#if paper.gradualEngagement}}
          {{partial "submission/sidebar-gradual-engagement-presubmission"}}
        {{else}}
          You must complete the following tasks before submitting:
        {{/if}}
      {{/if}}

      {{#if paper.isSubmitted}}
        This paper has been submitted.
      {{/if}}
    </div>
    <hr>
  </div>

  {{#if assignedTasks}}
    <div id="paper-assigned-tasks">
      {{#each sortedAssignedTasks as |task|}}
        {{#task-disclosure title=task.title completed=task.completed class=(task-component-name task.type)}}
          {{#task-load task=task}}
            {{component (task-component-name task.type) task=task}}
          {{else}}
            {{partial "task-loading-section"}}
          {{/task-load}}
        {{/task-disclosure}}
      {{/each}}
    </div>
  {{/if}}

  {{#if paper.submissionTasks}}
    <div id="paper-submission-tasks">
      {{#each paper.sortedSubmissionTasks as |task|}}
        {{#task-disclosure title=task.title completed=task.completed class=(task-component-name task.type)}}
          {{#task-load task=task}}
            {{component (task-component-name task.type) task=task}}
          {{else}}
            {{partial "task-loading-section"}}
          {{/task-load}}
        {{/task-disclosure}}
      {{/each}}
    </div>
  {{/if}}

{{/sticky-headers}}
