<div id="tahi-container" class="full-width manuscript-manager-template">
  <div class="control-bar control-bar--blue manuscript-manager-template-control-bar">
    <div class="control-bar-inner-wrapper">
      <ul>
        <li class="control-bar-item back-to-journal-edit">
          {{#link-to "journal" journal}}&lt; Back to Journal edit{{/link-to}}
        </li>
        <li id="control-bar-paper-journal-logo" class="control-bar-item">
          <br>
          {{#if journal.logoUrl}}
            <img src="{{unbound journal.logoUrl}}">
          {{else}}
            <div class="paper-journal">{{unbound journal.name}}</div>
          {{/if}}
        </li>
        {{#if editMode}}
          <li class="template-edit-paper-type control-bar-item">
            {{input value=paperType placeholder="Paper Type"}}
          </li>
        {{else}}
          <li class="control-bar-item control-bar-template-name" {{action "toggleEditMode"}}>
            {{paperType}}
            <span class="glyphicon glyphicon-pencil"></span>
          </li>
        {{/if}}
        {{#if showSaveButton}}
          <li class="control-bar-item template-edit-save">
            <a class="button-secondary button--blue knockout template-save-button" {{action "saveTemplate"}}>Save Template</a>
          </li>
          <li class="control-bar-item template-edit-cancel">
            <a {{action "rollback"}}>cancel</a>
          </li>
        {{/if}}
      </ul>
      <ul>
        <li class="template-edit-message control-bar-item">
          <span {{bind-attr class="errorText:show:hidden :alert-danger :control-bar-message"}}>{{errorText}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div id="manuscript-manager">
    <div class="full-height">
      <div class="columns manuscript-manager-template-columns">
        {{add-column position=0 action="addPhase" bonusClass="first-add-column"}}
        {{#each phaseTemplate in sortedPhaseTemplates}}
          {{#view "ETahi.ManuscriptManagerColumnView" content=phaseTemplate}}
            {{add-column position=view.nextPosition action='addPhase'}}

            {{view ETahi.PhaseHeaderView phase=phaseTemplate}}

            <div class="column-content">
              {{#each task in phaseTemplate.taskTemplates}}
                {{flow-card paper=null
                            task=task
                            canRemoveCard=true
                            canDragCard=true
                            removeTask="removeTask"
                            action=null}}
              {{/each}}
              <a {{action 'chooseNewCardTypeOverlay' phaseTemplate}} class="button-secondary button--green">
                Add New Card
              </a>
            </div>
          {{/view}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
