{{#view ETahi.ControlBarView classNames="manuscript-manager-template-control-bar"}}
  <div class="control-bar-inner-wrapper">
    <ul>
      <li id="control-bar-paper-journal-logo" class="control-bar-item">
        {{#if journal.logoUrl}}
          <img src="{{unbound journal.logoUrl}}">
        {{else}}
          <div class="paper-journal">{{unbound journal.name}}</div>
        {{/if}}
      </li>
      <li class="control-bar-item control-bar-page-title">
        {{#link-to "journal" journal}}Journal Administration{{/link-to}}
      </li>
    </ul>
    <ul>
      <li class="template-edit-message control-bar-item">
        <span {{bind-attr class="errorText:show:hidden :alert-danger :control-bar-message"}}>{{errorText}}</span>
      </li>
    </ul>
  </div>
{{/view}}

<div id="tahi-container" class="full-width manuscript-manager-template">
  <div id="manuscript-manager">
    <div class="full-height">
      <div class="paper-type-form">
        {{#if editMode}}
          {{input value=paperType placeholder="Paper Type" class="edit-paper-type-field"}}
        {{else}}
          <div class="paper-type-name" {{action "toggleEditMode"}}>
            {{paperType}}
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
          &nbsp;
          {{#link-to "journal" journal class="button-link button--blue"}}&lt; Back{{/link-to}}
        {{/if}}
        {{#if showSaveButton}}
          <a class="button-secondary button--blue paper-type-save-button" {{action "saveTemplate"}}>Save Template</a>
          <a class="button-link button--blue paper-type-cancel-button" {{action "rollback"}}>cancel</a>
        {{/if}}
      </div>

      <div class="columns manuscript-manager-template-columns">
        {{add-column position=0 action="addPhase" bonusClass="first-add-column"}}
        {{#each phaseTemplate in sortedPhaseTemplates}}
          {{#view "ETahi.ManuscriptManagerColumnView" content=phaseTemplate}}
            {{add-column position=view.nextPosition action="addPhase"}}

            {{view ETahi.PhaseHeaderView phase=phaseTemplate}}

            <div class="column-content">
              {{#each task in phaseTemplate.taskTemplates}}
                {{card-preview paper=null
                               task=task
                               canRemoveCard=true
                               canDragCard=true
                               removeTask="removeTask"
                               action=null}}
              {{/each}}
              <a {{action "chooseNewCardTypeOverlay" phaseTemplate}} class="button-secondary button--green">
                Add New Card
              </a>
            </div>
          {{/view}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
