<h3>{{view.content.paperType}}</h3>

<ul class="template-stats">
<li><span>{{view.content.phaseCount}}</span> Phases</li>
<li><span>{{view.content.articleCount}}</span> Active Articles</li>
</ul>

<div class="template-thumbnail-overlay template-thumbnail-edit-options">
  {{link-to "" "manuscript_manager_template.edit" view.content class="glyphicon glyphicon-pencil"}}
  <span class="glyphicon glyphicon-trash" {{action "toggleWillDestroyTemplate" target="view"}}></span>
</div>
<div class="template-thumbnail-overlay template-thumbnail-overlay-confirm-destroy">
  <p>This will permanently delete your template. Are you sure?</p>
  <button class="primary-button white-button" {{action "toggleWillDestroyTemplate" target="view"}}>Cancel</button>
  <button class="primary-button white-button figure-delete-button" {{action "destroyTemplate" view.content}}>Delete</button>
</div>
