{{#overlay-fullscreen
   visible=newEmailTemplateOverlayVisible
   outAnimationComplete=(action "hideNewEmailTemplateOverlay")
   overlayClass="overlay--blue"
   as |overlay|}}
  {{admin-page/email-templates/new-email-template-overlay
    journal=journal
    templates=templates
    success=(action "editTemplate")
    close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


<h2>Email Templates</h2>
{{#if journal}}

  {{#if (can 'create_email_template' journal)}}
  <button class="button-primary button--blue" {{action "showNewEmailTemplateOverlay"}}>
    Create New Template
  </button>
  {{/if}}
  <table class="table table-hover">

    <thead>
      <tr>
        <th>Name</th>
        <th>Subject</th>
        <th><!-- --></th>
      </tr>
    </thead>
    <tbody>
      {{#each templates as |template|}}
        <tr class="admin-email-template-row">
          <td>{{template.name}}</td>
          <td>{{template.subject}}</td>
          <td>
            {{#link-to 'admin.edit_email' template.id}}
              {{fa-icon "pencil"}} Edit
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <h4>Please select a journal to view email templates.</h4>
{{/if}}
