{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if isLoading}}
  {{progress-spinner visible=true align="middle" size="large"}}
{{else}}
  <div class="row">
    <div class="col-md-6 author-task-cards">
      <h3>Author task cards</h3>
      {{#each authorColumn as |authorTask|}}
        <label>
          {{check-box task=authorTask action="updateList"}} {{authorTask.title}}
        </label>
        <br>
      {{/each}}
    </div>
    <div class="col-md-6 staff-task-cards">
      <h3>Staff task cards</h3>
      {{#each staffColumn as |staffTask|}}
        <label>
          {{check-box task=staffTask action="updateList"}} {{staffTask.title}}
        </label>
        <br>
      {{/each}}
    </div>
  </div>

  <div class="overlay-action-buttons">
    <button class="button-primary button--green" {{action "throttledSave"}}>Add</button>
    <button class="button-link button--green cancel" {{action "close"}}>cancel</button>
  </div>
{{/if}}
