{{#if isLoading}}
  {{progress-spinner visible=true align="middle" size="large"}}
{{else}}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3>Author task cards</h3>
      {{#each authorTasks as |authorTask|}}
        <label>
          {{check-box task=authorTask action="updateList"}} {{authorTask.title}}
        </label>
        <br>
      {{/each}}
    </div>
    <div class="col-md-5">
      <h3>Staff task cards</h3>
      {{#each staffTasks as |staffTask|}}
        <label>
          {{check-box task=staffTask action="updateList"}} {{staffTask.title}}
        </label>
        <br>
      {{/each}}
    </div>
  </div>

  <div class="overlay-action-buttons">
    <button class="button-primary button--green" {{action "addTaskType"}}>Add</button>
    <button class="button-link button--green cancel" {{action "close"}}>cancel</button>
  </div>
{{/if}}
