<div class="journal-thumbnail-edit-form clearfix">

  <div class="journal-logo-upload">
    <div class="journal-thumbnail">
      {{#if logoPreview}}
        <span class="journal-logo-preview"></span>
      {{else}}
        {{#if journal.logoUrl}}
          <img {{bind-attr src=journal.logoUrl}}>
        {{else}}
          {{partial "svg/default-journal-logo"}}
        {{/if}}
      {{/if}}
    </div>
    {{partial "admin/journal/logo-upload"}}
    <span class="journal-logo-upload-note">(250px x 40px)</span>
    <div class="journal-logo-spinner">
      {{progress-loader visible=isUploading
                        white=true}}
    </div>
  </div>

  <div {{bind-attr class=":form-group :required validationErrors.name:error"}}>
    {{input type="text"
            value=journal.name
            class="form-control journal-name-edit"
            placeholder="Journal Title"}}
    {{error-message message=validationErrors.name}}
  </div>

  <div {{bind-attr class=":form-group :required validationErrors.description:error"}}>
    {{textarea value=journal.description
               class="form-group required journal-description-edit form-control"
               placeholder="Journal Description"}}
    {{error-message message=validationErrors.description}}
  </div>

  <div class="journal-edit-buttons">
    <a href="#" class="button-link knockout" {{action "resetJournalDetails"}}>Cancel</a>
    <a href="#" class="button-secondary button--blue knockout" {{action "saveJournalDetails"}}>Save</a>
  </div>

</div>
