<div class="add-author-form">

  <div class="form-group form-inline author-top">
    <div {{bind-attr class=":form-group :author-name validationErrors.firstName:error"}}>
      <span class="text-field-title">
        First Name
        {{error-message message=validationErrors.firstName}}
      </span>
      {{input type="text"
              value=newAuthor.firstName
              class="form-control tall-text-field"
              placeholder="Jane"
              id="first-name"}}
    </div>

    <div {{bind-attr class=":form-group :author-middle validationErrors.middleInitial:error"}}>
      <span class="text-field-title">
        MI
        {{error-message message=validationErrors.middleInitial}}
      </span>
      {{input type="text"
              value=newAuthor.middleInitial
              class="form-control tall-text-field"
              placeholder="M"
              id="mi"}}
    </div>

    <div {{bind-attr class=":form-group :author-name validationErrors.lastName:error"}}>
      <span class="text-field-title">
        Last Name
        {{error-message message=validationErrors.lastName}}
      </span>
      {{input type="text"
              value=newAuthor.lastName
              class="form-control tall-text-field"
              placeholder="Goodall"
              id="last-name"}}
    </div>

    <div {{bind-attr class=":form-group :author-half :author-bump validationErrors.email:error"}}>
      <span class="text-field-title">
        Email 
        {{error-message message=validationErrors.email}}
      </span>
      {{input type="text"
              value=newAuthor.email
              class="form-control tall-text-field"
              placeholder="jane.goodall@science.com"
              id="email"}}

    </div>
  </div>

  <div class="form-group form-inline">
    <div {{bind-attr class=":form-group :author-half validationErrors.title:error"}}>
      <span class="text-field-title">
        Title
        {{error-message message=validationErrors.title}}
      </span>
      {{input type="text"
              value=newAuthor.title
              class="form-control tall-text-field"
              placeholder="World's Foremost Expert on Chimpanzees"
              id="title"}}
    </div>

    <div {{bind-attr class=":form-group :author-half :author-bump validationErrors.department:error"}}>
      <span class="text-field-title">
        Department
        {{error-message message=validationErrors.department}}
      </span>
      {{input type="text"
              value=newAuthor.department
              class="form-control tall-text-field"
              placeholder="Primatology"
              id="department"}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div {{bind-attr class=":form-group :author-half validationErrors.affiliation:error"}}>
      {{error-message message=validationErrors.affiliation}}
      {{select-2-single value=newAuthor.affiliation
                        class="affiliation-field"
                        placeholder="Affiliation"
                        selectedData=selectedAffiliation
                        source=selectableInstitutions}}
    </div>

    <div {{bind-attr class=":form-group :author-half :author-bump validationErrors.secondaryAffiliation:error"}}>
      {{error-message message=validationErrors.secondaryAffiliation}}
      {{select-2-single value=newAuthor.secondaryAffiliation
                        class="secondary-affiliation-field"
                        placeholder="Secondary Affiliation (optional)"
                        selectedData=selectedSecondaryAffiliation
                        source=selectableInstitutions}}
    </div>
  </div>

  <div class="form-group">
    <label class="author-label">
      {{check-box checked=newAuthor.corresponding}}
      This is a corresponding author
    </label>
    <label class="author-label">
      {{check-box checked=newAuthor.deceased}}
      This person is deceased
    </label>
  </div>

  <div class="form-group author-contributions">
    <h4>Author Contributions</h4>
    {{error-message message=validationErrors.contributions}}
    {{#each contribution in authorContributionOptions}}
      {{author-contribution-checkbox name=contribution
                                     currentContributions=newAuthor.contributions
                                     checked="addContribution"
                                     unchecked="removeContribution"}}
    {{/each}}
    {{author-contribution-other-checkbox availableContributions=authorContributionOptions
                                         currentContributions=newAuthor.contributions
                                         changed="resolveContributions"}}

    <span class="pull-right author-form-buttons">
      <a class="button-link button--green author-cancel" {{action "cancelEdit" bubbles=false}}>cancel</a>
      <button class="button-secondary button--green knockout" {{action "saveNewAuthor"}}>done</button>
    </span>
  </div>
</div>
