<div class="add-author-form">

  <div class="form-group form-inline author-top">
    <div class="form-group author-name {{if validationErrors.firstName "error"}}">
      <span class="text-field-title required">
        First Name
        {{error-message message=validationErrors.firstName}}
      </span>
      {{input type="text"
              value=newAuthor.firstName
              class="author-first form-control tall-text-field"
              placeholder="Jane"}}
    </div>

    <div class="form-group author-middle {{if validationErrors.middleInitial "error"}}">
      <span class="text-field-title">
        MI
        {{error-message message=validationErrors.middleInitial}}
      </span>
      {{input type="text"
              value=newAuthor.middleInitial
              class="author-middle form-control tall-text-field"
              placeholder="M"}}
    </div>

    <div class="form-group author-name {{if validationErrors.lastName "error"}}">
      <span class="text-field-title required">
        Last Name
        {{error-message message=validationErrors.lastName}}
      </span>
      {{input type="text"
              value=newAuthor.lastName
              class="author-last form-control tall-text-field"
              placeholder="Goodall"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.email "error"}}">
      <span class="text-field-title required">
        Email
        {{error-message message=validationErrors.email}}
      </span>
      {{input type="text"
              value=newAuthor.email
              class="author-email form-control tall-text-field"
              placeholder="jane.goodall@science.com"}}

    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.title "error"}}">
      <span class="text-field-title required">
        Title
        {{error-message message=validationErrors.title}}
      </span>
      {{input type="text"
              value=newAuthor.title
              class="author-title form-control tall-text-field"
              placeholder="World's Foremost Expert on Chimpanzees"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.department "error"}}">
      <span class="text-field-title required">
        Department
        {{error-message message=validationErrors.department}}
      </span>
      {{input type="text"
              value=newAuthor.department
              class="author-department form-control tall-text-field"
              placeholder="Primatology"}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.affiliation "error"}}">
      {{error-message message=validationErrors.affiliation}}
      {{institution-search
        value=affiliation
        institutionSelected="institutionSelected"
        placeholder="Institution"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.secondaryAffiliation "error"}}">
      {{error-message message=validationErrors.secondaryAffiliation}}
      {{institution-search
        value=secondaryAffiliation
        institutionSelected="secondaryInstitutionSelected"
        placeholder="Secondary Institution"}}
    </div>
  </div>

  <div class="form-group">
    <label class="author-label">
      {{check-box checked=model.deceased class="author-deceased"}}
      {{#nested-question ident="corresponding"
                         inQuestions=nestedQuestions
                         as |question|}}
            {{check-box checked=question.value class="author-corresponding"}} {{question.text}}
      {{/nested-question}}
    </label>


    <label class="author-label">
      {{#nested-question ident="deceased"
                         inQuestions=nestedQuestions
                         as |question|}}
            {{check-box checked=question.value class="author-deceased"}} {{question.text}}
      {{/nested-question}}
    </label>
  </div>

  <div class="form-group author-contributions form-inline">
    <h4 class="required">Author Contributions</h4>

    {{error-message message=validationErrors.contributions}}
    {{#each-nested-question in="contributions" inQuestions=nestedQuestions exclude="contributed_other" as |question|}}
      {{author-contribution-checkbox name=question.text
                                     value=question.id
                                     currentContributions=newAuthor.contributions
                                     checked="addContribution"
                                     unchecked="removeContribution"}}
    {{/each-nested-question}}

    {{#nested-question ident="contributions.contributed_other"
                       inQuestions=nestedQuestions
                       as |question|}}
      <label class="author-label">
        {{check-box value=question.id checked=isSelected action="otherCheckboxChanged" class="author-contribution-other"}}
        Other
      </label>

      {{#if otherInfo}}
        {{input class="form-control"
                placeholder="Please specify"
                value=question.value  
                changed="otherTextUpdated"
                focus-out="otherTextUpdated"}}
      {{/if}}
    {{/nested-question}}

    <span class="pull-right author-form-buttons">
      <a class="button-link button--green author-cancel" {{action "cancelEdit" bubbles=false}}>cancel</a>
      <button class="button-secondary button--green knockout" {{action "saveNewAuthor"}}>done</button>
    </span>
  </div>
</div>
