{{#if generalCase}}
  {{#if raw}}
    <div class="snapshot-text">
      {{text-diff viewingText=snapshot1.value viewingText=snapshot2.value}}
    </div>
  {{/if}}

  {{#if boolean}}
    <div class="snapshot-text">
      <label><input type="radio" value="true" disabled>
        {{boolean-diff viewingBool=snapshot1.value comparisonBool=snapshot2.value}}
      </label>
    </div>
  {{/if}}

  {{#if question}}
    <li class="snapshot-question">
      <div class="snapshot-question-question">
        {{text-diff viewingText=snapshot1.value.title comparisonText=snapshot2.value.title}}
      </div>

      {{#if booleanQuestion}}
        <div class="snapshot-question-answer">
          <span class="snapshot-question-label">Response: </span>
          {{boolean-diff viewingBool=snapshot1.value.answer comparisonBool=snapshot2.value.answer}}
        </div>
      {{else}}
        <div class="snapshot-question-answer">
            {{text-diff viewingText=snapshot1.value.answer comparisonText=snapshot2.value.answer}}
        </div>
      {{/if}}

      {{#each snapshot1.value.attachments as |attachment| }}
        {{#if attachment}}
          {{attachment-snapshot snapshot=attachment}}
        {{/if}}
      {{/each}}
      {{#each snapshot2.value.attachments as |attachment| }}
        {{#if attachment}}
          {{attachment-snapshot snapshot=attachment}}
        {{/if}}
      {{/each}}
    </li>
  {{/if}}

  {{#if snapshot1.children}}
    <ol class="snapshot-children">
      {{#each children as |child|}}
        {{nested-snapshot snapshot1=child.[0] snapshot2=child.[1]}}
      {{/each}}
    </ol>
  {{/if}}

{{else}}

  {{#if figure}}
    {{figure-task-snapshot snapshot1=snapshot1 snapshot2=snapshot2}}
  {{/if}}

  {{#if authorsTask}}
    {{author-task-snapshot snapshot1=snapshot1 snapshot2=snapshot2}}
  {{/if}}

  {{#if supportingInfo}}
    {{supporting-information-task-snapshot snapshot1=snapshot1 snapshot2=snapshot2}}
  {{/if}}

  {{#if funder}}
    {{funder-snapshot snapshot=snapshot1}}
  {{/if}}

{{/if}}
