{{#if readOnly}}
  {{#if shouldDisplayQuestionText}}
    <div class="question-text {{textClassNames}}">{{{questionText}}}</div>
  {{/if}}

  {{#if answer.value}}
    <div class="answer-text">{{humanize answer.value}}</div>
  {{else}}
    <div class="answer-text no-answer">{{noResponseText}}</div>
  {{/if}}

{{else}}
  {{#if shouldDisplayQuestionText}}
    <div class="question-text {{textClassNames}}">{{{questionText}}}</div>
  {{/if}}

  {{#if helpText}}
    <ul class="question-help">{{{helpText}}}</ul>
  {{/if}}

  {{#if unwrappedHelpText}}
    {{{unwrappedHelpText}}}
  {{/if}}

  <div class="flex-group {{wrapperClass}}">
    <label class="flex-element {{concat ident "-accept-label"}}">
      {{radio-button value="accept"
                     name=namePrefix
                     class=(concat ident "-accept")
                     selection=answer.value
                     action=(action "setAnswer")}}
      Accept
    </label>

    <label class="flex-element {{concat ident "-reject-label"}}">
      {{radio-button value="reject"
                     name=namePrefix
                     class=(concat ident "-reject")
                     selection=answer.value
                     action=(action "setAnswer")}}
      Reject
    </label>

    <label class="flex-element {{concat ident "-major-revision-label"}}">
      {{radio-button value="major_revision"
                     name=namePrefix
                     class=(concat ident "-major-revision")
                     selection=answer.value
                     action=(action "setAnswer")}}
      Major Revision
    </label>

    <label class="flex-element {{concat ident "-minor-revision-label"}}">
      {{radio-button value="minor_revision"
                     name=namePrefix
                     class=(concat ident "-minor-revision")
                     selection=answer.value
                     action=(action "setAnswer")}}
      Minor Revision
    </label>
  </div>
{{/if}}
