{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if shouldDisplayQuestionText}}
  <div class="question-text {{textClassNames}}">{{{questionText}}}</div>
{{/if}}

{{#if helpText}}
  <ul class="question-help">{{{helpText}}}</ul>
{{/if}}

{{#if unwrappedHelpText}}
  {{{unwrappedHelpText}}}
{{/if}}

{{#if readOnly}}
  {{#if answer.value}}
    <div class="answer-text">{{humanize answer.value}}</div>
  {{else}}
    <div class="answer-text no-answer">{{noResponseText}}</div>
  {{/if}}

{{else}}
  <div class="flex-group {{wrapperClass}}">
    <label class="flex-element {{concat ident "-accept-label"}}">
      {{radio-button value="accept"
                     name=namePrefix
                     class=(concat ident "-accept")
                     selection=answer.value
                     action=(action "setAnswer")}}
      Accept
    </label>

    <label class="flex-element {{concat ident "-reject-label"}}">
      {{radio-button value="reject"
                     name=namePrefix
                     class=(concat ident "-reject")
                     selection=answer.value
                     action=(action "setAnswer")}}
      Reject
    </label>

    <label class="flex-element {{concat ident "-major-revision-label"}}">
      {{radio-button value="major_revision"
                     name=namePrefix
                     class=(concat ident "-major-revision")
                     selection=answer.value
                     action=(action "setAnswer")}}
      Major Revision
    </label>

    <label class="flex-element {{concat ident "-minor-revision-label"}}">
      {{radio-button value="minor_revision"
                     name=namePrefix
                     class=(concat ident "-minor-revision")
                     selection=answer.value
                     action=(action "setAnswer")}}
      Minor Revision
    </label>
  </div>
{{/if}}
