{{#if showDescription}}
  <p class="description">
    {{#unless disabled}}
      {{{description}}}
    {{/unless}}
  </p>
{{/if}}

{{#each attachments as |attachment|}}
  {{attachment-item accept=accept
                    attachment=attachment
                    disabled=disabled
                    filePath=filePath
                    hasCaption=hasCaption
                    caption=attachment.caption
                    captionChanged=attrs.captionChanged
                    deleteFile=attrs.deleteFile
                    noteChanged=attrs.noteChanged
                    uploadFinished=attrs.updateAttachment}}
{{/each}}

{{#if uploadInProgress}}
  {{#each fileUploads as |f|}}
    {{upload-preview upload=f}}
  {{/each}}
{{else}}

  {{#if showAddButton}}
    <div class="button-secondary button--green fileinput-button {{if disabled "button--disabled"}}">
      {{buttonText}}
      {{s3-file-uploader class="add-new-attachment"
                         accept=accept
                         filePath=filePath
                         multiple=multiple
                         disabled=disabled
                         uploadProgress=(action "uploadProgress")
                         uploadFinished=(action "uploadFinished")
                         uploadFailed=(action "uploadFailed")
                         fileAdded=(action "fileAdded")}}
    </div>
  {{/if}}
{{/if}}
