<p class="description">
  {{{description}}}
</p>

{{#if uploadInProgress}}
  {{upload-preview upload=fileUpload}}
{{else}}

  {{#if hasFile}}
    <a href="#" class="file-link">
      <i class="fa fa-file-word-o"></i> {{fileName}}
    </a>

    <span {{action "triggerFileSelection"}} class="file-action">
      <i class="fa fa-refresh"></i>
      Replace
    </span>

    <span {{action "deleteFile"}} class="file-action">
      <i class="fa fa-trash"></i>
      Delete
    </span>

  {{else}}
    <div class="button-secondary button--green" {{action "triggerFileSelection"}}>
      {{buttonText}}
    </div>
  {{/if}}

  {{s3-file-uploader accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps"
                     filePath="paper/figures"
                     class="s3-file-uploader"
                     uploadProgress=(action "uploadProgress")
                     uploadFinished=(action "uploadFinished")
                     uploadFailed=(action "uploadFailed")
                     fileAdded=(action "fileAdded")}}
{{/if}}
