{{#if showDescription}}
  <p class="description">
    {{#unless (and disabled (not preview))}}
      {{{description}}}
    {{/unless}}
  </p>
{{/if}}

{{#each attachments as |attachment|}}
  {{attachment-item accept=accept
                    attachment=attachment
                    disabled=disabled
                    filePath=filePath
                    hasCaption=hasCaption
                    caption=attachment.caption
                    captionChanged=attrs.captionChanged
                    cancelUpload=attrs.cancelUpload
                    deleteFile=attrs.deleteFile
                    noteChanged=attrs.noteChanged
                    uploadFinished=attrs.updateAttachment}}
{{/each}}

{{#each fileUploads as |f|}}
  {{upload-preview upload=f}}
{{/each}}

<div>
  {{error-message message=uploadErrorMessage displayIcon=true}}
</div>

{{#if showAddButton}}
  <div class="button-secondary button--green fileinput-button {{if disableAddButton "button--disabled"}}">
    {{buttonText}}
    <div class="{{if uploadInProgress "hidden"}}">
      {{file-uploader class="add-new-attachment"
                         accept=accept
                         filePrefix=filePath
                         multiple=multiple
                         disabled=disableAddButton
                         addingFileFailed=(action "uploadError")
                         progress=(action "uploadProgress")
                         done=(action "uploadFinished")
                         start=(action "fileAdded")}}
    </div>
  </div>
{{/if}}
