<p class="description">
  {{{description}}}
</p>

{{#if uploadInProgress}}
  {{upload-preview upload=fileUpload}}
{{else}}

  {{#if hasFile}}
    <a href="#" class="file-link">
      <i class="fa fa-file-word-o"></i> {{fileName}}
    </a>

    <span {{action "replace"}} class="file-action">
      <i class="fa fa-refresh"></i>
      Replace
    </span>

    <span {{action "delete"}} class="file-action">
      <i class="fa fa-trash"></i>
      Delete
    </span>

  {{else}}

    <div class="button-secondary button--green fileinput-button">
      {{buttonText}}
      {{s3-file-uploader accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps"
                         filePath="paper/figures"
                         uploadProgress=(action "uploadProgress")
                         uploadFinished=(action "uploadFinished")
                         uploadFailed=(action "uploadFailed")
                         fileAdded=(action "fileAdded")}}
    </div>
  {{/if}}
{{/if}}
