{{#each authors as |author index|}}
  <div class="snapshot-text wrap">
    <b>Name:</b> {{author.viewing.displayPosition}}. {{text-diff viewingText=author.viewing.name comparisonText=author.comparing.name}}<br />
    <b>Type:</b> {{text-diff viewingText=author.viewing.type comparisonText=author.comparing.type}}<br />
    <b>Email:</b> {{text-diff viewingText=author.viewing.email comparisonText=author.comparing.email}}<br />
    <b>Title:</b> {{text-diff viewingText=author.viewing.title comparisonText=author.comparing.title}}<br />
    <b>Department:</b> {{text-diff viewingText=author.viewing.department comparisonText=author.comparing.department}}<br />
    <b>Affiliation:</b> {{text-diff viewingText=author.viewing.affiliation comparisonText=author.comparing.affiliation}}<br />
    <b>Secondary Affiliation:</b> {{text-diff viewingText=author.viewing.secondaryAffiliation comparisonText=author.comparing.secondaryAffiliation}}<br />
    <b>Contributions:</b> {{text-diff viewingText=author.viewing.contributions comparisonText=author.comparing.contributions}}<br />
    {{text-diff viewingText=author.viewing.corresponding comparisonText=author.comparing.corresponding}}<br />
    {{text-diff viewingText=author.viewing.deceased comparisonText=author.comparing.deceased}}<br />
    {{text-diff viewingText=author.viewing.government comparisonText=author.comparing.government}}<br />
  </div>
  <br />
{{/each}}

