<header class="overlay-title-text animation-fade-in">
  <h1 class="feedback-overlay-thanks">Recent Activity</h1>
</header>

{{progress-spinner visible=isLoading
                   align="middle"
                   size="large"}}

<table>
  {{#each model as |feed|}}
    <tr>
      <td class="activity-feed-overlay-message">{{unbound feed.message}}</td>
      <td class="activity-feed-overlay-user">
        <img src={{unbound feed.userAvatarUrl}} class="user-thumbnail">
        {{unbound feed.userFullName}}
      </td>
      <td class="activity-feed-overlay-timestamp" id="timestamp">{{format-date feed.createdAt}}</td>
    </tr>
  {{/each}}
</table>
