<div class="overlay-container full">
  <header class="overlay-title-text animation-fade-in">
    <h1 class="feedback-overlay-thanks">Recent Activity</h1>
  </header>

  {{progress-spinner visible=isLoading
                     size="large"}}

  <table>
    {{#each feed in model}}
      <tr>
        <td class="activity-overlay-message">{{unbound feed.message}}</td>
        <td class="activity-overlay-user">
          <img src={{unbound feed.actorAvatarUrl}} class="user-thumbnail">
          {{unbound feed.actorFullName}}
        </td>
        <td class="activity-overlay-timestamp" id="timestamp">{{unbound feed.createdAt}}</td>
      </tr>
    {{/each}}
  </table>
</div>
