{{inline-edit-h1 title=title setTitle="setTitle" editOnOpen=isNewTask}}

<div class="task-body">
  {{#each upload in uploads}}
    {{upload-preview upload=upload}}
  {{/each}}

  {{#each block in blocks}}
    {{#inline-edit-body-part
      block=block
      cancel="resetBlock"
      save="saveBlock"
      delete="deleteBlock"
      model=model
      addItem="addCheckboxItem"}}
      {{#each item in block}}
        {{view 'inline-edit'
          item=item
          allUsers=allUsers
          overlayParticipants=participants
          emailSentStates=emailSentStates
          isNew=false}}
      {{/each}}
    {{/inline-edit-body-part}}
  {{/each}}

  {{#each block in newBlocks}}
    {{#inline-edit-body-part
      block=block
      editing=true
      cancel="resetBlock"
      save="saveBlock"
      delete="deleteBlock"
      model=model
      addItem="addCheckboxItem"}}
      {{#each item in block}}
        {{view 'inline-edit'
          item=item
          allUsers=allUsers
          overlayParticipants=participants
          emailSentStates=emailSentStates
          isNew=true}}
      {{/each}}
    {{/inline-edit-body-part}}
  {{/each}}

  {{#each attachment in model.attachments}}
    {{attachment-thumbnail attachment=attachment
                           destroyAttachment="destroyAttachment"}}
  {{/each}}
</div>

{{#ad-hoc-content-toolbar}}
  <div class="button-secondary button--green adhoc-toolbar-item--list" {{action "addChecklist"}}>
    <span class="glyphicon glyphicon-th-list"></span>
  </div>

  <div class="button-secondary button--green adhoc-toolbar-item--text" {{action "addTextBlock"}}>
    <span class="glyphicon glyphicon-text-width"></span>
  </div>

  <div class="button-secondary button--green adhoc-toolbar-item--email" {{action "addEmail"}}>
    <span class="glyphicon glyphicon-envelope"></span>
  </div>

  <div class="button-secondary button--green adhoc-toolbar-item--image fileinput-button">
    <span class="glyphicon glyphicon-paperclip"></span>
    {{file-uploader id="file_attachment"
                    filePrefix="ad-hoc"
                    url=imageUploadUrl
                    accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps,.docx,.odt,.epub,.pdf"
                    start="uploadStarted"
                    done="uploadFinished"
                    cancel="cancelUploads"
                    progress="uploadProgress"}}
  </div>
{{/ad-hoc-content-toolbar}}
