<div class="overlay-container">
  <h1>Add New Column</h1>

  {{progress-spinner visible=isLoading}}

  {{#each group in groupedFlows}}
    {{#if group.logo}}
      <img src={{unbound group.logo}} style="display:block; margin-bottom: 15px;">
    {{else}}
      <h2>{{group.title}}</h2>
    {{/if}}

    {{#each flow in group.flows}}
      <div class="button-secondary button--green flow-manager-button" {{action "createFlow" flow}}>{{flow.title}}</div>
    {{/each}}

    <br><br>
  {{/each}}
</div>
