{{#if feedbackSubmitted}}
  <div class="overlay-title-text animation-fade-in">
    <h1 class="feedback-overlay-thanks">We<span class="apostrophe">&apos;</span>ve got it. Thank you.</h1>
  </div>
{{else}}
  <div class="overlay-title-text">
    <h1>Please let us know your thoughts</h1>
  </div>
  <div class="feedback-overlay-content">
    {{textarea class="form-control feedback-overlay-remarks"
               name="remarks"
               value=model.remarks
               placeholder="Write your message"
               autofocus="autofocus"}}
    <div class="call-to-action">
      <div class="button-secondary button--green feeback-overlay-screenshot-uploader fileinput-button">
        Attach Files
        {{file-uploader accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.pdf,.docx,.pages"
                        start="uploadStarted"
                        done="uploadFinished"
                        multiple="true"
                        filePrefix="feedback_attachment"}}
      </div>

      <div class="overlay-footer-content feedback-overlay-footer-content">
        <div class="overlay-action-buttons">
          <button class="button-link button--green" {{action "closeAction"}}>cancel</button>
          <button class="button-primary button--green" {{action "submit"}}>Send Feedback</button>
        </div>
      </div>
      <ul class="feedback-overlay-screenshots">
        {{#each model.screenshots as |screenshot|}}
          <li class="animation-fade-in">
            <span class="fa fa-trash feedback-overlay-remove-screenshot" {{action "removeScreenshot" screenshot}}></span>
            <a target="_blank" href="{{unbound screenshot.url}}">{{unbound screenshot.filename}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
