<div class="overlay-container feedback">
  {{#if feedbackSubmitted}}
    <header class="overlay-header animation-fade-in">
      <h1 class="overlay-header-title feedback-overlay-thanks">We've got it. Thank you.</h1>
    </header>
  {{else}}
    <header class="overlay-header">
      <h1 class="overlay-header-title">Please let us know your thoughts:</h1>
    </header>

    {{progress-spinner visible=isUploading}}
    {{textarea class="form-control feedback-overlay-remarks " name="remarks" value=model.remarks autofocus="autofocus"}}

    <ul class="feedback-overlay-screenshots">
      {{#each screenshot in model.screenshots}}
        <li class="animation-fade-in">
          <span class="glyphicon glyphicon-trash feedback-overlay-remove-screenshot" {{action "removeScreenshot" screenshot}}></span>
          <a target="_blank" href="{{unbound screenshot.url}}">{{unbound screenshot.filename}}</a>
        </li>
      {{/each}}
    </ul>
    <div class="button-secondary button--green feeback-overlay-screenshot-uploader fileinput-button">
      Attach Files
      {{file-uploader accept=".jpg,.jpeg,.tiff,.tif,.gif,.png"
                      start="uploadStarted"
                      done="uploadFinished"
                      multiple="true"
                      filePrefix="feedback_attachment"}}
    </div>

    <footer class="overlay-footer">
      <div class="overlay-footer-content feedback-overlay-footer-content">
        <div class="overlay-action-buttons">
          <button class="button-link button--green" {{action "closeOverlay"}}>cancel</button>
          <button class="button-primary button--green" {{action "submit"}}>Send Feedback</button>
        </div>
      </div>
    </footer>
  {{/if}}
</div>
