<div class="overlay-title-text">
  <h1>Create a New Submission</h1>
</div>

{{flash-messages}}
<div class="inner-content">

  <div class="form-group">
    <label class="paper-new-label" for="paper-short-title">
      Give your paper a short title:
    </label>
    {{input type="text"
            value=model.shortTitle
            class="paper-new-input"
            placeholder="Crystalized Magnificence in the Modern World"
            id="paper-short-title"}}

    <span class="paper-new-char-count">{{shortTitleCount}}</span>
    {{#if shortTitleCount}}
      <span class="paper-new-valid-icon"><i class="fa fa-check"></i></span>
    {{/if}}
  </div>

  <div class="form-group">
    <label class="paper-new-label">
      What journal are you submitting to?
    </label>

    {{#select-box items=journals
                  selectedItem=model.journal
                  placeholder="Please select a journal"
                  allowDeselect=true
                  makeSelection=(action "selectJournal")
                  clearSelection=(action "clearJournal")
                  as |journal|}}
      {{journal.name}}
    {{/select-box}}

    {{#if model.journal}}
      <span class="paper-new-valid-icon animation-fade-in"><i class="fa fa-check"></i></span>
    {{/if}}
  </div>

  <div class="form-group">
    <label class="paper-new-label">
      Choose the type of paper you're submitting.
    </label>

    {{#select-box items=model.journal.paperTypes
                  selectedItem=model.paperType
                  placeholder="Please select a paper type"
                  allowDeselect=true
                  disabled=journalEmpty
                  makeSelection=(action "selectPaperType")
                  clearSelection=(action "clearPaperType")
                  as |paperType|}}
      {{paperType}}
    {{/select-box}}

    {{#if model.paperType}}
      <span class="paper-new-valid-icon animation-fade-in"><i class="fa fa-check"></i></span>
    {{/if}}
  </div>

  <div class="overlay-action-buttons">
    {{file-uploader id="upload-files"
                    class="button-secondary button--green"
                    railsMethod="PUT"
                    accept=".docx"
                    uploadImmediately=false
                    uploadReady="uploadReady"
                    start="uploadStarted"
                    progress="uploadProgress"
                    done="uploadFinished"
                    error="uploadError"
                    filePrefix="paper/manuscript"
                    url=manuscriptUploadUrl}}

    <button type="submit" class="button-secondary button--green" {{action "createNewPaper"}}>
      <i class="fa fa-pencil"></i> Create Document
    </button>
  </div>

</div>
