<div class="overlay-container full">
  <div class="overlay-title-text">
    <h1>Create a New Submission</h1>
  </div>

  {{flash-messages}}
  <div class="inner-content">
    <div class="form-group">
    <span class="text-field-title">Short Title</span>
      {{input type="text" value=shortTitle class="form-control tall-text-field" placeholder="Crystalized Magnificence in the Modern World" id="paper-short-title"}}
    </div>

    <div class="form-group chosen-style-override">
      {{view "chosen" content=journals
               name="journal"
               prompt="Choose Journal"
               value=journal
               optionValuePath="content"
               optionLabelPath="content.name"
               class="paper-new-journal-select"}}

      {{view "chosen" contentBinding="journal.paperTypes"
               name="paper_type"
               prompt="Choose Paper Type"
               valueBinding="paperType"
               optionValuePath="content"
               optionLabelPath="content"
               disabled=noJournalSelected
               class="paper-new-paper-type-select"}}
    </div>

    <div class="overlay-action-buttons">
      <span class="button-link button--green" {{action "closeAction"}}>cancel</span>
      <button type="submit" class="button-primary button--green" {{action "createNewPaper"}}>Create</button>
    </div>
  </div>
</div>
