<div class="overlay-title-text">
  <h1>Create a New Submission</h1>
</div>

{{flash-messages}}
<div class="inner-content">

  <div class="form-group">
    <label class="paper-new-label" for="paper-short-title">
      Give your paper a short title
    </label>
    {{input type="text"
            value=model.shortTitle
            class="paper-new-input"
            placeholder="Crystalized Magnificence in the Modern World"
            id="paper-short-title"}}

    <span class="paper-new-char-count">{{shortTitleCount}}</span>
    {{#if shortTitleCount}}
      <span class="paper-new-valid-icon animation-fade-in"><i class="fa fa-check"></i></span>
    {{/if}}
  </div>

  <div class="form-group">
    <label class="paper-new-label">
      What journal are you submitting to?
    </label>

    {{#select-box items=journals
                  selectedItem=model.journal
                  class="paper-new-journal-select"
                  placeholder="Please select a journal"
                  class="paper-new-journal-select"
                  allowDeselect=true
                  makeSelection=(action "selectJournal")
                  clearSelection=(action "clearJournal")
                  as |journal|}}
      {{journal.name}}
    {{/select-box}}

    {{#if model.journal}}
      <span class="paper-new-valid-icon animation-fade-in"><i class="fa fa-check"></i></span>
    {{/if}}
  </div>

  <div class="form-group">
    <label class="paper-new-label">
      Choose the type of paper you're submitting
    </label>

    {{#select-box items=model.journal.paperTypes
                  selectedItem=model.paperType
                  class="paper-new-paper-type-select"
                  placeholder="Please select a paper type"
                  class="paper-new-paper-type-select"
                  allowDeselect=true
                  disabled=journalEmpty
                  makeSelection=(action "selectPaperType")
                  clearSelection=(action "clearPaperType")
                  as |paperType|}}
      {{paperType}}
    {{/select-box}}

    {{#if model.paperType}}
      <span class="paper-new-valid-icon animation-fade-in"><i class="fa fa-check"></i></span>
    {{/if}}
  </div>
  <div class="paper-new-submit-actions">
    <span class="button-secondary button--green fileinput-button {{if paperSaving "button--disabled"}}">
      <i class="fa fa-upload"></i> Upload Document
      {{file-uploader id="upload-files"
                      railsMethod="PUT"
                      accept=".docx"
                      uploadImmediately=false
                      uploadReady="uploadReady"
                      start="uploadStarted"
                      progress="uploadProgress"
                      done="uploadFinished"
                      error="uploadError"
                      filePrefix="paper/manuscript"
                      disabled=paperSaving
                      url=manuscriptUploadUrl}}
    </span>
    <button type="submit"
            class="button-secondary button--green paper-new-create-document-button {{if paperSaving "button--disabled"}}"
            {{action "createNewPaper"}}>
      <i class="fa fa-pencil"></i> Create Document
    </button>
    {{#if paperSaving}}
      <div class="paper-new-paper-saving animation-fade-in">
        {{progress-spinner visible=true size="medium"}}
        Creating new Submission&#8230;
      </div>
    {{/if}}
  </div>
</div>
