<div class="overlay-container full">
  <div class="overlay-title-text">
    <h1>Create a New Submission</h1>
  </div>

  {{flash-messages}}
  <div class="inner-content">
    <div class="form-group">
    <span class="text-field-title">Short Title</span>
      {{input type="text" value=model.shortTitle class="form-control tall-text-field" placeholder="Crystalized Magnificence in the Modern World" id="paper-short-title"}}
    </div>

    <div class="form-group chosen-style-override">
      {{select-2-single placeholder="Choose Journal"
                        class="paper-new-journal-select"
                        width="300"
                        selectionSelected="selectJournal"
                        source=journalProxies
                        selectedData=selectedJournal }}

      {{select-2-single placeholder="Choose Paper Type"
                        class="paper-new-paper-type-select"
                        width="300"
                        disabled=noJournalSelected
                        selectionSelected="selectPaperType"
                        source=paperTypeProxies
                        selectedData=selectedPaperType }}
    </div>

    <div class="overlay-action-buttons">
      <span class="button-link button--green" {{action "closeAction"}}>cancel</span>
      <button type="submit" class="button-primary button--green" {{action "createNewPaper"}}>Create</button>
    </div>
  </div>
</div>
