<div class="overlay-title-text">
  <h1>Create a New Submission</h1>
</div>

{{flash-messages}}
<div class="inner-content">
  <div class="inset-form-control">
    <label class="inset-form-control-text">Short Title</label>
    {{input type="text"
            value=model.shortTitle
            class="inset-form-control-input"
            placeholder="Crystalized Magnificence in the Modern World" id="paper-short-title"}}
  </div>

  <div class="form-group">
    {{select-2-single placeholder="Choose Journal"
                      class="paper-new-journal-select"
                      width="300"
                      selectionSelected="selectJournal"
                      source=journalProxies
                      selectedData=selectedJournal}}

    {{select-2-single placeholder="Choose Paper Type"
                      class="paper-new-paper-type-select"
                      width="300"
                      selectionSelected="selectPaperType"
                      source=paperTypeProxies
                      selectedData=selectedPaperType}}
  </div>

  <div class="overlay-action-buttons">
    {{#if paperSaving}}
      <span class="paper-new-paper-saving animation-fade-in">
        Creating new submission&#8230;
        {{progress-spinner visible=true size="small"}}
      </span>
      <button type="submit" class="button-primary button--disabled">Create</button>
    {{else}}
      <span class="button-link button--green" {{action "closeAction"}}>cancel</span>
      <button type="submit" class="button-primary button--green" {{action "createNewPaper"}}>Create</button>
    {{/if}}
  </div>
</div>
