<div class="overlay-container full">
  <div class="overlay-title-text">
    <h1>Create a New Submission</h1>
  </div>

  {{flash-messages}}
  <div class="inner-content">
    <div class="inset-form-control form-group">
      <label class="inset-form-control-text">Short Title</label>
      {{input type="text" value=model.shortTitle class="inset-form-control-input" placeholder="Crystalized Magnificence in the Modern World" id="paper-short-title"}}
    </div>

    <div class="form-group chosen-style-override">
      {{view "chosen" content=journals
                      value=model.journal
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      name="journal"
                      prompt="Choose Journal"
                      class="paper-new-journal-select"}}

      {{view "chosen" content=model.journal.paperTypes
                      value=model.paperType
                      optionValuePath="content"
                      optionLabelPath="content"
                      name="paper_type"
                      prompt="Choose Paper Type"
                      disabled=noJournalSelected
                      class="paper-new-paper-type-select"}}
    </div>

    <div class="overlay-action-buttons">
      <span class="button-link button--green" {{action "closeAction"}}>cancel</span>
      <button type="submit" class="button-primary button--green" {{action "createNewPaper"}}>Create</button>
    </div>
  </div>
</div>
