<div class="overlay-title-text">
  <h1>Create a New Submission</h1>
</div>

{{flash-messages}}
<div class="inner-content">
  <div class="inset-form-control">
    <label class="inset-form-control-text">Short Title</label>
    {{input type="text"
            value=model.shortTitle
            class="inset-form-control-input"
            placeholder="Crystalized Magnificence in the Modern World" id="paper-short-title"}}
  </div>

  <div class="form-group">
    <label class="paper-new-label">
      What journal are you submitting to?
    </label>

    {{#select-box items=journals
                  selectedItem=model.journal
                  placeholder="Please select a journal"
                  allowDeselect=true
                  makeSelection=(action "selectJournal")
                  clearSelection=(action "clearJournal")
                  as |journal|}}
      {{journal.name}}
    {{/select-box}}
  </div>

  <div class="form-group">
    <label class="paper-new-label">
      Choose the type of paper you're submitting.
    </label>

    {{#select-box items=model.journal.paperTypes
                  selectedItem=model.paperType
                  placeholder="Please select a paper type"
                  allowDeselect=true
                  disabled=journalEmpty
                  makeSelection=(action "selectPaperType")
                  clearSelection=(action "clearPaperType")
                  as |paperType|}}
      {{paperType}}
    {{/select-box}}
  </div>

  <div class="overlay-action-buttons">
    {{#if paperSaving}}
      <span class="paper-new-paper-saving animation-fade-in">
        Creating new submission&#8230;
        {{progress-spinner visible=true size="small"}}
      </span>
      <button type="submit" class="button-primary button--disabled">Create</button>
    {{else}}
      <span class="button-link button--green" {{action "closeAction"}}>cancel</span>
      <button type="submit" class="button-primary button--green" {{action "createNewPaper"}}>Create</button>
    {{/if}}
  </div>
</div>
