<div id="versioned-metadata">
  <div class="versioned-metadata-version"><span class="grey">Viewing</span>
    <span class="versioned-metadata-version-string">
      Version {{ selectedVersion1Snapshot.versionString }}
      &mdash;
      {{format-date selectedVersion1Snapshot.createdAt format='MMM D, YYYY'}}
    </span>
    {{#if selectedVersion2Snapshot}}
    <span class="grey">comparing with</span>
    <span class="versioned-metadata-version-string">
      Version {{ selectedVersion2Snapshot.versionString }}
      &mdash;
      {{format-date selectedVersion2Snapshot.createdAt format='MMM D, YYYY'}}
    </span>
    {{/if}}
  </div>

  <h2>{{model.title}}</h2>

  {{nested-version-snapshot
    snapshot1=selectedVersion1Snapshot.contents
    snapshot2=selectedVersion2Snapshot.contents}}

</div>
