<div class="add-author-form">

  <div class="form-group form-inline author-top">
    <div class="form-group author-name {{if validationErrors.firstName "error"}}">
      <span class="text-field-title required">
        First Name
        {{error-message message=validationErrors.firstName}}
      </span>
      {{input type="text"
              value=newAuthor.firstName
              class="author-first form-control tall-text-field"
              placeholder="Jane"}}
    </div>

    <div class="form-group author-middle {{if validationErrors.middleInitial "error"}}">
      <span class="text-field-title">
        MI
        {{error-message message=validationErrors.middleInitial}}
      </span>
      {{input type="text"
              value=newAuthor.middleInitial
              class="author-middle form-control tall-text-field"
              placeholder="M"}}
    </div>

    <div class="form-group author-name {{if validationErrors.lastName "error"}}">
      <span class="text-field-title required">
        Last Name
        {{error-message message=validationErrors.lastName}}
      </span>
      {{input type="text"
              value=newAuthor.lastName
              class="author-last form-control tall-text-field"
              placeholder="Goodall"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.email "error"}}">
      <span class="text-field-title required">
        Email
        {{error-message message=validationErrors.email}}
      </span>
      {{input type="text"
              value=newAuthor.email
              class="author-email form-control tall-text-field"
              placeholder="jane.goodall@science.com"}}

    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.title "error"}}">
      <span class="text-field-title required">
        Title
        {{error-message message=validationErrors.title}}
      </span>
      {{input type="text"
              value=newAuthor.title
              class="author-title form-control tall-text-field"
              placeholder="World's Foremost Expert on Chimpanzees"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.department "error"}}">
      <span class="text-field-title required">
        Department
        {{error-message message=validationErrors.department}}
      </span>
      {{input type="text"
              value=newAuthor.department
              class="author-department form-control tall-text-field"
              placeholder="Primatology"}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.affiliation "error"}}">
      {{error-message message=validationErrors.affiliation}}
      {{institution-search
        value=affiliation
        institutionSelected="institutionSelected"
        placeholder="Institution"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.secondaryAffiliation "error"}}">
      {{error-message message=validationErrors.secondaryAffiliation}}
      {{institution-search
        value=secondaryAffiliation
        institutionSelected="secondaryInstitutionSelected"
        placeholder="Secondary Institution"}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.affiliation "error"}}">
      <label class="author-label">
        {{check-box checked=newAuthor.corresponding class="author-corresponding"}}
        This person will be listed as the corresponding author on the published article
      </label>
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.secondaryAffiliation "error"}}">
      <label class="author-label">
        {{check-box checked=newAuthor.deceased class="author-deceased"}}
        This person is deceased
      </label>
    </div>
  </div>

  <div class="form-group author-contributions form-inline">
    <h4 class="required">Author Contributions</h4>
    {{error-message message=validationErrors.contributions}}
    {{#each authorContributionOptions as |contribution|}}
      {{author-contribution-checkbox name=contribution
                                     currentContributions=newAuthor.contributions
                                     checked="addContribution"
                                     unchecked="removeContribution"}}
    {{/each}}
    {{author-contribution-other-checkbox availableContributions=authorContributionOptions
                                         currentContributions=newAuthor.contributions
                                         changed="resolveContributions"}}

    <span class="pull-right author-form-buttons">
      <a class="button-link button--green author-cancel" {{action "cancelEdit" bubbles=false}}>cancel</a>
      <button class="button-secondary button--green knockout" {{action "saveNewAuthor"}}>done</button>
    </span>
  </div>

  <div>
    <p>Something should be here.</p>
    {{#each nestedQuestions as |question|}}
      <p>{{question.text}}</p>
    {{/each}}
  </div>
</div>
