<div class="flex-form">
  <div class="flex-group flex-group--divider">
    <div class="flex-element inset-form-control required author-name {{if validationErrors.firstName "error"}}">
      <div class="inset-form-control-text">
        <label>First Name</label>
        {{error-message message=validationErrors.firstName
                        icon=true
                        text=false}}
      </div>
      {{input type="text"
              value=author.firstName
              class="author-first inset-form-control-input"
              focus-out=(action "validateField" "firstName")
              placeholder="Jane"}}
    </div>

    <div class="flex-element inset-form-control author-middle-initial {{if validationErrors.middleInitial "error"}}">
      <div class="inset-form-control-text">
        <label>MI</label>
        {{error-message message=validationErrors.middleInitial
                        icon=true
                        text=false}}
      </div>
      {{input type="text"
              value=author.middleInitial
              class="inset-form-control-input"
              placeholder="M"}}
    </div>

    <div class="flex-element inset-form-control required author-name {{if validationErrors.lastName "error"}}">
      <div class="inset-form-control-text">
        <label>Last Name</label>
        {{error-message message=validationErrors.lastName
                        icon=true
                        text=false}}
      </div>
      {{input type="text"
              value=author.lastName
              class="author-last inset-form-control-input"
              focus-out=(action "validateField" "lastName")
              placeholder="Goodall"}}
    </div>

    <div class="flex-element inset-form-control required {{if validationErrors.email "error"}}">
      <div class="inset-form-control-text">
        <label>Email</label>
        {{error-message message=validationErrors.email
                        icon=true
                        text=false}}
      </div>
      {{input type="text"
              value=author.email
              class="author-email inset-form-control-input"
              focus-out=(action "validateField" "email")
              placeholder="jane.goodall@science.com"}}

    </div>
  </div>

  <div class="flex-group">
    <div class="flex-element inset-form-control required {{if validationErrors.title "error"}}">
      <div class="inset-form-control-text">
        <label>Title</label>
        {{error-message message=validationErrors.title
                        icon=true
                        text=false}}
      </div>
      {{input type="text"
              value=author.title
              class="author-title inset-form-control-input"
              focus-out=(action "validateField" "title")
              placeholder="World's Foremost Expert on Chimpanzees"}}
    </div>

    <div class="flex-element inset-form-control required {{if validationErrors.department "error"}}">
      <div class="inset-form-control-text">
        <label>Department</label>
        {{error-message message=validationErrors.department
                        icon=true
                        text=false}}
      </div>
      {{input type="text"
              value=author.department
              class="author-department inset-form-control-input"
              focus-out=(action "validateField" "department")
              placeholder="Primatology"}}
    </div>
  </div>

  <div class="flex-group">
    <div class="flex-element author-affiliation {{if validationErrors.affiliation "error"}}">
      {{error-message message=validationErrors.affiliation}}
      {{institution-search value=affiliation
                           institutionSelected="institutionSelected"
                           placeholder="Institution"}}
    </div>

    <div class="flex-element author-affiliation {{if validationErrors.secondaryAffiliation "error"}}">
      {{error-message message=validationErrors.secondaryAffiliation}}
      {{institution-search value=secondaryAffiliation
                           institutionSelected="secondaryInstitutionSelected"
                           placeholder="Secondary Institution"}}
    </div>
  </div>

  <div>
    <div class="author-corresponding {{if validationErrors.affiliation "error"}}">
      {{#nested-question-check ident="author--published_as_corresponding_author"
                               owner=author
                               labelClassNames="author-label"
                               displayQuestionText=false
                               inputClassNames="author-corresponding" as |check|}}
        {{#if check.yieldingForText}}
          {{nested-question-display ident="author--published_as_corresponding_author" owner=author}}
        {{/if}}
      {{/nested-question-check}}
    </div>

    <div class="author-deceased {{if validationErrors.secondaryAffiliation "error"}}">
      {{#nested-question-check ident="author--deceased"
                               owner=author
                               labelClassNames="author-label"
                               displayQuestionText=false
                               inputClassNames="author-deceased" as |check|}}
        {{#if check.yieldingForText}}
          {{nested-question-display ident="author--deceased" owner=author}}
        {{/if}}
      {{/nested-question-check}}
    </div>
  </div>

  <div class="form-group author-contributions form-inline">
    <h4 class="required">Author Contributions</h4>
    {{error-message message=validationErrors.contributions
                    icon=true
                    text=true}}
    <div class="flex-group">
      {{#each authorContributionIdents as |contributionIdent|}}
        {{#nested-question-check ident=contributionIdent
                                 owner=author
                                 class="flex-element author-contribution"
                                 labelClassNames="author-label"
                                 displayQuestionText=false
                                 inputClassNames="author-contribution" as |check|}}
          {{#if check.yieldingForText}}
            {{nested-question-display ident=contributionIdent owner=author}}
          {{/if}}
        {{/nested-question-check}}
      {{/each}}
    </div>

    <label class="author-label">
      {{check-box checked=isOtherContributionSelected action="toggleOtherContribution" class="author-contribution-other"}}
      Other
    </label>
    {{#if isOtherContributionSelected}}
      {{nested-question-input ident="author--contributions--other"
                              owner=author
                              displayQuestionText=false
                              inputClassNames="form-control"
                              placeholder="Please specify"
                              class="author-label-other"
                              tagName="span"}}
    {{/if}}
  </div>

  <div class="author-form-buttons">
    {{#if validationErrors.save}}
      {{error-message message=validationErrors.save}}
    {{/if}}
    <a class="button-link button--green author-cancel" {{action "cancelEdit" bubbles=false}}>cancel</a>
    <button class="button-secondary button--green knockout" {{action "saveNewAuthor"}}>done</button>
  </div>
</div>
