<div class="flex-form">
  <fieldset>
    <legend class="flex-element">Individual Author</legend>

    <div class="flex-group">
      <div class="flex-element inset-form-control required author-name {{if validationErrors.firstName "error"}}">
        <div class="inset-form-control-text">
          <label>First Name</label>
          {{error-message message=validationErrors.firstName
                          displayIcon=true
                          displayText=false}}
        </div>
        {{input type="text"
                value=author.firstName
                class="author-first inset-form-control-input"
                disabled=isNotEditable
                focus-out=(action "validateField" "firstName")
                placeholder="Jane"}}
      </div>

      <div class="flex-element inset-form-control author-middle-initial {{if validationErrors.middleInitial "error"}}">
        <div class="inset-form-control-text">
          <label>Middle Name</label>
          {{error-message message=validationErrors.middleInitial
                          displayIcon=true
                          displayText=false}}
        </div>
        {{input type="text"
                value=author.middleInitial
                class="inset-form-control-input"
                disabled=isNotEditable
                placeholder="M"}}
      </div>

      <div class="flex-element inset-form-control required author-name {{if validationErrors.lastName "error"}}">
        <div class="inset-form-control-text">
          <label>Last Name</label>
          {{error-message message=validationErrors.lastName
                          displayIcon=true
                          displayText=false}}
        </div>
        {{input type="text"
                value=author.lastName
                class="author-last inset-form-control-input"
                disabled=isNotEditable
                focus-out=(action "validateField" "lastName")
                placeholder="Doe"}}
      </div>

      <div class="flex-element inset-form-control required author-initial {{if validationErrors.authorInitial "error"}}">
        <div class="inset-form-control-text">
          <label>Author Initial</label>
          {{error-message message=validationErrors.authorInitial
                          displayIcon=true
                          displayText=false}}
        </div>
        {{input type="text"
                value=author.authorInitial
                class="author-initial inset-form-control-input"
                disabled=isNotEditable
                focus-out=(action "validateField" "authorInitial")}}
      </div>
    </div>
    <div class="flex-group">
      <div class="flex-element inset-form-control">
        <div class="inset-form-control-text">
          <label>Title</label>
        </div>
        {{input type="text"
                value=author.title
                class="author-title inset-form-control-input"
                disabled=isNotEditable
                placeholder="Professor"}}
      </div>

      <div class="flex-element inset-form-control">
        <div class="inset-form-control-text">
          <label>Department</label>
        </div>
        {{input type="text"
                value=author.department
                class="author-department inset-form-control-input"
                disabled=isNotEditable
                placeholder="Biology"}}
      </div>

      <div class="flex-element inset-form-control required {{if validationErrors.email "error"}}">
        <div class="inset-form-control-text">
          <label>Email</label>
          {{error-message message=validationErrors.email
                          displayIcon=true
                          displayText=false}}
        </div>
        {{input type="text"
                value=author.email
                class="author-email inset-form-control-input"
                disabled=isNotEditable
                focus-out=(action "validateField" "email")
                placeholder="jane.doe@example.com"}}
      </div>
    </div>

    <div class="flex-group">
      <div class="flex-element author-affiliation required {{if validationErrors.affiliation "error"}}">
        {{error-message message=validationErrors.affiliation
                        displayIcon=true
                        displayText=true}}

        {{institution-search value=affiliation
                             institutionSelected="institutionSelected"
                             disabled=isNotEditable
                             validate=(action "validateField" "affiliation")
                             errors=validationErrors.affiliation
                             placeholder="* Institution"}}
      </div>

      <div class="flex-element author-affiliation {{if validationErrors.secondaryAffiliation "error"}}">
        {{error-message message=validationErrors.secondaryAffiliation}}

        {{institution-search value=secondaryAffiliation
                             institutionSelected="secondaryInstitutionSelected"
                             disabled=isNotEditable
                             placeholder="Secondary Institution"}}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="flex-element">Current Address</legend>

    <div class="flex-group">
      <div class="flex-element inset-form-control author-current-address-street">
        <div class="inset-form-control-text">
          <label>Address Line 1</label>
        </div>
        {{input type="text"
                value=author.currentAddressStreet
                class="author-current-address-street-input inset-form-control-input"
                disabled=isNotEditable}}
      </div>

      <div class="flex-element inset-form-control author-current-address-street2">
        <div class="inset-form-control-text">
          <label>Address Line 2</label>
        </div>
        {{input type="text"
                value=author.currentAddressStreet2
                class="author-current-address-street2-input inset-form-control-input"
                disabled=isNotEditable}}
      </div>

      <div class="flex-element inset-form-control author-current-address-city">
        <div class="inset-form-control-text">
          <label>City</label>
        </div>
        {{input type="text"
                value=author.currentAddressCity
                class="author-current-address-city-input inset-form-control-input"
                disabled=isNotEditable}}
      </div>
    </div>
    <div class="flex-group">
      <div class="flex-element inset-form-control author-current-address-state">
        <div class="inset-form-control-text">
          <label>State / Province / Region</label>
        </div>
        {{input type="text"
                value=author.currentAddressState
                class="author-current-address-state-input inset-form-control-input"
                disabled=isNotEditable}}
      </div>

      <div class="flex-element author-current-address-country">
        {{#if countries.loaded}}
          <label>Country</label><br>
          {{select-2-single selectedData=selectedCurrentAddressCountry
                            selectionSelected="currentAddressCountrySelected"
                            source=formattedCountries
                            value=author.currentAddressCountry
                            width="100%"
                            enable=(not isNotEditable)}}
        {{/if}}
        {{#if countries.loading}}
          {{progress-spinner visible=true size="mini"}}
          Loading countries
        {{/if}}
        {{#if countries.error}}
          <i class="fa fa-exclamation-triangle"></i>
          Error loading countries
        {{/if}}
      </div>

      <div class="flex-element inset-form-control author-current-address-postal">
        <div class="inset-form-control-text">
          <label>Zip/Postal Code</label>
        </div>
        {{input type="text"
                value=author.currentAddressPostal
                class="author-current-address-postal-input inset-form-control-input"
                disabled=isNotEditable}}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="author-corresponding {{if validationErrors.corresponding "error"}}">
      {{#nested-question-check ident="author--published_as_corresponding_author"
                               owner=author
                               displayQuestionText=false
                               disabled=isNotEditable
                               inputClassNames="author-corresponding" as |check|}}
        {{#if check.yieldingForText}}
          {{nested-question-display ident="author--published_as_corresponding_author" owner=author}}
        {{/if}}
      {{/nested-question-check}}
    </div>

    <div class="author-deceased {{if validationErrors.deceased "error"}}">
      {{#nested-question-check ident="author--deceased"
                               owner=author
                               displayQuestionText=false
                               disabled=isNotEditable
                               inputClassNames="author-deceased" as |check|}}
        {{#if check.yieldingForText}}
          {{nested-question-display ident="author--deceased" owner=author}}
        {{/if}}
      {{/nested-question-check}}
    </div>
  </fieldset>

  <fieldset class="author-contributions">
    <legend class="flex-element required">
      Author
      <a href="http://casrai.org/CRediT" target="_blank">Contributions</a>
      {{error-message message=validationErrors.contributions
                      displayIcon=true
                      displayText=true}}
    </legend>

    <div class="form-group form-inline">
      <div class="flex-group">
        {{#each authorContributionIdents as |contributionIdent|}}
          {{#nested-question-check ident=contributionIdent
                                   owner=author
                                   class="flex-element author-contribution"
                                   displayQuestionText=false
                                   disabled=isNotEditable
                                   inputClassNames="author-contribution" as |check|}}
            {{#if check.yieldingForText}}
              {{nested-question-display ident=contributionIdent owner=author}}
            {{/if}}
          {{/nested-question-check}}
        {{/each}}
      </div>
    </div>
  </fieldset>

  <div class="author-government">
    {{nested-question-radio ident="author--government-employee"
                            owner=author
                            helpText="Papers authored by one or more U.S. government employees are not copyrighted, but are licensed under a <a href='https://creativecommons.org/publicdomain/zero/1.0/' target='_blank'>CC0 Public Domain Dedication</a>, which allows unlimited distribution and reuse of the article for any lawful purpose. This is a legal requirement for U.S. government employees."
                            disabled=isNotEditable}}
    {{error-message message=validationErrors.government
                    displayIcon=true
                    displayText=true}}
  </div>


  <div class="author-form-buttons">
    {{#if validationErrors.save}}
      {{error-message message=validationErrors.save}}
    {{/if}}
    <a class="button-link button--green author-cancel" {{action "cancelEdit" bubbles=false}}>cancel</a>
    <button class="button-secondary button--green knockout" {{action "saveNewAuthor"}}>done</button>
  </div>
</div>
