{{#unless (or editState deleteState)}}
  <div class="author-task-item-view flex-group">
    {{#unless isNotEditable}}
      <div class="author-task-item-view-drag-handle flex-element"></div>

      {{!--
      <div class="author-task-item-view-checkbox flex-element">
        <input type="checkbox">
      </div>
      --}}
    {{/unless}}

    <div class="author-task-item-position flex-element">.</div>

    <div class="author-task-item-view-text flex-element flex-group" {{action "toggleEditForm"}}>
      <div class="author-name flex-element">{{author.fullName}}</div>
      <div class="author-email flex-element">{{author.email}}</div>
    </div>

    {{#unless isNotEditable}}
      <div class="author-task-item-view-actions flex-element">
        <span class="fa fa-trash scaleIn" {{action "toggleDeleteConfirmation"}}></span>
      </div>
    {{/unless}}
  </div>
{{/unless}}

{{#if editState}}
  {{add-author-form author=author
                    validationErrors=errors
                    validateField=(action "validateField")
                    hideAuthorForm="toggleEditForm"
                    isNotEditable=isNotEditable
                    saveAuthor="save"}}
{{/if}}

{{#if deleteState}}
  <div class="authors-overlay-item-delete">
    <p>This will permanently delete the author. Are you sure?</p>
    <button class="button-secondary button--green knockout" {{action "toggleDeleteConfirmation"}}>Cancel</button>
    <button class="button-secondary button--green knockout" {{action "deleteAuthor"}}>Delete Forever</button>
  </div>
{{/if}}
