{{#unless editState}}
  <div class="authors-overlay-item--text">
    <div class="author-name">{{author.fullName}}</div>
    {{author.email}}<br>
    {{author.title}} &nbsp; &nbsp; {{author.department}}
    <br>
    {{author.affiliation}} &nbsp; &nbsp; {{author.secondaryAffiliation}}
  </div>

  {{#if hoverState}}
    <div class="authors-overlay-item--actions">
      <div class="drag"></div>
      <div class="actions">
        <div class="action" {{action "toggleEditForm"}}>
          <span class="fa fa-pencil scaleIn"></span>
        </div>
        {{#unless fieldsDisabled}}
          <div class="action" {{action "toggleDeleteConfirmation"}}>
            <span class="fa fa-trash scaleIn"></span>
          </div>
        {{/unless}}
      </div>
    </div>
  {{/if}}
{{/unless}}

{{#if editState}}
  {{add-author-form author=author
                    validationErrors=errors
                    validateField=(action "validateField")
                    hideAuthorForm="toggleEditForm"
                    fieldsDisabled=fieldsDisabled
                    saveAuthor="save"}}
{{/if}}

{{#if deleteState}}
  <div class="authors-overlay-item--delete">
    <p>This will permanently delete the author. Are you sure?</p>
    <button class="button-secondary button--green knockout" {{action "toggleDeleteConfirmation"}}>Cancel</button>
    <button class="button-secondary button--green knockout" {{action "deleteAuthor"}}>Delete Forever</button>
  </div>
{{/if}}
