{{partial "task-completed-section"}}

<div class="task-main-content">
  <p>
    Our criteria for authorship are based on the
    <a href="http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html" target="_blank">'Uniform Requirements for Manuscripts Submitted to Biomedical Journals: Authorship and Contributorship'</a>.
    Individuals whose contributions fall short of authorship should instead be mentioned in the Acknowledgments.
    If the article has been submitted on behalf of a consortium, all author names and affiliations should be listed at the end of the article.
  </p>

  <p>Note: Ensure the authors are in the correct publication order.</p>

  <div>
    {{#each sortedAuthorsWithErrors as |authorWithErrors|}}
      {{author-view task=task
                    model=authorWithErrors
                    isEditable=isEditable
                    isNotEditable=isNotEditable
                    editing=(contains authorWithErrors.id expanded)
                    toggleExpanded=(action 'toggleExpanded' authorWithErrors)
                    delete="removeAuthor"}}

      {{author-drop-target index=authorWithErrors.position
                           isEditable=isEditable
                           changePosition=(action "changeAuthorPosition")}}
    {{/each}}

    {{#if isEditable}}
      {{error-message message=validationErrors.corresponding}}
    {{/if}}

    {{author-drop-target index=0
                         isEditable=isEditable
                         changePosition=(action "changeAuthorPosition")}}

    <div class="add-new-author-button-container">
      {{#basic-popover as |popover|}}
        {{#popover.trigger}}
          <button id="add-new-author-button"
                  class="button-primary button--green {{if isSubmissionTaskNotEditable 'button--disabled'}}"
                  disabled={{isSubmissionTaskNotEditable}}>
            Add a New Author &nbsp; {{fa-icon icon="caret-down"}}
          </button>
        {{/popover.trigger}}
        {{#popover.content}}
          <div class="popover-menu-content" id="add-new-author-dropdown">
            <a class="popover-menu-item" id="add-new-individual-author-link" {{action "createAuthor"}}>Add Individual Author</a>
            <a class="popover-menu-item" id="add-new-group-author-link" {{action "createGroupAuthor"}}>Add Group Author</a>
          </div>
        {{/popover.content}}
      {{/basic-popover}}
    </div>

    <br>

    <p class="authors-task-acknowledgements">
      To submit your manuscript, please acknowledge each statement below
      {{error-message message=validationErrors.acknowledgements
                      displayIcon=true}}
    </p>

    {{nested-question-check ident="authors--persons_agreed_to_be_named"
                            owner=task
                            textClassNames=""
                            disabled=isNotEditable}}

    {{nested-question-check ident="authors--authors_confirm_icmje_criteria"
                            owner=task
                            textClassNames=""
                            disabled=isNotEditable}}

    {{nested-question-check ident="authors--authors_agree_to_submission"
                            owner=task
                            textClassNames=""
                            disabled=isNotEditable}}
  </div>
</div>
