{{partial "task-completed-section"}}

<div class="task-main-content">
  <p>
    Our criteria for authorship are based on the
    <a href="http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html" target="_blank">'Uniform Requirements for Manuscripts Submitted to Biomedical Journals: Authorship and Contributorship'</a>.
    Individuals whose contributions fall short of authorship should instead be mentioned in the Acknowledgments.
    If the article has been submitted on behalf of a consortium, all author names and affiliations should be listed at the end of the article.
  </p>

  <p>Note: Ensure the authors are in the correct publication order.</p>

  <div>
    {{#if isEditable}}
      <div class="add-new-author-button-container">
        <button id="add-new-author-button"
                class="button-primary button--green {{if isSubmissionTaskNotEditable 'button--disabled'}}"
                disabled={{isSubmissionTaskNotEditable}}
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add a New Author &nbsp; {{fa-icon "caret-down"}}
        </button>

        <ul id="add-new-author-dropdown" class="dropdown-menu animation-fade-in" aria-labelledby="add-new-author-button">
          <li><a href="#" id="add-new-individual-author-link" {{action "toggleAuthorForm" group}}>Add individual Author</a></li>
          <li><a href="#" id="add-new-group-author-link">Add Group Author</a></li>
        </ul>
      </div>
      <br><br>

      {{error-message message=validationErrors.corresponding}}

      {{#if newAuthorFormVisible}}
        {{add-author-form institutions=task.institutions
                          author=newAuthor.object
                          validationErrors=newAuthor.validationErrors
                          hideAuthorForm="toggleAuthorForm"
                          saveAuthor="saveNewAuthor"}}
      {{/if}}
    {{/if}}

    {{author-drop-target index=0
                         isEditable=isEditable
                         changePosition=(action "changeAuthorPosition")}}

    {{#each sortedAuthorsWithErrors as |authorWithErrors|}}
      {{author-view isEditable=isEditable
                    isNotEditable=isNotEditable
                    delete="removeAuthor"
                    save="saveAuthor"
                    model=authorWithErrors}}

      {{author-drop-target index=authorWithErrors.object.position
                           isEditable=isEditable
                           changePosition=(action "changeAuthorPosition")}}
    {{/each}}

    <br>

    <p class="authors-task-acknowledgements">
      To submit your manuscript, please acknowledge each statement below
      {{error-message message=validationErrors.acknowledgements
                      displayIcon=true}}
    </p>

    {{nested-question-check ident="authors--persons_agreed_to_be_named"
                            owner=task
                            textClassNames=""
                            disabled=isNotEditable}}

    {{nested-question-check ident="authors--authors_confirm_icmje_criteria"
                            owner=task
                            textClassNames=""
                            disabled=isNotEditable}}

    {{nested-question-check ident="authors--authors_agree_to_submission"
                            owner=task
                            textClassNames=""
                            disabled=isNotEditable}}
  </div>
</div>
