{{partial "task-completed-section"}}

<div class="task-main-content">
  <p>You must provide an ethics statement if your study involved human participants, specimens or tissue samples, or vertebrate animals, embryos or tissues. In addition, you should provide field permit information if your study requires it. It is your responsibility to provide this information and by completing this card, you confirm responsibility. All information entered here should also be included in the Methods section of your manuscript.</p>
  <ol class="question-list">
    <li class="question">
      {{#nested-question-radio ident='ethics--human_subjects'
      owner=task
      disabled=isNotEditable
      as |selected|}}
          <div class="question-dataset {{if selected.no 'hidden'}} {{if selected.none 'hidden'}}">
            {{nested-question-textarea ident='ethics--human_subjects--participants'
                displayContent=selected.yes
                owner=task
                disabled=isNotEditable}}

            <div class="question-info">
              <div class="question-info-header">Human Subject Research (involved human participants and/or tissue)</div>
              <p>All research involving human participants must have been approved by the authors' Institutional Review Board (IRB) or an equivalent committee, and all clinical investigation must have been conducted according to the principles expressed in the <a href="http://www.wma.net/en/30publications/10policies/b3/index.html" target="_blank">Declaration of Helsinki.</a></p>
              <p>Informed consent, written or oral, should also have been obtained from the participants.  If no consent was given, the reason must be explained (e.g. the data were analyzed anonymously) and reported.  The form of consent (written/oral), or reason for lack of consent, should be indicated in the Methods section of your manuscript.</p>
            </div>
          </div>
      {{/nested-question-radio}}
    </li>

    <li class="question">
      {{#nested-question-radio ident='ethics--animal_subjects'
      owner=task
      disabled=isNotEditable
      as |selected|}}

      {{#if selected.yes}}
      <div class="question-dataset">
        <div class="question-info">
          <p>All animal work must have been conducted according to relevant national and international guidelines. If your study involved non-human primates, you must provide details regarding animal welfare and steps taken to ameliorate suffering; this is in accordance with the recommendations of the Weatherall report, "<a href="http://www.acmedsci.ac.uk/more/news/the-use-of-non-human-primates-in-research/" target="_blank">The use of non-human primates in research.</a>" The relevant guidelines followed and the committee that approved the study should be identified in the ethics statement.</p>
          <p>If anesthesia, euthanasia or any kind of animal sacrifice is part of the study, please include briefly in your statement which substances and/or methods were applied. Manuscripts describing studies that use death as an endpoint will be subject to additional ethical considerations, and may be rejected if they lack appropriate justification for the study or consideration of humane endpoints.</p>
          <p>Please enter the name of your Institutional Animal Care and Use Committee (IACUC) or other relevant ethics board, and indicate whether they approved this research or granted a formal waiver of ethical approval. Also include an approval number if one was obtained.</p>
        </div>

        {{nested-question-textarea ident='ethics--animal_subjects--field_permit'
        owner=task
        displayContent=selected.yes
        disabled=isNotEditable}}

        {{nested-question-uploader-manager ident='ethics--animal_subjects--field_arrive'
                                           buttonText="upload arrive checklist"
                                           hasCaption=false
                                           description="We encourage authors to comply with the <a href='http://www.nc3rs.org.uk/arrive-guidelines' target='_blank'> Animal Research: Reporting In Vivo Experiments (ARRIVE) guidelines</a>, developed by the NationalCentro for the Replacement, Refinement &amp; Reduction of Animals in Research (NC3Rs). If you have an ARRIVE checklist, please upload it here:"
                                           owner=task}}
      </div>
      {{/if}}
      {{/nested-question-radio}}
    </li>

   <li class="question">
      {{#nested-question-radio ident='ethics--field_study'
        owner=task
        disabled=isNotEditable
        as |selected|}}
        {{#if selected.yes}}
          <div class="question-dataset">
            {{nested-question-textarea ident='ethics--field_study--field_permit_number'
            displayContent=selected.yes
            owner=task
            disabled=isNotEditable}}
          </div>
        {{/if}}
      {{/nested-question-radio}}
    </li>
  </ol>
</div>
