<div class="attachment-thumbnail">
  {{#if isEditable}}
    {{partial "components/editable_figure_thumbnail"}}
  {{else}}
    {{partial "components/static_figure_thumbnail"}}
  {{/if}}

</div>

{{#if view.previewState}}
  <div class="attachment-thumbnail-preview">
    <div {{action "togglePreview"}} class="attachment-thumbnail-preview-close">&times;</div>
    <img src={{attachment.detailSrc}} alt={{attachment.alt}}>
  </div>
{{/if}}
