<div class="attachment-thumbnail">
  <span class="fa fa-trash attachment-thumbnail-destroy-icon" {{action "confirmDestroyAttachment"}}></span>

  {{#if attachment.previewSrc}}
    <div class="attachment-thumbnail-image">
      <div class="replace-spinner"></div>
      <img class="preview" src={{attachment.previewSrc}} alt={{attachment.alt}}>
      <div class="attachment-thumbnail-edit-overlay">
        <div class="attachment-thumbnail-edit-overlay-buttons">
          {{#replace-image}}
            <span>Replace Image</span>
            {{file-uploader url=attachmentUrl
                            railsMethod="PUT"
                            accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps"
                            multiple=false
                            filePrefix="paper/figures"
                            start="uploadStarted"
                            progress="uploadProgress"
                            done="uploadFinished"}}
          {{/replace-image}}
          <button class="button-secondary button--green knockout view-attachment-detail" {{action "togglePreview"}}><span class="fa fa-search-plus"></span>View Detail</button>
        </div>
      </div>
    </div>
  {{else}}
    <div class="attachment-thumbnail-image attachment-thumbnail-image-placeholder">
      {{progress-spinner visible=true size="large"}}
      <div class="progress-text">
        <h3>Figure Processing</h3>
        <h4>but you can continue working!</h4>
      </div>
    </div>
  {{/if}}
  <a class="attachment-original-download-link" target="_blank" data-toggle="tooltip" data-placement="right" title="Download original file" href={{attachment.src}}>{{attachment.filename}}</a>

  {{#if editState}}
    <div class="attachment-thumbnail-edit-content">
      <div class="field">
        {{input placeholder="Enter a title"
                class="attachment-title-field"
                value=attachment.title}}
      </div>
      <div class="field">
        {{textarea placeholder="Enter a caption for this attachment"
                   class="attachment-caption-field"
                   value=attachment.caption rows="5"}}
      </div>
      <div class="field">
        <label>
          {{check-box checked=attachment.isStrikingImage action="toggleStrikingImageFromCheckbox" attachment=attachment}}
          &nbsp; This is the striking image
        </label>
      </div>

      <div class="attachment-thumbnail-edit-actions">
        <a href="#" class="button-link button--green" {{action "cancelEditing"}}>cancel</a>
        <a href="#" class="button-secondary button--green" {{action "saveAttachment"}}>Save</a>
      </div>
    </div>
  {{/if}}

  <div class="attachment-thumbnail-text-content">
    <h2 class="attachment-thumbnail-title" {{action "toggleEditState" on="doubleClick"}}>
      {{if attachment.title attachment.title "Attachment title"}}
    </h2>
    <span class="fa fa-pencil attachment-edit-icon" {{action "toggleEditState"}}></span>

    <div class="attachment-thumbnail-caption" {{action "toggleEditState" on="doubleClick"}}>
      {{if attachment.caption attachment.caption "There is no caption for this file."}}
    </div>

    {{#if attachment.isStrikingImage}}
      <br>
      <span class="fa fa-check"></span>
      &nbsp;
      This is the striking image
    {{/if}}
  </div>

  <div class="attachment-thumbnail-destroy-overlay">
    <p>This will permanently delete your image. Are you sure?</p>
    <button class="button-secondary button--green knockout" {{action "cancelDestroyAttachment"}}>Cancel</button>
    <button class="button-secondary button--green knockout attachment-delete-button" {{action "destroyAttachment"}}>Delete Forever</button>
  </div>
</div>

{{#if view.previewState}}
  <div class="attachment-thumbnail-preview">
    <div {{action "togglePreview"}} class="attachment-thumbnail-preview-close">&times;</div>
    <img src={{attachment.detailSrc}} alt={{attachment.alt}}>
  </div>
{{/if}}
