<h4 class="block-title">FUNDER</h4>

{{#if enabled}}
  <span {{action "removeFunder" isNotEditable}} class="remove-funder fa fa-trash small"></span>
{{/if}}

<div class="form-group">
  <span class="text-field-title">Funder</span>
  {{input
    type="text"
    name="name"
    value=model.name
    class="funder-name form-control tall-text-field"
    placeholder="Funder Name"
    disabled=disabled}}
</div>

<div class="form-group">
  <span class="text-field-title">Grant Number</span>
  {{input
    type="text"
    name="grant_number"
    value=model.grantNumber
    class="grant-number form-control tall-text-field"
    placeholder="502-686353647"
    disabled=disabled}}
</div>

<div class="form-group">
  <span class="text-field-title">Website</span>
  {{input
    type="text"
    name="website"
    value=model.website
    class="form-control tall-text-field"
    placeholder="www.funder.org"
    disabled=disabled}}
</div>

<div class="form-group">
  <div class="inset-form-control">Additional Comments</div>
  {{rich-text-editor
    editorStyle='basic'
    name="additional_comments"
    ident="additional_comments"
    onContentsChanged=(action 'saveComments')
    value=model.additionalComments
    placeholder="Additional comments about the funder go here"
    disabled=disabled
  }}
</div>

{{#nested-question-radio
  ident="funder--had_influence"
  owner=model
  disabled=disabled
  yesAction="userSelectedYesForFunderInfluence"
  noAction="userSelectedNoForFunderInfluence" as |selected|}}

  {{#if selected.yes}}
    <p class="question-text">
      {{{funderRoleDescriptionQuestion.text}}}
    </p>

    <div class="form-group">
      <div class="inset-form-control">Role of sponsors or funders</div>
      {{rich-text-editor
        editorStyle='basic'
        ident="funder--had_influence--role_description"
        onContentsChanged=(action 'saveRoleDescription')
        value=model.funderInfluenceDescription
        owner=model
        displayQuestionText=false
        placeholder="Description"
        disabled=disabled
      }}
    </div>
  {{/if}}

{{/nested-question-radio}}
