{{partial "task-completed-section"}}

<div class="task-main-content">
  {{#if isSavingData}}
    <div class="register-decision-saving-cover is-saving-data">
      {{progress-spinner visible=true size="large" center=true}}
    </div>
  {{/if}}

  {{#if isTaskCompleted}}
    <div class="alert alert-info">
      An initial decision of '{{humanize initialDecision.verdict}}' decision has been made.
    </div>
  {{else}}

    {{#if nonPublishable}}
      <div class="alert alert-warning">
        A decision cannot be registered at this time.
        The manuscript is not in a submitted state.
      </div>
    {{/if}}

  {{/if}}


  <div class="decision-selections">
    <label class="decision-label">
      {{radio-button value="reject"
                     selection=initialDecision.verdict
                     disabled=nonPublishable
                     action=(action "setInitialDecisionVerdict")}}
      Reject
    </label>

    <label class="decision-label">
      {{radio-button value="invite_full_submission"
                     selection=initialDecision.verdict
                     disabled=nonPublishable
                     action=(action "setInitialDecisionVerdict")}}
      Invite for full submission
    </label>
  </div>

  <p>Please write your decision letter in the area below</p>

  {{textarea onEvent="false"
             class="decision-letter-field"
             disabled=nonPublishable
             value=initialDecision.letter}}

  <button class="button-primary button--green send-email-action {{if cannotRegisterDecision "button--disabled"}}"
          disabled={{cannotRegisterDecision}} {{action "registerDecision"}}>
    Register Decision and Email the Author
  </button>
</div>
