{{#with (hash group=(component 'invitation-group'
                      activeInvitation=activeInvitation
                      activeInvitationState=activeInvitationState
                      composedInvitation=composedInvitation
                      destroyInvite=(action 'destroyInvite')
                      setRowState=(action 'toggleActiveInvitation')
                      class='active-invitations')
                    ) as |i| }}

  {{i.group invitations=(if groupByDecision
                            latestDecisionInvitations
                            persistedInvitations)
  }}

  <div class="invitation-email-entry">
    {{#auto-suggest endpoint=autoSuggestSourceUrl
                    queryParameter="query"
                    inputId="invitation-recipient"
                    placeholder=placeholder
                    errorMessage=pendingInvitation.errors.email.firstObject.message
                    parseResponseFunction=parseUserSearchResponse
                    resultText=autoSuggestSelectedText
                    itemSelected="didSelectUser"
                    inputChanged="inputChanged"
                    itemDisplayTextFunction=displayUserSelected
                    as |user|}}
      {{user.full_name}} &lt;{{user.email}}&gt;
    {{/auto-suggest}}
    <button class="button-secondary button--green invitation-email-entry-button {{unless selectedUser "button--disabled"}}"
            {{action "composeInvite" q.mainQueue}}>
      Compose Invite
    </button>
    {{#if createInvitation.isRunning}}
      <div class="invitation-email-entry-progress animation-fade-in">
        {{progress-spinner visible=true size="small"}}
      </div>
    {{/if}}
  </div>

  {{#if groupByDecision}}
    {{#each sortedPreviousDecisionsWithFilteredInvitations as |decision|}}
      <div class='invitation-revision-round'>
        v{{decision.revisionNumber}} {{humanize decision.verdict}}
      </div>
      {{i.group invitations=decision.filteredInvitations
                previousRound=true
                class='expired-invitations'}}
    {{/each}}
  {{/if}}
{{/with}}
