{{invitations-display decisions=decisions
                      invitations=task.invitations
                      groupByDecision=groupByDecision
                      activeInvitation=activeInvitation
                      activeInvitationState=activeInvitationState
                      toggleActiveInvitation=(action 'toggleActiveInvitation')
                      inviteeRole=task.inviteeRole
                      latestDecision=latestDecision}}

<div class="invitation-email-entry">
  {{#auto-suggest endpoint=autoSuggestSourceUrl
                  queryParameter="query"
                  inputId="invitation-recipient"
                  placeholder=placeholder
                  errorMessage=pendingInvitation.errors.email.firstObject.message
                  parseResponseFunction=parseUserSearchResponse
                  resultText=autoSuggestSelectedText
                  itemSelected="didSelectUser"
                  inputChanged="inputChanged"
                  itemDisplayTextFunction=displayUserSelected
                  as |user|}}
    {{user.full_name}} &lt;{{user.email}}&gt;
  {{/auto-suggest}}

  <button class="button-secondary button--green invitation-email-entry-button {{unless selectedUser "button--disabled"}}"
          {{action "composeInvite"}}>
    Compose Invite
  </button>

  {{#if createInvitation.isRunning}}
    <div class="invitation-email-entry-progress animation-fade-in">
      {{progress-spinner visible=true size="small"}}
    </div>
  {{/if}}
</div>
