{{#unless (eq uiState "edit")}}
  <div class="invitation-item-header" {{action "toggleDetails"}}>
    <div class="invitation-item-drag-handle {{if draggable "active"}} flex-element"></div>
    <div class="invitation-item-full-name">
      {{#if invitation.isAlternate}}
        <i class="fa fa-link alternate-link-icon" aria-hidden="true"></i>
      {{/if}}
      {{#if invitee}}
        {{invitee.fullName}}
        &lt;{{invitation.email}}&gt;
      {{else}}
        {{invitation.email}}
      {{/if}}
    </div>
    <div class="invitation-item-status">
      {{#if (and (eq uiState 'closed') (not invitation.pending))}}
        {{#if invitation.invited}}
          <span>Invited {{format-date invitation.invitedAt format="MMM D, YYYY"}}</span>
        {{else if invitation.accepted}}
          <span>Accepted {{format-date invitation.acceptedAt format="MMM D, YYYY"}}</span>
        {{else if invitation.declined}}
          <span>Declined {{format-date invitation.declinedAt format="MMM D, YYYY"}}</span>
        {{else if invitation.rescinded}}
          <span>Rescinded {{format-date invitation.rescindedAt format="MMM D, YYYY"}}</span>
        {{/if}}
      {{/if}}
    </div>
    <div class="invitation-item-body-preview">
      {{#if invitation.declined}}
        {{strip-html invitation.declineReason}}
      {{else}}
        {{strip-html invitation.body}}
      {{/if}}
    </div>
    <div class="invitation-item-spacer"></div>
    <div class="invitation-item-actions">
      {{#if displayEditButton}}
        <span class="invitation-item-action invitation-item-action-edit {{if editDisabled "invitation-item-action--disabled"}}"
              {{action "editInvitation" invitation bubbles=false}}>
          <span class="fa fa-pencil invite-edit"></span>
          {{#unless editDisabled}}
            <span class="invitation-item-action-text">Edit</span>
          {{/unless}}
        </span>
      {{/if}}
      {{#if displayDestroyButton}}
        <span class="invitation-item-action invitation-item-action-delete {{if destroyDisabled "invitation-item-action--disabled"}}"
              {{action "destroyInvitation" invitation bubbles=false}}>
          {{#tool-tip enabled=invitation.isPrimary title="Unlink alternates before deleting this primary"}}
            <span class="fa fa-trash invite-remove"></span>
            {{#unless disabled}}
              <span class="invitation-item-action-text">Delete</span>
            {{/unless}}
          {{/tool-tip}}
        </span>
      {{/if}}
      {{#if displayRescindButton}}
        <span class="invitation-item-action invitation-item-action-rescind {{if invitationsInFlight "invitation-item-action--disabled"}}"
              {{action "rescindInvitation" invitation bubbles=false}}>
          <span class="fa fa-ban invite-rescind"></span>
          {{#unless disabled}}
            <span class="invitation-item-action-text">Rescind</span>
          {{/unless}}
        </span>
        {{/if}}
      {{#if displaySendButton}}
        <span class="invitation-item-action invitation-item-action-send {{if (or disabled invitationsInFlight) "invitation-item-action--disabled"}}"
              {{action "sendInvitation" invitation bubbles=false}}>
          <span class="fa fa-send invite-send"></span>
          {{#unless disabled}}
            <span class="invitation-item-action-text">Send</span>
          {{/unless}}
        </span>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="invitation-item-header">
    <div class="invitation-item-full-name">
     {{#unless (eq invitation composedInvitation)}}
      <b>
        Edit invitation to:
      </b>
     {{/unless}}
      {{#if invitee}}
        {{invitee.fullName}}
        &lt;{{invitation.email}}&gt;
      {{else}}
        {{invitation.email}}
      {{/if}}
    </div>
  </div>
{{/unless}}

{{#if (eq uiState "show")}}
  <div class="invitation-item-details">
    <div class="invitation-item-state-and-date">
      {{#if invitation.accepted}}
        <span>Accepted {{format-date invitation.acceptedAt format="LLL"}}</span>
        <hr>
      {{else if invitation.rescinded}}
        <span>Rescinded {{format-date invitation.rescindedAt format="LLL"}}</span>
        <hr>
      {{/if}}
    </div>
    {{#if invitation.declined}}
      <div class="invitation-item-state-and-date">
        <span>Declined {{format-date invitation.declinedAt format="LLL"}}</span>
      </div>
      <div class="invitation-item-decline-info">
        <p>
          <div class="invitation-item-decline-title">Reasons</div>
          {{unbound (break-to-tag invitation.declineReason)}}
        </p>
        <p>
          <div class="invitation-item-decline-title">Reviewer Suggestions</div>
          {{unbound (break-to-tag invitation.reviewerSuggestions)}}
        </p>
      </div>
      <hr>
    {{/if}}
    {{#unless invitation.pending}}
      <div class="invitation-item-state-and-date">
        <span>Invited {{format-date invitation.invitedAt format="LLL"}}</span>
      </div>
    {{/unless}}
{{!-- Leave weird indentation --}}
<div class="invitation-show-body">{{{invitation.body}}}</div>
  <div class="invite-edit-buttons">
    {{#if allowAttachments}}
      {{invitation-attachment-manager invitation=invitation
                                      enableEditingAttachments=false
                                      showAddButton=false}}
    {{/if}}
  </div>
</div>
{{else if (eq uiState "edit")}}
  <div class="invitation-item-details">
    {{content-editable value=invitation.body
                       class="invitation-edit-body"
                       key-up=(action "saveDuringType" invitation)}}

    {{link-alternate
      invitation=invitation
      invitations=invitations
      primarySelected=(action "primarySelected")
    }}

    <div class="invite-edit-buttons">
      {{#if allowAttachments}}
        {{invitation-attachment-manager invitation=invitation}}
      {{/if}}
      <div class="spacer"></div>
      {{progress-spinner visible=rollback.isRunning size="small"}}
      <button class="button-link button--green cancel" {{action "cancelEdit" invitation}}>cancel</button>
      <button class="button-secondary button--green invitation-save-button"
              {{action "save" invitation}}>
        {{if (eq invitation composedInvitation) "Add to Queue" "Save"}}
      </button>
    </div>
  </div>
{{/if}}
