{{#util/async-content concurrencyTask=loadDecisions}}
  {{#with (hash group=(component 'invitation-group'
                        activeInvitation=activeInvitation
                        activeInvitationState=activeInvitationState
                        composedInvitation=composedInvitation
                        destroyInvite=(action 'destroyInvite')
                        saveInvite=(action 'saveInvite')
                        setRowState=(action 'toggleActiveInvitation')
                        changePosition=(action 'changePosition')
                        class='active-invitations')
                      ) as |i| }}

    {{#if groupByDecision}}
      {{i.group invitations=latestDecisionInvitations}}
    {{else}}
      {{i.group invitations=persistedInvitations}}
    {{/if}}

    <div class="invitation-email-entry">
      {{#auto-suggest endpoint=autoSuggestSourceUrl
                      queryParameter="query"
                      inputId="invitation-recipient"
                      placeholder=placeholder
                      errorMessage=pendingInvitation.errors.email.firstObject.message
                      parseResponseFunction=parseUserSearchResponse
                      resultText=autoSuggestSelectedText
                      itemSelected="didSelectUser"
                      inputChanged="inputChanged"
                      itemDisplayTextFunction=displayUserSelected
                      as |user|}}
        {{user.full_name}} &lt;{{user.email}}&gt;
      {{/auto-suggest}}
      <button class="button-secondary button--green invitation-email-entry-button {{unless selectedUser "button--disabled"}}"
              {{action "composeInvite"}}>
        Compose Invite
      </button>
      {{#if createInvitation.isRunning}}
        <div class="invitation-email-entry-progress animation-fade-in">
          {{progress-spinner visible=true size="small"}}
        </div>
      {{/if}}
    </div>

    {{#if groupByDecision}}
      {{#each sortedPreviousDecisionsWithFilteredInvitations as |decision|}}
        <div class='invitation-revision-round'>
          v{{decision.revisionNumber}} {{humanize decision.verdict}}
        </div>
        {{i.group invitations=decision.filteredInvitations
                  previousRound=true
                  class='expired-invitations'}}
      {{/each}}
    {{/if}}
  {{/with}}
{{else}}
  <h2> Loading invitations... </h2>
  {{progress-spinner visible=true size="large" align="middle"}}
{{/util/async-content}}
