{{#if groupByDecision}}

  <tbody class='active-invitations'>
    {{#each latestDecisionInvitations as |invitation|}}
    <tr class='invitation'>
      <td><span>{{user-thumbnail user=invitation.invitee classNames='invitee-thumbnail'}}</span></td>
      <td>
        <span class='invitee-full-name'>
        {{#if invitation.invitee}}
          {{invitation.invitee.fullName}}
        {{else}}
          {{invitation.email}}
        {{/if}}
        </span>
      </td>
      <td><span class='invitation-updated-at'>{{format-date invitation.updatedAt format='LLL'}}</span></td>
      <td><span class='invitation-state'>{{invitation.state}}</span></td>
      {{#unless invitation.accepted}}
      <td>
        <span class='fa fa-trash invite-remove' {{action 'destroyInvitation' invitation}}></span>
      </td>
      {{/unless}}
    </tr>
    {{/each}}
  </tbody>

  {{#each previousDecisionsWithFilteredInvitations as |decision|}}
  <tr class='revision-human-number'>
    <td colspan=5>Round {{decision.majorVersion}}</td>
  </tr>
  <tbody class='expired-invitations'>
    {{#each decision.filteredInvitations as |invitation|}}
    <tr class='invitation'>
      <td><span>{{user-thumbnail user=invitation.invitee classNames='invitee-thumbnail'}}</span></td>
      <td>
        <span class='invitee-full-name'>
        {{#if invitation.invitee}}
          {{invitation.invitee.fullName}}
        {{else}}
          {{invitation.email}}
        {{/if}}
        </span>
      </td>
      <td><span class='invitation-updated-at'>{{format-date invitation.updatedAt format='LLL'}}</span></td>
      <td><span class='invitation-state'>{{invitation.state}}</span></td>
    </tr>
    {{/each}}
  </tbody>
  {{/each}}

{{else}}

  <tbody class='active-invitations'>
    {{#each invitations as |invitation|}}
    <tr class='invitation'>
      <td><span>{{user-thumbnail user=invitation.invitee classNames='invitee-thumbnail'}}</span></td>
      <td>
        <span class='invitee-full-name'>
        {{#if invitation.invitee}}
          {{invitation.invitee.fullName}}
        {{else}}
          {{invitation.email}}
        {{/if}}
        </span>
      </td>
      <td><span class='invitation-updated-at'>{{format-date invitation.updatedAt format='LLL'}}</span></td>
      <td><span class='invitation-state'>{{invitation.state}}</span></td>
      {{#unless invitation.accepted}}
      <td>
        <span class='fa fa-trash invite-remove' {{action 'destroyInvitation' invitation}}></span>
      </td>
      {{/unless}}
    </tr>
    {{/each}}
  </tbody>

{{/if}}
