<tr class='invitation' {{action 'toggleDetails' invitation}}>
  <td>
    <span>
      {{user-thumbnail user=invitee classNames='invitee-thumbnail'}}
    </span>
  </td>
  <td>
    <span class='invitee-full-name'>
      {{#if invitee}}
        {{invitee.fullName}}
      {{else}}
        {{invitation.email}}
      {{/if}}
    </span>
  </td>
  <td>
    <span class='invitation-updated-at'>
      {{format-date invitation.updatedAt format='LLL'}}
    </span>
  </td>
  <td>
    <span class='invitation-state'>
      {{if (eq invitation.state "pending") "draft" invitation.state}}
    </span>
  </td>
  <td>
    {{#if displayEdit}}
      <span {{action 'editInvitation' invitation bubbles=false}}>
        <span class='fa fa-edit invite-edit'></span>
      </span>
    {{/if}}
    {{#if displayDestroy}}
      <span {{action destroyAction invitation bubbles=false}}>
        <span class='fa fa-trash invite-remove' ></span>
      </span>
    {{/if}}
  </td>
</tr>

{{#if showDetails}}
  <tr>
    <td colspan="4">
      <div>
        {{content-editable value=invitation.body
                           class="edit-invitation-body"
                           disabled=(eq detailState 'show')}}

        {{#if (eq detailState 'edit')}}
          <div class="invite-edit-buttons">
            <button class="button-link button--green cancel" {{action "cancelEdit" invitation}}>cancel</button>
            <button class="button-primary button--green invite-editor-button" {{action "save" invitation}}>Save</button>
          </div>
        {{/if}}
      </div>
    </td>
  </tr>
{{/if}}

{{#if invitation.declined}}
  <tr class='invitation-decline-reason'>
    <td></td>
    <td colspan=4>
      <span>
        <strong>Reasons: </strong>
        {{break-to-tag invitation.declineReason}}
      </span>
    </td>
  </tr>

  <tr class='invitation-reviewer-suggestions'>
    <td></td>
    <td colspan=4>
      <span>
        <strong>Reviewer Suggestions: </strong>
        {{break-to-tag invitation.reviewerSuggestions}}
      </span>
    </td>
  </tr>
{{/if}}
