{{#if groupByDecision}}
  {{#each currentInviteQueues as |queue|}}
    QUEUE--------------- {{queue.queueTitle}} {{queue.id}}
    {{invitation-group invitations=queue.invitations
                       activeInvitation=activeInvitation
                       activeInvitationState=activeInvitationState
                       composedInvitation=composedInvitation
                       placeInDifferentQueue=(action 'placeInDifferentQueue')
                       destroyInvite=(action 'destroyInvite')
                       setRowState=(action 'toggleActiveInvitation')
                       class='active-invitations'}}


  {{/each}}
  {{partial 'invitation-compose'}}
  Compare with original implementation below
  DELETE BELOW

  {{!--invitation-group invitations=latestDecisionInvitations
                     activeInvitation=activeInvitation
                     activeInvitationState=activeInvitationState
                     composedInvitation=composedInvitation
                     setRowState=(action 'toggleActiveInvitation')
                     class='active-invitations'--}}
DELETE ABOVE

  {{#each sortedPreviousDecisionsWithFilteredInvitations as |decision|}}
    <div class='invitation-revision-round'>
      v{{decision.revisionNumber}} {{humanize decision.verdict}}
    </div>
    {{invitation-group invitations=decision.filteredInvitations
                       activeInvitation=activeInvitation
                       activeInvitationState=activeInvitationState
                       composedInvitation=composedInvitation
                       setRowState=(action 'toggleActiveInvitation')
                       placeInDifferentQueue=(action 'placeInDifferentQueue')
                       destroyInvite=(action 'destroyInvite')
                       previousRound=true
                       class='expired-invitations'}}
  {{/each}}

{{else}}
  {{invitation-group  invitations=persistedInvitations
                      activeInvitation=activeInvitation
                      activeInvitationState=activeInvitationState
                      composedInvitation=composedInvitation
                      placeInDifferentQueue=(action 'placeInDifferentQueue')
                      destroyInvite=(action 'destroyInvite')
                      setRowState=(action 'toggleActiveInvitation')
                      class='active-invitations'}}
  {{partial 'invitation-compose'}}
{{/if}}

