{{#if groupByDecision}}
  {{invitation-group invitations=latestDecisionInvitations
                     activeInvitation=activeInvitation
                     activeInvitationState=activeInvitationState
                     composedInvitation=composedInvitation
                     setRowState=(action attrs.toggleActiveInvitation)
                     toggleActiveInvitation=attrs.toggleActiveInvitation
                     class='active-invitations'}}

  {{#each previousDecisionsWithFilteredInvitations as |decision|}}
    <div class='invitation-revision-round'>
      v{{decision.revisionNumber}} {{humanize decision.verdict}}
    </div>
    {{invitation-group invitations=decision.filteredInvitations
                       activeInvitation=activeInvitation
                       activeInvitationState=activeInvitationState
                       composedInvitation=composedInvitation
                       toggleActiveInvitation=attrs.toggleActiveInvitation
                       setRowState=(action attrs.toggleActiveInvitation)
                       class='expired-invitations'}}
  {{/each}}

{{else}}
  {{invitation-group  invitations=persistedInvitations
                      activeInvitation=activeInvitation
                      activeInvitationState=activeInvitationState
                      composedInvitation=composedInvitation
                      setRowState=(action attrs.toggleActiveInvitation)
                      toggleActiveInvitation=attrs.toggleActiveInvitation
                      class='active-invitations'}}
{{/if}}

