{{#if groupByDecision}}
  <div class="active-invitations">
    {{#each latestDecisionInvitations as |invitation|}}
      {{invitation-detail-row invitation=invitation
                              editAction=attrs.editInvitation
                              destroyAction=(action 'destroyInvitation')}}
    {{/each}}
  </div>

  {{#each previousDecisionsWithFilteredInvitations as |decision|}}
    <div class='revision-human-number'>
      Round {{decision.revisionNumber}}
    </div>

    <div class="expired-invitations">
      {{#each decision.filteredInvitations as |invitation|}}
        {{invitation-detail-row invitation=invitation
                                editAction=attrs.editInvitation
                                destroyAction=(action 'destroyInvitation')}}
      {{/each}}
    </div>
  {{/each}}

{{else}}

  <div class="active-invitations">
    {{#each invitations as |invitation|}}
      {{invitation-detail-row invitation=invitation
                              editAction=attrs.editInvitation
                              destroyAction=(action 'destroyInvitation')}}
    {{/each}}
  </div>

{{/if}}
