<td>
  <span>
    {{user-thumbnail user=invitee classNames='invitee-thumbnail'}}
  </span>
</td>
<td>
  <span class='invitee-full-name'>
    {{#if invitee}}
      {{invitee.fullName}}
    {{else}}
      {{invitation.email}}
    {{/if}}
  </span>
</td>
<td>
  <span class='invitation-updated-at'>
    {{format-date invitation.updatedAt format='LLL'}}
  </span>
</td>
<td>
  <span class='invitation-state'>
    {{if (eq invitation.state "pending") "draft" invitation.state}}
  </span>
</td>
<td>
  {{#if displayEdit}}
    <span class='fa fa-edit invite-edit' {{action editAction invitation}}></span>
  {{/if}}
  {{#if displayDestroy}}
    <span class='fa fa-trash invite-remove' {{action destroyAction invitation}}></span>
  {{/if}}
</td>
