{{#if groupByDecision}}
  {{invitation-group invitations=latestDecisionInvitations
                     activeInvitation=activeInvitation
                     activeInvitationState=activeInvitationState
                     composedInvitation=composedInvitation
                     setRowState=(action 'toggleActiveInvitation')
                     class='active-invitations'}}


  {{partial 'invitation-compose'}}

  {{#each previousDecisionsWithFilteredInvitations as |decision|}}
    <div class='invitation-revision-round'>
      v{{decision.revisionNumber}} {{humanize decision.verdict}}
    </div>
    {{invitation-group invitations=decision.filteredInvitations
                       activeInvitation=activeInvitation
                       activeInvitationState=activeInvitationState
                       composedInvitation=composedInvitation
                       setRowState=(action 'toggleActiveInvitation')
                       previousRound=true
                       class='expired-invitations'}}
  {{/each}}

{{else}}
  {{invitation-group  invitations=persistedInvitations
                      activeInvitation=activeInvitation
                      activeInvitationState=activeInvitationState
                      composedInvitation=composedInvitation
                      setRowState=(action 'toggleActiveInvitation')
                      class='active-invitations'}}
  {{partial 'invitation-compose'}}
{{/if}}

