{{#if groupByDecision}}

  {{invitation-detail-tbody
      invitations=latestDecisionInvitations
      classNames='active-invitations'
      destroyAction=(action 'destroyInvitation')}}

  {{#each previousDecisionsWithFilteredInvitations as |decision|}}
    <tr class='revision-human-number'>
      <td colspan=5>Round {{decision.revisionNumber}}</td>
    </tr>

    {{invitation-detail-tbody
        invitations=decision.filteredInvitations
        classNames='expired-invitations'
        destroyAction=(action 'destroyInvitation')}}
  {{/each}}

{{else}}

  {{invitation-detail-tbody
      invitations=invitations
      classNames='active-invitations'
      destroyAction=(action 'destroyInvitation')}}

{{/if}}
