{{#if groupByDecision}}
  <div class="active-invitations">
    {{#each latestDecisionInvitations as |invitation|}}
      {{invitation-detail-row invitation=invitation}}
    {{/each}}
  </div>

  {{#each previousDecisionsWithFilteredInvitations as |decision|}}
    <div class='revision-human-number'>
      Round {{decision.majorVersion}}
    </div>

    <div class="expired-invitations">
      {{#each decision.filteredInvitations as |invitation|}}
        {{invitation-detail-row invitation=invitation allowDestroy=false}}
      {{/each}}
    </div>
  {{/each}}

{{else}}

  <div class="active-invitations">
    {{#each persistedInvitations as |invitation|}}
      {{invitation-detail-row invitation=invitation}}
    {{/each}}
  </div>

{{/if}}
