{{partial "task-completed-section"}}

<div class="task-main-content">
  {{#if invitationToEdit}}
    {{edit-invitation allowAttachments=false
                      invitation=invitationToEdit
                      closeAction=(action "cancelAction")}}
  {{else}}
    {{invitations-display decisions=decisions
                          groupByDecision=true
                          inviteeRole=task.inviteeRole
                          latestDecision=latestDecision}}
    <div class="invitation-email-entry">
      {{#auto-suggest endpoint=autoSuggestSourceUrl
                      queryParameter="query"
                      inputId="invitation-recipient"
                      placeholder="Invite reviewer by name or email"
                      errorMessage=pendingInvitation.errors.email.firstObject.message
                      parseResponseFunction=parseUserSearchResponse
                      itemSelected="didSelectUser"
                      inputChanged="inputChanged"
                      itemDisplayTextFunction=displayUserSelected
                      as |user|}}
        {{user.full_name}} [{{user.email}}]
      {{/auto-suggest}}

      <button class="button-secondary button--green invitation-email-entry-button {{unless selectedUser "button--disabled"}}"
              {{action "composeInvite"}}>
        Compose Invite
      </button>

      {{#if createInvitation.isRunning}}
        <div class="invitation-email-entry-progress animation-fade-in">
          {{progress-spinner visible=true size="small"}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
