{{partial "task-completed-section"}}

<div class="task-main-content">
  <div class="invite-editor-text">
    {{#if composingEmail}}
      <div class="invite-editor-edit-invite">
        <h3 class="invite-to">
          Invitation to
          {{#if selectedUser.fullName}}
            {{selectedUser.full_name}}
          {{/if}}
          [{{selectedUser.email}}]
        </h3>

        {{content-editable value=invitationBody
                           class="form-control taller-textarea"}}

        <div class="invite-editor-cta">
          <button class="button-link button--green cancel" {{action "cancelAction"}}>cancel</button>
          <button class="button-primary button--green invite-editor-button" {{action "inviteEditor"}}>Send Invitation</button>
        </div>
     </div>
    {{else}}
      <div class="invite-editors">
        <label for="invitation-recipient">Academic Editor</label>

        {{#auto-suggest endpoint=autoSuggestSourceUrl
                    queryParameter="query"
                    inputId="invitation-recipient"
                    placeholder="Invite Academic Editor by name or email"
                    parseResponseFunction=parseUserSearchResponse
                    itemSelected="didSelectUser"
                    inputChanged="inputChanged"
                    itemDisplayTextFunction=displayUserSelected
                    as |user|}}
          {{user.full_name}} [{{user.email}}]
        {{/auto-suggest}}

        <button class="button-primary button--green compose-invite-button" {{action "composeInvite"}}>
          Compose Invite
        </button>
      </div>

      {{invitations-display groupByDecision=false
                            invitations=task.invitations
                            onDestroyInvitation='destroyInvitation'}}
    {{/if}}
  </div>
</div>
