{{partial "task-completed-section"}}

<div class="task-main-content">
  <ol class="question-list">
    <li class="question" id="published-elsewhere">
    {{#nested-question-radio ident="publishing_related_questions--published_elsewhere"
                      owner=task
                      disabled=isNotEditable
                      as |selected|}}
      <div class="question-dataset {{if selected.no 'hidden'}} {{if selected.none 'hidden'}}">
        {{nested-question-input ident="publishing_related_questions--published_elsewhere--taken_from_manuscripts"
                         owner=task
                         displayContent=selected.yes
                         label="Results, data or figures"
                         placeholder="Figure 1.2 - contains new data points"
                         textClassNames=""
                         disabled=isNotEditable}}
        <br>
        {{nested-question-uploader-manager ident='publishing_related_questions--published_elsewhere--upload_related_work'
                         buttonText="upload file"
                         hasCaption=true
                         description=publishedElsewhereRelatedWorkQuestion.text
                         multiple=true
                         owner=task
                         disabled=isNotEditable}}
      </div>
    {{/nested-question-radio}}
    </li>
    <li class="question">
    {{#nested-question-radio ident="publishing_related_questions--submitted_in_conjunction"
                      owner=task
                      disabled=isNotEditable
                      as |selected|}}

      <div class="question-dataset {{if selected.no 'hidden'}} {{if selected.none 'hidden'}}">
        <div class="question-dataset-header">Please provide the title of that submission and the corresponding author.</div>
          {{nested-question-input ident="publishing_related_questions--submitted_in_conjunction--corresponding_title"
                           class="sub-question"
                           displayQuestionText=false
                           owner=task
                           displayContent=selected.yes
                           label="Title"
                           placeholder="Submission Title"
                           disabled=isNotEditable}}

          <br>
          {{nested-question-input ident="publishing_related_questions--submitted_in_conjunction--corresponding_author"
                           class="sub-question"
                           displayQuestionText=false
                           owner=task
                           displayContent=selected.yes
                           label="Corresponding Author"
                           placeholder="Corresponding Author Name"
                           disabled=isNotEditable}}
          <br>
          {{nested-question-input ident="publishing_related_questions--submitted_in_conjunction--corresponding_journal"
                           class="sub-question"
                           displayQuestionText=false
                           owner=task
                           displayContent=selected.yes
                           label="Journal"
                           placeholder="Journal Name"
                           disabled=isNotEditable}}
          <br>
          {{nested-question-check ident="publishing_related_questions--submitted_in_conjunction--handled_together"
                                 owner=task
                                 disabled=isNotEditable}}
        </div>
    {{/nested-question-radio}}
    </li>
    <li class="question">
        <div class="question-text">Please indicate whether you have had any of the following previous interactions about this manuscript.</div>
        <div class="question-text">Check all that apply.</div>
        {{#nested-question-check ident="publishing_related_questions--previous_interactions_with_this_manuscript"
                          owner=task
                          disabled=isNotEditable
                          as |selection|}}
          {{#if selection.yieldingForAdditionalData }}
              <div class="question-dataset {{if selection.unchecked 'hidden'}}">
                {{nested-question-textarea ident="publishing_related_questions--previous_interactions_with_this_manuscript--submission_details"
                                    displayContent=selection.checked
                                    owner=task
                                    disabled=isNotEditable}}
              </div>
          {{/if}}
        {{/nested-question-check}}

        {{#nested-question-check ident="publishing_related_questions--presubmission_inquiry"
                          owner=task
                          disabled=isNotEditable
                          as |selection|}}
          {{#if selection.yieldingForAdditionalData }}
            <div class="question-dataset {{if selection.unchecked 'hidden'}}">
              {{nested-question-textarea ident="publishing_related_questions--presubmission_inquiry--submission_details"
                                  owner=task
                                  displayContent=selection.checked
                                  disabled=isNotEditable}}
            </div>
          {{/if}}
        {{/nested-question-check}}

        {{#nested-question-check ident="publishing_related_questions--other_journal_submission"
                          owner=task
                          disabled=isNotEditable
                          as |selection|}}
          {{#if selection.yieldingForAdditionalData }}
            <div class="question-dataset {{if selection.unchecked 'hidden'}}">
              {{nested-question-textarea ident="publishing_related_questions--other_journal_submission--submission_details"
                                  owner=task
                                  displayContent=selection.checked
                                  disabled=isNotEditable}}
            </div>
          {{/if}}
        {{/nested-question-check}}

        {{nested-question-check ident="publishing_related_questions--author_was_previous_journal_editor"
                         owner=task
                         disabled=isNotEditable}}
    </li>
    <li class="question">
      {{nested-question-input ident="publishing_related_questions--intended_collection"
                        owner=task
                        placeholder="Collection Name"
                        inputClassNames="form-control"
                        disabled=isNotEditable}}

    </li>
    <li class="question">
      {{nested-question-input ident="publishing_related_questions--short_title"
                        formatted=true
                        owner=task
                        inputClassNames="form-control publishing-related-questions-short-title"
                        disabled=isNotEditable}}
    </li>
  </ol>
</div>
