{{partial "task-completed-section"}}

<div class="task-main-content">
  {{#if isSavingData}}
    <div class="register-decision-saving-cover">
      {{progress-spinner visible=true size="large" center=true}}
    </div>
  {{/if}}

  {{rescind-decision
    decision=latestRegisteredDecision
    isEditable=isEditable
    beforeRescind=(action "showSpinner")
    afterRescind=(action "hideSpinner")}}

  <div class="decision-selections">
    {{#each verdicts as |verdict|}}
      <label class="decision-label">
        {{radio-button
          value=verdict
          selection=latestDecision.verdict
          disabled=nonPublishable
          name="decision"
          action=(action "setDecisionTemplate")}}
        {{humanize verdict}}
      </label>
    {{/each}}
  </div>

  {{error-message message=validationErrors.errors}}

  {{letter-template disabled=nonPublishableOrUnselected
                    letterValue=latestDecision.letter
                    toField=toField
                    subjectLine=subjectLine
                    task=task
                    templateDecision=latestDecision.verdict
                    templateSelected=(action 'templateSelected')
                    registerDecision=(action 'registerDecision')
  }}

  {{#if previousDecisions}}
    <hr>
    <h3>Decision History</h3>
    <div class="previous-decisions">
      {{#each previousDecisions as |decision|}}
        {{decision-bar decision=decision}}
      {{/each}}
    </div>
  {{/if}}
</div>
