{{partial "task-completed-section"}}

<div class="task-main-content">
  <div class="register-decision-saving-cover {{if isSavingData "is-saving-data"}}">
    {{progress-spinner visible=true size="large" center=true}}
  </div>

  {{#if task.completed}}
    {{#if decidedDecision}}
      <div class="alert alert-info">
        A {{if finalDecision 'final'}} decision of {{formattedDecidedDecision}} has been registered.
      </div>
    {{/if}}
  {{else}}
    {{#unless publishable}}
      <div class="alert alert-warning">
        A decision cannot be registered at this time.
        The manuscript is not in a submitted state.
      </div>
    {{/unless}}
  {{/if}}

  <div class="decision-selections">
    <label class="decision-label">
      {{radio-button value="reject"
                     selection=latestDecision.verdict
                     disabled=nonPublishable
                     name="decision"
                     action=(action "setDecisionTemplate")}}
      Reject
    </label>

    <label class="decision-label">
      {{radio-button value="major_revision"
                     selection=latestDecision.verdict
                     disabled=nonPublishable
                     name="decision"
                     action=(action "setDecisionTemplate")}}
      Major Revision
    </label>

    <label class="decision-label">
      {{radio-button value="minor_revision"
                     selection=latestDecision.verdict
                     disabled=task.completed
                     name="decision"
                     action=(action "setDecisionTemplate")}}
      Minor Revision
    </label>

    <label class="decision-label">
      {{radio-button value="accept"
                     selection=latestDecision.verdict
                     disabled=nonPublishable
                     name="decision"
                     action=(action "setDecisionTemplate")}}
      Accept
    </label>
  </div>

  {{error-message message=validationErrors.errors}}

  {{letter-template disabled=nonPublishableOrUnselected
                    letterValue=latestDecision.letter
                    subjectLine=subjectLine
                    task=task
                    decision=latestDecision.verdict
                    actionTrigger='reject'
                    registerDecision=(action 'registerDecision')
  }}

  {{#if previousDecisions}}
    <hr>
    <h3>Decision History</h3>
    {{partial "overlays/partials/decision-list"}}
  {{/if}}
</div>
