{{partial "task-completed-section"}}

<div class="task-main-content">
  {{#if busy}}
    <div class="register-decision-saving-cover">
      {{progress-spinner visible=true size="large" center=true}}
    </div>
  {{/if}}

  {{rescind-decision
    decision=paper.latestRegisteredDecision
    isEditable=isEditable
    busyWhile=(action busyWhile)}}

  {{#if (eq paper.publishingState 'unsubmitted')}}
    <div class="alert alert-warning">
      A decision cannot be registered at this time. The manuscript is
      unsubmitted.
    </div>
  {{/if}}

  <div class="decision-selections">
    {{#each verdicts as |verdict|}}
      <label class="decision-label">
        {{radio-button
          value=verdict
          selection=draftDecision.verdict
          disabled=nonPublishable
          name="decision"
          action=(action "updateVerdict")}}
        {{humanize verdict}}
      </label>
    {{/each}}
  </div>

  {{error-message message=validationErrors.errors}}

  {{letter-template disabled=nonPublishableOrUnselected
                    letterValue=draftDecision.letter
                    class='letter-template-placeholder'
                    toField=toField
                    subjectLine=subjectLine
                    task=task
                    templateDecision=draftDecision.verdict
                    updateTemplate=(action 'updateTemplate')
                    registerDecision=(action 'registerDecision')
  }}

  {{#if previousDecisions}}
    <hr>
    <h3>Decision History</h3>
    <div class="previous-decisions">
      {{#each previousDecisions as |decision|}}
        {{decision-bar decision=decision}}
      {{/each}}
    </div>
  {{/if}}
</div>
