{{partial "task-completed-section"}}

<div class="task-main-content">
  {{#if isSavingData}}
    <div class="register-decision-saving-cover">
      {{progress-spinner visible=true size="large" center=true}}
    </div>
  {{/if}}
  {{error-message message=validationErrors.errors}}

  {{rescind-decision
    decision=latestRegisteredDecision
    isEditable=isEditable
    beforeRescind=(action "showSpinner")
    afterRescind=(action "hideSpinner")}}

  <div class="decision-selections">
    {{#each verdicts as |verdict|}}
      <label class="decision-label">
        {{radio-button
          value=verdict
          selection=latestDecision.verdict
          disabled=nonPublishable
          name="decision"
          action=(action "setDecisionTemplate")}}
        {{humanize verdict}}
      </label>
    {{/each}}
  </div>

  <p>Feel free to modify the standard decision letter. Your changes will be saved.</p>

  {{textarea focus-out="saveLatestDecision"
             onEvent="false"
             class="decision-letter-field"
             placeholder="A boilerplate decision letter will appear here"
             disabled=nonPublishableOrUnselected
             value=latestDecision.letter}}

  <button class="button-primary button--green send-email-action" disabled={{nonPublishable}} {{action "registerDecision"}}>
    Register Decision and Email the Author
  </button>

  {{#if previousDecisions}}
    <hr>
    <h3>Decision History</h3>
    <div class="previous-decisions">
      {{#each previousDecisions as |decision|}}
        {{decision-bar decision=decision}}
      {{/each}}
    </div>
  {{/if}}
</div>
