{{partial "task-completed-section"}}

<div class="task-main-content">
  <ol class="question-list">
    <li class="question">
      <div class="question-text">Authors should check the <a href="http://www.equator-network.org/" target="_blank">EQUATOR Network</a> site for any reporting guidelines that apply to their study design, and ensure that any required Supporting Information (checklists, protocols, flowcharts, etc.) be included in the article submission.</div>
      <div class="help">Select all that apply</div>
      <ul class="list-unstyled">
        <li class="item">
          {{nested-question-check
              ident="reporting_guidelines--clinical_trial"
              owner=task
              disabled=isNotEditable}}
        </li>

        <li class="item">
          {{#nested-question-check
            ident="reporting_guidelines--systematic_reviews"
            owner=task
            disabled=isNotEditable as |selection|}}

            {{#if selection.yieldingForAdditionalData}}
              {{#if selection.checked}}
                <div class="question-dataset">
                  {{nested-question-uploader ident="reporting_guidelines--systematic_reviews--checklist"
                                   owner=task
                                   updateStore="updateStore"
                                   displayContent=selection.checked
                                   accept=".docx,.pdf"
                                   disabled=isNotEditable}}
                </div>
              {{/if}}
            {{/if}}
          {{/nested-question-check}}
        </li>

        <li class="item">
          {{#nested-question-check
            ident="reporting_guidelines--meta_analyses"
            owner=task
            disabled=isNotEditable as |selection|}}

            {{#if selection.yieldingForAdditionalData}}
              {{#if selection.checked}}
                <div class="question-dataset">
                  {{nested-question-uploader ident="reporting_guidelines--meta_analyses--checklist"
                                   owner=task
                                   updateStore="updateStore"
                                   displayContent=selection.checked
                                   accept=".docx,.pdf"
                                   disabled=isNotEditable}}
                </div>
              {{/if}}
            {{/if}}
          {{/nested-question-check}}
        </li>

        <li class="item">
          {{nested-question-check
            ident="reporting_guidelines--diagnostic_studies"
            owner=task
            disabled=isNotEditable}}
        </li>

        <li class="item">
          {{nested-question-check
            ident="reporting_guidelines--epidemiological_studies"
            owner=task
            disabled=isNotEditable}}
        </li>

        <li class="item">
          {{nested-question-check
            ident="reporting_guidelines--microarray_studies"
            owner=task
            disabled=isNotEditable}}
        </li>
      </ul>
    </li>
  </ol>
</div>
