<ol class="question-list">
  <li class="question">
    {{nested-question-radio-decision ident="reviewer_report--decision_term"
                                     owner=model
                                     decision=decision
                                     readOnly=readOnly}}
  </li>
  <li class="question">
    {{nested-question-textarea ident="reviewer_report--competing_interests"
      owner=model
      decision=decision
      displayContent=true
      helpText="<li>Please review our Competing Interests policy and declare any potential interests that you feel the Editor should be aware of when considering your review. If you have no competing interests, please write: <strong>&quot;I have no competing interests.&quot;</strong></li>"
      readOnly=readOnly}}
  </li>

  <li class="question">
      {{#nested-question-radio ident="reviewer_report--support_conclusions"
                        owner=model
                        decision=decision
                        helpText="<li>The manuscript must describe a technically sound piece of scientific research with data that supports the conclusions.</li><li>Experiments must have been conducted rigorously, with appropriate controls, replication, and sample sizes.</li><li>The conclusions must be drawn appropriately based on the data presented.</li>"
                        wrapperClass="yes-no-with-comments"
                        readOnly=readOnly as |radio|}}

        {{#if radio.yieldingForAdditionalData}}
          {{nested-question-textarea ident="reviewer_report--support_conclusions--explanation"
              owner=model
              decision=decision
              displayQuestionText=false
              displayContent=true
              noResponseText=""
              readOnly=readOnly}}
        {{/if}}
      {{/nested-question-radio}}
  </li>

  <li class="question">
    {{#nested-question-radio ident="reviewer_report--statistical_analysis"
                      owner=model
                      decision=decision
                      wrapperClass="yes-no-with-comments"
                      readOnly=readOnly as |radio|}}
      {{#if radio.yieldingForAdditionalData}}
        {{nested-question-textarea ident="reviewer_report--statistical_analysis--explanation"
            owner=model
            decision=decision
            noResponseText=""
            displayQuestionText=false
            displayContent=true
            readOnly=readOnly}}
      {{/if}}
    {{/nested-question-radio}}
  </li>

  <li class="question">
    {{#nested-question-radio ident="reviewer_report--standards"
                      owner=model
                      decision=decision
                      helpText="<li>Authors must follow field-specific standards for data deposition in publicly available resources and should include accession numbers in the manuscript when relevant. The manuscript should explain what steps have been taken to make data available, particularly in cases where the data cannot be publicly deposited.</li>"
                      wrapperClass="yes-no-with-comments"
                      readOnly=readOnly as |radio|}}
      {{#if radio.yieldingForAdditionalData}}
        {{nested-question-textarea
            ident="reviewer_report--standards--explanation"
            owner=model
            decision=decision
            noResponseText=""
            displayQuestionText=false
            displayContent=true
            readOnly=readOnly}}
      {{/if}}
    {{/nested-question-radio}}
  </li>

  <li class="question">
    {{nested-question-textarea ident="reviewer_report--additional_comments"
                        owner=model
                        decision=decision
                        displayContent=true
                        helpText="<li>Additional comments may include concerns about dual publication, research or publication ethics.</li>"
                        readOnly=readOnly}}
  </li>

  <li class="question">
    {{nested-question-textarea ident="reviewer_report--identity"
                        owner=model
                        decision=decision
                        displayContent=true
                        helpText="<li>Your name and review will not be published with the manuscript.</li>"
                        readOnly=readOnly}}
  </li>
</ol>
