{{#if isEditing}}

  {{reviewer-form reviewerRecommendation=reviewerRecommendation
                  validationErrors=validationErrors
                  saveRecommendation=(action "saveRecommendation")
                  cancelRecommendation=(action "cancelRecommendation")
                  isSubmissionTaskNotEditable=isSubmissionTaskNotEditable}}

{{else}}

  <div class="authors-overlay-item--text">
    <div class="author-name">{{reviewerRecommendation.fullName}}</div>
    {{reviewerRecommendation.email}}<br>
    {{reviewerRecommendation.title}} &nbsp; &nbsp; {{reviewerRecommendation.department}}
    <br>
    {{reviewerRecommendation.affiliation}}
    <div class="reviewerRecommendation-recommendation-decision">
      {{nested-question-display ident="recommend_or_oppose" owner=reviewerRecommendation}}
      {{nested-question-answer ident="recommend_or_oppose" owner=reviewerRecommendation}}
    </div>
    {{nested-question-answer ident="reason" owner=reviewerRecommendation}}
  </div>

  {{#if isHovered}}
    <div class="authors-overlay-item--actions">
      <div class="actions">
        <div class="action" {{action "edit"}}>
          <span class="fa fa-pencil scaleIn"></span>
        </div>
        <div class="action" {{action "delete"}}>
          <span class="fa fa-trash scaleIn"></span>
        </div>
      </div>
    </div>
  {{/if}}

{{/if}}

{{#if isDeleting}}
  <div class="authors-overlay-item--delete">
    <p>This will permanently delete the suggested reviewerRecommendation. Are you sure?</p>
    <button class="button-secondary button--green knockout" {{action "cancelDeletion"}}>Cancel</button>
    <button class="button-secondary button--green knockout" {{action "confirmDeletion"}}>Delete Forever</button>
  </div>
{{/if}}
