{{#if isEditing}}
  {{reviewer-form reviewerRecommendation=reviewerRecommendation
                  validationErrors=validationErrors
                  saveRecommendation=(action "saveRecommendation")
                  cancelRecommendation=(action "cancelRecommendation")
                  isNotEditable=isNotEditable}}
{{/if}}

{{#unless (or isEditing isDeleting)}}
  <div class="reviewer-task-item-view flex-group">
    <div class="reviewer-task-item-view-text flex-element flex-group" {{action "edit"}}>
      <div class="flex-element">
        <div class="author-name full-name">{{reviewerRecommendation.fullName}}<br />
          <span class="email">{{reviewerRecommendation.email}}</span>
        </div>
      </div>
      <div class="reviewer-task-item-view-actions flex-element">
        <span class="fa fa-trash scaleIn" {{action "delete"}}></span>
      </div>
    </div>
  </div>
  <div class="reviewer-task-item-view last flex-group">
    <div class="reviewer-task-item-view-text flex-element flex-group" {{action "edit"}}>
      <div class="flex-element decision">
        <div class="decision">
          {{nested-question-answer ident="reviewer_recommendations--recommend_or_oppose"
                                   owner=reviewerRecommendation
                                   yesLabel="Recommend"
                                   noLabel="Oppose"}}
        </div>
        <div class="reason">
          {{nested-question-answer ident="reviewer_recommendations--reason"
                                   owner=reviewerRecommendation}}
        </div>
      </div>
    </div>
  </div>
{{/unless}}

{{#if isDeleting}}
  <div class="authors-overlay-item-delete">
    <p>This will permanently delete the suggested reviewer. Are you sure?</p>
    <button class="button-secondary button--green knockout" {{action "cancelDeletion"}}>Cancel</button>
    <button class="button-secondary button--green knockout" {{action "confirmDeletion"}}>Delete Forever</button>
  </div>
{{/if}}
