<div class="add-author-form">
  <div class="form-group form-inline author-top">
    <div class="form-group author-name {{if validationErrors.firstName "error"}}">
      <span class="text-field-title required">
        First Name
        {{error-message message=validationErrors.firstName}}
      </span>
      {{input type="text"
              value=newRecommendation.firstName
              class="form-control tall-text-field"
              placeholder="Jane"
              disabled=isSubmissionTaskNotEditable}}
    </div>

    <div class="form-group author-middle {{if validationErrors.middleInitial "error"}}">
      <span class="text-field-title">
        MI
        {{error-message message=validationErrors.middleInitial}}
      </span>
      {{input type="text"
              value=newRecommendation.middleInitial
              class="form-control tall-text-field"
              placeholder="M"
              disabled=isSubmissionTaskNotEditable}}
    </div>

    <div class="form-group author-name {{if validationErrors.lastName "error"}}">
      <span class="text-field-title required">
        Last Name
        {{error-message message=validationErrors.lastName}}
      </span>
      {{input type="text"
              value=newRecommendation.lastName
              class="form-control tall-text-field"
              placeholder="Goodall"
              disabled=isSubmissionTaskNotEditable}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.email "error"}}">
      <span class="text-field-title required">
        Email
        {{error-message message=validationErrors.email}}
      </span>
      {{input type="text"
              value=newRecommendation.email
              class="form-control tall-text-field"
              placeholder="jane.goodall@science.com"
              disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.title "error"}}">
      <span class="text-field-title">
        Title
        {{error-message message=validationErrors.title}}
      </span>
      {{input type="text"
              value=newRecommendation.title
              class="form-control tall-text-field"
              placeholder="World's Foremost Expert on Chimpanzees"
              disabled=isSubmissionTaskNotEditable}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.department "error"}}">
      <span class="text-field-title">
        Department
        {{error-message message=validationErrors.department}}
      </span>
      {{input type="text"
              value=newRecommendation.department
              class="form-control tall-text-field"
              placeholder="Primatology"
              disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.affiliation "error"}}">
      {{error-message message=validationErrors.affiliation}}
      {{institution-search
        institutionSelected="institutionSelected"
        placeholder="Institution"
        disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>

  <div class="form-group">
    <div class="question-text">Are you recommending or opposing this reviewer? (required)</div>
    {{binary-radio-button name="recommend-or-oppose"
                          selection=newRecommendation.recommendOrOppose
                          yesLabel="Recommend"
                          yesValue="recommend"
                          noLabel="Oppose"
                          noValue="oppose"
                          disabled=isSubmissionTaskNotEditable}}
    {{error-message message=validationErrors.recommendOrOppose}}
  </div>

  <div class="form-group">
    {{textarea type="text"
               value=newRecommendation.reason
               class="form-control"
               placeholder="Optional: reason for your recommending or opposing this reviewer"
               disabled=isSubmissionTaskNotEditable}}
  </div>

  <div class="form-group control-buttons">
    <span class="pull-right author-form-buttons">
      <a class="button-link button--green author-cancel" disabled={{isSubmissionTaskNotEditable}} {{action "cancel"}}>cancel</a>
      <button class="button-secondary button--green knockout" disabled={{isSubmissionTaskNotEditable}} {{action "save"}}>done</button>
    </span>
  </div>
</div>
