{{#if shortStatus}}
  <div class='short-status'>
    {{reviewerStatus}} {{statusDate}}
  </div>
{{else}}
  <div class='long-status'>
  {{#if (eq report.status 'completed')}}
  <h3>{{report.revision}} Review</h3>
      Completed {{statusDate}}
  {{else}}
  <strong>{{reviewerStatus}}:</strong> {{statusMessage}}
  {{/if}}
  </div>
{{/if}}
