<div class="add-author-form reviewer-form">
  <div class="form-group form-inline author-top">
    <div class="form-group author-name first-name {{if validationErrors.firstName "error"}}">
      <span class="text-field-title required">
        First Name
        {{error-message message=validationErrors.firstName}}
      </span>
      {{input type="text"
              value=reviewerRecommendation.firstName
              class="form-control tall-text-field"
              placeholder="Jane"
              disabled=isNotEditable}}
    </div>

    <div class="form-group author-middle middle-name {{if validationErrors.middleInitial "error"}}">
      <span class="text-field-title">
        MI
        {{error-message message=validationErrors.middleInitial}}
      </span>
      {{input type="text"
              value=reviewerRecommendation.middleInitial
              class="form-control tall-text-field"
              placeholder="M"
              disabled=isNotEditable}}
    </div>

    <div class="form-group author-name last-name {{if validationErrors.lastName "error"}}">
      <span class="text-field-title required">
        Last Name
        {{error-message message=validationErrors.lastName}}
      </span>
      {{input type="text"
              value=reviewerRecommendation.lastName
              class="form-control tall-text-field"
              placeholder="Goodall"
              disabled=isNotEditable}}
    </div>

    <div class="form-group author-half author-bump email {{if validationErrors.email "error"}}">
      <span class="text-field-title required">
        Email
        {{error-message message=validationErrors.email}}
      </span>
      {{input type="text"
              value=reviewerRecommendation.email
              class="form-control tall-text-field"
              placeholder="jane.goodall@science.com"
              disabled=isNotEditable}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half title {{if validationErrors.title "error"}}">
      <span class="text-field-title">
        Title
        {{error-message message=validationErrors.title}}
      </span>
      {{input type="text"
              value=reviewerRecommendation.title
              class="form-control tall-text-field"
              placeholder="World's Foremost Expert on Chimpanzees"
              disabled=isNotEditable}}
    </div>

    <div class="form-group author-half author-bump department {{if validationErrors.department "error"}}">
      <span class="text-field-title">
        Department
        {{error-message message=validationErrors.department}}
      </span>
      {{input type="text"
              value=reviewerRecommendation.department
              class="form-control tall-text-field"
              placeholder="Primatology"
              disabled=isNotEditable}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half insitution {{if validationErrors.affiliation "error"}}">
      {{error-message message=validationErrors.affiliation}}
      {{institution-search
        value=affiliation
        institutionSelected="institutionSelected"
        placeholder="Institution"
        disabled=isNotEditable}}
    </div>
  </div>

  <div class="form-group">
    {{nested-question-radio
      ident="reviewer_recommendations--recommend_or_oppose"
      owner=reviewerRecommendation
      yesLabel="Recommend"
      noLabel="Oppose"
      disabled=isNotEditable
    }}
    {{error-message message=validationErrors.recommendOrOppose}}
  </div>

  <div class="form-group">
    {{nested-question-textarea
      ident="reviewer_recommendations--reason"
      owner=reviewerRecommendation
      displayContent=true
      disabled=isNotEditable
      displayQuestionAsPlaceholder=true
    }}
  </div>

  <div class="form-group control-buttons">
    <span class="pull-right author-form-buttons">
      <a class="button-link button--green author-cancel cancel" disabled={{isNotEditable}} {{action "cancelRecommendation"}}>cancel</a>
      <button class="button-secondary button--green knockout" disabled={{isNotEditable}} {{action "saveRecommendation"}}>done</button>
    </span>
  </div>
</div>
