<ol class="question-list reviewer-report-questions">
  {{#nested-question ident="competing_interests" task=model decision=decision decision=decision as |nestedQuestion|}}
    {{#if nestedQuestion.answer.wasAnswered}}
      <li class="question">
        <div class="question-text">{{nestedQuestion.text}}</div>
        <div class="answer-text">{{nested-question-answer model=nestedQuestion task=model decision=decision}}</div>
      </li>
    {{/if}}
  {{/nested-question}}

  {{#nested-question ident="support_conclusions" task=model decision=decision as |nestedQuestion|}}
    {{#if nestedQuestion.answer.wasAnswered}}
      <li class="question">
        <div class="question-text">{{nestedQuestion.text}}</div>
        <div class="answer-text">{{nested-question-answer model=nestedQuestion task=model decision=decision}}</div>
        <div class="answer-text">{{nested-question-answer ident="support_conclusions.explanation" task=model decision=decision}}</div>
      </li>
    {{/if}}
  {{/nested-question}}

  {{#nested-question ident="statistical_analysis" task=model decision=decision as |nestedQuestion|}}
    {{#if nestedQuestion.answer.wasAnswered}}
      <li class="question">
        <div class="question-text">{{nestedQuestion.text}}</div>
        <div class="answer-text">{{nested-question-answer model=nestedQuestion task=model decision=decision}}</div>
        <div class="answer-text">{{nested-question-answer ident="statistical_analysis.explanation" task=model decision=decision}}</div>
      </li>
    {{/if}}
  {{/nested-question}}

  {{#nested-question ident="standards" task=model decision=decision as |nestedQuestion|}}
    {{#if nestedQuestion.answer.wasAnswered}}
      <li class="question">
        <div class="question-text">{{nestedQuestion.text}}</div>
        <div class="answer-text">{{nested-question-answer model=nestedQuestion task=model decision=decision}}</div>
        <div class="answer-text">{{nested-question-answer ident="standards.explanation" task=model decision=decision}}</div>
      </li>
    {{/if}}
  {{/nested-question}}

  {{#nested-question ident="intelligible" task=model decision=decision as |nestedQuestion|}}
    {{#if nestedQuestion.answer.wasAnswered}}
      <li class="question">
        <div class="question-text">{{nestedQuestion.text}}</div>
        <div class="answer-text">{{nested-question-answer model=nestedQuestion task=model decision=decision}}</div>
        <div class="answer-text">{{nested-question-answer ident="intelligible.explanation" task=model decision=decision}}</div>
      </li>
    {{/if}}
  {{/nested-question}}

  {{#nested-question ident="additional_comments" task=model decision=decision as |nestedQuestion|}}
    {{#if nestedQuestion.answer.wasAnswered}}
      <li class="question">
        <div class="question-text">{{nestedQuestion.text}}</div>
        <div class="answer-text">{{nested-question-answer model=nestedQuestion task=model decision=decision}}</div>
      </li>
    {{/if}}
  {{/nested-question}}

  {{#nested-question ident="identity" task=model decision=decision as |nestedQuestion|}}
    {{#if nestedQuestion.answer.wasAnswered}}
      <li class="question">
        <div class="question-text">{{nestedQuestion.text}}</div>
        <div class="answer-text">{{nested-question-answer model=nestedQuestion task=model decision=decision}}</div>
      </li>
    {{/if}}
  {{/nested-question}}

</ol>
