<ol class="question-list">
  <li class="question">
    {{nested-question-radio-decision ident="reviewer_report--decision_term"
                                     owner=model
                                     decision=decision
                                     readOnly=readOnly}}
  </li>
  <li class="question">
    {{nested-question-radio ident="reviewer_report--competing_interests"
      owner=model
      decision=decision
      displayContent=true
      helpText="Please review our <a href='http://journals.plos.org/plosbiology/s/reviewer-guidelines#loc-competing-interests'>Competing Interests policy</a> and declare any potential interests that you feel the Editor should be aware of when considering your review."
      readOnly=readoOnly}}
    {{nested-question-textarea ident="reviewer_report--competing_interests--detail"
      owner=model
      decision=decision
      shouldDisplayQuestionText=false
      readOnly=readOnly}}
  </li>

  <li class="question">
    {{nested-question-textarea ident="reviewer_report--identity"
                        owner=model
                        decision=decision
                        displayContent=true
                        helpText="Your name and review will not be published with the manuscript."
                        readOnly=readOnly}}
  </li>

  <li class="question">
    {{nested-question-textarea ident="reviewer_report--comments_for_author"
                        owner=model
                        decision=decision
                        displayContent=true
                        class="taller-textarea"
                        helpText="These comments will be transmitted to the author."
                        readOnly=readOnly}}
  </li>

  <li class="question">
    {{nested-question-textarea ident="reviewer_report--additional_comments"
                        owner=model
                        decision=decision
                        displayContent=true
                        helpText="Additional comments may include concerns about dual publication, research or publication ethics.<br><br>These comments will not be transmitted to the authors."
                        readOnly=readOnly}}
  </li>

  <li class="question">
    {{nested-question-radio ident="reviewer_report--suitable_for_another_journal"
      owner=model
      decision=decision
      readOnly=readOnly
      helpText="If so, please specify which journal and whether you will be willing to continue there as reviewer. PLOS Biology is committed to facilitate the transfer between journals of suitable manuscripts to reduce redundant review cycles, and we appreciate your support."}}

    {{nested-question-textarea ident="reviewer_report--suitable_for_another_journal--journal"
      owner=model
      decision=decision
      shouldDisplayQuestionText=false
      readOnly=readOnly}}
  </li>



</ol>
