{{partial "task-completed-section"}}

<div class="task-main-content">
  <p>
    Use the fields below to give us contact information for each suggested reviewer,
    and please provide specific reasons for your suggestion in the "Reason" box for each person.
    Please note that the editorial office may not use your suggestions, but your help is appreciated
    and may speed up the selection of appropriate reviewers.
  </p>

  <div class="reviewer-candidates-wrapper">
    {{#if isEditable}}
      <button class="button-primary button--green {{if isNotEditable 'button--disabled'}}"
              disabled={{isNotEditable}} {{action "addNewReviewer"}}>
        New Reviewer Candidate
      </button>

      {{#if showNewReviewerForm}}
        {{reviewer-form reviewerRecommendation=newRecommendation
                        validationErrors=validationErrors
                        saveRecommendation=(action "saveRecommendation")
                        cancelRecommendation=(action "cancelNewRecommendation")
                        isNotEditable=isNotEditable}}
      {{/if}}
    {{/if}}

    {{#each validReviewerRecommendations as |reviewerRecommendation|}}
      {{reviewer-row reviewerRecommendation=reviewerRecommendation
                     isEditable=isEditable
                     isNotEditable=isNotEditable}}
    {{/each}}
  </div>
</div>
