{{#if shortStatus}}
  <div class='short-status'>
    {{reviewerStatus}} {{statusDate}}
  </div>
{{else}}
  <div class='long-status'>
  {{#if (eq report.status 'completed')}}
  <h3>{{report.revision}} Review</h3>
    Completed {{statusDate}}
  {{else}}
  <strong>{{reviewerStatus}}:</strong> {{statusMessage}}
  {{#if (and canEditDueDate
             (eq reviewerStatus 'Pending')
             report.dueAt)}}
    {{date-picker-link
      linkText="Change due date"
      dateChanged="changeDueDate"
    }}
  {{/if}}
  <br>
  <span class='sub-message'>{{statusSubMessage}}</span>
  {{/if}}
  </div>
{{/if}}
