{{#if shortStatus}}
  <div class='short-status'>
    {{reviewerStatus}} {{statusDate}}
  </div>
{{else}}
  <div class='long-status'>
  {{#if (eq report.status 'completed')}}
    <h3>
      {{report.revision}} Review
      {{#if (can 'edit_answers' report.task.paper)}}
        <span id="edit-reviewer-report" {{action "editReport"}} class="{{editingClass}}">
          {{fa-icon icon="pencil"}}
          Edit
        </span>
        {{#if report.editWaiting}}
          {{progress-spinner visible=true size="mini"}}
        {{/if}}

      {{/if}}
    </h3>
    Completed {{statusDate}}
    {{#each inactiveAdminEdits as |edit|}}
      <div class="report-edit-description">
        <span><em>Edited by {{edit.user.name}} on {{format-date edit.updatedAt}}:</em> {{edit.notes}}</span>
      </div>
    {{/each}}
  {{else}}
  <strong>{{reviewerStatus}}:</strong> {{statusMessage}}
  {{#if (and canEditDueDate
             (eq reviewerStatus 'Pending')
             dueDatetime.dueAt)}}
    {{date-picker-link
      linkText="Change due date"
      dateChanged="changeDueDate"
    }}
  {{/if}}
  <br>
  <span class='sub-message'>{{statusSubMessage}}</span>
  {{/if}}
  </div>
{{/if}}
