{{partial "task-completed-section"}}

<div class="task-main-content">
  <h3>Current Revision</h3>

  <div class="decision">
    <p>
      Revision
      <span class="revision-number">
        {{latestRegisteredDecision.revisionNumber}}
      </span>
      on
      <span class="created-at">
        {{format-date latestRegisteredDecision.createdAt}}
      </span>
    </p>

    <p class="preserve-line-breaks letter">
      {{{latestRegisteredDecision.letter}}}
    </p>
  </div>

  <div class="response-to-reviewers">
    <h3>Response to Reviewers:</h3>
    {{error-message message=validationErrors.response
                    displayIcon=true}}

    {{#if editingAuthorResponse}}
      {{content-editable value=latestRegisteredDecision.authorResponse
                         class="revise-overlay-response-field author-response"
                         placeholder="You may respond to the reviewer and editor comments point by point here. Alternatively, you may upload your response as a text file (e.g. .doc, .pdf, .rtf) below."
                         editable=isEditable}}

      <button id="revise-task-save-button"
             class="revise-save-button button-primary button--green {{if isNotEditable 'button--disabled'}}"
             disabled={{isNotEditable}}
             {{action "saveAuthorResponse"}}>
       Save
      </button>
    {{else}}
      <div class="preserve-line-breaks">{{{latestRegisteredDecision.authorResponse}}}</div>
      <br>
      <button id="revise-task-edit-button" class="button-primary button--green" {{action "editAuthorResponse"}}>Edit Response</button>
    {{/if}}

    <p>
      Please upload an additional version of your manuscript that highlights the changes you’ve made.
      You may also upload your point by point 'response to reviewers' file here.
    </p>
    {{decision-attachment-manager filePath="decisions/attachment"
                         attachments=latestRegisteredDecision.attachments
                         multiple=true
                         description="Please select files to add attachment"
                         cancelUpload=(action "cancelUpload")
                         draft=(not task.completed)
                         deleteFile=(action "deleteAttachment")
                         uploadFinished=(action "createAttachment")
                         updateAttachment=(action "updateAttachment")}}
  </div>

  {{#if previousDecisions}}
    <hr>
    <h3>Decision History</h3>
    <div class="previous-decisions">
      {{#each previousDecisions as |decision|}}
        {{decision-bar decision=decision}}
      {{/each}}
    </div>
  {{/if}}
</div>
