 {{partial "task-completed-section"}}

<div class="task-main-content">
  {{#if confirmVisible}}
  <div class="confirm-container">
      <h4>Are you sure?</h4>
      <br>
      <button class="button-link button--white" {{action "cancel"}}>cancel</button>
      <button class="button-secondary button--green delete-button" {{action "generateReport"}}>Generate Report</button>
  </div>
  {{else}}
  <p>Click below to generate a similarity report via iThenticate. If a report was generated for a previous version it can be found in the version history.</p><br>
  <button class="button-primary button--green" {{ action "generateReport" }}>Generate Report</button>
  {{/if}}
</div>
