{{partial "task-completed-section"}}

<div>
  {{#each latestVersionPrimaryFailedChecks as |check|}}
    {{flash-message remove=(action "dismissMessage")
                    message=(format-report-error check)}}
  {{/each}}

  <p>Click below to generate a similarity report via iThenticate. If a report was generated for a previous version it can be found in the version history.</p><br>
  {{#if latestVersionHasSuccessfulChecks}}
    <h3>Similarity Check Report</h3>
  {{/if}}

  {{#each sortedChecks as |check|}}
    {{similarity-check check=check}}
  {{/each}}

  {{#if confirmVisible}}
    <div class="confirm-container">
      <h4>Are you sure?</h4>
      <br>
      <button class="button-link button--white" {{action "cancel"}}>cancel</button>
      <button class="button-secondary button--green delete-button" {{action "generateReport"}}>Generate Report</button>
    </div>
  {{else}}
    <button class="button-primary button--green" {{ action "confirmGenerateReport" }}>Generate Report</button>
  {{/if}}

  {{#if task.paper.hasSimilarityChecks }}
    <hr>
    <h3>Report History</h3>
    {{#each task.paper.paperVersions as |version|}}
      {{#if (and version.hasSimilarityChecks (not version.isDraft))}}
        {{similarity-check-bar version=version}}
      {{/if}}
    {{/each}}
  {{/if}}

</div>
