{{partial "task-completed-section"}}

<div class="task-main-content">
  <div class="supporting-information-files">
    {{#each filesWithErrors as |fileWithErrors|}}
    {{supporting-information-file
        file=fileWithErrors.model
        validationErrors=fileWithErrors.errors
        isEditable=isEditable}}
    {{/each}}
  </div>

  <div id="paper-file-uploads">
    {{#each uploads as |upload|}}
      {{upload-preview upload=upload}}
    {{/each}}
  </div>
  {{#if isEditable}}
    <span class="button-primary button--green fileinput-button si-files-upload-button {{if isSubmissionTaskNotEditable 'button--disabled'}}">
      <span>Add Files</span>
      {{file-uploader id="file_attachment"
                      filePrefix="supporting-info"
                      url=uploadUrl
                      start="uploadStarted"
                      done="uploadFinished"
                      cancel="cancelUploads"
                      progress="uploadProgress"
                      multiple=true
                      disabled=isSubmissionTaskNotEditable}}
    </span>

    <div>
      Please provide files in their native file formats, e.g. Word, Excel, WAV, MPEG, JPG, etc.
    </div>
  {{/if}}
</div>
