{{partial "task-completed-section"}}

<div class="task-main-content">
  {{#if taskStateToggleable}}
    <p>You may upload a manuscript at any time.</p>
    <span class="button-primary button--green fileinput-button {{if isNotEditable 'button--disabled'}}">
      Select and upload a document
      {{file-uploader id="upload-files"
                      railsMethod="PUT"
                      accept=".docx,.doc"
                      start="uploadStarted"
                      progress="uploadProgress"
                      done="uploadFinished"
                      addingFileFailed="fileAddError"
                      error="uploadError"
                      filePrefix="paper/manuscript"
                      url=manuscriptUploadUrl
                      disabled=isNotEditable}}
    </span>
  {{else}}
    <p>You are unable to upload a new manuscript while your submission is under review.</p>
  {{/if}}

  {{#if uploadError}}
    <p>We're sorry, '{{fileName}}' is not a valid file type.</p>
    <p> Please upload a Microsoft Word file (.docx or .doc).</p>
  {{/if}}

  {{#if isUploading}}
    <div id="paper-manuscript-upload">
      {{#if showProgress}}
        <div class="progress">
          <div class="progress-bar" style={{progressBarStyle}}></div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
