{{partial "task-completed-section"}}

<div class="task-main-content">
  {{#if taskStateToggleable}}
    {{#if pdfAllowed}}
      <p>
        You may upload a manuscript in either Microsoft Word (.docx or .doc) or PDF format. You can upload a replacement manuscript file at any time before you submit.
      </p>
      <p>
        <b>Microsoft Word format:</b> Manuscripts uploaded in this format can take advantage of automatic
        inline figure placement and visual version comparison features.
      </p>
      <p>
        <b>PDF format:</b> For authors uploading a PDF manuscript file, figures and any SI information
        can be included in the manuscript and are not required separately for initial assessment.
        If a revision is invited, separate figure and SI file upload will be required.
        If preferred, you may upload those files separately before completing your submission.
      </p>
    {{else}}
     You can upload a replacement manuscript file at any time before you
     submit.
    {{/if}}
      <div>
    {{#if manuscriptUploaded}}
        <a href="{{s3Url}}"
           class="download-docx"
           title="{{filename}}">
           {{fa-icon fileTypeClass}} {{filename}}
        </a>
    {{else}}
      <a href={{paper-download-link paper=task.paper}}
         target="_new">
         {{fa-icon fileTypeClass}} {{task.paper.file.filename}}
      </a>
    {{/if}}
      <span class="fileinput-button manuscript-task">
        {{fa-icon icon="refresh"}}
        <span>Replace</span>
        {{file-uploader id="upload-files"
                        railsMethod="PUT"
                        accept=(if pdfAllowed ".docx,.doc,.pdf" ".docx,.doc")
                        start="uploadStarted"
                        progress="uploadProgress"
                        done="uploadFinished"
                        addingFileFailed="fileAddError"
                        error="uploadError"
                        filePrefix="paper/manuscript"
                        url=manuscriptUploadUrl
                        disabled=isNotEditable}}
      </span>
      </div>
  {{else}}
    <p>You are unable to upload a new manuscript while your submission is under review.</p>
  {{/if}}

  {{#if uploadError}}
    <p>We're sorry, '{{fileName}}' is not a valid file type.</p>
    {{#if pdfAllowed}}
      <p>Please upload a Microsoft Word file (.docx or .doc) or PDF.</p>
    {{else}}
      <p>Please upload a Microsoft Word file (.docx or .doc).</p>
    {{/if}}
  {{/if}}

  {{#if isUploading}}
    <div id="paper-manuscript-upload">
      {{#if showProgress}}
        <div class="progress">
          <div class="progress-bar" style={{progressBarStyle}}></div>
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if needsSourcefile}}
    {{upload-source-file task=task message=validationErrors.hasSourceIfNeeded}}
  {{/if}}

</div>
