{{#if event.finished}}
  {{#if event.completed}}<span>{{fa-icon 'fa-check'}}&nbsp;Sent</span>{{/if}}
  {{#if event.inactive}}<span>{{fa-icon 'fa-minus'}}&nbsp;NA</span>{{/if}}
  {{#if event.errored}}<span>{{fa-icon 'fa-exclamation-triangle'}}&nbsp;Reminder not sent due to a system error</span>{{/if}}
{{else}}
  {{card-content/toggle-switch
    name=event.name
    content=(hash text='Reminder')
    answer=defaultState
    valueChanged=(action 'changeEventState')
    size="small"}}
{{/if}}
