<h1 {{bind-attr class=":inline-edit editing"}}>
  {{title}}
  <span class="glyphicon glyphicon-pencil inline-edit-icon" {{action "toggleEdit"}}></span>
</h1>

<div {{bind-attr class=":large-edit :inline-edit-form editing"}}>
  {{input type="text" name="title" value=title}}
  <div class="button-secondary button--green pull-right" {{action "save"}}>Save</div>
  <div class="button-link button--green pull-right" {{action "toggleEdit"}}>cancel</div>
</div>
