{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<h2 class="feedback-header">
{{#if academicEditor}}
  Academic Editor Invitation Declined
{{else if reviewer}}
  Reviewer Invitation Declined
{{else}}
  Invitation Declined
{{/if}}
</h2>

{{invitation-header invitation=invitation}}

<p class="feedback-decline-notice">
  <b>You've successfully declined the invitation to be the {{invitation.inviteeRole}} for</b> "{{invitation.htmlSafeTitle}}".
  We're always trying to improve our invitation process
  and would appreciate your feedback below.
</p>

<label class="feedback-request">
  Please give your reasons for declining this invitation.

  {{rich-text-editor
    editorStyle='basic'
    value=invitation.declineReason
    name="declineReason"
    ident="declineReason"
    onContentsChanged=(action "updateDeclineReason")
    classNames="feedback-textarea declineReason"
  }}
</label>

<label class="feedback-request feedback-alternative-suggestions">
  {{#if academicEditor}}
    We would value your suggestions of alternative Academic Editors for this manuscript. Please provide editors’ names, institutions, and email addresses if known.
  {{else if reviewer}}
    We would value your suggestions of alternative reviewers for this manuscript. Please provide reviewers' names, institutions, and email addresses if known.
  {{/if}}

  {{rich-text-editor
    editorStyle='basic'
    value=invitation.reviewerSuggestions
    name="reviewerSuggestions"
    ident="reviewerSuggestions"
    onContentsChanged=(action "updateReviewerSuggestions")
    classNames="feedback-textarea reviewerSuggestions"
  }}
</label>

<div class="feedback-buttons">
  <a href="#" role="button" class="decline-feedback button-link button--green" {{action 'declineFeedback' invitation}}>No Thank You</a>
  <button type="button" class="send-feedback button-secondary button--green" {{action decline invitation}}>Send Feedback</button>
</div>
