{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<h1>Create new email template</h1>

<div class="labeled-input-form">
  <div class="admin-overlay-form">
    {{forms/labeled-input-with-errors type="text" label="Template name" name="name" value=name enter=(action "complete") errors=errors required=true autofocus=true}}

    {{#forms/labeled-input-with-errors type="yield" label="Scenario" name="scenario" value=scenario errors=errors required=true}}
      {{#power-select
        placeholder="Select the scenario in which this template will be used"
        options=journal.letterTemplateScenarios
        selected=scenario
        onchange=(action "valueChanged")
        searchEnabled=false
        disabled=false
        ariaLabelledBy="scenario"
        triggerClass=scenarioError
        as |val|}}
        {{val.name}}
      {{/power-select}}
    {{/forms/labeled-input-with-errors}}

    <div class="overlay-action-buttons">
      <button class="button-link button--blue admin-overlay-cancel" {{action "close"}}>
        cancel
      </button>

      <button class="button-primary button--blue admin-overlay-save" disabled={{if saving true null}} {{action "complete"}}>
        Continue
        </button>
    </div>
  </div>
</div>
