{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if paper.isSubmitted}}
  <h3>Preview for this manuscript is unavailable.</h3>
  <p>This may be due to images, audio, video, or other
    objects embedded in the original manuscript file.
    You can <a href="#" {{action "toggle"}} id="download">download the manuscript</a> to
    your computer to view it.
    If you would like to contact us, you can reach us via our
    <a href="#" {{action "feedback"}} id="nav-give-feedback">Feedback form</a>.
  </p>
{{else}}
  {{#if paper.previewFail}}
    <h3>Preview for this manuscript is unavailable.</h3>
    <p>If you are using an unsupported browser, <a href="https://browsehappy.com/" target="_blank">please try a different web browser</a>, or you can <a href="#" {{action "toggle"}} id="download">download the manuscript</a> to your computer to view it. </p>
    <p>If you would like to contact us, you can reach us via our <a href="#" {{action "feedback"}} id="nav-give-feedback">Feedback form</a>.</p>
  {{else}}
    <h3>Your file was uploaded successfully, but we were unable to render a preview at this time.</h3>
    <p><i id="errored-file-icon" class="fa {{checkFileType}}"></i>{{paper.file.filename}}</p>
    <p><b>Next Steps:</b> You may complete your submission as is. If you prefer to preview
      your file, please remove any embedded images, audio, video, etc.,
      and try uploading again. You may also upload your manuscript as a PDF.</p>
      <p>Refer to our <a href="http://journals.plos.org/plosbiology/s/aperta-user-guide-for-authors#loc-figures"
                     target="_blank">submission guide</a> for information about uploading figures in Aperta.
                     If you would like to contact us, you can reach us via our
                     <a href="#" {{action "feedback"}} id="nav-give-feedback">Feedback form</a>.
      </p>
  {{/if}}
{{/if}}
