<div class="question-text">{{{model.question}}}</div>
<div class="additional-data">
  <span class="button-secondary button--green knockout fileinput-button">
    {{if model.questionAttachment "Replace File" "Select & upload"}}

    {{file-uploader accept=accept
                    start="uploadStarted"
                    progress="uploadProgress"
                    done="uploadFinished"
                    error="uploadError"
                    filePrefix="question_attachment"
                    disabled=disabled}}
  </span>
  {{#if fileUpload}}
    <div id="paper-file-uploads">
      {{upload-preview upload=fileUpload
                       disabled=disabled}}
    </div>
  {{/if}}
  {{#if model.questionAttachment}}
    {{attachment-thumbnail attachment=model.questionAttachment
                           destroyAttachment="destroyAttachment"}}
  {{/if}}
</div>
