{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<div class="task-main-content">

  <div class="ad-hoc-body-header">
    {{inline-edit-h1 title=task.title canManage=canManage setTitle="setTitle"}}

    {{#if canManage}}
      <div class="ad-hoc-corresponding-role">
        <span class="ad-hoc-corresponding-role-label">Corresponding Role</span>
        <span class="ad-hoc-corresponding-role-value">{{correspondingRole}}</span>
      </div>
    {{/if}}
  </div>

  <div class="task-body">
    {{#each displayedBlocks as |block|}}
      {{#inline-edit-body-part block=block
                               canEdit=canEdit
                               canManage=canManage
                               editing=(readonly block.isNew)
                               cancel=(action "resetBlock" block)
                               save=(action "saveBlock" block)
                               delete=(action "deleteBlock" block)
                               addItem=(action "addCheckboxItem" block)
                               as |editing|}}
        {{#each block.items as |item|}}
          {{component
              (concat 'inline-edit-' item.type)
              bodyPart=item
              canEdit=canEdit
              canManage=canManage
              editing=editing
              emailSentStates=emailSentStates
              overlayParticipants=participants
              paperId=paperId
              task=task
              sendEmail=(action "sendEmail")
              delete=(action "deleteItem" item block)
              save=(action attrs.save)}}
        {{/each}}
      {{/inline-edit-body-part}}
    {{/each}}

    {{#if showAttachmentsBlock}}
    <div class="adhoc-attachments">
      {{#if (not canEdit)}}
        User Attached Files:
      {{/if}}
    </div>
    {{/if}}
  </div>

  {{#if canManage }}
      <div class="adhoc-content-toolbar
                  {{if toolbarActive "_active"}}
                {{if toolbarActive "_animate-forward" "_animate-backward"}}"
         {{action "toggleToolbar"}}>

      <div class="button-primary {{if hasNewBlock "button--disabled"}} button--green">
        <span class="fa fa-plus"></span>
        <span class="fa fa-remove"></span>
      </div>
      <div class="button-secondary button--green adhoc-toolbar-item--list" {{action "addChecklist"}}>
        <span class="fa fa-th-list"></span>
      </div>

      <div class="button-secondary button--green adhoc-toolbar-item--text" {{action "addTextBlock"}}>
        <span class="fa fa-edit"></span>
      </div>

      <div class="button-secondary button--green adhoc-toolbar-item--label" {{action "addLabel"}}>
        <span class="fa fa-paragraph"></span>
      </div>

      <!-- only displayb the email widget if it is an Adhoc For Staffs only task-->
      {{#if isAdhocStaff}}
        <div class="button-secondary button--green adhoc-toolbar-item--email" {{action "addEmail"}}>
          <span class="fa fa-envelope"></span>
        </div>
      {{/if}}

      <div class="button-secondary button--green adhoc-toolbar-item--image" {{action "addAttachments"}}>
        <span class="fa fa-paperclip"></span>
      </div>
    </div>
  {{/if}}
</div>
