<div class="auth-container">
  <h1>Change your password</h1>

  <div class="auth-left auth-group">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="auth-field auth-field--text-input">
        <%= f.password_field :password, :autofocus => true, placeholder: "New password" %>
      </div>

      <div class="auth-field auth-field--text-input">
        <%= f.password_field :password_confirmation, placeholder: "Confirm new password" %>
      </div>

      <%= f.submit "Change my password", class: "button-primary button--green" %>
    <% end %>
  </div>

  <div class="auth-right auth-group">
    <%= render "devise/shared/links" %>
  </div>
</div>
