<%# Copyright (c) 2018 Public Library of Science %>

<%# Permission is hereby granted, free of charge, to any person obtaining a %>
<%# copy of this software and associated documentation files (the "Software"), %>
<%# to deal in the Software without restriction, including without limitation %>
<%# the rights to use, copy, modify, merge, publish, distribute, sublicense, %>
<%# and/or sell copies of the Software, and to permit persons to whom the %>
<%# Software is furnished to do so, subject to the following conditions: %>

<%# The above copyright notice and this permission notice shall be included in %>
<%# all copies or substantial portions of the Software. %>

<%# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR %>
<%# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, %>
<%# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL %>
<%# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER %>
<%# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING %>
<%# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER %>
<%# DEALINGS IN THE SOFTWARE. %>

<div class="auth-container">
  <h1>Forgot your password?</h1>

  <div class="auth-left auth-group">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :style => "min-height: 200px;" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="auth-field auth-field--text-input">
        <%= f.email_field :email, :autofocus => true, placeholder: "Email" %>
      </div>

      <div><%= f.submit "Send reset instructions", class: "button-primary button--green" %></div>
    <% end %>
  </div>

  <div class="auth-right auth-group">
    <%= render "devise/shared/links" %>
  </div>
</div>
