{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#liquid-if displayAcceptFields}}
  <div class="instructions">
    Please provide a first and last name for reviewer <b>{{invitation.email}}</b>
  </div>
  <div class="row labels">
    <div class="col-sm-3">
      <label for="{{concat elementId '-fname'}}">
        <b>Reviewer's First Name</b>
      </label>
    </div>
    <div class="col-sm-3">
      <label for="{{concat elementId '-lname'}}">
        <b>Reviewer's Last Name</b>
      </label>
    </div>
  </div>
  <div class="row inputs">
    <div class="col-sm-3 {{if validationErrors.firstName 'error'}}">
      {{input
        id=(concat elementId '-fname')
        class="form-control"
        disabled=loading
        value=stubInvitee.firstName}}
      {{error-message message=validationErrors.firstName displayIcon=true}}
    </div>
    <div class="col-sm-3 {{if validationErrors.lastName 'error'}}">
      {{input
        id=(concat elementId '-lname')
        class="form-control"
        disabled=loading
        value=stubInvitee.lastName}}
      {{error-message message=validationErrors.lastName displayIcon=true}}
    </div>
    <div class="col-sm-1">
      <button class="button-link button--green cancel {{if loading 'button--disabled'}}" {{action "cancelAccept"}}>cancel</button>
    </div>
    <div class="col-sm-2">
      {{#save-button
        class="button-secondary button--green accept"
        disabled=loading
        displaySpinner=false
        click=(action "confirmAccept")}}
        ACCEPT INVITATION
      {{/save-button}}
    </div>
    <div class="col-sm-1">
      {{progress-spinner size="small" color="green" visible=loading}}
    </div>
  </div>
{{/liquid-if}}
