{{#liquid-if displayAcceptFields}}
  <div class="instructions">
    Please provide a first and last name for reviewer <b>{{invitation.email}}</b>
  </div>
  <div class="row labels">
    <div class="col-sm-3">
      <label for="{{concat elementId '-fname'}}">
        <b>Reviewer's First Name</b>
      </label>
    </div>
    <div class="col-sm-3">
      <label for="{{concat elementId '-lname'}}">
        <b>Reviewer's Last Name</b>
      </label>
    </div>
  </div>
  <div class="row inputs">
    <div class="col-sm-3 {{if validationErrors.firstName 'error'}}">
      {{input
        id=(concat elementId '-fname')
        class="form-control"
        disabled=loading
        value=stubInvitee.firstName}}
      {{error-message message=validationErrors.firstName displayIcon=true}}
    </div>
    <div class="col-sm-3 {{if validationErrors.lastName 'error'}}">
      {{input
        id=(concat elementId '-lname')
        class="form-control"
        disabled=loading
        value=stubInvitee.lastName}}
      {{error-message message=validationErrors.lastName displayIcon=true}}
    </div>
    <div class="col-sm-1">
      <button class="button-link button--green cancel {{if loading 'button--disabled'}}" {{action "cancelAccept"}}>cancel</button>
    </div>
    <div class="col-sm-2">
      {{#save-button
        class="button-secondary button--green accept"
        disabled=loading
        displaySpinner=false
        click=(action "confirmAccept")}}
        ACCEPT INVITATION
      {{/save-button}}
    </div>
    <div class="col-sm-1">
      {{progress-spinner size="small" color="green" visible=loading}}
    </div>
  </div>
{{/liquid-if}}
