<div class="attachment-thumbnail">
  {{#if attachment.src}}
    <img class="attachment-thumbnail-image" {{action "togglePreview"}} src={{unbound attachment.src}} alt={{unbound attachment.alt}}>
  {{else}}
    <div class="attachment-thumbnail-image attachment-thumbnail-image-placeholder">
      <span class="glyphicon glyphicon-file"></span>
    </div>
  {{/if}}
  <div class="attachment-thumbnail-text-content">
    <h2>{{attachment.title}}</h2>
    <div>{{attachment.caption}}</div>
  </div>
</div>
