{{add-column position=nextPosition action="addPhase"}}

{{phase-header phase=phaseTemplate
               savePhase="savePhase"
               removePhase="removeRecord"
               rollbackPhase="rollbackPhase"}}

<div class="column-content">
    <div class="sortable {{if noCards "sortable-no-cards"}}" data-phase-id="{{phaseTemplate.id}}">
      {{#each sortedTasks as |task|}}
        {{card-preview  task=task
                        canRemoveCard=true
                        removeTask="removeRecord"
                        showDeleteConfirm="showDeleteConfirm"
                        action=null}}
      {{/each}}
    </div>
 <a {{action "chooseNewCardTypeOverlay" phaseTemplate}} class="button-secondary button--green">Add New Card</a>
</div>
