<div class="column-header {{if editing "active"}}">
  {{#if editing}}
    {{content-editable tagName="h2"
                       class="column-title"
                       value=flow.title
                       plaintext="true"
                       preventEnterKey="true"}}

    <div class="column-title-update-buttons">
      <button class="column-header-update-cancel btn-link" {{action "cancel"}}>cancel</button>
      <button class="column-header-update-save button-primary button--green" {{action "save"}}>Save</button>
    </div>
  {{else}}
    <div class="column-title-wrapper">
      <h2 class="column-title" {{action "toggleEdit"}}>{{flow.title}}</h2>
      <div style="min-height: 40px;">

      <div class="flow-manager-column-sub-title">
        {{#if journalLogo}}
          <img src={{journalLogo}}>
        {{else}}
          {{if journalName journalName "For all Journals"}}
        {{/if}}
      </div>

      {{#segmented-buttons selectedValue=sortBy action="setSortOrder"}}
        {{#segmented-button value="asc"}}Sort by Oldest{{/segmented-button}}
        {{#segmented-button value="desc"}}Sort by Newest{{/segmented-button}}
      {{/segmented-buttons}}

      </div>
    </div>
  {{/if}}
  {{#if editable}}
    <div class="edit-column-title fa fa-pencil" {{action "toggleEdit"}}></div>
    {{select-2-single
        allowClear=true
        placeholder="Card Types"
        selectedData=selectedTaskType
        selectionCleared="removeTypeQuery"
        selectionSelected="updateTypeQuery"
        source=selectableTaskTypes}}

    {{select-2-single
        allowClear=true
        placeholder="Card State"
        selectedData=selectedTaskState
        selectionCleared="removeStateQuery"
        selectionSelected="updateStateQuery"
        source=selectableTaskStates}}

    {{select-2-single
        allowClear=true
        placeholder="User"
        selectedData=selectedTaskAssignment
        selectionCleared="removeAssignmentQuery"
        selectionSelected="updateAssignmentQuery"
        source=selectableTaskAssignments}}

    {{select-2-single
        allowClear=true
        placeholder="Paper Role"
        selectedData=selectedTaskRole
        selectionCleared="removeOldRoleQuery"
        selectionSelected="updateRoleQuery"
        source=selectableTaskRoles}}

  {{/if}}
  <div class="remove-column fa fa-remove" {{action "removeFlow"}}></div>
</div>

{{#unless flow.isLoaded}}
  {{progress-spinner visible=true}}
{{/unless}}

<div class="column-content">
  <ul class="cards">
    {{#each tasks as |task|}}
      {{flow-task-group task=task
                        viewCard="viewCard"}}
    {{/each}}
  </ul>

  {{#unless flow.papers}}
    <div class="empty-text">{{emptyText}}</div>
  {{/unless}}
</div>
