{{flash-messages}}

{{#overlay-fullscreen visible=showUserDetailsOverlay
                      outAnimationComplete=(action "hideUserDetailsOverlay")
                      title="User Details"
                      overlayClass="user-detail-overlay overlay-x--blue"
                      as |overlay|}}
    {{user-details model=detailsForUser
                   close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


<div class="base-screen admin-screen">
  <div class="admin-user-search">
    {{input enter="searchUsers"
            placeholder="SEARCH ALL USERS"
            class="admin-user-search-input"
            value=searchQuery}}
    <button class="admin-user-search-button" {{action "searchUsers"}}><span class="fa fa-search"></span></button>
  </div>

  {{#if adminJournalUsers}}
    <table class="admin-users">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
      {{#each adminJournalUsers as |user|}}
        {{partial "admin/edit-journal-user"}}
      {{/each}}
    </table>
  {{else}}
    <p class="admin-user-search-default-state-text">{{placeholderText}}</p>
  {{/if}}

  <br><br>

  {{outlet}}
</div>
