{{#if (and hasText canBeLabeled)}} {{! Both label and text}}
  <div class="card-form-text">{{{content.text}}}</div>
  {{#if canBeLabeled}}
    <label class="card-form-element">
      <div class="card-form-label">
        {{{content.label}}}
        {{partial "required-field"}}
      </div>
     
      {{partial "card-content-component"}}

    </label>
  {{else}}
    <div class="card-form-element">
        {{partial "card-content-component"}}
    </div>
  {{/if}}

{{else if hasText}} {{! Text, no label}}
  <label class="card-form-element">
    <div class="card-form-label">
      {{{content.text}}}
      {{partial "required-field"}}
    </div>
    {{partial "card-content-component"}}
  </label>

{{else if canBeLabeled}} {{! Label, no text}}
  <label class="card-form-element">
    <div class="card-form-label">
      {{{content.label}}}
      {{partial "required-field"}}
    </div>
    {{partial "card-content-component"}}
  </label>

{{else}} {{! Neither label nor text, but required}}
  {{#if (and content.isRequired (not hasLabel) (not hasText))}}
    <label class="card-form-element">
      <div class="card-form-label">
        This field is required.
        {{partial "required-field"}}
      </div>
        {{partial "card-content-component"}}
    </label>
  {{else}}
  <div class="card-form-element">
      {{partial "card-content-component"}}
  </div>
  {{/if}}
{{/if}}
