{{! Both label and text}}
{{#if (and hasText hasLabel)}}
  <p class="content-text">
    {{{content.text}}}
  </p>
  {{#if canBeLabeled}}
    <label class="content-label">
      {{{content.label}}}
      {{#if content.isRequired}}
        <span class="required-field"><i class="fa fa-asterisk"></i></span>
      {{/if}}
      {{partial "card-content-component"}}
    </label>
  {{else}}
    {{partial "card-content-component"}}
  {{/if}}
{{! Text no label}}
{{else if hasText}}
  <p class="content-text">
    {{{content.text}}}
    {{#if content.isRequired}}
      <span class="required-field"><i class="fa fa-asterisk"></i></span>
    {{/if}}
  </p>
  {{partial "card-content-component"}}
{{! Label no text}}
{{else if (and canBeLabeled hasLabel)}}
  <label class="content-label">
    {{{content.label}}}
    {{#if content.isRequired}}
      <span class="required-field"><i class="fa fa-asterisk"></i></span>
    {{/if}}
    {{partial "card-content-component"}}
  </label>
{{! Neither label nor text, but required}}
{{else}}
  {{#if (and content.isRequired (not hasLabel) (not hasText))}}
    <p class="content-label">
      This field is required.
      <span class="required-field"><i class="fa fa-asterisk"></i></span>
    </p>
  {{/if}}
  {{partial "card-content-component"}}
{{/if}}
