<div class="overlay-completed-checkbox">
  <div class={{if validationErrors.completed "error"}}>
    {{#if isEditable}}
      {{check-box id="task_completed" name="task_completed" checked=model.completed action="saveModel"}}
    {{else}}
      {{check-box id="task_completed" name="task_completed" checked=model.completed disabled="disabled"}}
    {{/if}}
    <label for="task_completed">Completed</label>
    {{error-message message=validationErrors.completed}}
  </div>
</div>
