<label class="task-completed-section" {{action "toggleTaskCompletion"}}>
  {{#if isEditable}}
    {{#if task.completed}}
      <button class="task-completed" name="task_completed">Make changes to this task</button>
    {{else}}
      <button class="task-completed" name="task_completed">I am done with this task</button>
    {{/if}}
  {{else}}
    {{check-box class="task-completed" name="task_completed" checked=task.completed disabled="disabled"}}
  {{/if}}

  {{#if validationErrors.completed}}
    {{error-message message=validationErrors.completed}}
  {{/if}}
</label>
