{{#if content.label}}
  <label class="card-form-element" {{action "toggleDropdown"}}>
    <div class="card-form-label">
      <span class="card-form-text">{{{content.label}}}</span>
      {{partial "required-field"}}
    </div>
    <div class="card-form-control">
    {{#power-select
        options=content.possibleValues
        selected=selectedValue
        onchange=(action "valueChanged")
        onfocus=(action "handleFocus")
        searchEnabled=false
        disabled=disabled
        ariaLabel=content.label
        content=content
        required=content.isRequired
        as |val|}}
      {{val.label}}
    {{/power-select}}
    </div>
  </label>
{{else}}
<div class="card-form-element">
  <div class="card-form-control">
  {{#power-select
      options=content.possibleValues
      selected=selectedValue
      onchange=(action "valueChanged")
      onfocus=(action "handleFocus")
      ariaLabel=content.label
      searchEnabled=false
      disabled=disabled
      content=content
      required=content.isRequired
      as |val|}}
    {{val.label}}
  {{/power-select}}
  </div>
</div>
{{/if}}

{{card-content/validation-errors content=content hideErrors=answer.hideErrors errors=answer.readyIssuesArray}}

{{card-content/display-children
  content=content
  owner=owner
  disabled=disabled
  repetition=repetition
  preview=preview
}}
