{{#link-to "admin.journal" journal class="journal-thumbnail-show clearfix"}}
  <div class="journal-thumbnail">
    {{#if journal.logoUrl}}
      <img src={{journal.logoUrl}}>
    {{else}}
      {{partial "svg/default-journal-logo"}}
    {{/if}}
  </div>
  <span class='journal-paper-count'>{{format-number journal.paperCount}} {{make-plural journal.paperCount 'article' 'articles'}}</span>
  <h3 class="journal-name">{{journal.name}}</h3>
  <p>{{journal.description}}</p>
{{/link-to}}
{{#if currentUser.siteAdmin}}
  <div class="glyphicon glyphicon-pencil edit-icon" {{action "editJournalDetails"}}></div>
{{/if}}
