<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <ul>
      <li id="control-bar-paper-journal-logo" class="control-bar-item">
        {{#if logoUrl}}
          <img src="{{unbound model.journal.logoUrl}}" alt="{{unbound model.journal.name}}">
        {{else}}
          <div class="paper-journal">{{unbound model.journal.name}}</div>
        {{/if}}
      </li>
    </ul>
    <ul>
      <li class="control-bar-item">
        <div class="control-bar-link versions-link __with-icon" {{action "toggleVersioningMode" "versions"}}>
          <div class="control-bar-link-icon"><i class="fa fa-files-o"></i></div>
          <div class="control-bar-link-text">
            <span class="control-bar-toggle {{if versionsVisible "control-bar-toggle--active"}}">{{partial "svg/plus"}}</span>
            Versions
          </div>
        </div>
      </li>
      <li class="control-bar-item">
        <div class="control-bar-link contributors-link __with-icon" {{action "showSubNav" "contributors"}}>
          <div class="control-bar-link-icon">
            <span class="fa fa-user"></span>
          </div>
          <div class="control-bar-link-text">
            <span class="control-bar-toggle {{if contributorsVisible "control-bar-toggle--active"}}">{{partial "svg/plus"}}</span>
            Collaborators
          </div>
        </div>
      </li>
      <li class="control-bar-item">
        <div class="control-bar-link downloads-link __with-icon" {{action "showSubNav" "downloads"}}>
          <div class="control-bar-link-icon">{{partial "svg/downloads"}}</div>
          <div class="control-bar-link-text">
            <span class="control-bar-toggle {{if downloadsVisible "control-bar-toggle--active"}}">{{partial "svg/plus"}}</span>
            Downloads
          </div>
        </div>
      </li>
      <li class="control-bar-item">
        <div class="control-bar-link activity-link __with-icon" {{action "showActivity" "manuscript"}}>
          <div class="control-bar-link-icon">{{partial "svg/heartbeat"}}</div>
          <div class="control-bar-link-text">Recent Activity</div>
        </div>
      </li>
      <li class="control-bar-item">
        {{#link-to topicsIndexPath model class="control-bar-link control-bar-button"}}
          <div class="control-bar-link-icon"><span class="fa fa-comment"></span></div>
          Discussions
        {{/link-to}}
      </li>
      {{#if canViewManuscriptManager}}
      <li class="control-bar-item">
        {{#link-to "paper.workflow" model class="control-bar-link control-bar-button"}}
          <div class="control-bar-link-icon">{{partial "svg/manuscript-manager-icon"}}</div>
          Workflow
        {{/link-to}}
      </li>
      {{/if}}
      <li class="control-bar-item dropdown">
        <a id="more-dropdown-menu" class="control-bar-link" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <div class="control-bar-link-icon">
            <span class="fa fa-ellipsis-v"></span>
          </div>
          More
        </a>
        <ul class="dropdown-menu pull-right" aria-labelledby="more-dropdown-menu">
          <li>
            <a href="#">
              <span class="fa fa-image"></span>
              Appeal
            </a>
          </li>
          <li>
            <a href="#" {{action "withdrawManuscript"}} >
              <span class="fa fa-trash fa-lg"></span>
              Withdraw Manuscript
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="control-bar-sub-items">
    <div class="contributors {{if contributorsVisible "active"}}">
      <a class="contributors-add" {{action "addContributors"}}>Add Collaborators</a>

      {{#each model.collaborators as |contributor|}}
        <div class="contributor">{{unbound contributor.fullName}}</div>
      {{/each}}
    </div>

    <div class="manuscript-download-links {{if downloadsVisible "active"}}">

      {{#each supportedDownloadFormats as |downloadType|}}
        <a href="#" {{action "export" downloadType}} class="{{unbound downloadType.format}}" title="Download {{unbound downloadType.format}}">{{partial downloadType.icon}}</a>
      {{/each}}
      {{#direct-download-link link=downloadLink extension=".epub"}}
        {{partial "svg/epub-icon"}}
      {{/direct-download-link}}
      {{#direct-download-link link=downloadLink extension=".pdf"}}
        {{partial "svg/pdf-icon"}}
      {{/direct-download-link}}

    </div>

    <div class="versions {{if versionsVisible "active"}}">
      {{#if versionsVisible}}
        {{versioning-bar
          paper=model
        }}
      {{/if}}
    </div>
  </div>
</div>
