<h1>
  Billing
</h1>

<h3>
  Enter Payee Details
</h3>

<div class="add-author-form">
  <div class="form-group form-inline author-top">
    <div class="form-group author-half {{if validationErrors.firstName "error"}}">
      {{nested-question-input ident="first_name"
                       task=model
                       placeholderText="Jane"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.lastName "error"}}">
      {{nested-question-input ident="last_name"
                       task=model
                       placeholderText="Goodall"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.title "error"}}">
      {{nested-question-input ident="title"
                       task=model
                       placeholderText="World's Foremost Expert on Chimpanzees"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.department "error"}}">
      {{nested-question-input ident="department"
                       task=model
                       placeholderText="Primatology"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.affiliation "error"}}">
      {{institution-search value=affiliation1Proxy
                           institutionSelected="affiliation1Selected"
                           placeholder="Affiliation"
                           disabled=isSubmissionTaskNotEditable}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.secondaryAffiliation "error"}}">
      {{institution-search value=affiliation2Proxy
                           institutionSelected="affiliation2Selected"
                           placeholder="Secondary Affiliation (optional)"
                           disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.phone "error"}}">
      {{nested-question-input ident="phone_number"
                       task=model
                       placeholderText="415-555-5555"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}

    </div>
    <div class="form-group author-half author-bump {{if validationErrors.email "error"}}">
      {{nested-question-input ident="email"
                       task=model
                       placeholderText="jane.goodll@science.com"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}

    </div>
  </div>
  <div class="form-group form-inline">
    <div class={{if validationErrors.address1 "error"}}>
      {{nested-question-input ident="address1"
                       task=model
                       placeholderText="1581 Le Roy Ave"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class={{if validationErrors.address2 "error"}}>
      {{nested-question-input ident="address2"
                       task=model
                       placeholderText="Suite 3"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.city "error"}}">
      {{nested-question-input ident="city"
                       task=model
                       placeholderText="Berkeley"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}
    </div>

    <div class="form-group author-name author-bump {{if validationErrors.state "error"}}">
      {{nested-question-input ident="state"
                       task=model
                       placeholderText="State or Province"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}
    </div>
    <div class="form-group author-name author-bump {{if validationErrors.postal_code "error"}}">
      {{nested-question-input ident="postal_code"
                       task=model
                       placeholderText="94708"
                       disabled=isSubmissionTaskNotEditable
                       textClassNames="text-field-title"}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.country "error"}}">
      {{#if countries.loaded}}
        {{nested-question-select ident="country"
                          task=model
                          placeholder="Select Your Country"
                          displayQuestionText=false
                          source=formattedCountries
                          width="100%"
                          enable=isSubmissionTaskEditable}}
      {{/if}}
      {{#if countries.loading}}
        {{progress-spinner visible=true size="mini"}}
        Loading countries
      {{/if}}
      {{#if countries.error}}
        <i class="fa fa-exclamation-triangle"></i>
        Error loading countries
      {{/if}}
    </div>
  </div>
</div>

<hr>

<h2>
  Payment Options
</h2>

{{partial "intro"}}

<ol class="question-list">
  <li class="question">
    <h3>
      How would you like to pay?
    </h3>

    <div class="form-group author-half author-bump payment-method {{if validationErrors.affiliation "error"}}">
      {{nested-question-select ident="payment_method"
                        task=model
                        displayQuestionText=false
                        class="affiliation-field"
                        selectionSelected="paymentMethodSelected"
                        source=responses
                        width="350"
                        enable=isSubmissionTaskEditable}}
    </div>
  </li>

  {{partial "self_payment"}}
  {{partial "institutional"}}
  {{partial "gpi"}}
  {{partial "pfa"}}
  {{partial "special_collection"}}
</ol>
