<h1>
  Publication Fees
</h1>

<h3>
  Enter Payee Details
</h3>

<div class="add-author-form">
  <div class="form-group form-inline author-top">
    <div class="form-group author-half {{if validationErrors.firstName "error"}}">
      <span class="text-field-title">
        First Name
      </span>
      {{question-input ident="plos_billing.first_name"
                       task=model
                       question="First Name"
                       placeholderText="Jane"
                       disabled=isSubmissionTaskNotEditable}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.lastName "error"}}">
      <span class="text-field-title">
        Last Name
      </span>
      {{question-input ident="plos_billing.last_name"
                       task=model
                       question="Last Name"
                       placeholderText="Goodall"
                       disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.title "error"}}">
      <span class="text-field-title">
        Title
      </span>
      {{question-input ident="plos_billing.title"
                       task=model
                       question="Title"
                       placeholderText="World's Foremost Expert on Chimpanzees"
                       disabled=isSubmissionTaskNotEditable}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.department "error"}}">
      <span class="text-field-title">
        Department
      </span>
      {{question-input ident="plos_billing.department"
                       task=model
                       question="Department"
                       placeholderText="Primatology"
                       disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.affiliation "error"}}">
      {{institution-search value=affiliation1Proxy
                           institutionSelected="affiliation1Selected"
                           placeholder="Affiliation"
                           disabled=isSubmissionTaskNotEditable}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.secondaryAffiliation "error"}}">
      {{institution-search value=affiliation2Proxy
                           institutionSelected="affiliation2Selected"
                           placeholder="Secondary Affiliation (optional)"
                           disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.phone "error"}}">
      <span class="text-field-title">
        Phone
      </span>
      {{question-input ident="plos_billing.phone_number"
                       task=model
                       question="Phone"
                       placeholderText="415-555-5555"
                       disabled=isSubmissionTaskNotEditable}}

    </div>
    <div class="form-group author-half author-bump {{if validationErrors.email "error"}}">
      <span class="text-field-title">
        Email
      </span>
      {{question-input ident="plos_billing.email_address"
                       task=model
                       question="Email"
                       placeholderText="jane.goodll@science.com"
                       disabled=isSubmissionTaskNotEditable}}

    </div>
  </div>
  <div class="form-group form-inline">
    <div class={{if validationErrors.address1 "error"}}>
      <span class="text-field-title">
        Address Line 1 (optional)
      </span>
      {{question-input ident="plos_billing.address1"
                       task=model
                       question="Address line one"
                       placeholderText="1581 Le Roy Ave"
                       disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class={{if validationErrors.address2 "error"}}>
      <span class="text-field-title">
        Address Line 2 (optional)
      </span>
      {{question-input ident="plos_billing.address2"
                       task=model
                       question="Address line two"
                       placeholderText="Suite 3"
                       disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.city "error"}}">
      <span class="text-field-title">
        City
      </span>
      {{question-input ident="plos_billing.city"
                       task=model
                       question="City"
                       placeholderText="Berkeley"
                       disabled=isSubmissionTaskNotEditable}}
    </div>

    <div class="form-group author-name author-bump {{if validationErrors.state "error"}}">
      <span class="text-field-title">
        State or Province
      </span>

      {{question-input ident="plos_billing.state"
                       task=model
                       question="Enter State or Province"
                       placeholderText="State or Province"
                       disabled=isSubmissionTaskNotEditable}}
    </div>
    <div class="form-group author-name author-bump {{if validationErrors.postal_code "error"}}">
      <span class="text-field-title">
        ZIP or Postal Code
      </span>
      {{question-input ident="plos_billing.postal_code"
                       task=model
                       question="Postal Code"
                       placeholderText="94708"
                       disabled=isSubmissionTaskNotEditable}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.country "error"}}">
      {{#if countries}}
        {{question-select ident="plos_billing.country"
                          task=model
                          question="Select your Country"
                          source=countries
                          width="100%"
                          enable=isSubmissionTaskEditable}}
      {{else}}
        <div class="plos-billing-country-loading">
          {{progress-spinner visible=true size="mini"}}
          Loading countries
        </div>
      {{/if}}
    </div>
  </div>
</div>

<hr>

<h2>
  Payment Options
</h2>

{{partial "intro"}}

<ol class="question-list">
  <li class="question">
    <h3>
      How would you like to pay?
    </h3>

    <div class="form-group author-half author-bump payment-method {{if validationErrors.affiliation "error"}}">
      {{question-select ident="plos_billing.payment_method"
                        task=model
                        question="Select One"
                        class="affiliation-field"
                        selectionSelected="paymentMethodSelected"
                        source=responses
                        width="350"
                        enable=isSubmissionTaskEditable}}
    </div>
  </li>

  {{partial "self_payment"}}
  {{partial "institutional"}}
  {{partial "gpi"}}
  {{partial "pfa"}}
  {{partial "special_collection"}}
</ol>
