<h1>
  Publication Fees
</h1>

<h3>
  Enter Payee Details
</h3>

<div class="add-author-form">
  <div class="form-group form-inline author-top">
    <div class="form-group author-half {{if validationErrors.firstName "error"}}">
      <span class="text-field-title">
        First Name
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.first_name"
                       task=model
                       question="First Name"
                       placeholderText="Jane"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.lastName "error"}}">
      <span class="text-field-title">
        Last Name
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.last_name"
                       task=model
                       question="Last Name"
                       placeholderText="Goodall"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.title "error"}}">
      <span class="text-field-title">
        Title
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.title"
                       task=model
                       question="Title"
                       placeholderText="World's Foremost Expert on Chimpanzees"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.department "error"}}">
      <span class="text-field-title">
        Department
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.department"
                       task=model
                       question="Department"
                       placeholderText="Primatology"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.affiliation "error"}}">
      {{error-message message=null}}
      {{question-select ident="plos_billing.affiliation1"
                        task=model
                        question="Affiliation"
                        class="affiliation-field"
                        source=ringgold
                        placeholderText="Affiliation"
                        width="100%"}}
    </div>

    <div class="form-group author-half author-bump {{if validationErrors.secondaryAffiliation "error"}}">
      {{error-message message=null}}
      {{question-select ident="plos_billing.affiliation2"
                        task=model
                        question="Secondary Affiliation"
                        placeholderText="Secondary Affiliation (optional)"
                        class="secondary-affiliation-field"
                        source=ringgold
                        width="100%"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.phone "error"}}">
      <span class="text-field-title">
        Phone
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.phone_number"
                       task=model
                       question="Phone"
                       placeholderText="415-555-5555"}}

    </div>
    <div class="form-group author-half author-bump {{if validationErrors.email "error"}}">
      <span class="text-field-title">
        Email
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.email_address"
                       task=model
                       question="Email"
                       placeholderText="jane.goodll@science.com"}}

    </div>
  </div>
  <div class="form-group form-inline">
    <div class={{if validationErrors.department "error"}}>
      <span class="text-field-title">
        Address Line 1 (optional)
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.address1"
                       task=model
                       question="Address line one"
                       placeholderText="1581 Le Roy Ave"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class={{if validationErrors.department "error"}}>
      <span class="text-field-title">
        Address Line 2 (optional)
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.address2"
                       task=model
                       question="Address line two"
                       placeholderText="Suite 3"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.department "error"}}">
      <span class="text-field-title">
        City
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.city"
                       task=model
                       question="City"
                       placeholderText="Berkeley"}}
    </div>

    <div class="form-group author-name author-bump {{if validationErrors.department "error"}}">
      {{question-select ident="plos_billing.state"
                        task=model
                        question="Select State"
                        source=states}}
    </div>
    <div class="form-group author-name {{if validationErrors.department "error"}}">
      <span class="text-field-title">
        Postal Code
        {{error-message message=null}}
      </span>
      {{question-input ident="plos_billing.postal_code"
                       task=model
                       question="Postal Code"
                       placeholderText="94708"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half {{if validationErrors.department "error"}}">
      {{error-message message=null}}
      {{question-select ident="plos_billing.country"
                        task=model
                        question="Please select your Country"
                        source=countries}}
    </div>
  </div>
</div>

<hr>

<h2>
  Payment Options
</h2>

{{partial "intro"}}

<ol class="question-list">
  <li class="question">
    <h3>
      How would you like to pay?
    </h3>

    <div class="form-group author-half author-bump payment-method {{if validationErrors.affiliation "error"}}">
      {{error-message message=null}}
      {{question-select ident="plos_billing.payment_method"
                        task=model
                        question="Select One"
                        class="affiliation-field"
                        selectionSelected="paymentMethodSelected"
                        source=responses
                        width="350"}}
    </div>
  </li>

  {{partial "self_payment"}}
  {{partial "institutional"}}
  {{partial "gpi"}}
  {{partial "pfa"}}
  {{partial "special_collection"}}
</ol>
