<h1>
  Publication Fees
</h1>

<h3>
  Enter Payee Details
</h3>

<div class="add-author-form">
  <div class="form-group form-inline author-top">
    <div {{bind-attr class=":form-group :author-half :required validationErrors.firstName:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.first_name"
                       task=model
                       question='First Name'}}
    </div>

    <div {{bind-attr class=":form-group :author-half :author-bump :required validationErrors.lastName:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.last_name"
                       task=model
                       question='Last Name'}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":form-group :author-half :required validationErrors.title:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.title"
                       task=model
                       question='Title'}}
    </div>

    <div {{bind-attr class=":form-group :author-half :required :author-bump validationErrors.department:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.department"
                       task=model
                       question='Department'}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":form-group :author-half :required validationErrors.affiliation:error"}}>
      {{error-message message=null}}
      {{question-select ident="plos_billing.affiliation1"
                        task=model
                        question="Affiliation"
                        class="affiliation-field"
                        source=ringgold}}
    </div>

    <div {{bind-attr class=":form-group :author-half :author-bump validationErrors.secondaryAffiliation:error"}}>
      {{error-message message=null}}
      {{question-select ident="plos_billing.affiliation2"
                        task=model
                        question="Secondary Affiliation"
                        class="secondary-affiliation-field"
                        source=ringgold}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":form-group :author-half :required validationErrors.email:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.phone_number"
                       task=model
                       question="Phone"}}

    </div>
    <div {{bind-attr class=":form-group :author-half :required :author-bump validationErrors.email:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.email_address"
                       task=model
                       question="Email"}}

    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":required validationErrors.department:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.address1"
                       task=model
                       question="Address line one"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":required validationErrors.department:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.address2"
                       task=model
                       question="Address line two"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":required :form-group :author-half validationErrors.department:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.city"
                       task=model
                       question="City"}}
    </div>

    <div {{bind-attr class=":form-group :author-name :author-bump validationErrors.department:error"}}>
      {{question-select ident="plos_billing.state"
                        task=model
                        question="Select State"
                        source=states}}
    </div>
    <div {{bind-attr class=":required :form-group :author-name validationErrors.department:error"}}>
      {{error-message message=null}}
      {{question-input ident="plos_billing.postal_code"
                       task=model
                       question="Postal Code"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":required :form-group :author-half validationErrors.department:error"}}>
      {{error-message message=null}}
      {{question-select ident="plos_billing.country"
                        task=model
                        question="Please select your Country"
                        source=countries}}
    </div>
  </div>
</div>

<hr>

<h2>
  Payment Options
</h2>

{{partial "intro"}}

<ol class='question-list'>
  <li class="question">
    <h3>
      How would you like to pay?
    </h3>

    <div {{bind-attr class=":form-group :author-half :author-bump :required :payment-method validationErrors.affiliation:error"}}>
      {{error-message message=null}}
      {{question-select ident="plos_billing.payment_method"
                        task=model
                        question="Select One"
                        class="affiliation-field"
                        selectionSelected='paymentMethodSelected'
                        source=responses
                        width="resolve"}}
    </div>
  </li>

  {{partial 'self_payment'}}
  {{partial 'institutional'}}
  {{partial 'gpi'}}
  {{partial 'pfa'}}
  {{partial 'special_collection'}}
</ol>
