{{#overlay-fullscreen visible=showActivityOverlay
                      outAnimationComplete=(action "hideActivityOverlay")
                      title="Recent Activity"
                      overlayClass="activity-overlay" as |overlay|}}
  {{paper-activity isLoading=activityIsLoading
                   model=activityFeed
                   close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}

{{paper-control-bar paper=paper
                    showActivity=(action "showActivityOverlay" "workflow")
                    topicsIndexPath=topicsIndexPath}}
<main id="main-content" class="main-content correspondence-history-screen" role="main">
  <div id="correspondence-history" class="main-content-section">
    <div class="base-layout">
      <h1>Correspondence History</h1>

        {{#if (can "manage_workflow" paper)}}
          {{#link-to
            'paper.correspondence.new'
            paper
            id='add-correspondence-button'}}
            {{fa-icon icon="plus-square-o"}} &nbsp; Add Correspondence
          {{/link-to}}
        {{/if}}
      {{correspondence-list model=sortedSentAt paper=paper}}
    </div>
  </div>
</main>
{{outlet}}
