<div class="control-bar"></div>
{{flash-messages classNames="flash-messages--below-control-bar"}}

<div id="tahi-container">

  <section class="dashboard-section">
    {{#if pendingInvitations}}
      <h2 class="welcome-message">
        You have <span class="invitation-count">{{pluralize pendingInvitations.length "invitation"}}</span>.
      </h2>
      <button class="button-primary button--green" {{action "viewInvitations"}}>View invitations</button>
    {{/if}}
  </section>

  <section id="dashboard-my-submissions" class="dashboard-section">
    <h2 class="welcome-message">
      Hi, {{currentUser.firstName}}.
      {{#if papers.length}}
        {{#if activePapers.length}}
          You have {{pluralize totalActivePaperCount "active manuscript"}}.
        {{else}}
          You have {{pluralize totalInactivePaperCount "inactive manuscript"}}.
        {{/if}}
      {{else}}
        You have no manuscripts.
      {{/if}}
    </h2>

    <button class="button-primary button--green" {{action "showNewPaperOverlay"}}>Create New Submission</button>

    {{#if hasPapers}}
      {{#if hasActivePapers}}
        <div class="table-responsive">
          <table summary="This table displays manuscript data and roles" class="table-borderless top-margin">
            <thead class='manuscript-list-heading {{if activePapersVisible 'gray-line'}} active-papers'>
              <tr>
                <th class="col-xs-9 hug-left" {{action 'toggleActiveContainer'}}>{{activeManuscriptsHeading}}</th>
                {{#if activePapersVisible}}
                  <th class="col-xs-1 text-center">Role</th>
                  <th class="col-xs-2 text-center">Status</th>
                {{/if}}
              </tr>
            </thead>
            <tbody>
              {{#if activePapersVisible}}
                {{#each sortedDraftPapers as |paper|}}
                  {{dashboard-link model=paper type='active'}}
                {{/each}}
                {{#each sortedNonDraftPapers as |paper|}}
                  {{dashboard-link model=paper type='active'}}
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      {{/if}}

      {{#if hasInactivePapers}}
        <div class="table-responsive">
          <table summary="This table displays manuscript data and roles" class="table-borderless top-margin">
            <thead class='manuscript-list-heading {{if inactivePapersVisible 'gray-line'}} inactive-papers'>
              <tr>
                <th class="col-xs-9 hug-left" {{action 'toggleInactiveContainer'}}>{{inactiveManuscriptsHeading}}</th>
                {{#if inactivePapersVisible}}
                  <th class="col-xs-1 text-center">Role</th>
                  <th class="col-xs-2 text-center">Status</th>
                {{/if}}
              </tr>
            </thead>
            <tbody>
              {{#if inactivePapersVisible}}
                {{#each sortedInactivePapers as |paper|}}
                  {{dashboard-link model=paper type='inactive'}}
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      {{/if}}
    {{else}}
      <p class="dashboard-info-text">Your scientific paper submissions will<br> appear here.</p>
    {{/if}}
  </section>
</div>
