{{flash-messages}}

{{#overlay-base visible=showNewManuscriptOverlay
                outAnimationComplete=(action "hideNewManuscriptOverlay")
                as |animateOut|}}
  {{#overlay-fullscreen title="Create a New Submission"
                        close=(action animateOut)}}
    {{manuscript-new paper=newPaper
                     journals=journals
                     journalsLoading=journalsLoading
                     complete=(action "newManuscriptCreated")
                     close=(action animateOut)}}
  {{/overlay-fullscreen}}
{{/overlay-base}}

{{#overlay-base visible=showInvitationsOverlay
                outAnimationComplete=(action "hideInvitationsOverlay")
                as |animateOut|}}
  {{#overlay-fullscreen class="invitations-overlay"
                        invitations=pendingInvitations
                        title="Here are your invitations."
                        close=(action animateOut)}}
    {{invitations-x invitations=pendingInvitations
                    accept=(action "acceptInvitation")
                    reject=(action "rejectInvitation")
                    close=(action animateOut)}}
  {{/overlay-fullscreen}}
{{/overlay-base}}

<div class="base-screen">

  {{#if pendingInvitations}}
    <section class="dashboard-section">
      <h2 class="welcome-message">
        You have <span class="invitation-count">{{pluralize pendingInvitations.length "invitation"}}</span>.
      </h2>
      <button class="button-primary button--green" {{action "showInvitationsOverlay"}}>View invitations</button>
    </section>
  {{/if}}

  <section id="dashboard-my-submissions" class="dashboard-section">
    <h2 class="welcome-message">
      Hi, {{currentUser.firstName}}.
      {{#if papers.length}}
        {{#if activePapers.length}}
          You have {{pluralize totalActivePaperCount "active manuscript"}}.
        {{else}}
          You have {{pluralize totalInactivePaperCount "inactive manuscript"}}.
        {{/if}}
      {{else}}
        You have no manuscripts.
      {{/if}}
    </h2>

    <button class="button-primary button--green" {{action "showNewManuscriptOverlay"}}>Create New Submission</button>

    {{#if hasPapers}}
      {{#if hasActivePapers}}
        <div class="table-responsive">
          <table summary="This table displays manuscript data and roles" class="table-borderless top-margin">
            <thead class="manuscript-list-heading {{if activePapersVisible "gray-line"}} active-papers" {{action "toggleActiveContainer"}}>
              <tr>
                <th class="col-xs-9 hug-left">{{activeManuscriptsHeading}}</th>
                {{#if activePapersVisible}}
                  <th class="col-xs-1 text-center">Role</th>
                  <th class="col-xs-2 text-center">Status</th>
                {{/if}}
              </tr>
            </thead>
            <tbody>
              {{#if activePapersVisible}}
                {{#each sortedDraftPapers as |paper|}}
                  {{dashboard-link model=paper type="active" class="active-paper-table-row"}}
                {{/each}}
                {{#each sortedNonDraftPapers as |paper|}}
                  {{dashboard-link model=paper type="active" class="active-paper-table-row"}}
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      {{/if}}

      {{#if hasInactivePapers}}
        <div class="table-responsive">
          <table summary="This table displays manuscript data and roles" class="table-borderless top-margin">
            <thead class="manuscript-list-heading {{if inactivePapersVisible "gray-line"}} inactive-papers" {{action "toggleInactiveContainer"}}>
              <tr>
                <th class="col-xs-9 hug-left">{{inactiveManuscriptsHeading}}</th>
                {{#if inactivePapersVisible}}
                  <th class="col-xs-1 text-center">Role</th>
                  <th class="col-xs-2 text-center">Status</th>
                {{/if}}
              </tr>
            </thead>
            <tbody>
              {{#if inactivePapersVisible}}
                {{#each sortedInactivePapers as |paper|}}
                  {{dashboard-link model=paper type="inactive" class="inactive-paper-table-row"}}
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      {{/if}}
    {{else}}
      <p class="dashboard-info-text">Your scientific paper submissions will<br> appear here.</p>
    {{/if}}
  </section>
</div>
