<div class="control-bar"></div>
{{flash-messages classNames="flash-messages--below-control-bar"}}

<div id="tahi-container">

  <section class="dashboard-section">
    {{#if pendingInvitations}}
      <h2 class="welcome-message">
        You have <span class="invitation-count">{{pluralize pendingInvitations.length "invitation"}}</span>.
      </h2>
      <button class="button-primary button--green" {{action "viewInvitations"}}>View invitations</button>
    {{/if}}
  </section>

  <section id="dashboard-my-submissions" class="dashboard-section">
    <h2 class="welcome-message">
      Hi, {{currentUser.firstName}}.
      {{#if papers.length}}
        {{#if activePapers.length}}
          You have {{pluralize totalActivePaperCount "active manuscript"}}.
        {{else}}
          You have {{pluralize totalInactivePaperCount "inactive manuscript"}}.
        {{/if}}
      {{else}}
        You have no manuscripts.
      {{/if}}
    </h2>

    <button class="button-primary button--green" {{action "showNewPaperOverlay"}}>Create New Submission</button>


<br>
<br>
<br>
  <div class="table-responsive">
    <table summary="This table displays manuscript data and roles" class="table-borderless">
      <thead class='manuscript-list-heading'>
        <tr>
          <th class="col-xs-9">Active Manuscripts (9)</th>
          <th class="col-xs-1 text-center">Role</th>
          <th class="col-xs-2 text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-xs-9 dashboard-paper-title"><a>The most scrumtrulescent scientific paper of 2015.</a></td>
          <td class="col-xs-1 role-tag text-right">Author</td>
          <td class="col-xs-1"><div class='status-tag text-center'>DRAFT</div></td>
        </tr>
        <tr>
          <td class="col-xs-9 dashboard-paper-title"><a>The most scrumtrulescent scientific paper of 2015.</a></td>
          <td class="col-xs-1 role-tag text-right">Collaborator</td>
          <td class="col-xs-2"><div class='status-tag text-center'>Checking</div></td>
        </tr>
        <tr>
          <td class="col-xs-9 dashboard-paper-title"><a>The most scrumtrulescent scientific paper of 2015.</a></td>
          <td class="col-xs-1 role-tag text-right">Collaborator</td>
          <td class="col-xs-2"><div class='status-tag text-center'>In Revision</div></td>
        </tr>
        <tr>
          <td class="col-xs-9 dashboard-paper-title"><a>The most scrumtrulescent scientific paper of 2015.</a></td>
          <td class="col-xs-1 role-tag text-right">Collaborator</td>
          <td class="col-xs-2"><div class='status-tag text-center'>Accepted</div></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">.</td>
        </tr>
      </tfoot>
    </table>
  </div><!--end of .table-responsive-->

<br>
<br>
<br>


    {{#if hasPapers}}
      {{#if hasActivePapers}}
        <h5 class='manuscript-list-heading active-papers' {{action 'toggleActiveContainer'}}>
          Active Manuscripts ({{totalActivePaperCount}})
        </h5>
        {{#if activePapersVisible}}
          <ul class="dashboard-submitted-papers">
            {{#each sortedDraftPapers as |paper|}}
              {{dashboard-link model=paper}}
            {{/each}}
            {{#each sortedNonDraftPapers as |paper|}}
              {{dashboard-link model=paper}}
            {{/each}}
          </ul>
        {{/if}}
      {{/if}}

      {{#if hasInactivePapers}}
        <h5 class='manuscript-list-heading inactive-papers' {{action 'toggleInactiveContainer'}}>
          Inactive Manuscripts ({{totalInactivePaperCount}})
        </h5>
        {{#if inactivePapersVisible}}
          <ul class="dashboard-submitted-papers">
            {{#each sortedInactivePapers as |paper|}}
              {{dashboard-link model=paper}}
            {{/each}}
          </ul>
        {{/if}}
      {{/if}}
    {{else}}
      <p class="dashboard-info-text">Your scientific paper submissions will<br> appear here.</p>
    {{/if}}
  </section>
</div>
