<div class="add-author-form">
  <div class="form-group form-inline">
    <div class="form-group">
      {{input type='text'
      value=newAuthor.first_name
      class='form-control'
      placeholder='First name'}}
    </div>
    <div class="form-group">
      {{input type='text'
      value=newAuthor.last_name
      class='form-control'
      placeholder='Last name'}}
    </div>
  </div>
  <div class="form-group">
    {{input type='text'
    value=newAuthor.email
    class='form-control'
    placeholder='Email'}}
  </div>
  <div class="form-group form-inline">
    <div class="form-group">
      {{input type='text'
      value=newAuthor.affiliation
      class='form-control'
      placeholder='Affiliation'}}
    </div>
    <div class="form-group">
      <input class='secondary-button'
      type='submit'
      value='done'
      {{action 'saveNewAuthor'}}>
    </div>
  </div>
</div>
