<div {{bind-attr class="showEditAuthorForm:hide"}}>
  <div>
    <span>{{author.first_name}} {{author.last_name}}</span>
    <span>{{author.email}}</span>
  </div>
  <div>
    <span>{{author.title}}</span>
    <span>{{author.department}}</span>
  </div>
  <div>
    <div>{{author.affiliation}}</div>
    <div>{{author.secondary_affiliation}}</div>
  </div>
</div>
<div {{bind-attr class=":author-form showEditAuthorForm:show-new-author-form"}}>
  {{add-author-form
    newAuthor=author
    toggleEditAuthorForm='toggleEditAuthorForm'
    saveAuthor="saveAuthor"}}
</div>
