{{#unless editState}}
  <div class="authors-overlay-item--text">
    <div class="author-name">{{author.fullName}}</div>
    <div>
      <span>{{author.email}}</span>
    </div>
    <div>
      <span>{{author.title}}</span>
      &nbsp; &nbsp;
      <span>{{author.department}}</span>
    </div>
    <div>
      <span>{{author.affiliation}}</span>
      &nbsp; &nbsp;
      <span>{{author.secondaryAffiliation}}</span>
    </div>
  </div>

  {{#if hoverState}}
    <div class="authors-overlay-item--actions">
      <div class="drag"></div>
      <div class="actions">
        <div class="action" {{action "toggleEditForm"}}>
          <span class="glyphicon glyphicon-pencil scaleIn"></span>
        </div>
        <div class="action" {{action "toggleDeleteConfirmation"}}>
          <span class="glyphicon glyphicon-trash scaleIn"></span>
        </div>
      </div>
    </div>
  {{/if}}
{{/unless}}

{{#if editState}}
  {{add-author-form
    newAuthor=author
    institutions=institutions
    hideAuthorForm="toggleEditForm"
    saveAuthor="save"}}
{{/if}}

{{#if deleteState}}
  <div class="authors-overlay-item--delete">
    <p>This will permanently delete the author. Are you sure?</p>
    <button class="button-secondary button--green knockout" {{action "toggleDeleteConfirmation"}}>Cancel</button>
    <button class="button-secondary button--green knockout" {{action "delete"}}>Delete Forever</button>
  </div>
{{/if}}
