<div class="comment-board">
  <div class="form-group">
    {{unbound user-thumbnail currentUser}}
    {{textarea classNames="new-comment" id="comment-body" value=commentBody placeholder="Type your message here"}}
    <div class="message-comment-buttons clearfix">
      <button type="submit" class="button-secondary" {{action "postComment"}}>Post Message</button>
      <a href="#" class="cancel-link" {{action "clearComment"}}>Cancel</a>
    </div>
  </div>

  <ul class="message-comments">
    {{#each comment in shownComments}}
      {{task-comment comment=comment currentUser=currentUser}}
    {{/each}}
  </ul>

  {{#unless showingAllComments}}
    <div class="comment-actions" {{action "showAllComments"}}>
      <a class="load-all-comments" href="#">
        <span class="glyphicon glyphicon-comment"></span>
        View older {{omittedCommentsCount}} {{pluralize omittedCommentsCount "comment" "comments"}}
      </a>
    </div>
  {{/unless}}
</div>
