<div class="figure-thumbnail-row">
  <span class="figure-thumbnail-destroy-icon glyphicon glyphicon-trash" {{action "confirmDestroyFigure"}}></span>

  {{#if figure.previewSrc}}
    <div class="figure-thumbnail-image">
      <div class="replace-spinner"></div>
      <img class="preview" {{bind-attr src=figure.previewSrc}} {{bind-attr alt=figure.alt}}>
      <div class="figure-thumbnail-edit-overlay">
        {{#replace-image}}
          <span>Replace Image</span>
          {{file-uploader
              name="figure[attachment]"
              url=figureUrl
              accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps"
              multiple=true
              progress='figureUploading'
              done='figureUploaded'}}
        {{/replace-image}}
        <button class="primary-button white-button view-detail" {{action "togglePreview"}}><span class="glyphicon glyphicon-zoom-in glyphicon-button"></span>View Detail</button>
      </div>
    </div>
  {{else}}
    <div class="figure-thumbnail-image placeholder">
      <span class="glyphicon glyphicon-file"></span>
    </div>
  {{/if}}

  <div class="figure-thumbnail-text-content">
    {{content-editable tagName="h2"
                       class="figure-thumbnail-title"
                       value=figure.title
                       placeholder='Figure title here'
                       plaintext="true"
                       preventEnterKey="true"}}
    <span class="glyphicon glyphicon-pencil edit-icon edit-figure-icon"></span>

    {{content-editable tagName="div"
                       class="figure-thumbnail-caption _empty"
                       value=figure.caption
                       placeholder='There is no caption for this file.'
                       plaintext="true"
                       preventEnterKey="true"}}
  </div>

  <div class="figure-thumbnail-edit-actions">
    <a href="#" {{bind-attr class="editState::disabled"}} {{action 'cancelEditing'}}>cancel</a>
    <a href="#" {{bind-attr class="editState::disabled :primary-button :btn-xs"}} {{action 'saveFigure'}}>Save</a>
  </div>

  <div class="clearfix"> </div>
  <a class="figure-original-download-link" data-toggle="tooltip" data-placement="right" title="Download original image" {{bind-attr href=figure.src}} >{{figure.filename}}</a>

  <div class="figure-thumbnail-destroy-overlay">
    <p>This will permanently delete your image. Are you sure?</p>
    <button class="primary-button white-button" {{action "cancelDestroyFigure"}}>Cancel</button>
    <button class="primary-button white-button figure-delete-button" {{action "destroyFigure"}}>Delete Forever</button>
  </div>
</div>

{{#if view.previewState}}
  <div class="figure-thumbnail-preview">
    <div {{action "togglePreview"}} class="figure-thumbnail-preview-close">&times;</div>
    <img {{bind-attr src=figure.previewSrc}} {{bind-attr alt=figure.alt}}>
  </div>
{{/if}}
