<div {{bind-attr class=":column-header editing:active"}}>
  {{#if editing}}
    {{content-editable tagName="h2"
                       class="column-title"
                       value=userFlow.title
                       plaintext="true"
                       preventEnterKey="true"}}

    <div class="column-title-update-buttons">
      <button class="column-header-update-cancel btn-link" {{action "cancel"}}>cancel</button>
      <button class="column-header-update-save button-primary button--green" {{action "save"}}>Save</button>
    </div>
  {{else}}
    <div class="column-title-wrapper">
      <h2 class="column-title" {{action "toggleEdit"}}>{{userFlow.title}}</h2>
      <div class="journal-thumbnail" style="min-height: 40px;">
        {{#if journal.logoUrl}}
          <img {{bind-attr src=journal.logoUrl}}>
        {{else}}
          {{journal.name}}
        {{/if}}

        {{#if journalLogo}}
          <img {{bind-attr src=journalLogo}}>
        {{elsif journalName}}
          {{journalName}}
        {{else}}
          For All Journals
        {{/if}}
      </div>
    </div>
  {{/if}}
  {{#if editable}}
    <div class="edit-column-title glyphicon glyphicon-pencil" {{action "toggleEdit"}}></div>
  {{/if}}
  <div class="remove-column glyphicon glyphicon-remove" {{action "removeFlow"}}></div>
</div>

{{progress-spinner visible=userFlow.isSaving}}

<div class="column-content">
  <ul class="cards">
    {{#each litePaper in userFlow.litePapers}}
      {{flow-task-group flow=userFlow
                        litePaper=litePaper
                        commentLooks=commentLooks
                        viewCard="viewCard"}}
    {{/each}}
  </ul>
  {{#unless userFlow.litePapers}}
    <div class="empty-text">{{ emptyText }}</div>
  {{/unless}}
</div>
