<div {{bind-attr class=":column-header editing:active"}}>
  {{#if editing}}
    {{content-editable tagName="h2"
                       class="column-title"
                       value=flow.title
                       plaintext="true"
                       preventEnterKey="true"}}

    <div class="column-title-update-buttons">
      <button class="column-header-update-cancel btn-link" {{action "cancel"}}>cancel</button>
      <button class="column-header-update-save button-primary button--green" {{action "save"}}>Save</button>
    </div>
  {{else}}
    <div class="column-title-wrapper">
      <h2 class="column-title" {{action "toggleEdit"}}>{{flow.title}}</h2>
      <div class="journal-thumbnail" style="min-height: 40px;">
        {{#if journal.logoUrl}}
          <img {{bind-attr src=journal.logoUrl}}>
        {{else}}
          {{journal.name}}
        {{/if}}

        {{#if journalLogo}}
          <img {{bind-attr src="journalLogo"}}>
        {{else}}
          For All Journals
        {{/if}}
      </div>
    </div>
  {{/if}}
  {{#if editable}}
    <div class="edit-column-title glyphicon glyphicon-pencil" {{action "toggleEdit"}}></div>
    {{select-2-single source=selectableTaskTypes
                      selectedData=selectedTaskType
                      selectionSelected="updateTypeQuery"
                      selectionCleared="removeTypeQuery"
                      allowClear=true
                      placeholder="Card Types"}}

    {{select-2-single source=selectableTaskStates
                      selectedData=selectedTaskState
                      selectionSelected="updateStateQuery"
                      selectionCleared="removeStateQuery"
                      allowClear=true
                      placeholder="Card State"}}

    {{select-2-single source=selectableTaskAssignments
                      selectedData=selectedTaskAssignment
                      selectionSelected="updateAssignmentQuery"
                      selectionCleared="removeAssignmentQuery"
                      allowClear=true
                      placeholder="User"}}

    {{select-2-single source=selectableTaskRoles
                      selectedData=selectedTaskRole
                      selectionSelected="updateRoleQuery"
                      selectionCleared="removeRoleQuery"
                      allowClear=true
                      placeholder="Paper Role"}}

  {{/if}}
  <div class="remove-column glyphicon glyphicon-remove" {{action "removeFlow"}}></div>
</div>

{{progress-spinner visible=flow.isSaving}}

<div class="column-content">
  <ul class="cards">
    {{#each litePaper in flow.litePapers}}
      {{flow-task-group flow=flow
                        litePaper=litePaper
                        commentLooks=commentLooks
                        viewCard="viewCard"}}
    {{/each}}
  </ul>
  {{#unless flow.litePapers}}
    <div class="empty-text">{{ emptyText }}</div>
  {{/unless}}
</div>
