<div {{bind-attr class=":inline-edit-body-part confirmDelete editing bodyPartType showState :clearfix"}}>
  {{yield}}

  <div class="view-actions">
    <span class="glyphicon glyphicon-pencil inline-edit-icon" {{action "toggleEdit"}}></span>
    <span class="glyphicon glyphicon-trash inline-edit-icon" {{action "confirmDeletion"}}></span>
  </div>

  <div class="edit-actions">
    <div {{bind-attr class=":button-secondary :button--green :pull-right hasNoContent:button--disabled"}} {{action "save"}}>Save</div>
    <div class="button-link button--green pull-right" {{action "toggleEdit"}}>cancel</div>
  </div>

  <div class="button-secondary button--green add-item" {{action "addItem"}}>
    <span class="glyphicon glyphicon-plus"></span>
  </div>

  {{#if confirmDelete}}
    <div class="bodypart-destroy-overlay bodypart-overlay">
      <p>This will permanently delete your item. Are you sure?</p>
      <br>
      <button class="button-secondary button--green knockout" {{action "cancelDeletion"}}>Cancel</button>
      <button class="button-secondary button--green knockout delete-button" {{action "deleteBlock"}}>Delete Forever</button>
    </div>
  {{/if}}
</div>
