<div {{bind-attr class=":inline-edit editing :bodypart-display :clearfix"}}>
  <div class="item-text">
    {{{bodyPart.value}}}
  </div>
  <div class="actions">
    <span class="glyphicon glyphicon-pencil inline-edit-icon" {{action "toggleEdit"}}></span>
    <span class="glyphicon glyphicon-trash inline-edit-icon" {{action "confirmDeletion"}}></span>
  </div>
  {{#if confirmDelete}}
    <div class="destroy-overlay">
      <p>This will permanently delete your item. Are you sure?</p>
      <button class="button-primary button--white" {{action "cancelDestroy"}}>Cancel</button>
      <button class="button-primary button--white delete-button" {{action "deleteItem"}}>Delete Forever</button>
    </div>
  {{/if}}
</div>

<div {{bind-attr class=":inline-edit-form editing"}}>
  {{content-editable value=bodyPart.value class="editable"}}
  <div {{bind-attr class=":button-secondary :button--green :pull-right hasNoContent:button--disabled"}} {{action "save"}}>Save</div>
  <div class="button-link button--green pull-right" {{action "toggleEdit"}}>cancel</div>
</div>

