<div {{bind-attr class=":inline-edit editing :checkbox :bodypart-display"}}>
  <label>
    {{check-box checked=checked action='saveModel'}}
    {{{bodyPart.value}}}
  </label>
</div>

<div {{bind-attr class=":inline-edit-form editing"}}>
  <div class="two-element-form">
    {{check-box checked=checked disabled="disabled"}}
    {{content-editable value=bodyPart.value class="editable" tagName='label'}}
  </div>
</div>
