<div class="attachment-thumbnail question-attachment">
  <span class="glyphicon glyphicon-trash attachment-thumbnail-destroy-icon" {{action "confirmDestroyAttachment"}}></span>

  <div class="question-attachment-thumbnail-image">
    <div class="replace-spinner"></div>
    <span class="glyphicon glyphicon-file"></span>
  </div>

  <div class="question-attachment-thumbnail-text-content">
    <h2 class="attachment-thumbnail-title">
      {{#if attachment.filename}}
        {{attachment.filename}}
      {{else}}
        Processing...
      {{/if}}
    </h2>
  </div>

  <div class="attachment-thumbnail-destroy-overlay">
    <p>This will permanently delete your document. Are you sure?</p>
    <button class="button-primary button--white" {{action "cancelDestroyAttachment"}}>Cancel</button>
    <button class="button-primary button--white attachment-delete-button" {{action "destroyAttachment"}}>Delete Forever</button>
  </div>
</div>

{{#if view.previewState}}
  <div class="attachment-thumbnail-preview">
    <div {{action "togglePreview"}} class="attachment-thumbnail-preview-close">&times;</div>
    <img {{bind-attr src=attachment.detailSrc}} {{bind-attr alt=attachment.alt}}>
  </div>
{{/if}}
