<div {{bind-attr class=":attachment-thumbnail :_uploading error:alert"}}>
  {{#if error}}
    <button type="button" class="close upload-error-button" data-dismiss="alert" aria-hidden="true">×</button>
  {{/if}}
  <div class="preview-container">
    {{#if preview}}
      <img {{bind-attr src=preview}}>
    {{else}}
      <div {{bind-attr class=":glyphicon error:glyphicon-exclamation-sign:glyphicon-file"}}></div>
      <p class="preview-filename">{{upload.file.name}}</p>
    {{/if}}
  </div>
  <div class="progress">
    {{#if error}}
      <span class="upload-error-text">
        {{error}}
      </span>
    {{else}}
      <div class="progress-bar" {{bind-attr style=progressBarStyle}}></div>
    {{/if}}
  </div>
</div>
