<div class="attachment-thumbnail">
  <div class="outline {{if fileIcon 'tall'}} {{if showSpinner 'tall'}}">
    <div class="left-column">
      <div class="thumbnail-preview">

<div id='viewer'></div>

<script type='text/javascript'>
// when the DOM loads
$(function() {
    function loadMethylTransferase() {
        // asynchronously load the PDB file for the dengue methyl transferase
        // from the server and display it in the viewer.
        pv.io.fetchPdb('{{attachment.src}}', function (structure) {
            // display the protein as cartoon, coloring the secondary structure
            // elements in a rainbow gradient.
            viewer.cartoon('protein', structure, {color: color.ssSuccession()});
            // there are two ligands in the structure, the co-factor S-adenosyl
            // homocysteine and the inhibitor ribavirin-5' triphosphate. They have
            // the three-letter codes SAH and RVP, respectively. Let's display them
            // with balls and sticks.
            var ligands = structure.select({rnames: ['SAH', 'RVP']});
            viewer.ballsAndSticks('ligands', ligands);
            viewer.centerOn(structure);
        });
    }
    //pv.pathPDBFolder(folder='/resource');
    // override the default options with something less restrictive.
    var options = {
      width: 600,
      height: 600,
      antialias: true,
      quality : 'medium'
    };
    // insert the viewer under the Dom element with id 'gl'.
    var viewer = pv.Viewer($('#viewer').get(0), options);
    loadMethylTransferase();
});
</script>

        {{#if fileIcon}}
          <span class="fa fa-file-image-o fa-5x file-thumbnail"></span>
        {{/if}}

        {{#if preview}}
          <img src="{{attachment.previewSrc}}" alt={{attachment.alt}} class="image-thumbnail" />
        {{/if}}

        {{#if showSpinner}}
          {{progress-spinner visible=true size="large"}}
          <div class="progress-text">
            <h3>Figure Processing</h3>
            <h4>but you can continue working!</h4>
          </div>
        {{/if}}

        <div class="image-hover-buttons">

          {{#if preview}}
            <button class="button-secondary button--green knockout view-attachment-detail"
              {{action "togglePreview"}}>
              <span class="fa fa-search-plus"></span>View Detail
            </button>
          {{/if}}

          {{#if isEditable}}
            {{#replace-image}}
              <span>Replace File</span>
              {{file-uploader
              url=attachmentUrl
              railsMethod="PUT"
              multiple=false
              filePrefix="supporting-info"
              start="uploadStarted"
              progress="uploadProgress"
              done="uploadFinished"
              cancel="cancelUploads"}}
            {{/replace-image}}
          {{/if}}

        </div>
      </div>

      <div class="download-link">
        <a target="_blank"
          data-toggle="tooltip"
          data-placement="right"
          title="Download original image"
          href="{{attachment.src}}">
          {{attachment.filename}}
        </a>
      </div>
    </div>

    <div class="right-column">
      {{#if editState}}
        <div class="edit-info">
          <div class="field title">
            {{input placeholder="Enter a title"
            class="attachment-title-field"
            autofocus="autofocus"
            value=attachment.title}}
          </div>
          {{!--
          <div class="field caption">
            {{textarea placeholder="Enter a caption for this attachment"
            class="attachment-caption-field"
            value=attachment.caption rows="5"}}
          </div>
          --}}

          {{#if figure}}
          <div class="field striking">
            <label>
              {{check-box checked=attachment.strikingImage}}
              This is the striking image
            </label>
          </div>
          {{/if}}

          <div class="actions">
            <a href="#" class="button-link button--green" {{action "cancelEditing"}}>cancel</a>
            <a href="#" class="button-primary button--green attachment-save-button" {{action "saveAttachment"}}>Save</a>
          </div>
        </div>
      {{else}}
        <div class="info">
          <h2 class="title"
            {{action "toggleEditState" on="doubleClick"}}>
            {{if attachment.title attachment.title "Attachment title"}}
          </h2>

          {{!--
          <div class="caption" {{action "toggleEditState" on="doubleClick"}}>
            {{if attachment.caption attachment.caption "There is no caption for this file."}}
          </div>
          --}}

          {{#if confidentiality}}
          <label class="publishable">
            {{check-box checked=attachment.publishable action="togglePublishable" attachment=attachment disabled=disabled}}
            For publication
          </label>
          {{/if}}

          {{#if attachment.strikingImage}}
            <div class="striking">
              <span class="fa fa-check"></span> This is the striking image
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>

    {{#if isEditable}}
      <div class="edit-icons">
        <span class="fa fa-pencil" {{action "toggleEditState"}}></span>
        <span class="fa fa-trash" {{action "confirmDestroyAttachment"}}></span>
      </div>
    {{/if}}

    {{#if destroyState}}
      <div class="delete-confirmation">
        <h3>This will permanently delete this file. Are you sure?</h3>
        <button class="button-secondary button--green knockout"
          {{action "cancelDestroyAttachment"}}>
          Cancel
        </button>

        <button class="button-secondary button--green knockout attachment-delete-button"
          {{action "destroyAttachment"}}>
          Delete Forever
        </button>
      </div>
    {{/if}}
  </div>

  {{#if previewState}}
    <div class="big-preview">
      <div {{action "togglePreview"}} class="close">&times;</div>
      <img src={{attachment.detailSrc}} alt={{attachment.alt}}>
    </div>
  {{/if}}
</div>
