<% content_for :head do %>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="css/default.css">
<% end %>


<h1><%= paper.display_title(sanitized: false) %></h1>

<%= paper_body.force_encoding('UTF-8') %>

<%= render partial: 'shared/supporting_information',
           locals: {paper: paper, converter: converter} %>

<% if orphan_figures.any? %>
  <h2 id='orphan-figures'>Extra Figures</h2>

  <% orphan_figures.each do |figure| %>
    <div class="figure">
      <img id="figure_<%= figure.id %>" src="<%= figure.non_expiring_proxy_url(only_path: false) %>">
    </div>
  <% end %>
<% end %>
