{{#if generalCase}}
  {{#if raw}}
    <div class="snapshot-text">
      {{snapshot.value}}
    </div>
  {{/if}}

  {{#if boolean}}
    <div class="snapshot-text">
      <label><input type="radio" value="true" disabled>{{#if snapshot.value}}Yes{{else}}No{{/if}}.</label>
    </div>
  {{/if}}

  {{#if question}}
    <li class="snapshot-question">
        <div class="snapshot-question-question">
        {{{text-diff viewingText=snapshot1.value.title comparisonText=snapshot2.value.title}}}
      </div>

      {{#if booleanQuestion}}
        <div class="snapshot-question-answer">
          <span class="snapshot-question-label">Response: </span>
          {{#if snapshot1.value.answer}}Yes{{else}}No{{/if}}
          {{#if snapshot2.value.answer}}Yes{{else}}No{{/if}}
        </div>
      {{else}}
        <div class="snapshot-question-answer">
            {{snapshot1.value.answer}}
            {{snapshot2.value.answer}}
        </div>
      {{/if}}

      {{#if snapshot1.value.attachment}}
        {{attachment-snapshot snapshot=snapshot1.value.attachment}}
      {{/if}}
      {{#if snapshot2.value.attachment}}
        {{attachment-snapshot snapshot=snapshot2.value.attachment}}
      {{/if}}
    </li>
  {{/if}}

  {{#if snapshot1.children}}
  <ol class="snapshot-children">
    {{#each children as |child|}}
      {{nested-version-snapshot snapshot1=child.[0] snapshot2=child.[1]}}
    {{/each}}
  </ol>
  {{/if}}

{{else}}

  {{#if author}}
    {{author-snapshot snapshot=snapshot}}
  {{/if}}

  {{#if figure}}
    <li>
      {{attachment-snapshot snapshot=snapshot}}
    </li>
  {{/if}}

  {{#if supportingInfo}}
    <li>
      {{attachment-snapshot snapshot=snapshot}}
    </li>
  {{/if}}

  {{#if funder}}
    {{funder-snapshot snapshot=snapshot}}
  {{/if}}

{{/if}}
