{{partial "paper/control-bar"}}

{{versioning-toolbar versioningMode=true togglable=false paper=model}}

<div id="paper-container" class="clearfix {{pageContainerHTMLClass}} {{if noTasks "sidebar-empty"}}">
  {{partial "paper/sidebar"}}

  <div class="vertical-divider"></div>

  <div class="manuscript-container">
    <main>
      <article class="manuscript read-only">
        <h2 id="paper-title" class="manuscript-title-and-placeholder">
          {{{model.title}}}
        </h2>
        <div id="paper-body">
          {{html-diff
            comparisonText=model.comparisonText
            viewingText=model.viewingText}}
        </div>
      </article>
    </main>
  </div>

</div>

{{outlet}}
