{{partial "paper/control-bar"}}

<div id="paper-container" class="clearfix {{if noTasks "sidebar-empty"}}">

  <aside class="sidebar">
    <div {{action "showActivity" "manuscript"}} class="recent-activity-link">
      {{partial "svg/heartbeat"}} Recent Activity
    </div>
    <div class="task-list">
      {{partial "paper/task-list"}}
    </div>
  </aside>

  <div class='vertical-divider'></div>

  <div class="manuscript-container">
    <main>
      <article class="manuscript read-only">
        <h2 id="paper-title" class="manuscript-title-and-placeholder">
          {{{model.title}}}
        </h2>
        <div id="paper-body">{{{model.body}}}</div>
      </article>
    </main>
  </div>

</div>
