{{paper-control-bar paper=model
                    showActivity="showActivity"
                    addContributors="addContributors"
                    exportDocument="exportDocument"
                    showConfirmWithdrawOverlay="showConfirmWithdrawOverlay"
                    topicsIndexPath=topicsIndexPath
                    canViewManuscriptManager=canViewManuscriptManager
                    supportedDownloadFormats=supportedDownloadFormats
                    versionsVisible=versioningMode}}

{{withdrawal-banner paper=model staff=currentUser.siteAdmin}}

<div id="paper-container" class="clearfix paper-container-html">

  {{partial 'submission/submission-process'}}

  {{paper-sidebar paper=model
                  user=currentUser
                  commentLooks=commentLooks
                  showConfirmSubmitOverlay="showConfirmSubmitOverlay"
                  viewCard="viewCard"}}

  <div class="manuscript-container">
    <main>
      {{flash-messages}}
      <article class="manuscript">
        <div id="paper-body">

          {{#if model.editable}}
            {{content-editable tagName="h2"
                               id="paper-title"
                               value=model.title
                               preventEnterKey="true"
                               placeholder="Type your manuscript title here"
                               key-up=(action "saveManuscriptTitle")
                               focus-out=(action "saveManuscriptTitle")}}
          {{else}}
            <h2 id="paper-title">{{{model.title}}}</h2>
          {{/if}}

          <div class="paper-body">
            {{{model.body}}}
          </div>

        </div>
      </article>
    </main>
  </div>
</div>

{{outlet}}
