{{paper-control-bar paper=model
                    showActivity="showActivity"
                    addContributors="showCollaboratorsOverlay"
                    exportDocument="exportDocument"
                    showWithdrawOverlay="showWithdrawOverlay"
                    topicsIndexPath=topicsIndexPath
                    canViewManuscriptManager=canViewManuscriptManager
                    supportedDownloadFormats=supportedDownloadFormats
                    versionsVisible=versioningMode}}

{{withdrawal-banner paper=model staff=currentUser.siteAdmin}}

<div id="paper-container" class="clearfix paper-container-html">

  {{partial 'submission/submission-process'}}

  {{paper-sidebar paper=model
                  user=currentUser
                  commentLooks=commentLooks
                  showPaperSubmitOverlay=(action "showPaperSubmitOverlay")
                  viewCard="viewCard"}}

  <div class="manuscript-container">
    <main>
      {{flash-messages}}
      <article class="manuscript">
        <div id="paper-body">

          {{#if model.editable}}
            {{content-editable tagName="h2"
                               id="paper-title"
                               value=model.title
                               preventEnterKey="true"
                               placeholder="Type your manuscript title here"
                               key-up=(action "saveManuscriptTitle")
                               focus-out=(action "saveManuscriptTitle")}}
          {{else}}
            <h2 id="paper-title">{{{model.title}}}</h2>
          {{/if}}

          <div class="paper-body">
            {{{model.body}}}
          </div>

        </div>
      </article>
    </main>
  </div>
</div>

{{outlet}}

{{#overlay-fullscreen visible=showActivityOverlay
                      outAnimationComplete=(action "hideActivityOverlay")
                      title="Recent Activity"
                      overlayClass="activity-overlay"
                      as |overlay|}}
    {{paper-activity isLoading=activityIsLoading
                     model=activityFeed
                     close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


{{#overlay-fullscreen visible=showCollaboratorsOverlay
                      outAnimationComplete=(action "hideCollaboratorsOverlay")
                      title="Who can collaborate on this manuscript?"
                      overlayClass="show-collaborators-overlay"
                      as |overlay|}}
    {{paper-collaborators paper=model
                          close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


{{#overlay-fullscreen visible=showWithdrawOverlay
                      outAnimationComplete=(action "hideWithdrawOverlay")
                      overlayClass="overlay--grey paper-withdraw-overlay"
                      as |overlay|}}
    {{paper-withdraw model=model
                     close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


{{#overlay-fullscreen visible=showPaperSubmitOverlay
                      outAnimationComplete=(action "hidePaperSubmitOverlay")
                      overlayClass="overlay--green paper-submit-overlay"
                      as |overlay|}}
    {{paper-submit model=model
                   close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}
