{{partial "paper/control-bar"}}

<div id="paper-container" class={{if sidebarIsEmpty "sidebar-empty"}}>

  <aside class="sidebar">
    <div {{action "showActivityFeed" "manuscript"}} class="recent-activity-link">
      {{partial "svg/heartbeat"}} Recent Activity
    </div>
    <div class="task-list">
      {{partial "paper/task-list"}}
    </div>
  </aside>

  <div class="manuscript-container">
    <main>
      <article class="manuscript read-only">
        <h2 id="paper-title" class="manuscript-title-and-placeholder">
          {{{title}}}
        </h2>
        <div id="paper-body">{{{body}}}</div>
      </article>
    </main>
  </div>

</div>
