{{#overlay-fullscreen visible=showActivityOverlay
                      outAnimationComplete=(action "hideActivityOverlay")
                      title="Recent Activity"
                      overlayClass="activity-overlay"
                      as |overlay|}}
    {{paper-activity isLoading=activityIsLoading
                     model=activityFeed
                     close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


{{#overlay-fullscreen visible=showCollaboratorsOverlay
                      outAnimationComplete=(action "hideCollaboratorsOverlay")
                      title="Who can collaborate on this manuscript?"
                      overlayClass="show-collaborators-overlay"
                      as |overlay|}}
    {{paper-collaborators paper=model
                          close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


{{#overlay-fullscreen visible=showWithdrawOverlay
                      outAnimationComplete=(action "hideWithdrawOverlay")
                      overlayClass="overlay--grey paper-withdraw-overlay"
                      as |overlay|}}
    {{paper-withdraw model=model
                     close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


{{#overlay-fullscreen visible=showPaperSubmitOverlay
                      outAnimationComplete=(action "hidePaperSubmitOverlay")
                      overlayClass="overlay--green paper-submit-overlay"
                      as |overlay|}}
    {{paper-submit model=model
                   close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}

{{paper-control-bar paper=model
                    showActivity="showActivityOverlay"
                    addContributors="showCollaboratorsOverlay"
                    showWithdrawOverlay="showWithdrawOverlay"
                    tab="manuscript"
                    toggleDownloads=(action "toggleDownloads")
                    topicsIndexPath=topicsIndexPath
                    supportedDownloadFormats=supportedDownloadFormats
                    versioningMode=versioningMode
                    versionsVisible=versioningMode}}

{{#if (and renderEngagementBanner showSubmissionProcess)}}
  {{partial "paper/index/submission-process"}}
{{/if}}

{{#if downloadsVisible}}
  {{paper-downloads paper=model
                    toggle=(action "toggleDownloads")}}
{{/if}}

{{withdrawal-banner paper=model}}

{{#split-pane id="main-content" class="main-content" role="main" handleClass="manuscript-handle"}}
  {{#if (and showPdfManuscript (not model.processing))}}
    {{pdf-manuscript paper=model class="main-content-section split-pane-element"}}
  {{else}}
    {{#split-pane-element id="preview-pane" class="manuscript-pane main-content-section" hasError=model.hasAnyError}}
      {{#rendered-manuscript paper=model}}
        {{#if model.processing}}
          {{#progress-spinner-message class="paper-index-progress-spinner"
                                      visible=true
                                      size="large"
                                      align="middle"}}
            Loading . . .       
          {{/progress-spinner-message}}
        {{else if model.hasAnyError}}
          {{#if model.hasAnyError}}
            {{#if model.authorHasErrorOnPreSubmission}}
              <h3>Your file was uploaded successfully, but we were unable to render a preview at this time.</h3>
              <p><i class="fa fa-word"></i>{{model.file.filename}}</p>
              <p><b>Next Steps:</b> You may complete your submission as is.  If you prefer to preview
                    your file, please remove any embedded images, audio, video, etc.,  
                    and try uploading again. You may also upload your manuscript as a PDF.</p>
              <p>Refer to our <a href="http://journals.plos.org/plosbiology/s/aperta-user-guide-for-authors#loc-figures" 
              target="_blank">submission guide</a> for information about uploading figures in Aperta.
              If you would like to contact us, you can reach us via our <a href="#">Feedback form</a></p>
            {{else if model.authorHasErrorOnSubmission}}  
              <h3>Preview for this manuscript is unavailable.</h3>
              <p><b>Please Note:</b> You cannot upload a new manuscript while your submission is under review.</p>
              <p>If you would like to contact us, you can reach us via our <a href="#">Feedback form</a>.</p>          
            {{else if model.staffEditorHasErrorOnSubmittedAndEditable}}  
              <h3>Preview for this manuscript is unavailable.</h3>
              <p><b>Please Note:</b> You can download and replace the source file under the <i>Upload Manuscript</i> card to the right.</p>
            {{else if model.otherRolesHasErrorOnSubmitted}}
              <h3>Preview for this manuscript is unavailable.</h3>
              <p><b>Please Note:</b> You can access the source file under <i>Downloads</i> in the menu above.</p>
            {{/if}}
          {{else}}
            {{{model.body}}}
          {{/if}}
        {{/if}}
      {{/rendered-manuscript}}
    {{/split-pane-element}}
  {{/if}}

  {{#split-pane-element class="paper-sidebar--manuscript main-content-section"}}
    {{paper-sidebar paper=model
                    user=currentUser
                    showPaperSubmitOverlay=(action "showPaperSubmitOverlay")
                    toggleSubmissionProcess=(action "toggleSubmissionProcess")}}
  {{/split-pane-element}}
{{/split-pane}}

{{outlet}}
