{{paper-control-bar paper=model
                    showActivity="showActivity"
                    addContributors="showCollaboratorsOverlay"
                    exportDocument="exportDocument"
                    showWithdrawOverlay="showWithdrawOverlay"
                    topicsIndexPath=topicsIndexPath
                    canViewManuscriptManager=canViewManuscriptManager
                    supportedDownloadFormats=supportedDownloadFormats
                    versionsVisible=versioningMode}}

{{withdrawal-banner paper=model staff=currentUser.siteAdmin}}

<div id="paper-container" class="clearfix paper-container-html">

  {{partial 'submission/submission-process'}}

  {{paper-sidebar paper=model
                  user=currentUser
                  commentLooks=commentLooks
                  showPaperSubmitOverlay=(action "showPaperSubmitOverlay")
                  viewCard="viewCard"}}

  <div class="manuscript-container">
    <main>
      {{flash-messages}}
      <article class="manuscript">
        <div id="paper-body">

          {{#if model.editable}}
            {{content-editable tagName="h2"
                               id="paper-title"
                               value=model.title
                               preventEnterKey="true"
                               placeholder="Type your manuscript title here"
                               key-up=(action "saveManuscriptTitle")
                               focus-out=(action "saveManuscriptTitle")}}
          {{else}}
            <h2 id="paper-title">{{{model.title}}}</h2>
          {{/if}}

          <div class="paper-body">
            {{{model.body}}}
          </div>

        </div>
      </article>
    </main>
  </div>
</div>

{{outlet}}


{{#overlay-base visible=showActivityOverlay
                outAnimationComplete=(action "hideActivityOverlay")
                as |animateOut|}}
  {{#overlay-fullscreen class="activity-overlay"
                        title="Recent Activity"
                        close=(action animateOut)}}
    {{paper-activity isLoading=activityIsLoading
                     model=activityFeed
                     close=(action animateOut)}}
  {{/overlay-fullscreen}}
{{/overlay-base}}


{{#overlay-base visible=showCollaboratorsOverlay
                outAnimationComplete=(action "hideCollaboratorsOverlay")
                as |animateOut|}}
  {{#overlay-fullscreen class="show-collaborators-overlay"
                        title="Who can collaborate on this manuscript?"
                        close=(action animateOut)}}
    {{paper-collaborators paper=model
                          close=(action animateOut)}}
  {{/overlay-fullscreen}}
{{/overlay-base}}


{{#overlay-base visible=showWithdrawOverlay
                outAnimationComplete=(action "hideWithdrawOverlay")
                as |animateOut|}}
  {{#overlay-fullscreen class="overlay--grey paper-widthdraw-overlay"
                        close=(action animateOut)}}
    {{paper-withdraw model=model
                     close=(action animateOut)}}
  {{/overlay-fullscreen}}
{{/overlay-base}}


{{#overlay-base visible=showPaperSubmitOverlay
                outAnimationComplete=(action "hidePaperSubmitOverlay")
                as |animateOut|}}
  {{#overlay-fullscreen class="overlay-x--green paper-submit-overlay"
                        close=(action animateOut)}}
    {{paper-submit model=model
                   close=(action animateOut)}}
  {{/overlay-fullscreen}}
{{/overlay-base}}
