<div class="supporting-information-file-snapshot-label">
  File:
</div>
{{#if fileHashChanged}}
  {{! If the file contents changed, still show a diff on the file name }}
  <a class="removed" href="{{siFile2.url}}">{{siFile2.file}}</a><a class="added" href="{{siFile1.url}}">{{siFile1.file}}</a>
{{else}}
  {{text-diff viewingText=siFile1.file comparisonText=siFile2.file}}
{{/if}}

<div class="supporting-information-file-snapshot-label">
  Title:
</div>
<div class="supporting-information-file-snapshot-title">
  {{text-diff viewingText=siFile1.title comparisonText=siFile2.title}}
</div>

<div class="supporting-information-file-snapshot-label">
  Caption:
</div>
{{text-diff viewingText=siFile1.caption comparisonText=siFile2.caption}}

<div class="supporting-information-file-snapshot-label">
  Publishable:
</div>
{{boolean-diff viewingBool=siFile1.publishable comparisonBool=siFile2.publishable}}

<div class="supporting-information-file-snapshot-label">
  Striking Image:
</div>
{{boolean-diff viewingBool=siFile1.strikingImage comparisonBool=siFile2.strikingImage}}
