{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if confirmDestroy}}
  <div class="admin-workflow-thumbnail-overlay" {{action "doNothing" bubbles=false}}>
    <p>This will permanently delete your template. Are you sure?</p>
    <button class="button-secondary button--blue knockout" {{action "hideConfirmDestroy" bubbles=false}}>Cancel</button>
    <button class="button-secondary button--blue knockout admin-workflow-thumbnail-delete-button" {{action "destroyWorkflow" bubbles=false}}>Delete</button>
  </div>
{{/if}}

<div class="admin-workflow-thumbnail-outer">
  {{#if canDestroy}}
    <div class="admin-workflow-thumbnail-icon" {{action "toggleConfirmDestroy" bubbles=false}}>
        {{fa-icon "trash"}}
    </div>
  {{/if}}
  <div class="admin-workflow-thumbnail">
    <div class="admin-workflow-thumbnail-header">
      <h4 class="admin-workflow-thumbnail-name">
        {{workflow.paperType}}
      </h4>
      <div class="admin-workflow-thumbnail-journal">
        {{ workflow.journal.name }}
      </div>
    </div>
    <div class="admin-workflow-thumbnail-footer">
      <div class="admin-workflow-thumbnail-updated">
        Last updated: {{ format-date workflow.updatedAt 'short-date'}}
      </div>
      <div class="admin-workflow-thumbnail-active-manuscripts">
        {{ workflow.activePaperCount }} Active {{ pluralize-string count=workflow.activePaperCount string="Manuscript" }}
      </div>
    </div>
  </div>
</div>
