<div class="admin-workflow-thumbnail-header">
  <h4 class="admin-workflow-thumbnail-name">
    {{workflow.paperType}}
  </h4>
  <div class="admin-workflow-thumbnail-journal">
    {{ workflow.journal.name }}
  </div>
</div>
<div class="admin-workflow-thumbnail-footer">
  <div class="admin-workflow-thumbnail-updated">
    Last updated: {{ format-date workflow.updatedAt format='MMM D, YYYY'}}
  </div>
  <div class="admin-workflow-thumbnail-active-manuscripts">
    {{ workflow.activePaperCount }} Active {{ pluralize-string count=workflow.activePaperCount string="Manuscript" }}
  </div>
</div>
