<div {{bind-attr class=":control-bar view.subNavVisible:__sub-nav-active"}}>
  <div class="control-bar-inner-wrapper">
    <ul>
      <li id="control-bar-paper-journal-logo" class="control-bar-item">
        {{#if logoUrl}}
          <img src="{{unbound logoUrl}}" alt="{{unbound journal.name}}">
        {{else}}
          <div class="paper-journal">{{unbound journal.name}}</div>
        {{/if}}
      </li>
    </ul>
    <ul>
      <li class="control-bar-item">
        <div class="control-bar-link contributors-link __with-icon" {{action "showSubNav" "contributors" target="view"}}>
          <div class="control-bar-link-icon"><span class="glyphicon glyphicon-user"></span></div>
          <div class="control-bar-link-text">
            <span {{bind-attr class=":control-bar-toggle view.contributorsVisible:__active"}}>{{partial "svg/plus"}}</span>
            Contributors
          </div>
        </div>
      </li>
      <li class="control-bar-item">
        <div class="control-bar-link downloads-link __with-icon" {{action "showSubNav" "downloads" target="view"}}>
          <div class="control-bar-link-icon">{{partial "svg/downloads"}}</div>
          <div class="control-bar-link-text">
            <span {{bind-attr class=":control-bar-toggle view.downloadsVisible:__active"}}>{{partial "svg/plus"}}</span>
            Downloads
          </div>
        </div>
      </li>
      {{#if canViewManuscriptManager}}
        <li class="control-bar-item">
          {{#link-to "paper.manage" model class="control-bar-link control-bar-button"}}
            <div class="control-bar-link-icon">{{partial "svg/manuscript-manager-icon"}}</div>
            Workflow
          {{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>

  <div class="control-bar-sub-items">
    <div {{bind-attr class=":contributors view.contributorsVisible:active"}}>
      {{#unless model.submitted}}
        <a class="contributors-add" {{action "addContributors"}}>+ Add Contributors</a>
      {{/unless}}

      {{#each contributor in collaborators}}
        <div class="contributor">{{unbound contributor.fullName}}</div>
      {{/each}}
    </div>

    <div {{bind-attr class=":manuscript-download-links view.downloadsVisible:active"}}>
      {{#each downloadType in view.supportedDownloadFormats}}
        <a title="Coming soon">{{partial downloadType.icon}}</a>
      {{/each}}
      {{#direct-download-link link=downloadLink}}
        {{partial "svg/epub-icon"}}
      {{/direct-download-link}}
      {{#direct-download-link link=downloadLink extension=".pdf"}}
        {{partial "svg/pdf-icon"}}
      {{/direct-download-link}}

    </div>
  </div>
</div>
