{{partial "paper/control-bar"}}

<div id="tahi-container">
  <div class="paper-status">
    {{saveState}}
  </div>
  <main>
    <article>
      <ul class="edit-paper list-inline">
        <li>
          {{start-editing-button action='toggleEditing' canEdit=canEdit isEditing=isEditing}}
        </li>
        <li {{bind-attr class=":lock-message locked::hidden"}}>
          <p class="message">
          <span class="glyphicon glyphicon-lock"></span>
          {{{lockMessage}}}
          </p>
        </li>
      </ul>
      <div {{bind-attr class=":locked-overlay isEditing:hidden"}}>
      </div>
      <div class="manuscript-container">
        <div class="title">
          {{content-editable tagName="h2"
                             id="paper-title"
                             placeholder="Type your manuscript title here"
                             value=title
                             preventEnterKey="true"}}
        </div>

        <div id="paper-authors" {{bind-attr class="noAuthors:muted"}} {{action "viewCard" addAuthorsTask}}>
          {{authorNames}}
        </div>

        {{#if showPlaceholder}}
          <div id="paper-placeholder">Type your manuscript here</div>
        {{/if}}
        <div id="paper-body" class="editable"></div>
      </div>
    </article>
    <aside>
      <div class="task-list">
        {{partial "paper/task-list"}}

        <a {{action "submit" target="view"}} {{bind-attr class=":button-primary :button--wide allMetadataTasksCompleted:button--green:button--disabled"}} href="#">Submit</a>
      </div>
    </aside>
  </main>
</div>
