{{partial "paper/control-bar"}}

<div id="tahi-container">
  <main>
    <article>
      <ul class="edit-paper list-inline">
        <li>
          {{start-editing-button action='toggleEditing' canEdit=canEdit isEditing=isEditing}}
        </li>
        <li class="lock-message">
          <p class="message">
          <span {{bind-attr class=":glyphicon :glyphicon-lock locked::hidden"}}></span>
          {{{statusMessage}}} {{time-ago time=savedAt}}
          </p>
        </li>
      </ul>
      <div {{bind-attr class=":locked-overlay isEditing:hidden"}}>
      </div>
      <div class="manuscript-container">
        <div class="title">
          {{content-editable tagName="h2"
                             id="paper-title"
                             placeholder="Type your manuscript title here"
                             value=title
                             preventEnterKey="true"}}
        </div>

        <div id="paper-authors" {{bind-attr class="noAuthors:muted"}} {{action "viewCard" addAuthorsTask}}>
          {{authorNames}}
        </div>

        {{#if showPlaceholder}}
          <div id="paper-placeholder">Type your manuscript here</div>
        {{/if}}
        <div id="paper-body" class="editable"></div>
      </div>
    </article>
    <aside>
      <div class="collaborators">
        {{#each collaborator in collaborators}}
          {{#tooltip-container}}
            <div class="collaborator-status">
              <div class="circle"></div>
              <span class="name">{{collaborator.fullName}}</span>
            </div>
            {{#tooltip-content}}
               {{userThumbnail collaborator}}
               <div class='info'>
                 <p class='name'>{{collaborator.fullName}}</p>
                 <p class='roles'>Author</p>
                 <div class="collaborator-status">
                   <div class="circle"></div>
                   <span class="status">online</span>
                 </div>
               </div>
            {{/tooltip-content}}
          {{/tooltip-container}}
        {{/each}}
        <a class="add-collaborators" {{action "addCollaborators"}}>Add New Collaborator</a>
      </div>
      <div class="task-list">
        {{partial "paper/task-list"}}

        <a {{action "submit" target="view"}} {{bind-attr class=":button-primary :button--wide allMetadataTasksCompleted:button--green:button--disabled"}} href="#">Submit</a>
      </div>
    </aside>
  </main>
</div>
