{{partial "paper/control-bar"}}

<div class="ve-toolbar-underside"></div>
<div id="tahi-container">
  <main {{bind-attr class="hasNoMetaDataTasks:sidebar-empty"}}>

    <aside>
      <div class="task-list">
        {{partial "paper/task-list"}}
        <a {{action "submit" target="view"}} {{bind-attr class=":button-primary :button--wide allMetadataTasksCompleted:button--green:button--disabled"}} href="#">Submit</a>
      </div>
    </aside>

    <article>
      <div class="edit-paper">
        <a {{action "submit" target="view"}} {{bind-attr class=":no-sidebar-submit-manuscript :button-primary :button--wide allMetadataTasksCompleted:button--green:button--disabled"}} href="#">Submit Manuscript</a>
        {{edit-paper-button action="toggleEditing" canEdit=canEdit isEditing=isEditing}}
        <span {{bind-attr class=":glyphicon :glyphicon-lock locked::hidden"}}></span>
        <span class="edit-paper-lock-message">{{{statusMessage}}} {{time-ago time=savedAt}}</span>
      </div>

      <div class="manuscript-container">
        {{content-editable tagName="h2"
                           id="paper-title"
                           placeholder="Type your manuscript title here"
                           value=title
                           preventEnterKey="true"}}

        {{#if showPlaceholder}}
          <div id="paper-placeholder" {{action "tryHidingPlaceholder"}}>Type your manuscript here</div>
        {{/if}}
        <div id="paper-body" class="editable"></div>
      </div>
    </article>

  </main>
</div>
