<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <ul>
      <li id="control-bar-paper-journal-logo" class="control-bar-item">
        {{#if view.logoUrl}}
          <img src="{{unbound journal.logoUrl}}">
        {{else}}
          <div class="paper-journal">{{unbound journal.name}}</div>
        {{/if}}
      </li>
    </ul>
    <ul>
      <li class="control-bar-item">
        {{#direct-download-link link=downloadLink class="control-bar-link"}}
          {{partial "svg/epub-icon"}}
        {{/direct-download-link}}
      </li>
      <li class="control-bar-item">
        {{#direct-download-link link=downloadLink extension=".pdf"}}
          {{partial "svg/pdf-icon"}}
        {{/direct-download-link}}
      </li>
      {{#if canViewManuscriptManager}}
        <li class="control-bar-item">
          {{#link-to "paper.manage" model class="control-bar-link"}}
            {{partial "svg/manuscript-manager-icon"}}
            <span class="manuscript-manager">Manuscript Manager</span>
          {{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
</div>

<div id="tahi-container">
  <div class="paper-status">
    {{saveState}}
  </div>
  <main>
    <article>
      <div {{bind-attr class=":lock-message locked::hidden"}}>
        <i class="glyphicon glyphicon-lock" ></i>
        <span class="message">{{lockMessage}}</span>
      </div>
      <div {{bind-attr class=":locked-overlay locked::hidden"}}>
      </div>
      <div class="manuscript-container">
        <div class="title">
          {{content-editable tagName="h2"
                             id="paper-title"
                             placeholder="Type your manuscript title here"
                             value=title
                             preventEnterKey="true"}}
        </div>

        <div id="paper-authors" {{bind-attr class="noAuthors:muted"}} {{action "viewCard" addAuthorsTask}}>
          {{authorNames}}
        </div>

        {{#if showPlaceholder}}
          <div id="paper-placeholder">Type your manuscript here</div>
        {{/if}}
        <div id="paper-body" class="editable"></div>
      </div>
    </article>
    <aside>
      <div>
        {{#if assignedTasks}}
          <div id="paper-assigned-tasks">
            {{each assignedTasks itemViewClass="ETahi.CardView"}}
          </div>
          <hr>
        {{/if}}

        {{#if authorTasks}}
          <div id="paper-metadata-tasks">
            {{each authorTasks itemViewClass="ETahi.CardView"}}
          </div>
          <hr>
        {{/if}}

        <a {{action "submit" target="view"}} {{bind-attr class=":button-primary :button--wide allMetadataTasksCompleted:button--green:button--disabled"}} href="#">Submit</a>
      </div>
    </aside>
  </main>
</div>
