<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <ul>
      <li id="control-bar-paper-journal-logo" class="control-bar-item">
        {{#if view.logoUrl}}
          <img src="{{unbound journal.logoUrl}}">
        {{else}}
          <div class="paper-journal">{{unbound journal.name}}</div>
        {{/if}}
      </li>
    </ul>
    <ul>
      <li class="control-bar-item">{{directLinkTo downloadLink "Download ePub" "control-bar-link"}}</li>
      <li class="control-bar-item">{{directLinkTo downloadLink "Download PDF" "control-bar-link" "pdf"}}</li>
      {{#if canViewManuscriptManager}}
        <li class="control-bar-item">{{link-to "Manuscript Manager" "paper.manage" model class="control-bar-link"}}</li>
      {{/if}}
    </ul>
  </div>
</div>

<div id="tahi-container">
  <main>
    <article>
      <div {{bind-attr class=":lock-message locked::hidden"}}>
        <i class="glyphicon glyphicon-lock" ></i>
        <span class="message">{{lockMessage}}</span>
      </div>
      <div {{bind-attr class=":locked-overlay locked::hidden"}}>
      </div>
      <div class="manuscript-container">
        <div class="title">
          {{content-editable tagName="h2"
                             id="paper-title"
                             placeholder="Type your manuscript title here"
                             value=title
                             preventEnterKey="true"}}
        </div>

        <div id="paper-authors" {{bind-attr class="noAuthors:muted"}} {{action "viewCard" addAuthorsTask}}>
          {{authorNames}}
        </div>

        <div id="paper-body" class="editable" placeholder="Type the body of your manuscript here"></div>
      </div>
    </article>
    <aside>
      <div>
        {{#if assignedTasks}}
          <div id="paper-assigned-tasks">
            {{each assignedTasks itemViewClass="ETahi.CardView"}}
          </div>
          <hr>
        {{/if}}

        {{#if authorTasks}}
          <div id="paper-metadata-tasks">
            {{each authorTasks itemViewClass="ETahi.CardView"}}
          </div>
          <hr>
        {{/if}}

        <a {{action "submit" target="view"}} {{bind-attr class=":primary-button :wide-button allMetadataTasksCompleted::disabled-button"}} href="#">Submit</a>
        <a {{action "save" target="view"}}   {{bind-attr class=":primary-button :wide-button editable::disabled-button"}} href="#">Save</a>
      </div>
    </aside>
  </main>
</div>
