{{partial "paper/control-bar"}}

<div class="ve-toolbar-underside"></div>
<div id="tahi-container">
  <main>

    <aside>
      <div class="task-list">
        {{partial "paper/task-list"}}
        <a {{action "submit" target="view"}} {{bind-attr class=":button-primary :button--wide allMetadataTasksCompleted:button--green:button--disabled"}} href="#">Submit</a>
      </div>
    </aside>

    <article>
      <ul class="edit-paper list-inline">
        <li>
          {{start-editing-button action="toggleEditing" canEdit=canEdit isEditing=isEditing}}
        </li>
        <li class="lock-message">
          <p class="message">
          <span {{bind-attr class=":glyphicon :glyphicon-lock locked::hidden"}}></span>
          {{{statusMessage}}} {{time-ago time=savedAt}}
          </p>
        </li>
      </ul>

      <div class="manuscript-container">
        {{content-editable tagName="h2"
                           id="paper-title"
                           placeholder="Type your manuscript title here"
                           value=title
                           preventEnterKey="true"}}

        {{#if showPlaceholder}}
          <div id="paper-placeholder" {{action "tryHidingPlaceholder"}}>Type your manuscript here</div>
        {{/if}}
        <div id="paper-body" class="editable"></div>
      </div>
    </article>

  </main>
</div>
