<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <ul>
      {{#if journal.logoUrl}}
        <li id="control-bar-paper-journal-logo">
          <img src="{{unbound journal.logoUrl}}">
        </li>
      {{/if}}
      <li id="control-bar-paper-short-title">
        <h2 class="tasks-paper-title">{{shortTitle}}</h2>
      </li>
    </ul>
    <ul>
      <li>{{link-to "Manuscript" "paper.edit" model class="control-bar-link"}}</li>
    </ul>
  </div>
</div>


<div id="manuscript-manager">
  <div class="full-height">
    <div class="columns">
      {{add-column position=-1 action="addPhase" bonusClass="first-add-column"}}
      {{each sortedPhases itemViewClass="ETahi.ManuscriptManagerColumnView"}}
    </div>
  </div>
</div>
