<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <ul>
      <li id="control-bar-paper-journal-logo">
        {{#if paper.logo}}
          <img src="">
        {{else}}
          <div>Logo</div>
        {{/if}}
      </li>
      <li id="control-bar-paper-short-title">
        <h2 class="tasks-paper-title">{{shortTitle}}</h2>
      </li>
    </ul>
    <ul>
      <li><a href="#">Manuscript</a></li>
    </ul>
  </div>
</div>


<div id="manuscript-manager">
  {{title}}
  <div class="full-height">
    <ul class="columns">
      {{add-column position=-1 action="addPhase" bonusClass='first-add-column'}}
      {{#each phase in sortedPhases}}
        {{view ETahi.ManuscriptManagerColumnView phase=phase}}
      {{/each}}
    </ul>
  </div>
</div>
