<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <ul>
      {{#if journal.logoUrl}}
        <li id="control-bar-paper-journal-logo" class="control-bar-item">
          <img src="{{unbound journal.logoUrl}}">
        </li>
      {{/if}}
      <li id="control-bar-paper-short-title" class="control-bar-item">
        <h2 class="tasks-paper-title">{{shortTitle}}</h2>
      </li>
    </ul>
    <ul>
      <li class="control-bar-item">
        {{#link-to "paper.edit" model class="control-bar-link"}}
          {{partial "svg/manuscript-icon"}}
          <span class="manuscript">Manuscript</span>
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>


<div id="manuscript-manager">
  <div class="columns">
    {{add-column position=-1 action="addPhase" bonusClass="first-add-column"}}
    {{#each phase in sortedPhases}}
      {{#view "ETahi.ManuscriptManagerColumnView" content=phase}}
        {{add-column position=view.nextPosition action='addPhase'}}

        {{view ETahi.PhaseHeaderView phase=phase}}

        <div class="column-content">
          {{#each task in phase.tasks}}
            {{flow-card paper=paper
                        task=task
                        commentLooks=commentLooks
                        canRemoveCard=canRemoveCard
                        removeTask="removeTask"
                        canDragCard=true
                        action='viewCard'}}
          {{/each}}
          <a {{action 'chooseNewCardTypeOverlay' phase}} class="button-secondary button--green">
            Add New Card
          </a>
        </div>
      {{/view}}
    {{/each}}
  </div>
</div>
