<div id="tahi-container">

  <h1>You're about submit {{shortTitle}}</h1>
  <h2 id="paper-title">{{title}}</h2>

  <div id="paper-abstract">{{abstract}}</div>

  <table id="paper-authors" class="table">
    <tr>
      <th>Name</th>
      <th>Affiliation</th>
      <th>Email</th>
    </tr>
    {{#each author in authors}}
      <tr>
        <td>{{author.first_name}} {{author.last_name}}</td>
        <td>{{author.affiliation}}</td>
        <td>{{author.email}}</td>
      </tr>
    {{/each}}
  </table>

  <table id="paper-declarations" class="table">
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
    {{#each declaration in declarations}}
      <tr>
        <td>{{declaration.question}}</td>
        <td>{{declaration.answer}}</td>
      </tr>
    {{/each}}
  </table>

  {{link-to 'Cancel' 'paper.edit' this class="primary-button btn-lg"}}
  <button id="submit-paper" class="primary-button btn-lg" {{action 'submitPaper'}}>Submit</button>

</div>
