{{partial "paper/control-bar"}}

<div id="paper-editor">

  {{partial "paper/sidebar"}}

  <div class="editor">

    <div class="editor-toolbar">
      {{partial "paper/edit/toolbar"}}
    </div>

    <main>

      {{flash-messages classNames="flash-messages-paper-editor"}}

      <article {{ bind-attr class=":manuscript isEditing:editing:read-only"}}>
        <div class="manuscript-title-and-placeholder">
          {{content-editable tagName="h2"
                             id="paper-title"
                             placeholder="Type your manuscript title here"
                             value=title
                             preventEnterKey="true"}}

          {{#if showPlaceholder}}
            <div id="paper-placeholder" {{action "tryHidingPlaceholder"}}>Type your manuscript here</div>
          {{/if}}
        </div>
        {{visual-editor
          viewName="editor"
          initializerContext=controller
          initializer=controller.setupEditor}}
      </article>
    </main>

  </div>

</div>
