<label>{{check-box name=ident checked=checked}} {{model.question}}</label>
{{#if template}}
  <div {{bind-attr class=":additional-data checked::hidden"}}>
    {{yield}}
    {{#if multipleAdditionalData}}
      <button class="button-secondary button--grey button--small" {{action 'additionalDataAction'}}>
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add Dataset
      </button>
    {{/if}}
  </div>
{{/if}}
