{{#if disabled}}
  {{{value}}}
{{else}}
  <div class="rich-text-editor-container {{ if hasErrors "error" }}">
    {{#unless hideError}}
      {{card-content/validation-errors errors=errorMessages hideErrors=false}}
    {{/unless}}
    {{tinymce-editor
      class=class
      name=name
      errorMessages=errorMessages
      onValueChanged=onContentsChanged
      options=editorOptions
      value=editorValue
      afterEditorInit=(action postRender)
    }}
  </div>
{{/if}}
