{{#if disabled}}
  {{{value}}}
{{else}}
  <div class="rich-text-editor-container {{ if hasErrors "error" }}">
    {{card-content/validation-errors errors=errorMessages}}
    {{tinymce-editor
      class=class
      name=name
      errorMessages=errorMessages
      onValueChanged=(action onContentsChanged)
      options=editorOptions
      value=value
    }}
  </div>
{{/if}}
