<h2>Review Your Submission</h2>
<h4>Please verify that the metadata you entered is correct before completing your submission</h4>
<table class="table">
  <tbody>
  <tr>
    <td>PrePrint</td><td>metadata</td>
  </tr>
  <tr>
    <td>Title</td><td>{{{model.displayTitle}}}</td>
  </tr>
  <tr>
    <td>Authors</td><td>{{model.authors.length}}</td>
  </tr>
  <tr>
    <td>Abstract</td><td>{{{model.abstract}}}</td>
  </tr>
  <tr>
    <td>Manuscript</td><td>metadata</td>
  </tr>
  <tr>
    <td>Competing Interest</td><td>metadata</td>
  </tr>
  <tr>
    <td>Financial Disclosure</td><td>metadata</td>
  </tr>
  </tbody>
</table>
{{flash-messages}}

<div class="submit-action-buttons">
  <button class="button-primary button-submit-paper" {{action "submit"}}>Yes, Submit My Manuscript</button>
  <button class="button-link button--white" {{action "close"}}>Go back and make sure</button>
</div>
