<ul class="dashboard-open-invitations">
  {{#each invitations as |invitation|}}
    {{#if invitation.pendingFeedback}}
      {{reviewer-invitation-feedback
          invitation=invitation
          close=(action "close")
          update=(action "update" invitation)
      }}
    {{else}}
      <div class="pending-invitation">
        <h4>{{invitation.inviteeRole}} Invitation</h4>
        <li class="dashboard-paper-title">
          {{partial "svg/manuscript-icon"}}
          <h3>{{{invitation.title}}}</h3>
          {{#if invitation.abstract}}
            <h4>Abstract:</h4>
            <p>{{{invitation.abstract}}}</p>
          {{/if}}
          {{#if invitation.information}}
            <p class="preserve-line-breaks">{{{invitation.information}}}</p>
          {{/if}}
          <button class="button-primary button--green" {{action "accept" invitation}}> Accept {{invitation.inviteeRole}} Invitation </button>
          <button class="button-secondary button--green" {{action "acquireFeedback" invitation}}> Decline </button>
        </li>
      </div>
    {{/if}}
  {{/each}}
</ul>
