{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if loading}}
  {{progress-spinner visible=true color="green" size="large" align="middle"}}
{{else}}
  <div class='dashboard-open-invitations'>
    {{#each invitations as |invitation|}}
      {{#if invitation.pendingFeedback}}
        {{invitation-feedback
            invitation=invitation
            decline=(action 'decline' invitation)
        }}
      {{else}}
        <div class="pending-invitation">
          {{invitation-header invitation=invitation}}
          {{#if invitation.information}}
            <h4>Authors</h4>
            <p class="preserve-line-breaks">{{{invitation.information}}}</p>
          {{/if}}
          {{#if invitation.abstract}}
            <h4>Abstract</h4>
            <p>{{{invitation.abstract}}}</p>
          {{/if}}
          <button class='button-primary button--green invitation-accept' {{action 'accept' invitation}}> Accept {{invitation.inviteeRole}} Invitation </button>
          <button class='button-secondary button--green invitation-decline' {{action 'acquireFeedback' invitation}}> Decline </button>
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}
