<div class="card-form-element">
  <button class="button-primary
                 button--green
                 send-to-apex-button
                 {{if disabled 'disabled'}}"
          {{action "sendToApex"}}>

      {{{content.label}}}
  </button>
</div>

{{#if task.exportDeliveries}}
  <div class="export-history">
    <h3 class="export-history-header">{{capitalize destination}} Export History</h3>
    {{export-group exports=task.exportDeliveries}}
  </div>
{{/if}}
