<div>Please note that the response to reviewers file for this decision
  may be found in the same folder as the decision itself or sometimes
  in the final decision.
  <% if @decisions_with_attachments.present? %>
    This manuscript contains attachments to the decision in versions <%= @decisions_with_attachments.to_sentence %>.
  <% end %>
</div>
<% content_for :title do %>
  Version <%= @decision.major_version %>.<%= @decision.minor_version %> decision
<% end %>
<h2>Verdict: <%= @decision.verdict.try(:humanize) %></h2>
<h2>Letter</h2>
<div>
  <%= @decision.letter.try(:html_safe) %>
</div>
<% if @decision.author_response %>
  <h2>Author response</h2>
  <%= @decision.author_response.html_safe %>
<% end %>
