<% content_for :title do %>
  <%= @owner.try(:phase).try(:name) %> - <%= @owner.try(:title) %>
<% end %>
<%
  id_count = nil
  depth = 1
%>
<% @data.each do |data| %>
  <% depth = data[0].scan('.').size %>
  <% if id_count == nil %>
    <% id_count = data[0].to_i.truncate %>
    <div class="divider">
  <% end %>
  <% if id_count != data[0].to_i.truncate %>
    </div><div class="divider">
    <% id_count = data[0].to_i.truncate %>
  <% end %>
  <p class="depth-level-<%= depth %>">
    <span class="question"><%= raw data[1] %>:</span>
    <span class="answer"><%= raw data[2] %></span>
  </p>
<% end %>
