<h1>{{model.title}}</h1>
{{#if canUploadManuscript}}
  <h2>You may upload a manuscript at any time.</h2>
  <div id="upload-file-wrapper">
    <span {{bind-attr class='isSubmissionTaskNotEditable:button--disabled :button-primary :button--green :fileinput-button'}}>
      Select and upload a document
      {{file-uploader id="upload-files"
                      railsMethod="PUT"
                      accept=".docx"
                      start="uploadStarted"
                      progress="uploadProgress"
                      done="uploadFinished"
                      error="uploadError"
                      filePrefix="paper/manuscript"
                      url=manuscriptUploadUrl
                      disabled=isSubmissionTaskNotEditable}}
    </span>
  </div>
  {{else}}
  <p>Currently, Uploading a Manuscript is disabled because the paper is locked by another user.</p>
{{/if}}

{{#if uploadError}}
  <span>Sorry! {{fileName}} is not of an accepted file type</span>
{{/if}}

<div id="paper-manuscript-upload" class={{if isUploading "" "hidden"}}>
  <div class="processing {{if isProcessing "" "hidden"}}">
    {{progress-spinner visible=true}}
    Processing...
  </div>
  <div class="progress {{if showProgress "" "hidden"}}">
    <div class="progress-bar" style={{progressBarStyle}}></div>
  </div>
</div>
