{{#overlay-fullscreen visible=showEditTaskTypesOverlay
                      outAnimationComplete=(action "hideEditTaskTypesOverlay")
                      title="Available Task Types"
                      overlayClass="edit-task-types-overlay overlay--blue"
                      as |overlay|}}
    {{edit-task-types model=model
                      close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}

{{#overlay-fullscreen visible=showEditCSSOverlay
                      outAnimationComplete=(action "hideEditCSSOverlay")
                      overlayClass="journal-edit-overlay overlay--blue"
                      as |overlay|}}
    {{component editCssOverlayName
                css=css
                save=(action "saveCSS")
                close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


<div class="base-screen admin-screen">
  <div class="admin-users-row">
    <h2 class="admin-section-title">Users</h2>
    <div class="col-md-4">
      <div class="row admin-user-search">
        {{input enter="searchUsers"
                placeholder="SEARCH ALL USERS"
                class="admin-user-search-input"
                name="Admin Search Input"
                value=searchQuery}}
        <button class="admin-user-search-button" {{action "searchUsers"}}><span class="fa fa-search"></span></button>
      </div>
    </div>

    {{#if adminJournalUsers}}
      <table class="col-md-12 admin-users">
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Roles</th>
        </tr>
        {{#each adminJournalUsers as |user|}}
          {{admin-journal-user model=user
                               journalRoles=model.adminJournalRoles
                               assignOldRole="assignOldRoleToUser"}}
        {{/each}}
      </table>
    {{/if}}
  </div>

  <!-- Comment out Roles section to prevent confusion until new roles are implemented
  <div class="admin-section">
    <h2 class="admin-section-title">Roles</h2>
    <button class="button-primary button--blue admin-add-new-role-button" {{action "addRole"}}>
      Add New Role
    </button>

    <br><br>

    <div class="admin-roles">
      <div class="admin-roles-header admin-role-name">Role Name</div>
      <div class="admin-roles-header admin-role-permissions">Permission</div>
      {{#each model.oldRoles as |oldRole|}}
        {{admin-role model=oldRole}}
      {{/each}}
    </div>
  </div>
  -->

  <div class="admin-section">
    <h2 class="admin-section-title">Available Task Types</h2>
    <div class="button-primary button--blue" {{action "showEditTaskTypesOverlay"}}>
      Edit Task Types
    </div>
  </div>

  <div class="admin-section">
    <h2 class="admin-section-title">Manuscript Manager Templates</h2>
    <button class="button-primary button--blue" {{action "addMMTemplate" phase taskType}}>Add New Template</button>
    <br><br>
    {{#each model.manuscriptManagerTemplates as |mmt|}}
      {{manuscript-manager-template model=mmt
                                    canDestroy=canDeleteManuscriptManagerTemplates
                                    destroyTemplate=(action "destroyMMTemplate")}}
    {{/each}}
  </div>

  <div class="admin-section">
    <h2 class="admin-section-title">Style Settings</h2>

    <div class="admin-style-setting-section">
      <button id="edit-pdf-css" class="button-primary button--blue" {{action "editCSS" "pdf"}}>Edit PDF CSS</button>
      {{timed-message class="pdf-css save-status" message=pdfCssSaveStatus}}
    </div>

    <div class="admin-style-setting-section">
      <button id="edit-manuscript-css" class="button-primary button--blue" {{action "editCSS" "manuscript"}}>Edit Manuscript CSS</button>
      {{timed-message class="manuscript-css save-status" message=manuscriptCssSaveStatus}}
    </div>
  </div>
</div>
