<div class="add-author-form">
  <div class="form-group form-inline author-top">
    <div class="form-group author-name required">
      {{#field-with-errors errorMessage=errors.firstName.firstObject}}
        {{input type="text"
        value=newAuthor.firstName
        class="form-control"
        placeholder="First name"}}
      {{/field-with-errors}}
    </div>
    <div class="form-group author-middle">
      {{#field-with-errors errorMessage=errors.middleInitial.firstObject}}
        {{input type="text"
        value=newAuthor.middleInitial
        class="form-control"
        placeholder="MI"}}
      {{/field-with-errors}}
    </div>
    <div class="form-group author-name required">
      {{#field-with-errors errorMessage=errors.lastName.firstObject}}
        {{input type="text"
        value=newAuthor.lastName
        class="form-control"
        placeholder="Last name"}}
      {{/field-with-errors}}
    </div>
    <div class="form-group author-half required author-bump">
      {{#field-with-errors errorMessage=errors.email.firstObject}}
        {{input type="text"
        value=newAuthor.email
        class="form-control"
        placeholder="Email"}}
      {{/field-with-errors}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half required">
      {{#field-with-errors errorMessage=errors.title.firstObject}}
        {{input type="text"
        value=newAuthor.title
        class="form-control"
        placeholder="Title"}}
      {{/field-with-errors}}
    </div>
    <div class="form-group author-half required author-bump">
      {{#field-with-errors errorMessage=errors.department.firstObject}}
        {{input type="text"
        value=newAuthor.department
        class="form-control"
        placeholder="Department"}}
      {{/field-with-errors}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half required">
      {{#field-with-errors errorMessage=errors.affiliation.firstObject}}
        {{select-2-single
          value=newAuthor.affiliation
          class="affiliation-field"
          placeholder="Affiliation"
          selectedData=selectedAffiliation
          source=selectableInstitutions}}
      {{/field-with-errors}}
    </div>
    <div class="form-group author-half author-bump">
      {{#field-with-errors errorMessage=errors.secondaryAffiliation.firstObject}}
        {{select-2-single
          value=newAuthor.secondaryAffiliation
          class="affiliation-field"
          placeholder="Secondary Affiliation"
          selectedData=selectedSecondaryAffiliation
          source=selectableInstitutions}}
      {{/field-with-errors}}
    </div>
  </div>
  <div class="form-group">
    <label class="author-label">
      {{check-box
      checked=newAuthor.corresponding}}
      This is a corresponding author
    </label>
    <label class="author-label">
      {{check-box
      checked=newAuthor.deceased}}
      This person is deceased
    </label>
    <span class="pull-right author-form-buttons">
      <a class="button-link button--green author-cancel" {{action "cancelEdit" bubbles=false}}>cancel</a>
      <button class="button-secondary button--green" {{action "saveNewAuthor"}}>done</button>
    </span>
  </div>
</div>
