{{#unless editState}}
  <div class="authors-overlay-item--text">
    <div class="author-name">{{author.model.fullName}}</div>
    {{author.model.email}}<br>
    {{author.model.title}} &nbsp; &nbsp; {{author.model.department}}
    <br>
    {{author.model.affiliation}} &nbsp; &nbsp; {{author.model.secondaryAffiliation}}
  </div>

  {{#if hoverState}}
    <div class="authors-overlay-item--actions">
      <div class="drag"></div>
      <div class="actions">
        <div class="action" {{action "toggleEditForm"}}>
          <span class="glyphicon glyphicon-pencil scaleIn"></span>
        </div>
        <div class="action" {{action "toggleDeleteConfirmation"}}>
          <span class="glyphicon glyphicon-trash scaleIn"></span>
        </div>
      </div>
    </div>
  {{/if}}
{{/unless}}

{{#if editState}}
  {{add-author-form newAuthor=author.model
                    validationErrors=author.errors
                    institutions=institutions
                    hideAuthorForm="toggleEditForm"
                    saveAuthor="save"}}
{{/if}}

{{#if deleteState}}
  <div class="authors-overlay-item--delete">
    <p>This will permanently delete the author. Are you sure?</p>
    <button class="button-secondary button--green knockout" {{action "toggleDeleteConfirmation"}}>Cancel</button>
    <button class="button-secondary button--green knockout" {{action "delete"}}>Delete Forever</button>
  </div>
{{/if}}
