<div class="profile-section">

  <h1>Affiliations:</h1>
  {{#each model.affiliations as |affiliation|}}
    <div class="profile-affiliation">
      <div class="profile-affiliation-name">{{affiliation.name}}</div>
      <div class="fa fa-times-circle-o profile-remove-affiliation" {{action "removeAffiliation" affiliation}}></div>
      <div>
      <div>
        {{affiliation.department}}
      </div>
      <div>
        {{affiliation.title}}
      </div>
      <div>
        {{affiliation.country}}
      </div>
        {{format-date affiliation.startDate format="ll"}} -
        {{#if affiliation.isCurrent}}
          Current
        {{else}}
          {{format-date affiliation.endDate format="ll"}}
        {{/if}}
      </div>
      <div>{{affiliation.email}}</div>
    </div>
  {{/each}}

  <a class="button-secondary button--green" {{action "showNewAffiliationForm"}}>
    <span class="fa fa-plus-sign"></span>
    Add New Affiliation
  </a>

  {{#if showAffiliationForm}}
    <div class="profile-affiliations-form animation-fade-in">
      <h3>
        New Affiliation
      </h3>
      {{institution-search
        class="profile-affiliation-field"
        institutionSelected="institutionSelected"
        placeholder="Institution"}}
      {{error-message message=validationErrors.name}}

      {{input type="text"
              value=newAffiliation.department
              placeholder="Department"
              class="profile-affiliation-field form-control"}}

      {{input type="text"
              value=newAffiliation.title
              placeholder="Title"
              class="profile-affiliation-field form-control"}}

      {{#if countries.loaded}}
        {{select-2-single class="profile-affiliation-field"
                          placeholder="Country"
                          source=formattedCountries
                          selectionSelected="countrySelected"}}
      {{/if}}
      {{#if countries.loading}}
        {{progress-spinner visible=true size="mini"}}
        Loading countries
      {{/if}}
      {{#if countries.error}}
        <i class="fa fa-exclamation-triangle"></i>
        Error loading countries
      {{/if}}

      <div class="form-group">
        {{#date-picker-group as |group|}}
          {{date-picker group=group
                        type="text"
                        role="startPicker"
                        date=newAffiliation.startDate
                        endDate=today
                        placeholder="Start Date"}}

          {{date-picker group=group
                        type="text"
                        role="endPicker"
                        date=newAffiliation.endDate
                        placeholder="End Date"}}
        {{/date-picker-group}}

        {{input type="text"
                value=newAffiliation.email
                placeholder="Email Address"
                class="profile-affiliation-field form-control"}}
      </div>

      <button class="button-secondary button--green" {{action "commitAffiliation" newAffiliation}}>done</button>
      <a class="button-link author-cancel" {{action "hideNewAffiliationForm"}}>cancel</a>
    </div>
  {{/if}}

</div>
