<%= render_ember_app :client do |head, body| %>
  <% head.append do %>
    <script type='text/javascript'>
      window.appName = "<%= app_name %>"
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dimple/2.1.6/dimple.latest.js"></script>
  <script src='https://s3.amazonaws.com/uploads.hipchat.com/78239/910633/PJrcVGTm2xP8hjc/bio-pv.min.js'></script>
    <title><%= app_name %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag "application", media: "all" %>

    <%= csrf_meta_tags %>

    <% if !(Rails.env.test? || Rails.env.development?) %>
      <%= render "shared/segment_io" %>
      <%= render "shared/bugsnag_javascript" %>
    <% end %>
  <% end %>

  <% body.append do %>

    <script type="text/javascript">
      window.eventStreamConfig = <%= TahiPusher::Config.to_json.html_safe %>;
      <% if current_user %>
          window.currentUserData = <%= CurrentUserSerializer.new(current_user, root: :user).to_json.html_safe %>;
      <% end %>
    </script>

    <% if Rails.env.test? %>
      <% # disable jquery animations %>
      <%= javascript_tag "$.fx.off = true" %>
    <% end %>

  <% end %>
<% end %>
