<%= render_ember_app :client do |head, body| %>
  <% head.append do %>
    <script type='text/javascript'>
      window.appName = "<%= app_name %>"
    </script>
    <title><%= app_name %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag "application", media: "all" %>

    <%= csrf_meta_tags %>

    <% if !(Rails.env.test? || Rails.env.development?) %>
      <%= render "shared/bugsnag_javascript" %>
    <% end %>
  <% end %>

  <% body.append do %>

    <script type="text/javascript">
      window.eventStreamConfig = <%= TahiPusher::Config.to_json.html_safe %>;
      <% if current_user %>
        <%# :scope and :scope_name give OrcidAccountSerializer a current_user  %>
        window.currentUserData = <%= CurrentUserSerializer.new(current_user, root: :user, :scope_name => :current_user, :scope => current_user).to_json.html_safe %>;
      <% end %>
      window.pdfviewerPath = "/pdf.js-viewer/pdf.js";
      window.RailsEnv = {};
      window.RailsEnv.orcidConnectEnabled = <%= TahiEnv.orcid_connect_enabled? %>;
      window.RailsEnv.testing = <%= Rails.env.test? %>;
    </script>

    <% if Rails.env.test? %>
      <% # disable jquery animations %>
      <%= javascript_tag "$.fx.off = true" %>
    <% end %>

  <% end %>
<% end %>
