{{progress-spinner visible=isLoading
                   align="middle"
                   size="large"}}

<table>
  {{#each model as |feed|}}
    <tr>
      <td class="activity-feed-overlay-message">{{unbound feed.message}}</td>
      <td class="activity-feed-overlay-user">
        <img src={{unbound feed.userAvatarUrl}} class="user-thumbnail">
      </td>
      <td>
        {{unbound feed.userFullName}}
      </td>
      <td class="activity-feed-overlay-timestamp">{{format-date feed.createdAt}}</td>
    </tr>
  {{/each}}
</table>
