{{select-2-single value=newAffiliation.name
                  class="profile-affiliation-field"
                  placeholder="Affiliation Name"
                  source=selectableInstitutions}}

<div class="form-group">
  {{#date-picker-group}}
    {{date-picker type='text'
    role='startPicker'
    date=newAffiliation.startDate
    placeholder='Start Date'}}

    {{date-picker type='text'
    role='endPicker'
    date=newAffiliation.endDate
    placeholder='End Date'}}
  {{/date-picker-group}}

  {{input type='text'
  value=newAffiliation.email
  placeholder='Email Address'
  class='profile-affiliation-field form-control'}}
</div>

<button class="button-secondary button--green" {{action 'commitAffiliation' newAffiliation}}>done</button>
<a class="button-link author-cancel" {{action 'toggleAffiliationForm'}}>cancel</a>
