{{type-ahead value=newAffiliation.name sourceList=institutions placeholder="Affiliation Name"}}
<div class="form-group">
  {{date-picker type='text'
  value=newAffiliation.startDate
  placeholder='Start Date'}}

  {{date-picker type='text'
  value=newAffiliation.endDate
  placeholder='End Date'}}

  {{input type='text'
  value=newAffiliation.email
  placeholder='Email Address'
  class='affiliation-field form-control'}}
</div>
<a class="btn-link author-cancel" {{action 'toggleAffiliationForm'}}>cancel</a>
<div class="form-group">
  <button class="secondary-button" {{action 'commitAffiliation' newAffiliation}}>done</button>
</div>
