<div class="container">
  <hr>
  <div class="paper-info">
    <div class="journal-info">
      <% if @paper.journal.logo_url %>
        <img class="journal-logo" src="<%= @paper.journal.logo_url %>">
      <% else %>
        <div class="journal-name">
          <%= @paper.journal.name %>
        </div>
      <% end %>
    </div>
    <div class="paper-name">
      <%= @paper.display_title(sanitized: false) %>
    </div>
    <div>
      <p>
        Hello <%= @admin.first_name %>,
      </p>
      <p class="paper-info">
        <%= @editor.full_name %> has accepted their editor invitation for "<%= @journal.name %>: <%= @paper.display_title(sanitized: false) %>"
      </p>
    </div>
  </div>
  <div class="footer">
    <a class="button" href="<%= client_paper_url(@paper) %>" target="_blank">
      View Paper
    </a>
  </div>
  <hr>
</div>
