<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <!-- Also set in /config/environment.js -->
  <style>
    /*Embedding the style inline because the pdf is created in another process
    and we want to avoid the request failing if authentication
    changes, or the asset host is misconfigured.*/
    <%= Sass.compile(File.read(File.join(Rails.root, 'app', 'assets', 'stylesheets', 'pdf.scss'))) %>
    <%= journal_pdf_css %>
  </style>
</head>
<body>
  <% figures.each do |figure| %>
  <figure>
    <img class="pdf-image" src="<%=figure.href%>">
    <figcaption class="paper-body-figure-caption"><%=figure.title_html%></figcaption>
  </figure>
  <% end %>

  <%= render partial: 'supporting_information',
             locals: {
               supporting_information_files: supporting_information_files,
               should_proxy_previews: false
             } %>
</body>
</html>
