{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<td class="col-xs-8 dashboard-paper-title {{type}}-paper-title hug-left">
  {{#link-to "paper.index" model.shortDoi
             id=paperLinkId}}
    {{{model.displayTitle}}}
  {{/link-to}}
  <br>
  <span class="dashboard-journal-name">
    {{model.journal.name}}
  </span>
  <span class="dashboard-manuscript-id">
    | ID: {{model.manuscript_id}}
  </span>
  {{#if unreadCommentsCount}}
    <span class="unread-comments">
      <span class="badge badge--red">
        {{unreadCommentsCount}}
      </span> new comments
    </span>
  {{/if}}
</td>
<td class="col-xs-2 hug-left">
  <span class="role-tag">{{roles}}</span><br>
  <span class="review-due-message">{{reviewDueMessage}}</span><br>
  <span class="originally-due-message">{{originallyDueMessage}}</span><br>
</td>
<td class="col-xs-2 hug-left"><div class='status-tag'>{{status}}</div><br><br></td>
