<td class="col-xs-9 dashboard-paper-title {{type}}-paper-title hug-left">
  {{#link-to "paper.index" model.shortDoi
             id=paperLinkId}}
    {{{model.displayTitle}}}
  {{/link-to}}
  <br>
  <span class="dashboard-journal-name">
    {{model.journal.name}}
  </span>
  <span class="dashboard-manuscript-id">
    | ID: {{model.manuscript_id}}
  </span>
  {{#if unreadCommentsCount}}
    <span class="unread-comments">
      <span class="badge badge--red">
        {{unreadCommentsCount}}
      </span> new comments
    </span>
  {{/if}}
</td>
<td class="col-xs-1 role-tag text-center">{{roles}}</td>
<td class="col-xs-1"><div class='status-tag text-center'>{{status}}</div></td>
