<h1 class="user-name">
  Feedback from: <%= @user.username %>
</h1>

<p>
  <b>On the page:</b><br>
  <a href="<%= @feedback[:referrer] %>"><%= @feedback[:referrer] %></a>
</p>

<p>
  <b>Current Rails Environment:</b><br>
  <%= Rails.env %>
</p>

<p>
  <%= simple_format @feedback[:remarks] %>
</p>

<% if @feedback[:screenshots] %>
  <p>
    Attachments:
    <br>
    <% @feedback[:screenshots].each do |screenshot| %>
      <%= link_to screenshot[:filename], screenshot[:url] %>
      <br>
    <% end %>
  </p>
<% end %>
