<p>
Feedback from:
<%= @user.username %>
</p>

<p>
On the page:
<%= @feedback[:referrer] %>
</p>

<p>
Current Rails environment:
<%= Rails.env %>
</p>

<p>
Body:
<%= @feedback[:remarks] %>
</p>

<% if @feedback[:screenshots] %>

  <p>
    Screenshots:
    <% @feedback[:screenshots].each do |screenshot| %>
      <%= image_tag screenshot[:url], alt: screenshot[:filename] %>
      <br>
    <% end %>
  </p>

<% end %>
