<div class="admin-role-name">
  {{#if isEditing}}
    <span class={{if validationErrors.name "error"}}>
      {{input name="role[name]"
              value=model.name
              placeholder="Role name"
              enter="save"}}
    </span>
    {{error-message message=validationErrors.name}}
  {{else}}
    {{#unless model.required}}
      <i class="admin-role-action-button role-delete-button fa fa-trash" {{action "deleteRole" bubbles=false}}></i>
    {{/unless}}
    <i class="admin-role-action-button fa fa-pencil"></i>
    <span class="role-name-field">{{model.name}}</span>
  {{/if}}
</div>

<div class="admin-role-permissions">
  {{#if isEditing}}
    <label class="token">{{check-box name="role[canViewAssignedManuscriptManagers]" checked=model.canViewAssignedManuscriptManagers}} Manuscript Manager</label>
    <label class="token">{{check-box name="role[canViewAllManuscriptManagers]" checked=model.canViewAllManuscriptManagers}} All Manuscript Managers</label>
    <label class="token">{{check-box name="role[canAdministerJournal]" checked=model.canAdministerJournal}} Admin</label>
  {{else}}
    {{#if model.canViewAssignedManuscriptManagers}}
      <label class="token"><span class="fa fa-check"></span> Manuscript Manager</label>
    {{/if}}
    {{#if model.canViewAllManuscriptManagers}}
      <label class="token"><span class="fa fa-check"></span> All Manuscript Managers</label>
    {{/if}}
    {{#if model.canAdministerJournal}}
      <label class="token"><span class="fa fa-check"></span> Admin</label>
    {{/if}}
  {{/if}}

  <div class="action-buttons">
    <button class="column-header-update-save button-primary button--blue" {{action "save"   bubbles=false}}>Save</button>
    <button class="column-header-update-cancel button-link button--blue"  {{action "cancel" bubbles=false}}>cancel</button>
  </div>
</div>
