<label for="{{name}}" class="switch {{size}}" aria-label="{{labelText}}">
  {{check-box
    name=name
    id=name
    checked=(readonly answer.value)
    disabled=disabled
    content=content
    action="valueChanged"}}

    <div class="slider round {{color}}" >
      <div class="slider-button">&nbsp;</div>
      {{#if interiorText}}
        <div class="interior-text">{{interiorText}}</div>
      {{/if}}
    </div>

    {{#if labelText}}
      <div class="checked-label-text">{{labelText}}</div>
    {{/if}}
</label>
