%h3
  Editing
  %span#short_title_editable{contenteditable: true}
    %em= @paper.short_title

.row
  %section.article-view
    #ckeditor-toolbar

    .title
      %h2#title_editable{contenteditable: true}
        = @paper.title

    #abstract_editable.editable{contenteditable: true}
      = @paper.abstract.html_safe

    %ul.authors
      - @paper.authors.each do |author|
        %li.author
          %span.small_text First name
          %span.author-detail.author-first-name{contenteditable: true}
            = author["first_name"]
          %br
          %span.small_text Last name
          %span.author-detail.author-last-name{contenteditable: true}
            = author["last_name"]
          %br
          %span.small_text Affiliation
          %span.author-detail.author-affiliation{contenteditable: true}
            = author["affiliation"]
          %br
          %span.small_text Email
          %span.author-detail.author-email{contenteditable: true}
            = author["email"]
    #author-template.hidden
      %span.small_text First name
      %span.author-detail.author-first-name{contenteditable: true}
      %br
      %span.small_text Last name
      %span.author-detail.author-last-name{contenteditable: true}
      %br
      %span.small_text Affiliation
      %span.author-detail.author-affiliation{contenteditable: true}
      %br
      %span.small_text Email
      %span.author-detail.author-email{contenteditable: true}


    %a#add_author{href: '#'} Add author

    #body_editable.editable{contenteditable: true}
      = @paper.body.html_safe

    %a#save_button.btn.btn-primary{href: "#", data: { url: paper_path(@paper.id) }} Save Paper

  %aside.article-metadata
    = link_to 'Review and submit', new_paper_submission_path(@paper), class: 'btn-primary btn-lg btn'
    %a.btn.btn-primary.btn-lg{"href" => "#myModal", "data-toggle" => "modal"} Upload Manuscript

    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title Upload File
          = form_tag({action: :upload}, multipart: true) do
            .modal-body
              .form-group
                = label_tag :upload_file, 'Upload Word Document'
                = file_field_tag :upload_file, class: 'form-control'
                %p.help-block Uploading a file will replace your current work.

            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
              = button_tag "Upload File", type: 'submit', class: 'btn btn-primary'

    = form_for @paper, remote: true, format: :json, html: { class: 'js-submit-on-change' } do |f|
      .form-group
        = f.label :paper_type
        = f.select :paper_type, Paper::PAPER_TYPES.map { |t| [t.humanize, t] }

    %br
    %br

    %h4 Declarations
    = form_for @paper, remote: true, format: :json do |paper_form|
      = paper_form.fields_for :declarations do |declaration|
        .form-group.declaration
          = declaration.label :answer, declaration.object.question
          = declaration.text_area :answer
      = paper_form.submit 'Save declarations'
