- content_for :control_bar do
  #control-bar-container
    #control-bar
      %section
        %ul
          %li#paper-journal
            - if @paper.journal.logo.present?
              = image_tag @paper.journal.logo.url
            - else
              %div
                = @paper.journal.name
          -# %li#paper-short-title{contenteditable: true, placeholder: 'Type your short title here'}
            = @paper.short_title
        %ul
          - if current_user.admin?
            %li= link_to 'Task Manager', manage_paper_path(@paper)

%main
  %article{data: { 'paper-path' => paper_path(@paper, format: :json) } }
    #toolbar

    %div
      .title
        %h2#paper-title{contenteditable: true, placeholder: 'Type your article title here'}
          = @paper.title

      #paper-abstract{contenteditable: true, placeholder: 'Type your abstract here'}
        = @paper.abstract.html_safe

      - task = Task.where(title: "Add Authors", phase: @paper.phases.where(name: 'Submission Data').first).first
      #paper-authors.editable{class: "#{'completed' if task.completed?}", data: { 'card-name' => "authors", 'paper-title' => truncated_title(@paper), 'paper-path' => paper_path(@paper), 'paper-id' => @paper.to_param, 'task-path' => paper_task_path(@paper, task), authors: @paper.authors_json, 'refresh-on-close' => false }}

      #paper-body.editable{contenteditable: true, placeholder: 'Type the body of your article here'}
        = @paper.body.html_safe

  %aside
    %div
      - task = Task.where(title: "Upload Manuscript", phase: @paper.phases.where(name: 'Submission Data').first).first
      = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "upload-manuscript", 'paper-title' => truncated_title(@paper), 'upload-paper-path' => upload_paper_path(@paper, format: :json), 'paper-path' => paper_path(@paper), 'paper-id' => @paper.to_param, 'task-path' => paper_task_path(@paper, task), 'refresh-on-close' => false } do
        %span.glyphicon.glyphicon-ok
        = task.title

      - task = Task.where(title: "Add Authors", phase: @paper.phases.where(name: 'Submission Data').first).first
      = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "authors", 'paper-title' => truncated_title(@paper), 'paper-path' => paper_path(@paper), 'paper-id' => @paper.to_param, 'task-path' => paper_task_path(@paper, task), authors: @paper.authors_json, 'refresh-on-close' => false } do
        %span.glyphicon.glyphicon-ok
        = task.title

      - task = Task.where(title: "Upload Figures", phase: @paper.phases.where(name: 'Submission Data').first).first
      = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "figures", 'paper-title' => truncated_title(@paper), 'figures-path' => paper_figures_path(@paper), 'paper-path' => paper_path(@paper), 'paper-id' => @paper.to_param, 'task-path' => paper_task_path(@paper, task), figures: @paper.figures.map(&:access_details).to_json, 'refresh-on-close' => false } do
        %span.glyphicon.glyphicon-ok
        = task.title

      - task = Task.where(title: "Enter Declarations", phase: @paper.phases.where(name: 'Submission Data').first).first
      = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "declarations", 'paper-title' => truncated_title(@paper), 'paper-path' => paper_path(@paper), 'paper-id' => @paper.to_param, 'task-path' => paper_task_path(@paper, task), declarations: @paper.declarations.map { |d| d.slice(:question, :answer, :id) }.to_json, 'refresh-on-close' => false } do
        %span.glyphicon.glyphicon-ok
        = task.title
      %hr
      = link_to 'Submit', new_paper_submission_path(@paper), class: 'primary-button wide-button'

