%header.row
  %article
    %h3
      %span{style: 'color: gray'} R0
      %span#short_title_editable{contenteditable: true}
        %em= @paper.short_title
  %aside
    %a#save_button.btn.btn-primary{href: "#", data: { url: paper_path(@paper.id) }} Save
    = link_to 'Submit', new_paper_submission_path(@paper), class: 'btn-primary btn'

%main.row
  %article
    #toolbar

    .title
      %h2#title_editable{contenteditable: true, placeholder: 'Type your article title here'}
        = @paper.title

    #abstract_editable.editable{contenteditable: true, placeholder: 'Type your abstract here'}
      = @paper.abstract.html_safe

    #authors{data: { 'overlay-name' => 'authors' }}
      Click here to add authors

    #authors-content{style: 'display: none'}
      .content
        %ul.authors
          - @paper.authors.each do |author|
            %li.author
              %h4
                %span.author-first-name
                  = author["first_name"]
                %span.author-last-name
                  = author["last_name"]
              %h4.author-email= author["email"]
              %h4.author-affiliation= author["affiliation"]

        = link_to '#', id: 'add-author', class: 'btn btn-default btn-xs' do
          %span.glyphicon.glyphicon-plus-sign
          Add new

    #author-form-template.hidden
      .form-group.form-inline
        .form-group
          = text_field_tag :author_first_name, '', class: 'form-control', placeholder: 'First name'
        .form-group
          = text_field_tag :author_last_name, '', class: 'form-control', placeholder: 'Last name'
      .form-group
        = text_field_tag :author_email, '',class: 'form-control', placeholder: 'Email'
      .form-group.form-inline
        .form-group
          = text_field_tag :author_affiliation, '',class: 'form-control', placeholder: 'Affiliation'
        .form-group
          = submit_tag 'done', class: 'btn btn-primary'

    #body_editable.editable{contenteditable: true, placeholder: 'Type the body of your article here'}
      = @paper.body.html_safe

  %aside
    %a.btn.btn-primary.btn-lg{"href" => "#myModal", "data-toggle" => "modal"} Upload Manuscript

    = form_for @paper, remote: true, format: :json, html: { class: 'js-submit-on-change' } do |f|
      .form-group
        = f.label :paper_type
        = f.select :paper_type, Paper::PAPER_TYPES.map { |t| [t.humanize, t] }

    %br
    %br

    %h4 Declarations
    = form_for @paper, remote: true, format: :json do |paper_form|
      = paper_form.fields_for :declarations do |declaration|
        .form-group.declaration
          = declaration.label :answer, declaration.object.question
          = declaration.text_area :answer
      = paper_form.submit 'Save declarations'

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Upload File
      = form_tag({action: :upload}, multipart: true) do
        .modal-body
          .form-group
            = label_tag :upload_file, 'Upload Word Document'
            = file_field_tag :upload_file, class: 'form-control'
            %p.help-block Uploading a file will replace your current work.

        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = button_tag "Upload File", type: 'submit', class: 'btn btn-primary'
