<% if @paper.errors.present? %>
  <div class="alert alert-warning"><%= @paper.errors.full_messages.to_sentence %></div>
<% end %>

<br />
<%= form_for @paper do |f| %>
  <h1>Give your submission a short title</h1>
  <div class="form-group">
    <%= f.text_field :short_title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :journal_id %>
    <%= f.select :journal_id, Journal.pluck(:name, :id), class: 'form-control' %>
  </div>
  <button type="submit" class="primary-button wide-button">Create</button>
<% end %>
