- content_for :control_bar do
  #control-bar-container
    #control-bar
      %section
        %ul
          %li#paper-journal
            - if @paper.journal.logo.present?
              = image_tag @paper.journal.logo.url
            - else
              %div
                = @paper.journal.name
          -# %li#paper-short-title= @paper.short_title
        %ul
          - if current_user.admin?
            %li= link_to 'Task Manager', manage_paper_path(@paper)

%main
  %article
    %div
      .title
        %h2#paper-title
          = @paper.title

      #paper-abstract
        = @paper.abstract

      - authors_array = @paper.authors.map { |a| a.slice(:first_name, :last_name, :email, :affiliation) }
      #paper-authors{data: { authors: authors_array.to_json }}

      #paper-body
        = @paper.body.html_safe

  %aside
    %div
      - author_tasks = Task.where(role: 'author', phase: @paper.phases.where(name: 'Submission Data').first)
      - assigned_tasks = @tasks - author_tasks
      - unless assigned_tasks.empty?
        %ul.assigned-tasks.cards
          %ul.cards
            - assigned_tasks.each do |task|
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'overlay-name' => "card-#{task.id}", 'overlay-title' => truncated_title(@paper), 'paper-id' => task.paper.to_param, 'task-id' => task.to_param, 'task-completed' => task.completed? } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
              .hidden{id: "card-#{task.id}-content"}
                = render task, paper: task.paper

      - task = author_tasks.detect { |t| t.title == 'Upload Manuscript' }
      = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "upload-manuscript", 'paper-title' => truncated_title(@paper), 'paper-path' => upload_paper_path(@paper), 'paper-id' => @paper.to_param, 'task-path' => paper_task_path(@paper, task), 'refresh-on-close' => false } do
        %span.glyphicon.glyphicon-ok
        = task.title

      - task = author_tasks.detect { |t| t.title == 'Add Authors' }
      = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "authors", 'paper-title' => truncated_title(@paper), 'paper-path' => paper_path(@paper), 'paper-id' => @paper.to_param, 'task-path' => paper_task_path(@paper, task), authors: @paper.authors_json, 'refresh-on-close' => false } do
        %span.glyphicon.glyphicon-ok
        = task.title

      - task = author_tasks.detect { |t| t.title == 'Upload Figures' }
      = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "figures", 'paper-title' => truncated_title(@paper), 'figures-path' => paper_figures_path(@paper), 'paper-path' => paper_path(@paper), 'paper-id' => @paper.to_param, 'task-path' => paper_task_path(@paper, task), figures: @paper.figures.map(&:access_details).to_json, 'refresh-on-close' => false } do
        %span.glyphicon.glyphicon-ok
        = task.title

      - task = author_tasks.detect { |t| t.title == 'Enter Declarations' }
      = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "declarations", 'paper-title' => truncated_title(@paper), 'paper-path' => paper_path(@paper), 'paper-id' => @paper.to_param, 'task-path' => paper_task_path(@paper, task), declarations: @paper.declarations.map { |d| d.slice(:question, :answer, :id) }.to_json, 'refresh-on-close' => false } do
        %span.glyphicon.glyphicon-ok
        = task.title
