{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if isProcessing}}
    <div class="processing-attachment">
      {{progress-spinner visible=true size="small"}} Processing {{attachment.title}} ...
      {{#unless disabled}}
        <a class="upload-cancel-link" {{action "cancelUpload"}} title="Cancel file processing">cancel</a>
      {{/unless}}
    </div>
{{else}}
  <a href="{{attachment.src}}" class="attachment-file-link" target="_blank">
    <i class="fa {{fileTypeClass}}"></i> {{attachment.title}}
  </a>
{{/if}}

{{#if draft}}
  <span {{action "triggerFileSelection"}} class="file-action replace-attachment">
    {{fa-icon icon="refresh"}}
    Replace
  </span>
    {{file-uploader class="update-attachment"
                           accept=accept
                           filePrefix=filePath
                           multiple=multiple
                           disabled=disabled
                           progress=attrs.progress
                           done=(action 'uploadFinished')
                           start=attrs.start }}
  <span {{action "deleteFile"}} class="file-action delete-attachment">
    {{fa-icon icon="trash"}}
    Delete
  </span>
{{/if}}
