{{#if readonly}}
  {{#if shouldDisplayQuestionText}}
    <p class="{{textClassNames}}">{{{questionText}}}</p>
  {{/if}}

  {{#if model.answer.value}}
    <div class="answer-text">{{model.answer.value}}</div>
  {{else}}
    <div class="answer-text no-answer">{{noResponseText}}</div>
  {{/if}}

{{else}}
  <label class="question-checkbox">
    {{check-box name=ident checked=checked disabled=disabled}}
    {{#if shouldDisplayQuestionText}}
      <p class="{{textClassNames}}">{{{questionText}}}</p>
    {{/if}}
  </label>

  {{#if hasBlock}}
    <div class="additional-data">{{yield checked}}</div>
  {{/if}}

{{/if}}
