<label class="{{labelClassNames}}">
  {{check-box name=ident checked=isChecked disabled=disabled action="checkboxToggled"}}
  {{#if shouldDisplayQuestionText}}
    <p class="{{textClassNames}}">{{{questionText}}}</p>
  {{else}}
    {{yield textYieldValue}}
  {{/if}}
</label>

{{#if hasBlock}}
  <div class="additional-data">{{yield additionalDataYieldValue}}</div>
{{/if}}
