{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{partial "task-completed-section"}}

<div class="task-main-content">
  {{#if busy}}
    <div class="register-decision-saving-cover">
      {{progress-spinner visible=true size="large" center=true}}
    </div>
  {{/if}}

  {{rescind-decision
    decision=paper.latestRegisteredDecision
    isEditable=isEditable
    busyWhile=(action busyWhile)}}

  {{#if (not paper.isReadyForDecision)}}
    <div class="alert alert-warning">
      A decision cannot be registered at this time. The manuscript is {{humanize paper.publishingState}}.
    </div>
  {{else}}

    <div class="decision-selections">
      {{#each verdicts as |verdict|}}
        <label class="decision-label">
          {{radio-button
            value=verdict
            selection=draftDecision.verdict
            disabled=nonPublishable
            name="decision"
            action=(action "updateVerdict")}}
          {{humanize verdict}}
        </label>
      {{/each}}
    </div>

    {{error-message message=validationErrors.errors}}

    {{#if draftDecision.verdict}}
      {{letter-template disabled=nonPublishableOrUnselected
        letterValue=draftDecision.letter
        class='letter-template-placeholder'
        toField=toField
        subjectLine=subjectLine
        task=task
        category=draftDecision.verdict
        updateTemplate=(action 'updateTemplate')
        registerDecision=(action 'registerDecision')
      }}
    {{else}}
      <p>No decision has been registered.</p>
    {{/if}}
  {{/if}}

  {{#if previousDecisions}}
    <hr>
    <h3>Decision History</h3>
    <div class="previous-decisions">
      {{#each previousDecisions as |decision|}}
        {{decision-bar decision=decision}}
      {{/each}}
    </div>
  {{/if}}
</div>
