{{paper-control-bar paper=model
                    showActivity="showActivityOverlay"
                    addContributors="showCollaboratorsOverlay"
                    exportDocument="exportDocument"
                    showWithdrawOverlay="showWithdrawOverlay"
                    topicsIndexPath=topicsIndexPath
                    setViewingVersion=(action "setViewingVersion")
                    viewingVersion=viewingVersion
                    comparisonVersion=comparisonVersion
                    submenuVisible=true
                    setQueryParam=(action 'setQueryParam')
                    supportedDownloadFormats=supportedDownloadFormats
                    versionsVisible=true}}

<div class="paper-container versions-expanded">
  {{withdrawal-banner paper=model staff=currentUser.siteAdmin}}

  {{#split-pane class="paper-container--versions"
                handleClass="manuscript-handle"}}
    {{#split-pane-element class="manuscript-pane"}}
      <div class="manuscript-container">
        {{flash-messages}}
        <div class="manuscript">
          <div id="paper-body">
            {{html-diff default=model.body
                        comparisonText=comparisonVersion.text
                        viewingText=viewingVersion.text}}
          </div>
        </div>
      </div>
    {{/split-pane-element}}

    {{#split-pane-element class="paper-sidebar"}}
      <div class="paper-sidebar-info">
        <div class="task-list">
          {{#if model.doi}}
          <div class="task-list-doi"><strong>Manuscript ID:</strong> {{model.manuscript_id}}</div>
          <hr />
          {{/if}}
          <div id="paper-metadata-tasks">
            {{#each model.sortedSnapshotTasks as |task|}}
              {{card-preview task=task
                             action=(action "viewCard" task)
                             version1=selectedVersion1
                             version2=selectedVersion2}}
            {{/each}}
          </div>
        </div>
      </div>
    {{/split-pane-element}}
  {{/split-pane}}
</div>

{{outlet}}

{{#if showTaskOverlay}}
  {{overlay-task-version model=taskToDisplay
                         selectedVersion1=selectedVersion1
                         selectedVersion2=selectedVersion2
                         outAnimationComplete=(action "hideTaskOverlay")}}
{{/if}}

{{#overlay-fullscreen visible=showActivityOverlay
                      outAnimationComplete=(action "hideActivityOverlay")
                      title="Recent Activity"
                      overlayClass="activity-overlay"
                      as |overlay|}}
    {{paper-activity isLoading=activityIsLoading
                     model=activityFeed
                     close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


{{#overlay-fullscreen visible=showCollaboratorsOverlay
                      outAnimationComplete=(action "hideCollaboratorsOverlay")
                      title="Who can collaborate on this manuscript?"
                      overlayClass="show-collaborators-overlay"
                      as |overlay|}}
    {{paper-collaborators paper=model
                          close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


{{#overlay-fullscreen visible=showWithdrawOverlay
                      outAnimationComplete=(action "hideWithdrawOverlay")
                      overlayClass="overlay--grey paper-withdraw-overlay"
                      as |overlay|}}
    {{paper-withdraw model=model
                     close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}
