{{control-bar paper=model
              showActivity="showActivity"
              addContributors="addContributors"
              exportDocument="exportDocument"
              showConfirmWithdrawOverlay="showConfirmWithdrawOverlay"
              topicsIndexPath=topicsIndexPath
              canViewManuscriptManager=canViewManuscriptManager
              versionsActive=true
              supportedDownloadFormats=supportedDownloadFormats}}

{{withdrawal-banner paper=model staff=currentUser.siteAdmin}}

<div id="paper-container" class="clearfix paper-container-html">
  <div id="versioning-bar">
    <div class="bar-item">
      <i class="fa fa-files-o"></i>
    </div>
    <div class="bar-item">
      Now viewing:
      {{select-native
        name="view_version"
        content=model.versionedTexts
        optionValuePath="id"
        optionLabelPath="version_string"
        action=(action "setViewingVersion")}}
    </div>
    <div class="bar-item">
      Compare With:
      {{select-native
        name="compare_version"
        prompt="-"
        content=model.versionedTexts
        optionValuePath="id"
        optionLabelPath="version_string"
        action=(action "setComparisonVersion")}}
    </div>
    <div class="bar-item exit-versions" {{action "exitVersions"}}>
      ×
    </div>
  </div>

  <div class="sidebar">
    <div class="task-list">
      {{#if model.doi}}
      <div class="task-list-doi"><strong>Manuscript ID:</strong> {{model.manuscript_id}}</div>
      <hr />
      {{/if}}
      <div id="paper-metadata-tasks">
        {{#each model.sortedMetadataTasks as |task|}}
        {{card-preview task=task action="viewCard"}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="manuscript-container">
    <main>

      {{flash-messages classNames="flash-messages-paper-editor"}}
      <article class="manuscript">
      <div id="paper-body">
        <h2 id="paper-title">{{{model.title}}}</h2>


        {{html-diff
          default=model.body
          comparisonText=comparisonVersion.text
          viewingText=viewingVersion.text}}
        </div>
      </article>
    </main>
  </div>
</div>

{{outlet}}
