{{#if feedbackSubmitted}}
  <p class="feedback-overlay-thanks animation-fade-in">
    <img class="animation-scale-in" src="/images/submit-image-success.png">
    Thank you for your feedback!
  </p>
{{else}}
  <h2> We are actively&nbsp;developing&nbsp;Aperta and value&nbsp;your&nbsp;feedback </h2>
  <div class="feedback-form__from"><strong>From:</strong> {{currentUser.email}}</div>

  {{textarea class="form-control feedback-overlay-remarks"
             name="remarks"
             value=model.remarks
             placeholder="Please tell us about your experience"
             autofocus="autofocus"}}
  <div class="call-to-action">
    <div class="button-secondary button--green feeback-overlay-screenshot-uploader fileinput-button">
      Attach Files
      {{file-uploader accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.pdf,.docx,.pages"
                      start="uploadStarted"
                      done="uploadFinished"
                      multiple="true"
                      filePrefix="feedback_attachment"}}
    </div>

    <div class="overlay-footer-content feedback-overlay-footer-content">
      <div class="overlay-action-buttons">
        <button class="button-link button--green" {{action "close"}}>cancel</button>
        <button class="button-primary button--green {{if isUploading "button--disabled"}}" {{action "submit"}}>Send Feedback</button>
      </div>
    </div>
    <ul class="feedback-overlay-screenshots">
      {{#each model.screenshots as |screenshot|}}
        <li class="animation-fade-in">
          <span class="fa fa-trash feedback-overlay-remove-screenshot" {{action "removeScreenshot" screenshot}}></span>
          <a target="_blank" href="{{unbound screenshot.url}}">{{unbound screenshot.filename}}</a>
        </li>
      {{/each}}
    </ul>
  </div>

  {{#if isUploading}}
    <div class="feedback-overlay-uploading">
      {{progress-spinner visible=true size="mini"}} Uploading attachment
    </div>
  {{/if}}
{{/if}}
