{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<a href={{href}}
        {{action "viewCard"}}
        class={{if notViewable "disabled"}}
        data-id="{{task.id}}">

  {{#if unreadCommentsCount}}
    <span class="badge badge--red unread-comments-count">{{unreadCommentsCount}}</span>
  {{/if}}
  {{#if versioned}}
    {{#if hasDiff}}
      <i class="card-diff-icon fa fa-files-o"></i>
    {{/if}}
  {{else}}
    {{#if (eq reviewState "minus")}}
      <div class="task-disclosure-completed-icon">
        {{partial "svg/minus"}}
      </div>
    {{else}}
      <div class="task-disclosure-completed-icon {{if (eq reviewState "active_check") "active"}}">
        {{partial "svg/check"}}
      </div>
    {{/if}}
  {{/if}}

  {{#if settingsEnabled}}
    <span {{action "openSettings" bubbles=false}} title="Settings" class="card--settings--container">
      <i class="fa fa-cog settings card--settings" aria-hidden="true"></i>&nbsp;&nbsp;
    </span>
  {{/if}}
  <span class="card-title">{{task.title}}</span>
</a>

{{#if showDeleteButton}}
   <span {{action "promptDelete" bubbles=false}} class="card-remove" title="Delete Card"></span>
{{/if}}
