<a href={{href}}
        {{action "viewCard"}}
        class={{if notViewable "disabled"}}
        data-id="{{task.id}}">

  {{#if unreadCommentsCount}}
    <span class="badge badge--red unread-comments-count">{{unreadCommentsCount}}</span>
  {{/if}}
  {{#if versioned}}
    {{#if hasDiff}}
      <i class="card-diff-icon fa fa-files-o"></i>
    {{/if}}
  {{else}}
    {{#if (eq reviewState "minus")}}
      <div class="task-disclosure-completed-icon">
        {{partial "svg/minus"}}
      </div>
    {{else}}
      <div class="task-disclosure-completed-icon {{if (eq reviewState "active_check") "active"}}">
        {{partial "svg/check"}}
      </div>
    {{/if}}
  {{/if}}

  {{#if settingsEnabled}}
    <span {{action "openSettings" bubbles=false}} title="Settings" class="card--settings--container">
      <i class="fa fa-cog settings card--settings" aria-hidden="true"></i>&nbsp;&nbsp;
    </span>
  {{/if}}
  <span class="card-title">{{task.title}}</span>
</a>

{{#if showDeleteButton}}
   <span {{action "promptDelete" bubbles=false}} class="card-remove" title="Delete Card"></span>
{{/if}}

