<div class="card-content" {{action "viewCard" task}} data-id="{{unbound task.id}}">
  {{#if unreadCommentsCount}}
    <span class="badge unread-comments-count">{{unreadCommentsCount}}</span>
  {{/if}}
  <div class="card-completed-icon"></div>
  {{task.title}}
  {{#if canRemoveCard}}
    <span {{action "promptDelete" task bubbles=false}} class="card-remove" title="Delete Card"></span>
  {{/if}}
</div>
