<div class="navigation">
  <div class="navigation-title" {{action "hideNavigation"}}>
    <span class="navigation-close">&times;</span>{{unbound attrs.specifiedAppName}}
  </div>

  {{#if attrs.isLoggedIn}}
    <div {{action "hideNavigation"}}>
      {{#link-to "profile" class="navigation-item navigation-item--account"}}
        <img src={{unbound attrs.currentUser.avatarUrl}} class="user-thumbnail">
        <span>{{unbound attrs.currentUser.fullName}}</span>
      {{/link-to}}
    </div>

    <div {{action "hideNavigation"}}>
      {{link-to "Dashboard" "dashboard" class="navigation-item"}}
    </div>

    {{#if attrs.canViewFlowManagerLink}}
      <div {{action "hideNavigation"}}>
        {{link-to "Flow Manager" "flow_manager" class="navigation-item"}}
      </div>
    {{/if}}

    {{#if attrs.canViewAdminLinks}}
      <div {{action "hideNavigation"}}>
        {{link-to "Admin" "admin" class="navigation-item navigation-item--admin"}}
      </div>
    {{/if}}

     <a class="navigation-item" href="/users/sign_out">
       <span class="fa fa-sign-out"></span>
       Sign Out
     </a>
  {{/if}}

  <hr>

  <div {{action "hideNavigation"}}>
    <a href="#" class="navigation-item navigation-item-feedback" {{action "showFeedbackOverlay"}}>Give Feedback on {{unbound attrs.specifiedAppName}}</a>
  </div>
</div>
