<div class="user-affiliation">

  <h1>Affiliations:</h1>
  {{#if loading}}
    <div>loading affiliations</div>
  {{else}}
    {{#each affiliations as |affiliation|}}
      {{user-affiliation-form
        affiliation=affiliation
        countries=countries
        commitAffiliation=(action 'commitAffiliation')
        removeAffiliation='removeAffiliation'
        hideNewAffiliationForm='hideNewAffiliationForm'}}
    {{else}}
      <div> No affiations yet </div>
    {{/each}}
  {{/if}}

  {{#if showAffiliationForm}}

    {{user-affiliation-form
      affiliation=newAffiliation
      editAffiliation=true
      countries=countries
      commitAffiliation=(action 'commitAffiliation')
      hideNewAffiliationForm='hideNewAffiliationForm'}}
  {{else}}
    <a class="button-secondary button--green" {{action "showNewAffiliationForm"}}>
      <span class="fa fa-plus-sign"></span>
      Add New Affiliation
    </a>
  {{/if}}

</div>
