<div class="container" id="top-of-page">

  <h1 id="header">
    Tahi Styleguide
  </h1>

  <div class="bs-example bs-example-tabs">
    {{partial 'styleguide/nav'}}

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="core">
        <div class="row">
          <div class="col-md-2">
            {{partial 'styleguide/core/nav'}}
          </div>
          <div class="col-md-10">
            {{partial 'styleguide/core'}}
          </div>
        </div>
      </div>
      <div class="tab-pane" id="cards-tab">
        <div class="row">
          <div class="col-md-2">
            {{partial 'styleguide/cards/nav'}}
          </div>
          <div class="col-md-10">
            {{partial 'styleguide/cards'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
