{{partial "paper/control-bar"}}

<div id="paper-container" class="clearfix paper-container-html {{if noTasks "sidebar-empty"}}">

  {{partial "paper/sidebar"}}

  <div class="manuscript-container">
    <main>
      {{flash-messages classNames="flash-messages-paper-editor"}}
      <article {{ bind-attr class=":manuscript isEditing:editing:read-only"}}>
        <div class="manuscript-title-and-placeholder">
          {{content-editable tagName="h2"
                             id="paper-title"
                             placeholder="Type your manuscript title here"
                             value=title
                             preventEnterKey="true"}}

          {{#if showPlaceholder}}
            <div id="paper-placeholder" {{action "tryHidingPlaceholder"}}>Type your manuscript here</div>
          {{/if}}
        </div>
        <div id="paper-body">
          {{component editorComponent
              viewName='editor'
              paper=model
          }}
        </div>
      </article>
    </main>
  </div>
</div>

{{outlet}}
