{{control-bar paper=model
              showActivity="showActivity"
              addContributors="addContributors"
              exportDocument="exportDocument"
              topicsIndexPath=topicsIndexPath
              canViewManuscriptManager=canViewManuscriptManager
              supportedDownloadFormats=supportedDownloadFormats}}

<div id="paper-container" class="clearfix paper-container-html {{if noTasks "sidebar-empty"}}">

  {{partial "paper/sidebar"}}

  <div class="manuscript-container {{if hideEditor 'not-ve'}}">
    <main>
      {{flash-messages classNames="flash-messages-paper-editor"}}
      <article class="manuscript {{if isEditable "editing" "read-only"}}">
        {{#if noTasks}}
          <div class="btn-group pull-right">
            <button {{action "submit" target="view"}} class="no-sidebar-submit-manuscript button-primary {{if model.allSubmissionTasksCompleted "button--green" "button--disabled"}}">
              Submit Manuscript
            </button>
          </div>
        {{/if}}

        <div id="paper-body" class="{{if hideEditor "version-visible"}}">
          {{#if hideEditor}}
            <h2 id="paper-title">{{{model.title}}}</h2>
            {{html-diff
              default=model.body
              comparisonText=model.comparisonText
              viewingText=model.viewingText}}
          {{/if}}

          {{#if model.editable}}
          {{component editorComponent
              viewName='editor'
              paper=model
              isEditing=isEditing
              isSaving=isSaving
              savedAt=savedAt
              statusMessage=statusMessage
              currentUser=currentUser
              savePaper="savePaper"
              toggleEditing="toggleEditing"
              lock="lock"
              unlock="unlock"
              }}
          {{/if}}
        </div>

      </article>
    </main>
  </div>
</div>

{{outlet}}