{{partial "paper/control-bar"}}

{{versioning-toolbar
  togglable=true
  versioningMode=versioningMode
  paper=model}}


<div id="paper-container" class="clearfix paper-container-html {{if noTasks "sidebar-empty"}}">

  {{partial "paper/sidebar"}}

  {{#if versioningMode}}
    <div id="paper-version-1" style="display: none; border: 5px solid green">{{{model.nowViewingText}}}</div>
    <div id="paper-version-2" style="display: none; border: 5px solid red">{{{model.compareToText}}}</div>
    <div class="manuscript-container not-ve">
      <main>
      {{flash-messages classNames="flash-messages-paper-editor"}}
      <article class="manuscript read-only">
      <div id="paper-title" class="manuscript-title-and-placeholder">
        <h2 id="paper-title">{{{model.title}}}</h2>
      </div>

      {{#if model.diff}}

        <div id="paper-body">
          {{#each model.diff}}
            <div {{bind-attr class=":diff-chunk added:added removed:removed"}}>{{{value}}}</div>
          {{/each}}
        </div>
      {{else}}
        <div id="paper-body">{{{model.versionedBody}}}</div>
      {{/if}}

      </article>
      </main>
    </div>

  {{else}}

    <div class="manuscript-container">
      <main>
      {{flash-messages classNames="flash-messages-paper-editor"}}
      <article class="manuscript {{if isEditing "editing" "read-only"}}">
          <div class="manuscript-title-and-placeholder">
            {{content-editable tagName="h2"
                               id="paper-title"
                               placeholder="Type your manuscript title here"
                               value=model.title
                               preventEnterKey="true"}}

            {{#if showPlaceholder}}
              <div id="paper-placeholder" {{action "tryHidingPlaceholder"}}>Type your manuscript here</div>
            {{/if}}
          </div>

          {{#if noTasks}}
            <div class="btn-group pull-right">
              <button {{action "submit" target="view"}} class="no-sidebar-submit-manuscript button-primary {{if model.allSubmissionTasksCompleted "button--green" "button--disabled"}}">
                Submit Manuscript
              </button>
            </div>
          {{/if}}

          <div id="paper-body">
            {{component editorComponent
                viewName='editor'
                paper=model
                isSaving=isSaving
                savedAt=savedAt
                statusMessage=statusMessage
                currentUser=currentUser
            }}
          </div>
        </article>
      </main>
    </div>

  {{/if}}

</div>

{{outlet}}
