{{partial "paper/control-bar"}}

<div id="paper-container" class="clearfix paper-container-html {{if noTasks "sidebar-empty"}}">

  {{partial "paper/sidebar"}}

  <div class="manuscript-container {{if model.versioningMode 'not-ve'}}">
    <main>
      {{flash-messages classNames="flash-messages-paper-editor"}}
      <article class="manuscript {{if isEditable "editing" "read-only"}}">

        {{#if noTasks}}
          <div class="btn-group pull-right">
            <button {{action "submit" target="view"}} class="no-sidebar-submit-manuscript button-primary {{if model.allSubmissionTasksCompleted "button--green" "button--disabled"}}">
              Submit Manuscript
            </button>
          </div>
        {{/if}}

        <div id="paper-body" class="{{if model.versioningMode "version-visible"}}">
          <div class="{{if model.versioningMode "versioned-body" "normal-body"}}">
            {{{model.versionedBody}}}
          </div>

          {{component editorComponent
              viewName='editor'
              paper=model
              isEditing=isEditing
              isSaving=isSaving
              savedAt=savedAt
              statusMessage=statusMessage
              currentUser=currentUser
              savePaper="savePaper"
              toggleEditing="toggleEditing"
              lock="lock"
              unlock="unlock"
          }}
        </div>

      </article>
    </main>
  </div>
</div>

{{outlet}}
