{{control-bar paper=model
              showActivity="showActivity"
              addContributors="addContributors"
              exportDocument="exportDocument"
              showConfirmWithdrawOverlay="showConfirmWithdrawOverlay"
              topicsIndexPath=topicsIndexPath
              canViewManuscriptManager=canViewManuscriptManager
              supportedDownloadFormats=supportedDownloadFormats
              versionsVisible=versioningMode}}

{{withdrawal-banner paper=model}}

<div id="paper-container" class="clearfix paper-container-html">

  {{paper-sidebar paper=model
                  user=currentUser
                  commentLooks=commentLooks
                  showConfirmSubmitOverlay="showConfirmSubmitOverlay"
                  viewCard="viewCard"}}

  <div class="manuscript-container {{if hideEditor 'not-ve'}}">
    <main>
      {{flash-messages classNames="flash-messages-paper-editor"}}
      <article class="manuscript {{if isEditable "editing" "read-only"}}">

        <div id="paper-body" class="{{if hideEditor "version-visible"}}">
          {{#if hideEditor}}
            <h2 id="paper-title" class="uneditable">{{{model.title}}}</h2>
            {{html-diff
              default=model.body
              comparisonText=model.comparisonText
              viewingText=model.viewingText}}
          {{/if}}

          {{#if model.editable}}
          {{component editorComponent
              viewName="editor"
              paper=model
              isEditing=isEditing
              isSaving=isSaving
              savedAt=savedAt
              statusMessage=statusMessage
              currentUser=currentUser
              savePaper="savePaper"
              toggleEditing="toggleEditing"
              lock="lock"
              unlock="unlock"
              }}
          {{/if}}
        </div>

      </article>
    </main>
  </div>
</div>

{{outlet}}
