{{partial "paper/control-bar"}}

<div id="paper-container" class="clearfix paper-container-html {{if noTasks "sidebar-empty"}}">

  {{partial "paper/sidebar"}}

  <div class="manuscript-container {{if model.versioningMode 'not-ve'}}">
    <main>
      {{flash-messages classNames="flash-messages-paper-editor"}}
      <article class="manuscript {{if isEditable "editing" "read-only"}}">
        <div class="manuscript-title-and-placeholder">
          {{#if model.versioningMode}}
            <h2 id="paper-title">{{{model.title}}}</h2>
          {{else}}
            {{content-editable tagName="h2"
                               id="paper-title"
                               placeholder="Type your manuscript title here"
                               value=model.title
                               preventEnterKey="true"}}
            {{#if showPlaceholder}}
              <div id="paper-placeholder" {{action "tryHidingPlaceholder"}}>Type your manuscript here</div>
            {{/if}}
          {{/if}}
        </div>

        {{#if model.versioningMode}}
          <div id="paper-body">{{{model.versionedBody}}}</div>
        {{else}}
          <div id="paper-body">
            {{component editorComponent
                viewName='editor'
                paper=model
                isSaving=isSaving
                savedAt=savedAt
                statusMessage=statusMessage
                currentUser=currentUser
            }}
          </div>
        {{/if}}
      </article>
    </main>
  </div>
</div>

{{outlet}}
