<span>
  <ul>
    <li class='paper-creator'>{{{paper.creatorUser.user.full_name}}}</li>
    <li class='manuscript-id'>{{{paper.manuscript_id}}}</li>
    <li class='paper-type'>{{{paper.paperType}}}</li>
    <li class='publishing-state'>{{{humanize paper.publishingState}}}</li>
  </ul>

  {{#link-to "paper.index" paper.id class="task-overlay-paper-title"}}
    {{{paper.displayTitle}}}
  {{/link-to}}
</span>
<a class="button-secondary button--green overlay-close-button" {{action animateOut}}>Close</a>
