{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if shortStatus}}
  <div class='short-status'>
    {{reviewerStatus}} {{statusDate}}
  </div>
{{else}}
  <div class='long-status'>
  {{#if (eq report.status 'completed')}}
    <h3>
      {{report.revision}} Review
      {{#if (can 'edit_answers' report.task.paper)}}
        <span id="edit-reviewer-report" {{action "editReport"}} class="{{editingClass}}">
          {{fa-icon icon="pencil"}}
          Edit
        </span>
        {{#if report.editWaiting}}
          {{progress-spinner visible=true size="mini"}}
        {{/if}}

      {{/if}}
    </h3>
    Completed {{statusDate}}
    {{#each report.inactiveAdminEdits as |edit|}}
      <div class="report-edit-description">
        <span><em>Edited by {{edit.user.name}} on {{format-date edit.updatedAt}}:</em> {{edit.notes}}</span>
      </div>
    {{/each}}
    {{#if report.inactiveAdminEdits.length}}
      <hr>
    {{/if}}
  {{else}}
  <strong>{{reviewerStatus}}:</strong> {{statusMessage}}
  {{#if (and canEditDueDate
             (eq reviewerStatus 'Pending')
             dueDatetime.dueAt)}}
    {{date-picker-link
      linkText="Change due date"
      dateChanged="changeDueDate"
    }}
  {{/if}}
  <br>
  <span class='sub-message'>{{statusSubMessage}}</span>
  {{/if}}
  </div>
{{/if}}
