%header
  %h1.large
    - if @paper_tasks.present?
      Welcome back, #{current_user.first_name}.
    - else
      Welcome to TAHI, #{current_user.first_name}.
%hr

%main
  %section#my-submissions
    %h2 Your Submissions
    - if @papers.empty?
      %p.info-text
        Your scientific paper submissions will
        %br
        appear here.
    - else
      %ul.submitted
        - @papers.each do |paper|
          %li.paper-title= link_to (paper.title || paper.short_title), paper_path(paper)
    = link_to 'Create new submission', new_paper_path, class: 'primary-button wide-button'

  - if @paper_tasks.present?
    %section#my-tasks
      %h2 Your Tasks
      - @paper_tasks.each do |paper, tasks|
        %p.paper-title= link_to paper.title || paper.short_title, paper_path(paper)
        %ul.cards
          - tasks.each do |task|
            - case task.title
            - when 'Enter Declarations'
              %li
                - card task
            - when 'Upload Figures'
              %li
                - card task
            - when 'Upload Manuscript'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "upload-manuscript", 'paper-title' => truncated_title(task.paper), 'upload-paper-path' => upload_paper_path(task.paper, format: :json), 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task) } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Add Authors'
              - authors_array = task.paper.authors.map { |a| a.slice(:first_name, :last_name, :email, :affiliation) }
              %li
                = link_to '#', class: "card", data: { 'card-name' => "authors", 'paper-title' => truncated_title(task.paper), 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), authors: authors_array.to_json, 'refresh-on-close' => false } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Register Decision'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "register-decision", 'paper-title' => truncated_title(task.paper), 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), 'task-completed' => task.completed?, 'decision-letters' => {"Accepted" => task.accept_letter, "Rejected" => task.reject_letter, "Revise" => task.revise_letter}.to_json, assignees: User.editors_for(task.paper.journal).map { |u| [u.id, u.full_name] }.to_json, 'decision-letter' => task.paper.decision_letter, 'decision' => task.paper.decision, 'assignee-id' => task.assignee_id } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Tech Check'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "tech-check", 'paper-title' => truncated_title(task.paper), 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), 'assignee-id' => task.assignee_id, assignees: User.admins.map { |u| [u.id, u.full_name] }.to_json } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Reviewer Report'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "reviewer-report", 'paper-title' => truncated_title(task.paper), 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), 'assignee-id' => task.assignee_id } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Assign Admin'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "paper-admin", 'paper-title' => truncated_title(task.paper), 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), 'admin-id' => task.assignee_id, admins: User.admins.map { |u| [u.id, u.full_name] }.to_json } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Assign Editor'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "assign-editor", 'paper-title' => truncated_title(task.paper), 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), 'assignee-id' => task.assignee_id, assignees: User.admins.map { |u| [u.id, u.full_name] }.to_json, 'editor-id' => task.paper_role.user_id, editors: User.editors_for(task.paper.journal).map { |u| [u.id, u.full_name] } } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Assign Reviewers'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "assign-reviewers", 'paper-title' => truncated_title(task.paper), 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), 'assignee-id' => task.assignee_id, assignees: User.editors_for(task.paper.journal).map { |u| [u.id, u.full_name] }.to_json, 'reviewer-ids' => task.paper_roles, reviewers: User.reviewers_for(task.paper.journal).map { |u| [u.id, u.full_name] } } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - else
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'overlay-name' => "card-#{task.id}", 'overlay-title' => truncated_title(task.paper), 'paper-id' => task.paper.to_param, 'task-id' => task.to_param, 'task-completed' => task.completed? } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
              .hidden{id: "card-#{task.id}-content"}
                = render task, paper: task.paper

- if Rails.env.test?
  - if @all_submitted_papers
    %h3 All Submitted Papers
    %ul.all_submitted
      - @all_submitted_papers.each do |paper|
        %li= link_to paper.short_title, paper_path(paper)
