%header
  %h3
    Welcome, #{current_user.first_name} #{current_user.last_name}
= link_to 'New submission', new_paper_path, class: 'btn btn-primary'

%h3 Assigned Tasks
%ul.assigned-tasks.cards
  %ul.cards
    - @assigned_tasks.each do |task|
      %li
        = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'overlay-name' => "card-#{task.id}", 'overlay-title' => task.paper.short_title, 'paper-id' => task.paper.to_param, 'task-id' => task.to_param, 'task-completed' => task.completed? } do
          %span.glyphicon.glyphicon-ok
          = task.title
      .hidden{id: "card-#{task.id}-content"}
        = render task, paper: task.paper

%h3 Submissions
%ul.submissions
  - @ongoing_papers.each do |paper|
    %li= link_to paper.short_title, edit_paper_path(paper)

%h3 Submitted Papers
%ul.submitted
  - @submitted_papers.each do |paper|
    %li= link_to paper.short_title, paper_path(paper)

- if @all_submitted_papers
  %h3 All Submitted Papers
  %ul.all_submitted
    - @all_submitted_papers.each do |paper|
      %li= link_to paper.short_title, paper_path(paper)
