<header><h3>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></h3></header>
<%= link_to 'New submission', new_paper_path, class: 'btn btn-primary' %>


<h3>Submissions</h3>
<ul class="submissions">
  <%- @ongoing_papers.each do |paper| %>
    <li><%= link_to paper.short_title, edit_paper_path(paper) %></li>
  <% end %>
</ul>

<h3>Submitted Papers</h3>
<ul class="submitted">
  <%- @submitted_papers.each do |paper| %>
    <li><%= link_to paper.short_title, paper_path(paper) %></li>
  <% end %>
</ul>
