<header>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></header>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<%= link_to 'New submission', new_paper_path %>


<ul class="submissions">
  <%- @papers.each do |paper| %>
    <li><%= paper.short_title %></li>
  <% end %>
</ul>
