%header
  %h1.large
    - if @paper_tasks.present?
      Welcome back, #{current_user.first_name}.
    - else
      Welcome to TAHI, #{current_user.first_name}.
%hr

%main
  %section#my-submissions
    %h3 Your Submissions
    - if @papers.empty?
      %p.info-text Your scientific paper submissions will appear here.
    - else
      %ul.submitted
        - @papers.each do |paper|
          %li.paper-title= link_to paper.short_title, paper_path(paper)
    = link_to 'Create new submission', new_paper_path, class: 'primary-button wide-button'

  - if @paper_tasks.present?
    %section#my-tasks
      %h3 Your Tasks
      - @paper_tasks.each do |paper, tasks|
        %p.paper-title= link_to paper.title || paper.short_title, paper_path(paper)
        %ul.cards
          - tasks.each do |task|
            - case task.title
            - when 'Enter Declarations'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "declarations", 'paper-title' => task.paper.short_title, 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), 'task-completed' => task.completed?, declarations: task.paper.declarations.map { |d| d.slice(:question, :answer, :id) }.to_json } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Upload Figures'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "figures", 'paper-title' => task.paper.short_title, 'figures-path' => paper_figures_path(task.paper), 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), figures: task.paper.figures.map(&:access_details).to_json } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Upload Manuscript'
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'card-name' => "upload-manuscript", 'paper-title' => task.paper.short_title, 'figures-path' => paper_figures_path(task.paper), 'paper-path' => upload_paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task) } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - when 'Add Authors'
              - authors_array = task.paper.authors.map { |a| a.slice(:first_name, :last_name, :email, :affiliation) }
              %li
                = link_to '#', class: "card", data: { 'card-name' => "authors", 'paper-title' => task.paper.short_title, 'paper-path' => paper_path(task.paper), 'paper-id' => task.paper.to_param, 'task-path' => paper_task_path(task.paper, task), authors: authors_array.to_json, 'refresh-on-close' => false } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
            - else
              %li
                = link_to '#', class: "card #{'completed' if task.completed?}", data: { 'overlay-name' => "card-#{task.id}", 'overlay-title' => task.paper.short_title, 'paper-id' => task.paper.to_param, 'task-id' => task.to_param, 'task-completed' => task.completed? } do
                  %span.glyphicon.glyphicon-ok
                  = task.title
              .hidden{id: "card-#{task.id}-content"}
                = render task, paper: task.paper

- if Rails.env.test?
  - if @all_submitted_papers
    %h3 All Submitted Papers
    %ul.all_submitted
      - @all_submitted_papers.each do |paper|
        %li= link_to paper.short_title, paper_path(paper)
