%header
  %h1.large
    - if @paper_tasks.present?
      Welcome back, #{current_user.first_name}.
    - else
      Welcome to TAHI, #{current_user.first_name}.
%hr

%main
  %section#my-submissions
    %h2 Your Submissions
    - if @papers.empty?
      %p.info-text
        Your scientific paper submissions will
        %br
        appear here.
    - else
      %ul.submitted
        - @papers.each do |paper|
          %li.paper-title= link_to paper.display_title, paper_path(paper)
    = link_to 'Create new submission', new_paper_path, class: 'primary-button wide-button'

  - if @paper_tasks.present?
    %section#my-tasks
      %h2 Your Tasks
      - @paper_tasks.each do |paper, tasks|
        :javascript
          $.ajax({
            url: '/event_stream',
            data: { id: #{paper.id} },
            method: 'GET',
            success: function(data) {
              var source = new EventSource(data.url);
              source.addEventListener(data.eventName, function(msg) {
                var data = JSON.parse(msg.data);
                var $task = $("[data-task-id="+data.id+"]");
                data.completed ? $task.addClass("completed") : $task.removeClass("completed");
              });
            }
          });
        %p.paper-title= link_to paper.display_title, paper_path(paper)
        %ul.cards
          - paper.message_tasks.each do |message_task|
            %li= card message_task
        %ul.cards
          - tasks.each do |task|
            %li= card task

- if Rails.env.test?
  - if @all_submitted_papers
    %h3 All Submitted Papers
    %ul.all_submitted
      - @all_submitted_papers.each do |paper|
        %li= link_to paper.short_title, paper_path(paper)
