<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>
<br><br>

<p>Hello <%= @recipient.full_name %>,</p>

<p>
  A review of "<%= @paper.display_title(sanitized: false) %>" has been completed.
</p>

<%= render partial: 'email/button', locals: {
  href: client_paper_task_url(@paper, @task),
  text: 'View Report'
} %>

<%= render partial: 'email/journal_signature', locals: { journal: @paper.journal } %>
