<div class='container'>
  <div class='greeting'>
    <h3 class='user-name'>
      Hello <%= @recipient.full_name %>
    </h3>
    <p class='message'>
      A review of '<%= @paper.display_title %>' has been completed. Visit this link to view the Reviewer Report in Tahi:
    </p>
  </div>
  <hr>
  <div class='paper-info'>
    <div class='journal-info'>
      <% if @paper.journal.logo_url %>
        <img class='journal-logo' src='<%= @paper.journal.logo_url %>'>
      <% else %>
        <div class='journal-name'>
          <%= @paper.journal.name %>
        </div>
      <% end %>
    </div>
    <div class='paper-name'>
      <%= @paper.display_title %>
    </div>
    <div class='paper-abstract'>
      <p>
        A review of "<%= @paper.display_title %>" has been completed.
        Visit this link to view the Reviewer Report in Tahi:
        <%= client_paper_task_url(@paper, @task) %>
      </p>
    </div>
  </div>
  <hr>
  <div class='footer'>
    Team Tahi
  </div>
</div>
