<div class='container'>
  <div class='greeting'>
    A review of '<%= @paper.display_title %>' has been completed
  </div>
  <hr>
  <div class='paper-info'>
    <div class='journal-info'>
      <% if @paper.journal.logo_url %>
        <img class='journal-logo' src='<%= @paper.journal.logo_url %>'>
      <% else %>
        <div class='journal-name'>
          <%= @paper.journal.name %>
        </div>
      <% end %>
    </div>
    <p>
      Hello <%= @recipient.full_name %>,
    </p>
    <p class='message'>
      A review of "<%= @paper.display_title %>" has been completed by <%=%>.
      Visit this link to view the Reviewer Report in <%= app_name %>:
      <%= link_to client_paper_task_url(@paper, @task), client_paper_task_url(@paper, @task) %>
    </p>
  </div>
  <hr>
  <div class='footer'>
    Sincerely,
    <br>
    <%= @paper.journal.name %> Team
  </div>
</div>
