{{#if displayContent}}
  {{#if readOnly}}
    {{#if shouldDisplayQuestionText}}
      <div class="{{textClassNames}} {{concat ident "-question-text"}}">{{{questionText}}}</div>
    {{/if}}

    {{#if answer.value}}
      <div class="answer-text">{{break-to-tag answer.value}}</div>
    {{else}}
      <div class="answer-text no-answer">{{noResponseText}}</div>
    {{/if}}

  {{else}}
    {{#if shouldDisplayQuestionText}}
      <div class="{{textClassNames}} {{concat ident "-question-text"}}">{{{questionText}}}</div>
    {{/if}}

    {{#if helpText}}
      <ul class="question-help {{concat ident "-help-text"}}">{{{helpText}}}</ul>
    {{/if}}

    {{#if unwrappedHelpText}}
      {{{unwrappedHelpText}}}
    {{/if}}

    {{rich-text-editor
      editorStyle=editorStyle
      data-editor=data-editor
      onContentsChanged=(action "updateAnswer")
      class=inputClassNames placeholder=placeholderText
      name=ident
      value=answer.value
      disabled=disabled
    }}
  {{/if}}
{{/if}}
