<td class="figure-snapshot-item-label">
  {{text-diff viewingText=figure1.title comparisonText=figure2.title}}
</td>
<td class="figure-snapshot-item-file">
  {{#if fileHashChanged}}
    {{! If the file contents changed, still show a diff on the file name }}
    <a class="removed" href="{{figure2.url}}">{{figure2.file}}</a>
    <a class="added" href="{{figure1.url}}">{{figure1.file}}</a>
  {{else}}
    {{text-diff viewingText=figure1.file comparisonText=figure2.file}}
  {{/if}}
</td>
<td class="figure-snapshot-item-striking-image">
  {{boolean-diff viewingBool=figure1.strikingImage comparisonBool=figure2.strikingImage}}
</td>
