<div class="inline-edit-body-part clearfix {{if confirmDelete "confirm-delete"}} {{if editing "editing"}} {{block.type}}">
  {{yield editing}}

  {{#if canManage}}
    <div class="view-actions">
      {{#unless (eq block.type "text")}}
        <span class="fa fa-pencil inline-edit-icon" {{action "toggleEdit"}}></span>
      {{/unless}}
      <span class="fa fa-trash inline-edit-icon" {{action "confirmDeletion"}}></span>
    </div>

    <div class="edit-actions">
      <div class="button-secondary button--green pull-right save-block {{unless block.hasContent "button--disabled"}}" {{action "save"}}>Save</div>
      <div class="button-link button--green pull-right cancel-block" {{action "toggleEdit"}}>cancel</div>
    </div>

    {{#if editing}}
      <div class="button-secondary button--green add-item" {{action addItem}}>
        {{fa-icon icon="plus"}}
      </div>
    {{/if}}
  {{/if}}

  {{#if confirmDelete}}
    <div class="bodypart-destroy-overlay bodypart-overlay">
      <h4>This will permanently delete your item. Are you sure?</h4>
      <br>
      <button class="button-link button--white" {{action "cancelDeletion"}}>cancel</button>
      <button class="button-secondary button--green delete-button" {{action attrs.delete}}>Delete Forever</button>
    </div>
  {{/if}}
</div>
