<div class="inline-edit-body-part clearfix {{if confirmDelete "confirm-delete"}} {{if editing "editing"}} {{bodyPartType}}">
  {{yield editing}}

  <div class="view-actions">
    <span class="fa fa-pencil inline-edit-icon" {{action "toggleEdit"}}></span>
    <span class="fa fa-trash inline-edit-icon" {{action "confirmDeletion"}}></span>
  </div>

  <div class="edit-actions">
    <div class="button-secondary button--green pull-right {{if hasNoContent "button--disabled"}}" {{action "save"}}>Save</div>
    <div class="button-link button--green pull-right" {{action "toggleEdit"}}>cancel</div>
  </div>

  <div class="button-secondary button--green add-item" {{action "addItem"}}>
    <span class="fa fa-plus"></span>
  </div>

  {{#if confirmDelete}}
    <div class="bodypart-destroy-overlay bodypart-overlay">
      <p>This will permanently delete your item. Are you sure?</p>
      <br>
      <button class="button-secondary button--green knockout" {{action "cancelDeletion"}}>Cancel</button>
      <button class="button-secondary button--green knockout delete-button" {{action "deleteBlock"}}>Delete Forever</button>
    </div>
  {{/if}}
</div>
