{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if label}}
  <span class="participant-selector-label">{{label}}</span>
{{/if}}

{{#each currentParticipants as |p|}}
  <span class="participant-selector-user">
    <span class="participant-selector-user-name">{{p.fullName}}</span>
    {{#if (or (and p.email displayEmails) canRemove)}}
      <div class="tooltip bottom animation-fade-in">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          {{if (and p.email displayEmails) p.email}}
          {{#if canRemove}}
            <div class="participant-selector-user-remove" {{action "removeParticipant" p}}>
              <b>{{fa-icon "times"}}</b>
              Remove
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </span>
{{/each}}

{{#if canManage}}
  {{#if (not searching)}}
    <div class="add-participant-button animation-fade-in"
         {{action "toggleSearching" true}}
         title="Add Someone">
      +
    </div>
  {{/if}}

  <br>

  {{#if searching}}
    {{#power-select search=(perform searchUsersTask)
                    placeholder="Please enter 3 or more characters"
                    onchange=(action "addParticipant")
                    onclose=(action "toggleSearching" false)
                    oninput=(action "handleInput")
                    dropdownClass=dropdownClass
                    triggerClass="aperta-select animation-fade-in"
                    afterOptionsComponent=afterOptionsComponent
                    searchMessage=""
                    as |user|}}
      <strong>{{user.full_name}} @{{user.username}}</strong>
      <div class="suggestion-sub-value">{{user.email}}</div>
    {{/power-select}}
  {{/if}}
{{/if}}
