<li class="column">
  <div class="column-header">
    <h2 class="column-title">{{flow.title}}</h2>
    <div class="remove-column glyphicon glyphicon-remove" {{action 'removeFlow' flow}}></div>
  </div>
  {{progress-spinner visible=flow.isSaving}}

  <div class="column-content">
    <ul class="cards">
      {{#each litePaper in flow.litePapers}}
        {{flow-task-group flow=flow
                          litePaper=litePaper
                          commentLooks=commentLooks
                          viewCard='viewCard'}}
      {{/each}}
    </ul>
    {{#unless flow.litePapers}}
      <div class="empty-text">{{flow.emptyText}}</div>
    {{/unless}}
  </div>
</li>
