<div class="button-primary button--green" {{action "toggleAdhocContentToolbar" target="view"}}>
  <span class="glyphicon glyphicon-plus"></span>
  <span class="glyphicon glyphicon-remove"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--list" {{action "addChecklist"}}>
  <span class="glyphicon glyphicon-th-list"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--text" {{action "addTextBlock"}}>
  <span class="glyphicon glyphicon-text-width"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--email" {{action "addEmail"}}>
  <span class="glyphicon glyphicon-envelope"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--image fileinput-button">
  <span class="glyphicon glyphicon-paperclip"></span>
  {{file-uploader id="file_attachment"
                  filePrefix="ad-hoc"
                  url=imageUploadUrl
                  accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps,.docx,.odt,.epub,.pdf"
                  start="uploadStarted"
                  done="uploadFinished"
                  cancel="cancelUploads"
                  progress="uploadProgress"}}
</div>
