<tr class="user-row">
  <td>{{username}}</td>
  <td>{{firstName}}</td>
  <td>{{lastName}}</td>
  <td>
    {{#each roles}}
      <span class="assigned-role token token--with-remove">
        {{name}}
        <span class="token-remove" {{action "removeRole" this}}></span>
      </span>
    {{/each}}
    {{#if isAddingRole}}
      {{type-ahead value=roleQuery
                   class="add-role-input"
                   name="add_role"
                   autoFocus=true
                   sourceList=rolesList
                   suggestionSelected="assignRole"
                   placeholder="Role Name"}}
    {{else}}
      <span {{action "addRoleAssignment"}} class="token assign-role-button token--add"><span class="glyphicon glyphicon-plus"></span></span>
    {{/if}}
  </td>
</tr>
