<tr data-toggle="modal" data-target=#{{unbound modalId}} class="user-row">
  <td class="truncated-field">{{model.firstName}}</td>
  <td class="truncated-field">{{model.lastName}}</td>
  <td class="truncated-field">{{model.username}}</td>
</tr>

{{#actionable-modal modalId=modalId username=model.username saveAction='saveUser' cancelAction='rollbackUser' modalTitle='User Details'}}
  <div class="row">
    <label class="modal-field-label">Username</label>
    <div class="modal-field">{{input class='modal-username' value=model.username}}</div>
  </div>

  <div class="row">
    <label class="modal-field-label">First Name</label>
    <div class="modal-field">{{input class='modal-first-name' value=model.firstName}}</div>
  </div>

  <div class="row">
    <label class="modal-field-label">Last Name</label>
    <div class="modal-field">{{input class='modal-last-name' value=model.lastName}}</div>
  </div>

  <div class="row">
    <div class="reset-password">
      <a href="#" class="reset-password-link secondary-button blue" {{action 'resetPassword' model}}>Reset your password</a>
      {{#if resetPasswordSuccess}}
        <div class="success">An email with reset password instructions has been sent to the user's email address.</div>
      {{/if}}

      {{#if resetPasswordFailure}}
        <div class="error">Server Error</div>
      {{/if}}
    </div>
  </div>
{{/actionable-modal}}
