<tr class="user-row">
  <td class="truncated-field">{{username}}</td>
  <td class="truncated-field">{{firstName}}</td>
  <td class="truncated-field">{{lastName}}</td>
  <td class="truncated-field">
    {{#each roles}}
      <span class="assigned-role label label-primary">
        {{this}}
        <span class='glyphicon glyphicon-remove' {{action removeRole this}}></span>
      </span>
    {{/each}}
    {{#if isAddingRole}}
      {{type-ahead value=roleQuery
                   id="add-role-input"
                   autoFocus=true
                   sourceList=rolesList
                   suggestionSelected='createRole'
                   placeholder='Role Name'}}
    {{else}}
      <span {{action addRole}} class="label label-primary assign-role-button"><span class="glyphicon glyphicon-plus"></span></span>
    {{/if}}
  </td>
</tr>
