<div class="navigation">
  <div class="navigation-title" {{action "toggleNavigation"}}>
    <span class="glyphicon glyphicon-remove"></span>Tahi
  </div>

  {{#if isLoggedIn}}
    <a href="#" class="navigation-item navigation-item-account" {{action "toggleAccountLinks"}}>
      <img {{bind-attr src="currentUser.avatarUrl"}}>
      {{unbound currentUser.fullName}}
    </a>

    <div {{bind-attr class=":navigation-account-links accountLinksVisible:__visible"}}>
      <a class="navigation-item navigation-item-account" href="#" {{action "routeTo" "profile"}}>Edit My Profile</a>
      <a class="navigation-item navigation-item-account" href="/users/sign_out">Sign out</a>
    </div>

    <a href="#" class="navigation-item" {{action "routeTo" "index"}}>Dashboard</a>

    {{#if canViewFlowManager}}
      <a href="#" class="navigation-item" {{action "routeTo" "flow_manager"}}>Flow Manager</a>
    {{/if}}

    {{#if canViewAdminLinks}}
      <a href="#" class="navigation-item navigation-item-admin" {{action "routeTo" "admin"}}>Admin</a>
    {{/if}}
  {{/if}}
</div>

{{#if error}}
  <div id="application-error" class="alert alert-danger alert-dismissable application-error">{{error}}</div>
{{/if}}

<div class="main-content">
  <div class="main-content-cover" {{action "toggleNavigation"}}></div>
  <div class="navigation-toggle" {{action "toggleNavigation"}}>
    {{partial "svg/hamburger"}} Tahi
  </div>
  {{outlet}}
</div>

{{outlet "overlay"}}

{{#if showSaveStatusDiv}}
  <div id="delayedSave"></div>
{{/if}}
