<div class="navigation">
  <div class="navigation-title" {{action "toggleNavigation"}}>
    <span class="navigation-close">&times;</span>Tahi
  </div>

  {{#if isLoggedIn}}
    <a href="#" {{action "routeTo" "profile"}} class="navigation-item navigation-item--account">
      <img {{bind-attr src="currentUser.avatarUrl"}} class="user-thumbnail">
      <span>{{unbound currentUser.fullName}}</span>
    </a>

    <a href="#" class="navigation-item" {{action "routeTo" "index"}}>Dashboard</a>

    {{#if canViewFlowManagerLink}}
      <a href="#" class="navigation-item" {{action "routeTo" "flow_manager"}}>Flow Manager</a>
    {{/if}}
    {{#if canViewAdminLinks}}
      <a href="#" class="navigation-item navigation-item--admin" {{action "routeTo" "admin"}}>Admin</a>
    {{/if}}

     <a class="navigation-item" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign Out</a>
  {{/if}}

  <hr>

  <a href="#" class="navigation-item navigation-item-feedback" {{action "feedback"}}>Give Feedback on Tahi</a>
</div>

<div class="main-content">
  <div class="main-content-cover" {{action "toggleNavigation"}}></div>
  <div class="navigation-toggle" {{action "toggleNavigation"}}>
    {{partial "svg/hamburger"}} Tahi
  </div>
  {{outlet}}
</div>

{{outlet "overlay"}}

{{#if showSaveStatusDiv}}
  <div id="delayedSave"></div>
{{/if}}
