<div class="author-group">
  <h2>{{group.name}}</h2>
  {{view ETahi.AuthorGroupDropTargetView group=group index=0}}
  {{#each author in sortedAuthors}}
    {{author-view
      institutions=institutions
      delete='removeAuthor'
      save='saveAuthor'
      author=author}}
    {{view ETahi.AuthorGroupDropTargetView group=group index=author.position}}
  {{/each}}
  {{#if isEditable}}
    <a class="btn btn-default btn-xs" {{action 'toggleAuthorForm' group}}>
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add new
    </a>
    <div {{bind-attr class=":author-form showNewAuthorForm"}}>
      {{add-author-form
        newAuthor=newAuthor
        institutions=institutions
        hideAuthorForm='toggleAuthorForm'
        saveAuthor='saveNewAuthor'}}
    </div>
  {{/if}}
</div>
