{{#if view.content.src}}
  <img class="figure-image" src={{unbound view.content.src}} alt={{unbound view.content.alt}}>
{{else}}
  <div class="figure-image-placeholder">
    <span class="glyphicon glyphicon-file"></span>
  </div>
{{/if}}
<div class="figure-overlay figure-overlay-edit-options">
  <span class="glyphicon glyphicon-pencil"></span>
  <span class="glyphicon glyphicon-trash" {{action "confirmDestroyFigure" target="view"}}></span>
</div>
<div class="figure-overlay figure-overlay-confirm-destroy">
  <button class="primary-button white-button" {{action "cancelDestroyFigure" target="view"}}>Cancel</button>
  <button class="primary-button white-button figure-delete-button" {{action "destroyFigure" view.content}}>Delete Forever</button>
</div>
