<li>
  <div class="paper-profile">
    {{link-to paper.title 'paper.manage' view.paper class="paper-profile-title"}}

    {{#each task in view.tasksForPaper}}
    <div {{bind-attr class=":card :flow-card task.completed:card-completed task.isMessage:card-message"}}>
      <div class="card-content" {{action 'viewCard' paper task}}>
        <span class="glyphicon glyphicon-ok completed-glyph"></span>
        {{task.title}}
      </div>
      <span {{action 'removeTask'}}
        class="glyphicon glyphicon-remove-circle remove-card"
        data-toggle="tooltip"
        data-placement="right"
        title="Delete Card">
      </span>
    </div>
    {{/each}}

  </div>
</li>
