<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <ul>
      <li class="control-bar-item">
        <a class="add-flow-column-button button-secondary button--white" {{action 'chooseNewFlowMangerColumn'}}>
          Add New Column <span class="glyphicon glyphicon-plus"></span>
        </a>
      </li>
    </ul>
  </div>
</div>

<ul class="columns">
  {{#each flow in content}}
    <li class="column">
      <div class="column-header">
        <h2 class="column-title">{{flow.title}}</h2>
        <div class="remove-column glyphicon glyphicon-remove" {{action 'removeFlow' flow}}></div>
      </div>
      {{progress-spinner visible=flow.isSaving}}

      <div class="column-content">
        <ul class="cards">
          {{#each litePaper in flow.litePapers}}
            {{view ETahi.FlowPaperView flow=flow litePaper=litePaper}}
          {{/each}}
        </ul>
        {{#unless flow.litePapers}}
          <div class="empty-text">{{flow.emptyText}}</div>
        {{/unless}}
      </div>
    </li>
  {{/each}}
</ul>
