<div id="tahi-container">

  <main>
    <section id="dashboard-my-submissions">
      <h2>Hi, {{currentUser.firstName}}.  You have {{model.submissions.length}} papers.</h2>
      {{link-to "Create new submission" "paper_new" classNames="button-secondary button--green button--wide"}}
      {{#if hasPapers}}
        <ul class="dashboard-submitted-papers">
          {{#each paper in model.papers}}
            <li class="dashboard-paper-title" >
              {{link-to paper.displayTitle
                        "paper.edit"
                        paper.id
                        class="link-tooltip"
                        data-toggle="tooltip"
                        title="My Paper"
                        data-placement="bottom"}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p class="dashboard-info-text">Your scientific paper submissions will<br> appear here.</p>
      {{/if}}

    </section>
  </main>
</div>
