{{add-column position=0 action="addPhase" bonusClass="first-add-column"}}
{{#each phaseTemplate in arrangedContent}}
  {{#view "ETahi.ManuscriptManagerColumnView" content=phaseTemplate}}
    {{add-column position=view.nextPosition action='addPhase'}}

    {{view ETahi.PhaseHeaderView phase=phaseTemplate}}

    <div class="column-content">
      {{#each task in phaseTemplate.taskTemplates}}
        {{flow-card paper=null
                    task=task
                    canRemoveCard=true
                    canDragCard=true
                    removeTask="removeTask"
                    action=null}}
      {{/each}}
      <a {{action 'chooseNewCardTypeOverlay' phaseTemplate}} class="button-secondary button--green">
        Add New Card
      </a>
    </div>
  {{/view}}
{{/each}}
