<h3>
  Invitation to
  {{#if invitation.email}}
    {{invitation.email}}
  {{/if}}
</h3>

{{content-editable value=invitation.body
                   class="form-control edit-invitation-body"}}

<div class="edit-invitation-actions">
  <div>
    <button class="button-link button--green cancel"
            {{action attrs.closeAction}}>
      close
    </button>
    <button class="button-primary button--green send-invitation-button"
            {{action "sendInvitation" invitation}}>
      Send Invitation
    </button>
  </div>

  {{#if allowAttachments}}
    {{invitation-attachment-manager invitation=invitation}}
  {{/if}}
</div>
