{{#if visible}}
  {{#ember-wormhole to=to}}
    {{#overlay-animate outAnimationComplete=(action outAnimationComplete)
                       as |animateOut|}}
      <div class="overlay overlay--card {{task-component-name task.type}}-overlay">
        <div class="overlay-container">
          {{overlay-task-header task=task animateOut=animateOut}}
          <div class="overlay-body">
            <h1 class="overlay-body-title">{{{task.title}}}</h1>
            {{#task-load task=task}}
              {{component (task-component-name task.type) task=task}}

              <div class="overlay-discussion-board">
                <h2>Discussion</h2>
                {{comment-board comments=task.comments
                                currentUser=currentUser
                                postComment=(action "postComment")}}
              </div>
            {{else}}
              {{progress-spinner visible=true size="large" center=true}}
            {{/task-load}}
          </div>
          <footer class="overlay-footer">
            {{participant-selector currentParticipants=participants
                                   onRemove=(action "removeParticipant")
                                   onSelect=(action "saveNewParticipant")
                                   canManage=(can 'manage_participant' task)
                                   label="Following:"
                                   paperId=task.paper.id}}
            <a class="button-secondary button--green overlay-close-button" {{action animateOut}}>Close</a>
          </footer>
        </div>
      </div>
    {{/overlay-animate}}
  {{/ember-wormhole}}
{{/if}}
