{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<div class="sheet-toolbar">
  {{link-to "All Discussions" topicsIndexPath class="sheet-toolbar-button"}}
</div>

<div class="sheet-content discussions-show-content">
  <div class="discussions-show-header">
    <h1 class="sheet-title discussions-show-title {{if validationErrors.title "error"}}">
      {{#if (can "edit" model)}}
        {{error-message message=validationErrors.title
                        displayIcon=true
                        displayText=false}}
        {{input value=model.title class="edit-comment-title-field" focus-out="saveTopic"}}
      {{else}}
        {{model.title}}
      {{/if}}
    </h1>

    {{participant-selector currentParticipants=participants
                           url=discussionParticipantUrl
                           label="Participants:"
                           displayEmails=true
                           afterOptionsComponent="discussions-participants-help-text"
                           canManage=(can "manage_participant" model)
                           onSelect=(action "saveNewParticipant")
                           onRemove=(action "removeParticipantByUserId")
                           searchStarted=(action "searchStarted")
                           searchFinished=(action "searchFinished")
                           searching=searchingParticipant}}
  </div>

  <div class="discussions-show-form">
    {{comment-board-form save=(action "postReply")
                         onChange=(action "commentDidChange")
                         onCancel=(action "commentDidCancel")
                         comment=inProgressComment
                         participants=participants
                         atMentionableStaffUsers=atMentionableStaffUsers}}
  </div>

  <br>

  <div class="discussions-show-messages">
    {{#each sortedReplies as |reply|}}
      {{discussion-reply reply=reply}}
    {{/each}}
  </div>
</div>
