<div class="comment-board-form form-group {{if editing "editing"}}">
  {{user-thumbnail user=currentUser}}
  {{textarea classNames="new-comment-field" value=commentBody placeholder="Type your message here"}}

  <div class="message-comment-buttons">
    <button type="submit" class="button-secondary button--green" {{action "postComment"}}>Post Message</button>
    <a href="#" class="button-link cancel-link" {{action "clearComment"}}>Cancel</a>
  </div>
</div>

<ul class="message-comments">
  {{#if showingAllComments}}
    {{#each sortedComments as |comment|}}
      {{task-comment comment=comment}}
    {{/each}}
  {{else}}
    {{#each firstComments as |comment|}}
      {{task-comment comment=comment}}
    {{/each}}
  {{/if}}
</ul>

{{#unless showingAllComments}}
  <div class="comment-actions">
    <a class="load-all-comments" href="#" {{action "showAllComments"}}>
      <span class="glyphicon glyphicon-comment"></span>
      View older {{pluralize omittedCommentsCount "comment"}}
    </a>
  </div>
{{/unless}}
