{{comment-board-form save="postComment"}}

<ul class="message-comments">
  {{#if showingAllComments}}
    {{#each sortedComments as |comment|}}
      {{task-comment comment=comment}}
    {{/each}}
  {{else}}
    {{#each firstComments as |comment|}}
      {{task-comment comment=comment}}
    {{/each}}
  {{/if}}
</ul>

{{#unless showingAllComments}}
  <div class="comment-actions">
    <a class="load-all-comments" href="#" {{action "showAllComments"}}>
      <span class="fa fa-comment"></span>
      View older {{pluralize-string count=omittedCommentsCount string="comment"}}
    </a>
  </div>
{{/unless}}
