<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <div class="control-bar-item control-bar-item--first" id="control-bar-paper-title">
      <span>{{{model.title}}}</span>
    </div>

    <div class="control-bar-item-spacer"></div>

    {{#link-to "paper.index" model class="control-bar-item control-bar-link paper-navigation-link"}}
      Go to Manuscript
    {{/link-to}}

    <label class="control-bar-item">
      <span>
        {{check-box name="paper-editable" checked=model.editable action="toggleEditable"}}
        Editable
      </span>
    </label>

    <div class="control-bar-item control-bar-link activity-link" {{action "showActivity" "workflow"}}>
      <div class="control-bar-link-icon">{{partial "svg/heartbeat"}}</div>
      Recent Activity
    </div>

    {{#link-to "paper.workflow.discussions" model class="control-bar-item control-bar-link control-bar-item--last"}}
      <div class="control-bar-link-icon"><span class="fa fa-comment"></span></div>
      Discussions
    {{/link-to}}
  </div>
</div>

{{flash-messages classNames="flash-messages--below-control-bar"}}

<div class="columns">
  {{add-column position=0 action="addPhase" bonusClass="first-add-column"}}
  {{#each sortedPhases as |phase|}}
    {{phase-column phase=phase
                   paper=model
                   taskWasMoved=(action "taskWasMoved")
                   savePhase="savePhase"
                   addPhase="addPhase"
                   showDeleteConfirm="showDeleteConfirm"
                   removePhase="removePhase"
                   rollbackPhase="rollbackPhase"
                   viewCard="viewCard"
                   chooseNewCardTypeOverlay="chooseNewCardTypeOverlay"}}
  {{/each}}
</div>

{{outlet}}
