<div class="navigation">
  <div class="navigation-title" {{action "hideNavigation"}}>
    <span class="navigation-close">&times;</span>Tahi
  </div>

  {{#if isLoggedIn}}
    <div {{action "hideNavigation"}}>
      {{#link-to "profile" class="navigation-item navigation-item--account"}}
        <img src={{currentUser.avatarUrl}} class="user-thumbnail">
        <span>{{unbound currentUser.fullName}}</span>
      {{/link-to}}
    </div>

    <div {{action "hideNavigation"}}>
      {{link-to "Dashboard" "dashboard" class="navigation-item"}}
    </div>

    {{#if canViewFlowManagerLink}}
      <div {{action "hideNavigation"}}>
        {{link-to "Flow Manager" "flow_manager" class="navigation-item"}}
      </div>
    {{/if}}
    {{#if canViewAdminLinks}}
      <div {{action "hideNavigation"}}>
        {{link-to "Admin" "admin" class="navigation-item navigation-item--admin"}}
      </div>
    {{/if}}

     <a class="navigation-item" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign Out</a>
  {{/if}}

  <hr>

  <div {{action "hideNavigation"}}>
    <a href="#" class="navigation-item navigation-item-feedback" {{action "feedback"}}>Give Feedback on Tahi</a>
  </div>
</div>

<div class="main-content">
  <div class="main-content-cover" {{action "hideNavigation"}}></div>
  <div class="navigation-toggle" {{action "showNavigation"}}>
    {{partial "svg/hamburger"}} Tahi
  </div>
  {{outlet}}
</div>

{{outlet "overlay"}}

{{#if showSaveStatusDiv}}
  <div id="delayedSave"></div>
{{/if}}

