<nav class="main-nav" role="navigation">
  <div class="main-nav-items">
    {{#link-to "dashboard" class="main-nav-item main-nav-item--first main-nav-item-app-name"
      id="nav-dashboard"
      title="Dashboard"}}
      <i class="fa fa-list-ul"></i>
      {{specifiedAppName}}
    {{/link-to}}

    <span class="main-nav-item main-nav-item--spacer"></span>

    {{#if isLoggedIn}}
      {{#if canViewAdminLinks}}
        {{link-to "Admin" "admin" class="main-nav-item" id="nav-admin"}}
      {{/if}}

      {{#if canViewFlowManagerLink}}
        {{link-to "Flow Manager" "flow_manager" class="main-nav-item" id="nav-flow-manager"}}
      {{/if}}

      {{#if canViewPaperTracker}}
        {{link-to "Paper Tracker" "paper_tracker" class="main-nav-item" id="nav-paper-tracker"}}
      {{/if}}

      <span id="profile-dropdown-menu" class="main-nav-item main-nav-item--last" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img src={{currentUser.avatarUrl}} class="user-thumbnail">
        <span class="profile-dropdown-menu-text">{{currentUser.fullName}}</span>
      </span>

      <ul class="dropdown-menu animation-fade-in pull-right" aria-labelledby="profile-dropdown-menu">
        <li>{{link-to "Profile" "profile" id="nav-profile"}}</li>
        <li><a href="/users/sign_out" id="nav-signout">Sign Out</a></li>
        <li><a href="#" {{action "showFeedbackOverlay"}} id="nav-give-feedback">Give Feedback on {{specifiedAppName}}</a></li>
      </ul>
    {{/if}}
  </div>
</nav>

<main class="main-content" role="main">{{outlet}}</main>

{{#overlay-fullscreen visible=showFeedbackOverlay
                      outAnimationComplete=(action "hideFeedbackOverlay")
                      title="Please let us know your thoughts"
                      as |overlay|}}
    {{feedback-x close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}

<div id="overlay-drop-zone"></div>
<div id="ember-basic-dropdown-wormhole"></div>

{{#if showSaveStatusDiv}}
  <div id="delayedSave"></div>
{{/if}}
