{{tahi-nav currentUser=currentUser
           isLoggedIn=isLoggedIn
           canViewFlowManagerLink=canViewFlowManagerLink
           canViewAdminLinks=canViewAdminLinks
           specifiedAppName=specifiedAppName
           hideNavigation=(action "hideNavigation")
           showNavigation=(action "showNavigation")
           showFeedbackOverlay=(action "showFeedbackOverlay")}}

<div class="main-content">
  <div class="main-content-cover" {{action "hideNavigation"}}></div>
  <div class="navigation-toggle" {{action "showNavigation"}}>
    {{partial "svg/hamburger"}} {{specifiedAppName}}
  </div>
  {{outlet}}
</div>

{{#if showOverlay}}
  <div class="overlay" id="overlay">
    <span class="overlay-close-x animation-scale-in" {{action "closeAction"}}>&times;</span>
    <div class="overlay-container">
        {{outlet "overlay"}}
    </div>
  </div>
{{/if}}

<div id="overlay-drop-zone"></div>

{{#if showSaveStatusDiv}}
  <div id="delayedSave"></div>
{{/if}}
