<a href="#main-content" id="skip-to-main-content">Skip to content</a>
<div id="main-navigation-cover" aria-hidden="true"></div>

<nav id="main-navigation" role="navigation">
  {{#link-to "dashboard" class="main-navigation-item main-navigation-item--home main-nav-item-app-name" id="nav-dashboard" title="Dashboard"}}
    {{specifiedAppName}}
  {{/link-to}}

  <span class="spacer"></span>

  {{#link-to "dashboard" class="main-navigation-item" id="nav-manuscripts" title="Dashboard"}}
    Your Manuscripts
  {{/link-to}}

  {{#if isLoggedIn}}
    {{#if canViewAdminLinks}}
      {{link-to "Admin" "admin" class="main-navigation-item" id="nav-admin"}}
    {{/if}}

    {{#if canViewPaperTracker}}
      {{link-to "Paper Tracker" "paper_tracker" class="main-navigation-item" id="nav-paper-tracker"}}
    {{/if}}

    <a href="#" {{action "showFeedbackOverlay"}} id="nav-give-feedback" class="main-navigation-item">Feedback</a>

    <a href="http://journals.plos.org/plosbiology/s/aperta-help" class="main-navigation-item" id="nav-help" target="_blank">Help</a>

    {{#main-nav-user-section}}
      <div class="main-nav-user-section-header" id="profile-dropdown-menu-trigger">
        <div><img src={{currentUser.avatarUrl}} aria-hidden="true"></div>
        {{currentUser.fullName}}
      </div>
      <div class="main-nav-user-section-body" id="profile-dropdown-menu">
        {{link-to "Profile" "profile" class="main-nav-user-section-item" id="nav-profile"}}
        <a href="/users/sign_out" class="main-nav-user-section-item" id="nav-signout">Sign Out</a>
      </div>
    {{/main-nav-user-section}}
    <span></span>
  {{/if}}
</nav>

<div id="control-bar-cover" aria-hidden="true"></div>

<main id="main-content" class="main-content" role="main">{{outlet}}</main>

{{#overlay-fullscreen visible=showFeedbackOverlay
                      outAnimationComplete=(action "hideFeedbackOverlay")
                      overlayClass="feedback-overlay"
                      as |overlay|}}
    {{feedback-form close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}

<div id="overlay-drop-zone"></div>
<div id="ember-basic-dropdown-wormhole"></div>

{{#if showSaveStatusDiv}}
  <div id="delayedSave"></div>
{{/if}}
