{{inline-edit-h1 title=title model=model}}

<div class="task-body">
  {{#each part in body}}
    {{inlineEdit part model}}
  {{/each}}
  {{#if newTextBlock}}
    {{inline-edit-text bodyPart=newTextBlock model=model isNew=true editing=true}}
  {{/if}}
  {{#if newCheckboxItem}}
    {{inline-edit-checkbox bodyPart=newCheckboxItem model=model isNew=true editing=true}}
  {{/if}}
</div>

{{view ETahi.AdhocContentToolbarView}}
