{{#if editTitle}}
  <div class="inline-edit-h1">
    {{input type="text" name="title" value=title}}
    <input type="submit"  class="button-secondary button--green pull-right" value="Save" {{action "save"}} />
    <input type="submit" class="button-link button--green pull-right" value="cancel" {{action "toggleEditTitle"}} />
  </div>
{{else}}
  <h1>
    {{title}}
    <span class="glyphicon glyphicon-pencil edit-h1-icon"  {{action "toggleEditTitle"}}></span>
  </h1>
{{/if}}

<p>{{body}}</p>
