<h1>{{title}}</h1>
<a class="btn btn-default btn-xs" {{action 'addNewAuthor' target='view'}}>
  <span class="glyphicon glyphicon-plus-sign"></span>
  Add new
</a>

<ul class="authors">
  {{#each author in authors}}
    <li class="author">
      {{#if author.isEditing}}
        {{view ETahi.AddAuthorView author=author}}
      {{else}}
        <h4>
          <span class="author-first-name">{{author.firstName}}</span>
          <span class="author-last-name">{{author.lastName}}</span>
        </h4>
        <h4 class="author-email">{{author.email}}</h4>
        <h4 class="author-affiliation">{{author.affiliation}}</h4>
      {{/if}}
    </li>
  {{/each}}
</ul>

