<div class="author-header">
  <h1>{{title}}</h1>
  {{#if isEditable}}
    <a class="btn btn-default btn-xs" {{action 'toggleAuthorForm'}}>
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add new
    </a>
  {{/if}}
</div>
<ul class="authors-overlay-list">
  {{#each author in paper.authors}}
    {{author-view
      institutions=institutions
      author=author}}
  {{/each}}
</ul>
{{#if isEditable}}
  <div {{bind-attr class=":author-form showNewAuthorForm"}}>
    {{add-author-form
      newAuthor=newAuthor
      institutions=institutions
      hideAuthorForm='toggleAuthorForm'
      saveAuthor='saveNewAuthor'}}
  </div>
{{/if}}
