<div class="author-header">
  <h1>{{title}}</h1>
  {{#if isEditable}}
    <a class="btn btn-default btn-xs" {{action 'toggleAuthorForm'}}>
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add new
    </a>
  {{/if}}
</div>
<ul class="authors-overlay-list">
  {{#each group in paper.authorGroups}}
    <div class="author-group">
      <h2>{{group.name}}</h2>
      {{#each author in group.authors}}
        {{author-view
          institutions=institutions
          author=author}}
      {{/each}}
    </div>
  {{/each}}
</ul>
<div class="add-remove-groups">
  <button class="secondary-button remove-group glyphicon glyphicon-minus" {{action 'removeAuthorGroup'}}>
  </button>
  <button class="secondary-button add-group glyphicon glyphicon-plus" {{action 'addAuthorGroup'}}>
  </button>
</div>
{{#if isEditable}}
  <div {{bind-attr class=":author-form showNewAuthorForm"}}>
    {{add-author-form
      newAuthor=newAuthor
      institutions=institutions
      hideAuthorForm='toggleAuthorForm'
      saveAuthor='saveNewAuthor'}}
  </div>
{{/if}}
