<h1>{{title}}</h1>
<a class="btn btn-default btn-xs" {{action 'addNewAuthor'}}>
  <span class="glyphicon glyphicon-plus-sign"></span>
  Add new
</a>

<ul class="authors">
  {{#each author in authors}}
    <li class="author">
    {{#if author.isEditing}}
      <h4>
        <span class="author-first-name">{{author.firstName}}</span>
        <span class="author-last-name">{{author.lastName}}</span>
      </h4>
      <h4 class="author-email">{{author.email}}</h4>
      <h4 class="author-affiliation">{{author.affiliation}}</h4>
    {{else}}
      <div class="form-group form-inline">
        <div class="form-group">
          {{input type='text'
                  value=author.firstName
                  class='form-control'
                  placeholder='First name'}}
        </div>
        <div class="form-group">
          {{input type='text'
                  value=author.lastName
                  class='form-control'
                  placeholder='Last name'}}
        </div>
        <div class="form-group">
          {{input type='text'
                  value=author.email
                  class='form-control'
                  placeholder='Email'}}
        </div>
        <div class="form-group">
          {{input type='text'
                  value=author.affiliation
                  class='form-control'
                  placeholder='Affiliation'}}
        </div>
        <div class="form-group">
          <button class='btn-primary btn'></button>
        </div>
      </div>
    {{/if}}
    </li>
  {{/each}}
</ul>

