<div>
  <ul class="participants">
    {{#each p in participants}}
      <li class='participant'>{{userThumbnail p}}</li>
    {{/each}}
    <li>
      {{chosen content=participants
               name="participants"
               prompt="Add People"
               optionValuePath="content.id"
               optionLabelPath="content.fullName"}}
    </li>
  </ul>
</div>

<ul class="message-comments">
  {{#each comment in comments}}
    <li class="message-comment">
      {{userThumbnail comment.commenter}}
      <span class="comment-date">
        {{comment.createdAt}}
      </span>
      <span class="comment-name">{{comment.commenter.fullName}} posted</span>
      <div class="comment-body">{{comment.body}}</div>
    </li>
  {{/each}}
</ul>

<div class="form-group">
  {{textarea classNames="new-comment" value=newCommentBody placeholder="Type your message here"}}
</div>

<div class="comment-buttons message-overlay">
  <a class="message-color" {{action 'clearMessageContent'}}>Cancel</a>
  <button type="submit" class="secondary-button message" {{action 'postComment'}}>Post Message</button>
</div>
