<h1>{{model.title}}</h1>
<div>
  <ul class="participants">
    {{#each p in participants}}
      <li class='participant'>{{userThumbnail p}}</li>
    {{/each}}
    <li class="chosen-style-override participant">
      {{chosen content=availableParticipants
               name="participants"
               width="150px"
               prompt="Add People"
               class='participant-select'
               changeAction='saveNewParticipant'
               optionValuePath="content"
               optionLabelPath="content.fullName"}}
    </li>
  </ul>
</div>

{{#if showAllComments}}
  <div class='comment-actions' {{action 'showAllComments'}}>
    <a class='load-all-comments' href="#">
      <span class='glyphicon glyphicon-comment'></span>
      View previous {{omittedCommentsCount}} {{pluralize omittedCommentsCount 'comment' 'comments'}}
    </a>
  </div>
{{/if}}

<ul class="message-comments">
  {{#each comment in shownComments}}
    <li class="message-comment">
      {{userThumbnail comment.commenter}}
      <span class="comment-date">
        {{formattedTime comment.createdAt}}
      </span>
      <span class="comment-name">{{comment.commenter.fullName}} posted</span>
      <div class="comment-body">{{comment.body}}</div>
    </li>
  {{/each}}
</ul>

<div class="form-group">
  {{textarea classNames="new-comment" id="comment-body" value=newCommentBody placeholder="Type your message here"}}
</div>

<div class="comment-buttons message-overlay">
  <a class="message-color" {{action 'clearMessageContent'}}>Cancel</a>
  <button type="submit" class="secondary-button message" {{action 'postComment'}}>Post Message</button>
</div>
