<div class="overlay-container show-collaborators-overlay">

  <div id="show-collaborators" class="chosen-style-override">
    <h1>Who can edit this manuscript?</h1>

    <ul class="collaborators-list">
      {{#each collaborator in collaborators}}
        <li class="collaborator">
          <span class="delete-button glyphicon glyphicon-remove" {{action "removeCollaborator" collaborator}}></span>
          <span class="name">{{collaborator.fullName}}</span>
          <span class="email">{{collaborator.email}}</span>
        </li>
      {{/each}}
    </ul>

    <div style="float: right">
      <button class="button-primary button--green pull-right" {{action "save" phase}}>Save</button>
      <a class="button-link button--green pull-right" {{action "cancel"}}>cancel</a>
    </div>

    {{chosen content=availableCollaborators
             name="collaborators"
             width="150px"
             class="collaborator-select"
             changeAction="addNewCollaborator"
             prompt="Add People"
             optionValuePath="content"
             optionLabelPath="content.fullName"
             value=selectedCollaborator}}
  </div>

</div>
