<div class="overlay-container show-collaborators-overlay">
  <div id="show-collaborators">
    <h2>Who can edit this manuscript?</h2>

    <ul>
      {{#each collaborators}}
        <li>{{fullName}} <span>{{email}}</span></li>
      {{/each}}
    </ul>

    {{chosen content=availableCollaborators
             name="collaborators"
             width="150px"
             prompt="Add Collaborators"
             class="participant-select"
             changeAction="addNewCollaborator"
             optionValuePath="content"
             optionLabelPath="content.fullName"}}
    <a class="cancel" {{action 'closeOverlay'}}>cancel</a>
    <button class="button-primary button--green task" {{action "save" phase}}>
      Save
    </button>
  </div>
</div>
