<div class="question-text">{{{model.question}}}</div>

{{#if helpText}}
  <ul class="question-help">{{{helpText}}}</ul>
{{/if}}

<div {{bind-attr class=wrapperClass}}>
  {{binary-radio-button name=ident selection=model.answer yesValue="Yes" noValue="No" yesLabel=yesLabel noLabel=noLabel}}

  {{#if template}}
    <div class="additional-data">
      {{yield}}
    </div>
  {{/if}}
</div>
