<p>
  This work was supported by

  {{#if funder.formattedWebsite}}
    <a href={{funder.formattedWebsite}} target="_blank">
      <strong>{{if funder.name funder.name "[funder name]"}}</strong>
    </a>
  {{~else~}}
    <strong>{{if funder.name funder.name "[funder name]"}}</strong>
  {{~/if~}}

  {{#if funder.grantNumber}}
    (grant number <strong>{{funder.grantNumber}}</strong>)
  {{~/if~}}.

  {{view.funderInflunce}}
</p>
