<tr>
  <td>{{input name="title" value=title}}</td>
  <td>{{input name="role" value=role}}</td>
  <td>{{taskType.kind}}</td>
  <td>
    <div {{bind-attr class="isEditing::hidden"}}>
      <button class="column-header-update-save button-primary button--blue-light" {{action "save" bubbles=false}}>Save</button>
      <button class="column-header-update-cancel button-link button--blue-light" {{action "cancel" bubbles=false}}>cancel</button>
    </div>
  </td>
</tr>
