<h1>
  Publication Fees
</h1>

<div class="add-author-form">
  <div class="form-group form-inline author-top">
    <div {{bind-attr class=":form-group :author-half :required validationErrors.firstName:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.firstName
              class="form-control"
              placeholder="First name"}}
    </div>

    <div {{bind-attr class=":form-group :author-half :author-bump :required validationErrors.lastName:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.lastName
              class="form-control"
              placeholder="Last name"}}
    </div>

  </div>

  <div class="form-group form-inline">
    <div {{bind-attr class=":form-group :author-half :required validationErrors.title:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.title
              class="form-control"
              placeholder="Title"}}
    </div>

    <div {{bind-attr class=":form-group :author-half :required :author-bump validationErrors.department:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.department
              class="form-control"
              placeholder="Department"}}
    </div>
  </div>

  <div class="form-group form-inline">
    <div {{bind-attr class=":form-group :author-half :required validationErrors.affiliation:error"}}>
      {{error-message message=null}}
      {{select-2-single value=newAuthor.affiliation
                        class="affiliation-field"
                        placeholder="Affiliation"
                        selectedData=selectedAffiliation
                        source=ringgold}}
    </div>

    <div {{bind-attr class=":form-group :author-half :author-bump validationErrors.secondaryAffiliation:error"}}>
      {{error-message message=null}}
      {{select-2-single value=newAuthor.secondaryAffiliation
                        class="secondary-affiliation-field"
                        placeholder="Secondary Affiliation"
                        selectedData=selectedSecondaryAffiliation
                        source=ringgold}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":form-group :author-half :required validationErrors.email:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.email
              class="form-control"
              placeholder="Phone"}}

    </div>
    <div {{bind-attr class=":form-group :author-half :required :author-bump validationErrors.email:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.email
              class="form-control"
              placeholder="Email"}}

    </div>
  </div>

</div>


<div class="add-author-form">
  <div class="form-group form-inline">
    <div {{bind-attr class=":required :form-group :author-half validationErrors.department:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.department
              class="form-control"
              placeholder="Country"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":required validationErrors.department:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.department
              class="form-control"
              placeholder="Address line one"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":required validationErrors.department:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.department
              class="form-control"
              placeholder="Address line two"}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div {{bind-attr class=":required :form-group :author-half validationErrors.department:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.department
              class="form-control"
              placeholder="City"}}
    </div>

    <div {{bind-attr class=":form-group :author-name :author-bump validationErrors.department:error"}}>
      {{ select-2-single value='newAuthor.affiliation'
                      class=""
                      placeholder="--"
                      selectedData='selectedAffiliation'
                      source=states }}
    </div>
    <div {{bind-attr class=":required :form-group :author-name validationErrors.department:error"}}>
      {{error-message message=null}}
      {{input type="text"
              value=newAuthor.department
              class="form-control"
              placeholder="Postal Code"}}
    </div>
  </div>
</div>

<hr>

<h2>
  Payment Options
</h2>

<div>
  <p>
    To provide Open Access, PLOS uses a business model to offset expenses -
    including those of peer review management, journal production and online hosting and archiving -
    by charging a publication fee to the authors, institutions or funders for each article published.
  </p>

  <p>
    Publication fees vary by journal are are payble for articles upon acceptance.
  </p>

  <ul>
    {{#each journal in journals}}
      <li>
        <i>{{journal.name}}</i>
        ${{journal.price}} USD
      </li>
    {{/each}}
  </ul>

  <p>
    Since its inception, PLOS has administered and provided individual fee support.
  </p>
</div>

<div>
  <p>
    Participating institutions have arrangements with PLOS to administer payment for partial or full
    publication feeds for their institutions' authors.
    To be eligible, authors must be a corresponding author affiliated with the
    institution or agency in the
    <a href="">Institutional Account Program</a>
    (fully paid or restricted). Authors who need to requrest additional support should apply for
    <a href="#">PLOS PFA</a>.
  </p>

  <p>
    Authors may also be eligible for direct funding from their institution or funder,
    which may be different from the PLOS Institutional program.
    See additional
    <a href="#">Open Access Funds</a>
    for examples.
    To confirm amounts and details of funding and eligibility, contact the organization as indicated.
  </p>
</div>

<div>
  <p>
    Authors' research that is funded primarily (50% or more of the work contained within the article)
    by an institution or organization from eligible low- and middle-income countries
    will receive partial (group 2 countries)
    or full (group 1 countries) fee funding paid by the PLOS Global Participation Initiative (GPI).
    Group 2 PLOS GPI country authors who need to request additional support
    should apply for
    <a href="#">PLOS Publication Fee Assistance</a>
    instead of the PLOS GPI. View
    <a href="#">PLOS GPI</a> for additional information.
  </p>
</div>

<div>
  <p>
    PLOS believes that lack of funds should not be a barrier to Open Access publication.
    PFA is intended for authors who do not have sufficient fund
    available to support publication fees. PLOS expects authors to exhaust all
    alternative funding sources before applying for PFA.
    Applications will be considered on a case-by-case basis.
    To apply, complete the application during the submission process below.
    A disposition is usually made within 10 business days.
    Information about an applicant's application fee for assistance will not be disclosed to journal editors or reviewers.
    PLOS publication decisions will continue to be based soley on editorial
    (NOT SURE WHAT GOES HERE. TEXT WAS CUTOFF).
  </p>
</div>

<ol class='question-list'>
  <li class="question">
    <h3> How would you like to pay?</h3>
    <div {{bind-attr class=":form-group :author-half :author-bump :required validationErrors.affiliation:error"}}>
      {{error-message message=null}}
      {{select-2-single value=controller.selectedResponse
                        class="affiliation-field"
                        placeholder="Please select a response"
                        selectedData=selectedAffiliation
                        source=responses}}
    </div>

    {{#if selfPayment}}
      Self Payment
    {{/if}}
    {{#if institutional}}
      Institutional
    {{/if}}
    {{#if gpi}}
      GPI
    {{/if}}
    {{#if pfa}}
      PFA
    {{/if}}

    {{#if specialCollection}}
      To provide Open Access, PLOS uses a business model to
      offset expenses - including those of peer review management,
      journal production and online hosting and archiving -
      by charging a publication fee to the authors, institutions
      or funders for each article published.

      Submissions to Special Collections are by invitation only
      and are subject to
      <a href="#">specific terms and charges</a>.

      <p>
        If you have not received and read the
        PLOS Colletions Terms of Submission,
        or have not received specific submission instructions
        directing you to select this option,
        please contact
        <a href="mailto:collections@plos.org">colletions@plos.org</a>
        before proceeding.
      </p>

      <p>
        Papers submitted for potential inclusion in a PLOS Special
        Collection are not eligible for the PLOS Publication Fee
        Assistance (PFA) Program.
      </p>

      <p>
        All papers that are submitted for inclusion in a Special
        Collection will be charged the Article Processing Charge
        of the relevant journal of publication plus a Collection
        Surcharge on publication:
      </p>

      <table border="1">
        <tr>
          <th>
            Journal
          </th>
          <th>
            Article Processing Charge
          </th>
          <th>
            Collection Surcharge
          </th>
        </tr>
        {{#each journal in journals}}
        <tr>
          <td>
            {{journal.name}}
          </td>
          <td>
            ${{journal.price}} USD
          </td>
          <td>
            ${{journal.collectionSurcharge}} USD
          </td>
        </tr>
        {{/each}}

      </table>

      <p>
        You or the collection funder will receive an invoice
        detailing the charge and payment terms
        if your paper is accepted for publication.
      </p>

      <p>
        By checking the box below, you are acknowledging
        that you have read and agree to the following statement:
      </p>

      <p>
      {{input type="checkbox" name="agreeCollections" checked=agreeCollections}} I have read and agree to the Terms of Submission to PLOS Collections
     </p>

    {{/if}}


  </li>











{{!--


  <li class="question">
  {{#question-radio ident="publishing_related_questions.submitted_in_conjunction"
                    task=model
                    question="Is this manuscript being submitted in conjunction with another submission?"
                    yesLabel="My institution will be paying this fee"
                    noLabel="I will be paying this"
                    }}

    {{#show-if-parent prop="selectedYes"}}
      <div class="question-dataset">

        <p> Participating institutions have arrangements with PLOS to administer payment for partial or full publication fees
          for their institutions' authors. To be eligible, authors must be a corresponding author affiliated with the insitution
          or agency in the <strong>Insitutional Account Program</strong>.
        </p>

        <br>

        <div {{bind-attr class=":form-group :author-half validationErrors.affiliation:error"}}>
          {{error-message message=null}}


          {{ select-2-single value='newAuthor.affiliation'
                            class="affiliation-field"
                            placeholder="Affiliation"
                            selectedData='selectedAffiliation'
                            source=ringgold }}
        </div>


      </div>
    {{/show-if-parent}}

    {{#show-if-parent prop="selectedNo"}}
      <div class="question-dataset">

        <p> In what country was this research done?</p>
        <div {{bind-attr class=":form-group :author-half validationErrors.affiliation:error"}}>
          {{error-message message=null}}


          {{ select-2-single value='newAuthor.affiliation'
                            class="affiliation-field"
                            placeholder="Country"
                            selectedData='selectedAffiliation'
                            source=countries }}
        </div>

        <br>

        <p> Are you publishing this as a part of a collection? Enter the collection name if so. </p>

        <div {{bind-attr class=":form-group validationErrors.firstName:error"}}>
          {{error-message message=validationErrors.firstName}}
          {{input type="text"
                  value=inviteCode
                  class="form-control"
                  placeholder="Invite Code"}}
        </div>

      </div>
    {{/show-if-parent}}

  {{/question-radio}}
  </li>

  <li class="question">

    {{#question-radio ident="2"
                      task=model
                      question="Do you wish to apply for Publication Fee Assistance?"
                      }}

        {{#show-if-parent prop="selectedYes"}}
          <div class="question-dataset">

            {{#question-radio ident="3"
                              task=model
                              question="Have you investigated if funding is available from your institution to pay the publication fee?"
                              }}

                {{#show-if-parent prop="selectedYes"}}
                  If your co-authors' institutions will provide partial funding to publish the article, please indicate the amount they will pay toward your
                  publication fee (in USD).
                  {{input type="text"
                          value=inviteCode
                          class="form-control"
                          placeholder="$"}}
                {{/show-if-parent}}
                {{#show-if-parent prop="selectedNo"}}
                  If your co-authors' institutions will not provide any funding to publish the article, please explain why.
                  {{textarea
                          value=inviteCode
                          class="form-control"
                  }}
                {{/show-if-parent}}
            {{/question-radio}}
            <br>

            {{#question-radio ident="4"
            task=model
            question="Do your co-authors have any other sources of funding that can be used towards the publication fee?"
            }}

              {{#show-if-parent prop="selectedYes"}}
                Please indicate the total amount that they can pay (in USD).
                  {{input type="text"
                  value=coauthorSupport
                  placeHolder="$"}}
              {{/show-if-parent}}

              {{#show-if-parent prop="selectedNo"}}
                {{#question-radio ident="1000"
                                  task=model
                                  question="Do you have any other sources of funding that can be used towards the publication fee?"}}
                  {{#show-if-parent prop="selectedYes"}}
                    Please indicate the total amount that they can pay (in USD).
                    {{input type="text"
                    value=otherSupport
                    placeHolder="$"}}
                  {{/show-if-parent}}
                {{/question-radio}}
              {{/show-if-parent}}
          {{/question-radio}}
          </div>
        {{/show-if-parent}}

    {{/question-radio}}
  </li>

  <li class="question">
    <div class="question-dataset">
      <h2>Total</h2>
      <p>Given your answers to the above questions on your funding availability, what is the amount that you
      and your co-authors can jointly pay for publication? (Specify in USD.)</p>
      {{input type="text"
      value=otherSupport
      placeHolder="$"}}

      {{question-radio ident="7"
                        task=model
                        question="Do you intend to supply supplemental documents?"
                        }}

      <p>If you wish to make additional comments to support your request, provide them below. If you have no additional
        comments, enter "None" in the box.</p>
        {{textarea
                value=endingComments
                class="form-control"
        }}
    </div>
  </li>



  --}}






</ol>
{{!--
<h4>
  {{ feeMessage }}
</h4>
--}}
