<div class="figure-item row {{if hasPlacement "" "unplaced"}} {{if isEditing "editing"}} {{if isSaving "saving"}}">

  <div class="figure-item-header">
    <div class="figure-item-header-inner">
      <span class="figure-label">{{#if hasPlacement}} {{unbound label}} {{else}} Not in manuscript {{/if}}
      </span>
      <div class="ve-tool-group first-button-group">
          <a href="#" class="btn insert-into-manuscript {{if canInsert "enabled" "disabled"}}" {{action "insertFigure"}} >
            <i class="fa fa-arrow-right fa-lg"></i>
            <i class="fa fa-file-picture-o fa-lg second"></i>
            Insert into Manuscript
          </a>
      </div>
      <div class="ve-tool-group pull-right">
          <span class="saving-spinner btn enabled">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
          <a class="btn enabled" target="_blank" href={{attachment.src}}>
            <i class="fa fa-external-link fa-lg"></i>
          </a>
          <a href="#" class="btn enabled" {{action "confirmDestroyAttachment"}}>
            <i class="fa fa-trash fa-2x"></i>
          </a>
      </div>
    </div>
  </div>

  {{#if attachment.previewSrc}}
    <div class="attachment-thumbnail-image">
      <div class="replace-spinner"></div>
      <img class="preview" src={{attachment.previewSrc}} alt={{attachment.alt}}>
      <div class="attachment-thumbnail-edit-overlay">
        <div class="attachment-thumbnail-edit-overlay-buttons">
          {{#replace-image}}
            <span>Replace Image</span>
            {{file-uploader url=attachmentUrl
                            railsMethod="PUT"
                            accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps"
                            multiple=false
                            filePrefix="paper/figures"
                            start="uploadStarted"
                            progress="uploadProgress"
                            done="uploadFinished"}}
          {{/replace-image}}
          <button class="button-secondary button--green knockout view-attachment-detail" {{action "togglePreview"}}><span class="fa fa-search-plus"></span>View Detail</button>
        </div>
      </div>
    </div>
  {{else}}
    <div class="attachment-thumbnail-image attachment-thumbnail-image-placeholder">
      {{progress-spinner visible=true size="large"}}
      <div class="progress-text">
        <h3>Figure Processing</h3>
        <h4>but you can continue working!</h4>
      </div>
    </div>
  {{/if}}

  {{visual-editor classNames="figure-item-editor"
      initializerContext=controller
      initializer=controller.setupEditor}}

  <div class="attachment-thumbnail-destroy-overlay">
    <p>This will permanently delete your image. Are you sure?</p>
    <button class="button-secondary button--green knockout" {{action "cancelDestroyAttachment"}}>Cancel</button>
    <button class="button-secondary button--green knockout attachment-delete-button" {{action "destroyAttachment"}}>Delete Forever</button>
  </div>

  <div class="figure-item-footer">
    <div class="figure-item-footer-inner">
      <span class="striking-image-checkbox">
        {{check-box checked=attachment.isStrikingImage action="toggleStrikingImageFromCheckbox" attachment=attachment}}
        <label>This is the striking image</label>
      </span>
    </div>
  </div>

  {{#if view.previewState}}
    <div class="figure-item-detailed-view attachment-thumbnail-preview col-md-12">
      <div {{action "togglePreview"}} class="attachment-thumbnail-preview-close">&times;</div>
      <img src={{attachment.detailSrc}} alt={{attachment.alt}}>
    </div>
  {{/if}}

</div>
