{{#if displayContent}}
  {{#if errorPresent}}
    <i class="fa fa-exclamation-triangle" title={{errors}}></i>
  {{/if}}
  {{#if readonly}}
    {{#if shouldDisplayQuestionText}}
      <span class="{{textClassNames}}">
        {{{questionText}}}
      </span>
    {{/if}}

    {{#if model.answer.value}}
      <div class="answer-text">{{model.answer.value}}</div>
    {{else}}
      <div class="answer-text no-answer">{{noResponseText}}</div>
    {{/if}}

  {{else}}
    {{#if shouldDisplayQuestionText}}
      <div class="{{textClassNames}}">
        {{{questionText}}}
      </div>
    {{/if}}

    <div>
      {{#if label}}<span class="text-field-title">{{label}}</span>{{/if}}

        {{#if formatted}}
          {{format-input name=ident
                         value=model.answer.value
                         class=inputClassNames
                         placeholder=placeholder
                         displayBold=false
                         focus-out=(action "save")
                         disabled=disabled}}
        {{else}}
          {{input name=ident
                  value=model.answer.value
                  class=inputClassNames
                  placeholder=placeholder
                  type=type
                  disabled=disabled}}
        {{/if}}
    </div>

  {{/if}}
{{/if}}
