<div class="base-screen">
  <h2 class="paper-tracker-message">Hello, {{currentUser.firstName}}!</h2>
  <p class="paper-tracker-paper-count">You have {{pluralize model.length "paper"}} in your tracker.</p>
  <br><br><br>

  {{pagination-simple page=page totalCount=totalCount perPage=perPage setPage=(action "setPage")}}

  <table class="paper-tracker-table">
    <thead>
      <tr>
        <th></th>
        <th>{{sort-link text="Title"
                        orderBy="display_title"
                        activeOrderBy=orderBy
                        activeOrderDir=orderDir
                        sortAction=(action "sort")
        }}</th>
        <th>{{sort-link text="Manuscript ID"
                        orderBy="id"
                        activeOrderBy=orderBy
                        activeOrderDir=orderDir
                        sortAction=(action "sort")
        }}</th>
        <th>{{sort-link text="Date Submitted"
                        orderBy="submitted_at"
                        activeOrderBy=orderBy
                        activeOrderDir=orderDir
                        sortAction=(action "sort")
        }}</th>
        <th>{{sort-link text="Article Type"
                        orderBy="paper_type"
                        activeOrderBy=orderBy
                        activeOrderDir=orderDir
                        sortAction=(action "sort")
        }}</th>

        <th>Members</th>
      </tr>
    </thead>

    <tbody>
      {{#each model as |paper|}}
        {{partial "paper-tracker/row"}}
      {{/each}}
    </tbody>

  </table>
</div>
