<div class="base-screen">
  <h2 class="paper-tracker-message">Hello, {{currentUser.firstName}}!</h2>
  <p class="paper-tracker-paper-count">You have {{pluralize model.length "paper"}} in your tracker.</p>
  <br><br><br>

  {{pagination-simple page=page totalCount=totalCount perPage=perPage setPage=(action "setPage")}}

  {{#sortable-table class="paper-tracker-table"
                    content=model
                    sortProperty="submittedAt" as |table|}}
    <thead>
      <tr>
        <th></th>
        {{sortable-table-header text="Title"
                                sortProperty="displayTitle"
                                sortAscending=table.sortAscending
                                activeSortProperty=table.sortProperty}}
        {{sortable-table-header text="Manuscript Number"
                                sortProperty="id"
                                sortAscending=table.sortAscending
                                activeSortProperty=table.sortProperty}}
        {{sortable-table-header text="Date Submitted"
                                sortProperty="submittedAt"
                                sortAscending=table.sortAscending
                                activeSortProperty=table.sortProperty}}
        {{sortable-table-header text="Article Type"
                                sortProperty="paperType"
                                sortAscending=table.sortAscending
                                activeSortProperty=table.sortProperty}}
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
      {{#each table.arrangedContent as |paper|}}
        {{partial "paper-tracker/row"}}
      {{/each}}
    </tbody>
  {{/sortable-table}}
</div>
