<div class="base-screen">
  <h2 class="paper-tracker-message">Hello, {{currentUser.firstName}}!</h2>
  <p class="paper-tracker-paper-count">You have {{pluralize model.length "paper"}} in your tracker.</p>

  <div class='row' class='search-controls' id='search-controls-top'>
    <div class='col-sm-6 search-col'>
      <div class="navbar-form">
        <div class="input-group">
          <div id='clear-search' class="input-group-addon" {{action 'clearSearch'}}><i class="fa fa-remove"></i></div>

          {{input type="text"
                  class="form-control"
                  id="query-input"
                  value=queryInput
                  enter="search"
                  placeholder="Title keyword or Manuscript ID number"}}

          <div class="input-group-btn">
            <button id='search' class="btn btn-primary" {{action 'search'}}><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class='col-sm-6' class='pagination-col'>
      {{pagination-simple page=page totalCount=totalCount perPage=perPage setPage=(action "setPage")}}
    </div>
  </div>

  <table class="paper-tracker-table">
    <thead>
      <tr>
        <th></th>
        <th>{{sort-link text="Title"
                        orderBy="title"
                        activeOrderBy=orderBy
                        activeOrderDir=orderDir
                        sortAction=(action "sort")
        }}</th>
        <th>{{sort-link text="Manuscript ID"
                        orderBy="doi"
                        activeOrderBy=orderBy
                        activeOrderDir=orderDir
                        sortAction=(action "sort")
        }}</th>
        <th>{{sort-link text="Date Submitted"
                        orderBy="submitted_at"
                        activeOrderBy=orderBy
                        activeOrderDir=orderDir
                        sortAction=(action "sort")
        }}</th>
        <th>{{sort-link text="Article Type"
                        orderBy="paper_type"
                        activeOrderBy=orderBy
                        activeOrderDir=orderDir
                        sortAction=(action "sort")
        }}</th>

        <th>Members</th>
      </tr>
    </thead>

    <tbody>
      {{#each model as |paper|}}
        {{partial "paper-tracker/row"}}
      {{/each}}
    </tbody>

  </table>

  <div class='row' class='search-controls'>
    <div class='col-sm-6 search-col'> </div>

    <div class='col-sm-6 pagination-col'>
      {{pagination-simple page=page totalCount=totalCount perPage=perPage setPage=(action "setPage")}}
    </div>
  </div>
</div>


