<div class="aside">
    <div class="tabs-right">
        <ul class="nav nav-tabs">
            <li class="active">
                <a class="nav-link" data-toggle="tab" href="#{{concat 'tab-' elementId '-1'}}"><i class="fa fa-info-circle"></i></a>
            </li>
            <li class="">
                <a class="nav-link" data-toggle="tab" href="#{{concat 'tab-' elementId '-2'}}"><i class="fa fa-edit"></i></a>
            </li>
        </ul>
        <div class="tab-content ">
            <div id="{{concat 'tab-' elementId '-1'}}" class="tab-pane active">
                <div class="panel-body">
                    Instruction text goes here...
                </div>
            </div>
            <div id="{{concat 'tab-' elementId '-2'}}" class="tab-pane">
                <div class="panel-body">
                    {{textarea class="tabbed-textarea" change=(action attrs.annotationChanged) value=annotation}}
                </div>
            </div>
        </div>
    </div>
</div>
