{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<div class="aside">
  <div class="tabs-right">
    <ul class="nav nav-tabs">
      {{#if instructionText}}
      <li>
        <a class="nav-link" data-toggle="tab" href="#{{concat 'tab-' elementId '-1'}}">
          <i class="fa fa-fw fa-info-circle"></i>
        </a>
      </li>
      {{/if}}
      {{#if showAnnotation}}
      <li>
        <a class="nav-link" data-toggle="tab" href="#{{concat 'tab-' elementId '-2'}}">
          <i class="fa fa-fw fa-edit"></i>
        </a>
      </li>
      {{/if}}
    </ul>
    <div class="tab-content ">
      {{#if instructionText}}
      <div id="{{concat 'tab-' elementId '-1'}}" class="tab-pane">
        <div class="panel-body instruction-text">
            {{textarea-autosize class="tabbed-textarea"  value=instructionText disabled=true}}
        </div>
      </div>
      {{/if}}
      {{#if showAnnotation}}
      <div id="{{concat 'tab-' elementId '-2'}}" class="tab-pane">
        <div class="panel-body annotation-text">
          {{textarea-autosize class="tabbed-textarea" input=(action attrs.annotationChanged)
            value=annotation disabled=disabled}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>
