<div class="aside">
  <div class="tabs-right">
    <ul class="nav nav-tabs">
      {{#if instruction_text}}
      <li>
        <a class="nav-link" data-toggle="tab" href="#{{concat 'tab-' elementId '-1'}}">
          <i class="fa fa-fw fa-info-circle"></i>
        </a>
      </li>
      {{/if}}
      {{#if show_annotation}}
      <li>
        <a class="nav-link" data-toggle="tab" href="#{{concat 'tab-' elementId '-2'}}">
          <i class="fa fa-fw fa-edit"></i>
        </a>
      </li>
      {{/if}}
    </ul>
    <div class="tab-content ">
      {{#if instruction_text}}
      <div id="{{concat 'tab-' elementId '-1'}}" class="tab-pane">
        <div class="panel-body instruction-text">
          {{instruction_text}}
        </div>
      </div>
      {{/if}}
      {{#if show_annotation}}
      <div id="{{concat 'tab-' elementId '-2'}}" class="tab-pane">
        <div class="panel-body annotation-text">
          {{textarea class="tabbed-textarea" change=(action attrs.annotationChanged)
          value=annotation disabled=disabled}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>
