<div class='container'>
  <div class='paper-info'>
    <div class='journal-info'>
      <% if @paper.journal.logo_url %>
        <img class='journal-logo' src='<%= @paper.journal.logo_url %>'>
      <% else %>
        <div class='journal-name'>
          <%= @paper.journal.name %>
        </div>
      <% end %>
    </div>

    <div class='custom-email'>
      <%= simple_format @task.body[0] %>
    </div>

  </div>
  <div class='footer'>
    <a class='button' href='<%= client_dashboard_url %>' target='_blank'>
      View Invitation
    </a>
    <hr>
    <div class='paper-title'>
      "<%= @paper.display_title %>"
    </div>
    <div class='paper-abstract'>
      <%= simple_format @paper.abstract %>
    </div>
  </div>
</div>
