<div class="container">
  <div class="paper-info">
    <div class="journal-info">
      <% if @paper.journal.logo_url %>
        <img class="journal-logo" src="<%= @paper.journal.logo_url %>">
      <% else %>
        <div class="journal-name">
          <%= @paper.journal.name %>
        </div>
      <% end %>
    </div>

    <div class="custom-email">
      <%= simple_format h(@invitation.body) %>
    </div>

    <p>
      <a class="button" href="<%= client_dashboard_url({ invitation_token: @invitation.token }) %>" target="_blank">
        Accept Invitation
      </a>
      <span class="spacer">|</span>
      <a class="button" href="<%= confirm_decline_invitation_url({ token: @invitation.token }) %>" target="_blank">
        Decline
      </a>
    </p>
  </div>
</div>
