<div class="container">
  <div class="greeting">
    Invitation Rescinded
  </div>
  <hr>
  <div class="paper-info">
    <div class="journal-info">
      <% if @paper.journal.logo_url %>
        <img class="journal-logo" src="<%= @paper.journal.logo_url %>">
      <% else %>
        <div class="journal-name">
          <%= @paper.journal.name %>
        </div>
      <% end %>
    </div>
    <p>
      Hello <%= @recipient_name %>,
    </p>
    <div class="paper-abstract">
      <p>
        Your invitation to become a reviewer on "<%= @paper.display_title(sanitized: false) %>" has been rescinded. Please email us if you have any questions.
      </p>
      <p>
        <%= root_url %>
      </p>
    </div>
  </div>
  <hr>
  <div class="footer">
    Sincerely,
    <br>
    <%= @paper.journal.name %> Team
  </div>
</div>
