<div id="versioning-toolbar" {{bind-attr class="versioningMode:versioning-mode-open:versioning-mode-closed"}}>
  <div {{bind-attr class=":versioning-toolbar-limit versioningModeTransition:versioning-mode-open:versioning-mode-closed"}}>
    <div class="versioning-toolbar-background">
      {{#if versioningModeTransition}}
        {{#if togglable}}
          <a class="versioning-mode-button toolbar-item" {{action "closeVersioningMode"}}>
            Exit Versions
            <div class="fa fa-large fa-chevron-circle-right"></div>
          </a>
        {{/if}}
        <div class="toolbar-item">
          Now viewing:
          {{view "select"
            name="view_version"
            content=paper.versions
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=fromVersion}}
        </div>
        <div class="toolbar-item">
          Compare With:
          {{view "select"
            prompt="-"
            name="compare_version"
            content=paper.versions
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=compareToVersion}}
        </div>
      {{else}}
        <a class="versioning-mode-button" {{action "openVersioningMode"}}>
          <div class="fa fa-large fa-chevron-circle-left"></div>
          View Versions
        </a>
      {{/if}}
    </div>
  </div>
</div>
