{{#if isEditing}}

  <div class="journal-thumbnail-edit-form clearfix">

    <div class="journal-logo-upload">
      <div class="journal-thumbnail">
        {{#if logoPreview}}
          <span class="journal-logo-preview"></span>
        {{else}}
          {{#if model.logoUrl}}
            <img src={{model.logoUrl}}>
          {{else}}
            {{partial "svg/default-journal-logo"}}
          {{/if}}
        {{/if}}
      </div>
      {{partial "admin/journal/logo-upload"}}
      <span class="journal-logo-upload-note">(250px x 40px)</span>
      {{#if isUploading}}
        <div class="journal-logo-spinner">
          {{progress-spinner visible=true color="white"}}
        </div>
      {{/if}}
    </div>

    <div class="form-group required {{if validationErrors.name "error"}}">
      {{input type="text"
              value=model.name
              class="form-control journal-name-edit"
              placeholder="Journal Title"}}
      {{error-message message=validationErrors.name}}
    </div>

    <div class="form-group required {{if validationErrors.description "error"}}">
      {{textarea value=model.description
                 class="form-group required journal-description-edit form-control"
                 placeholder="Journal Description"}}
      {{error-message message=validationErrors.description}}
    </div>

    <div class="journal-edit-buttons">
      <a href="#" class="button-link knockout" {{action "resetJournalDetails"}}>Cancel</a>
      <a href="#" class="button-secondary button--blue knockout" {{action "saveJournalDetails"}}>Save</a>
    </div>

  </div>

{{else}}

  {{#link-to "admin.journal" model class="journal-thumbnail-show clearfix"}}
    <div class="journal-thumbnail">
      {{#if model.logoUrl}}
        <img src={{model.logoUrl}}>
      {{else}}
        {{partial "svg/default-journal-logo"}}
      {{/if}}
    </div>
    <span class="journal-paper-count">{{pluralize model.paperCount "article"}}</span>
    <h3 class="journal-name">{{model.name}}</h3>
    <p>{{model.description}}</p>
  {{/link-to}}
  {{#if canEdit}}
    <div class="fa fa-pencil edit-icon" {{action "editJournalDetails"}}></div>
  {{/if}}

{{/if}}
