<div id="journal-{{journal.id}}">
{{#if showForm}}

  <div class="journal-thumbnail-edit-form clearfix">

    <div class="journal-thumbnail-logo-upload">
      <div class="journal-thumbnail-logo">
        {{#if logoPreview}}
          <span class="journal-thumbnail-logo-preview"></span>
        {{else}}
          {{#if journal.logoUrl}}
            <img src={{journal.logoUrl}}>
          {{else}}
            {{partial "svg/default-journal-logo"}}
          {{/if}}
        {{/if}}
      </div>

      <span class="button-secondary fileinput-button button--blue knockout">
        <span>Upload New</span>
        {{file-uploader id=thumbnailId
                        accept=".jpg,.jpeg,.tiff,.gif,.png"
                        start="uploadStarted"
                        done="uploadFinished"
                        progress="uploadProgress"
                        cancel="cancelUploads"
                        processingDone="showPreview"
                        uploadReady="uploadReady"
                        filePrefix="journal/logo"
                        uploadImmediately=false
                        railsMethod="PUT"
                        url=logoUploadUrl}}
      </span>

      <span class="journal-thumbnail-logo-upload-note">(250px x 40px)</span>
      {{#if isUploading}}
        <div class="journal-thumbnail-logo-spinner">
          {{progress-spinner visible=true color="white"}}
        </div>
      {{/if}}
    </div>

    <div class="inset-form-control required {{if validationErrors.name "error"}}">
      <div class="inset-form-control-text">
        <label>Journal Title</label>
        {{error-message message=validationErrors.name}}
      </div>
      {{input type="text"
              value=journal.name
              class="form-control journal-name-edit inset-form-control-input"
              placeholder="PLOS Yeti"}}
    </div>

    <div class="inset-form-control required {{if validationErrors.description "error"}}">
      <div class="inset-form-control-text">
        <label>Journal Description</label>
        {{error-message message=validationErrors.description}}
      </div>
      {{textarea value=journal.description
                 class="journal-description-edit inset-form-control-textarea"
                 placeholder="Accelerating the publication of peer-reviewed science"}}
    </div>

    <div class="journal-edit-buttons">
      <a href="#" class="button-link button--white" {{action "cancel"}}>Cancel</a>
      <a href="#" class="button-secondary button--blue knockout" {{action "saveJournalDetails"}}>Save</a>
    </div>

  </div>

{{else}}

  {{#link-to "admin.journal" journal class="journal-thumbnail-show clearfix"}}
    <div class="journal-thumbnail-logo">
      {{#if journal.logoUrl}}
        <img src={{journal.logoUrl}}>
      {{else}}
        {{partial "svg/default-journal-logo"}}
      {{/if}}
    </div>
    <span class="journal-thumbnail-paper-count">{{journal.paperCount}} {{pluralize-string count=journal.paperCount string="article"}}</span>
    <h3 class="journal-thumbnail-name">{{journal.name}}</h3>
    <p>{{journal.description}}</p>
  {{/link-to}}

  {{#if canEdit}}
    <div class="fa fa-pencil edit-icon" {{action "editJournal"}}></div>
  {{/if}}

{{/if}}
</div>
