<div class="snapshot-text wrap">
  <b>Group Author Name:</b> {{text-diff viewingText=viewing.groupName comparisonText=comparing.groupName}}<br/>
  <b>Group Author Initials:</b> {{text-diff viewingText=viewing.initials comparisonText=comparing.initials}}<br/>
  <b>Contact Name:</b> {{text-diff viewingText=viewing.contactName comparisonText=comparing.contactName}}<br/>
  <b>Email:</b> {{text-diff viewingText=viewing.email comparisonText=comparing.email}}<br/>
  <b>Contributions:</b> {{text-diff viewingText=viewing.contributions comparisonText=comparing.contributions}}<br />
  {{text-diff viewingText=viewing.government comparisonText=comparing.government}}<br />
</div>
