<div class="snapshot-text wrap">
  <b>Group Author Name:</b> {{text-diff viewingText=viewingName comparisonText=comparingName}}<br/>
  <b>Group Author Initials:</b> {{text-diff viewingText=viewingInitials comparisonText=comparingInitials}}<br/>
  <b>Contact Name:</b> {{text-diff viewingText=viewingContactName comparisonText=comparingContactName}}<br/>
  <b>Email:</b> {{text-diff viewingText=viewingEmail comparisonText=comparingEmail}}<br/>
  <b>Contributions:</b> {{text-diff viewingText=viewingContributions comparisonText=comparingContributions}}<br />
  {{text-diff viewingText=viewingGovernment comparisonText=comparingGovernment}}<br />
</div>
