{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

<div class="snapshot-text wrap">
  <b>Group Author Name:</b>
  {{text-diff viewingText=viewing.position comparisonText=comparing.position}}.
  {{text-diff viewingText=viewing.name comparisonText=comparing.name}}<br/>
  <b>Group Author Initials:</b> {{text-diff viewingText=viewing.initials comparisonText=comparing.initials}}<br/>
  <b>Contact Name:</b>
  {{text-diff viewingText=viewing.contactFirstName comparisonText=comparing.contactFirstName}}
  {{text-diff viewingText=viewing.contactMiddleName comparisonText=comparing.contactMiddleName}}
  {{text-diff viewingText=viewing.contactLastName comparisonText=comparing.contactLastName}}
  <br/>
  <b>Email:</b> {{text-diff viewingText=viewing.email comparisonText=comparing.email}}<br/>
  <b>Contributions:</b> {{text-diff viewingText=viewing.contributions comparisonText=comparing.contributions}}<br />
  {{nested-snapshot snapshot1=viewing.government snapshot2=comparing.government}}<br />
</div>
