<div class="container">
  <div class="greeting">
    <h3 class="user-name">
      Hello <%= @recipient.full_name %>,
    </h3>
    <p class="message">
      An Initial Decision has been made on your Manuscript <%= @paper.display_title(sanitized: false) %>.
    </p>
  </div>
  <hr>
  <div class="paper-info">
    <div class="paper-abstract">
      <%= simple_format @decision.letter %>
    </div>
  </div>
  <hr>
  <div class="footer">
    <a class="button" href="<%= client_paper_url(@paper) %>" target="_blank">
      View Paper
    </a>
    <p>
    Sincerely,<br>
    <%= @paper.journal.name %> Team
    </p>
  </div>
</div>
