{{partial "overlay-header"}}

<main class="overlay-x-body">
  <div class="overlay-main-work">{{yield}}</div>
  {{partial "discussion"}}
</main>

<footer class="overlay-x-footer">
  <div class="overlay-x-footer-content">
    {{partial "overlay-completed-checkbox"}}
    {{participant-selector currentParticipants=participants
                           onRemove="removeParticipant"
                           label="Following:"
                           paperId=model.paper.id
                           onSelect="saveNewParticipant"}}
    <a class="button-secondary button--green overlay-x-close-button" {{action "closeAction"}}>Close</a>
  </div>
</footer>
