<label class="content-text" for="{{content.ident}}">{{{content.text}}}
  {{#if content.isRequired}}
    <span class="required-field">*</span>
  {{/if}}</label>

{{#if isRichText}}
  {{rich-text-editor
    editorStyle=content.editorStyle
    name=content.ident
    data-editor=content.ident
    value=answerValue
    hasErrors=answer.hasErrors
    errorMessages=answer.readyIssuesArray
    onContentsChanged=(action "valueChanged")
    focusOut=(action "validate")
    class=inputClassNames
    disabled=disabled
    hideError=hideError
  }}
{{else}}
  {{textarea
      value=(readonly answerValue)
      class="form-control"
      change=(action "valueChanged")
      input=(action "valueChanged")
      focusOut=(action "validate")
      disabled=disabled
      id=content.ident
  }}
  {{card-content/validation-errors hideErrors=answer.hideErrors errors=answer.readyIssuesArray}}
{{/if}}

