<label class="content-text">{{{content.text}}}
  {{#if content.isRequired}}
    <span class="required-field">{{#unless answer.wasAnswered}}*{{else}}&nbsp;{{/unless}}</span>
  {{/if}}</label>

{{#if isRichText}}
  {{rich-text-editor
    editorStyle=content.editorStyle
    name=ident
    data-editor=ident
    value=answer.value
    hasErrors=answer.hasErrors
    errorMessages=answer.readyIssuesArray
    onContentsChanged=(action "valueChanged")
    focusOut=(action "validate")
    class=inputClassNames
    disabled=disabled
    hideError=hideError
  }}
{{else}}
  {{format-input
      value=(readonly answer.value)
      class="form-control"
      valueChanged=(action "valueChanged")
      disabled=disabled
  }}
  {{card-content/validation-errors errors=answer.readyIssuesArray}}
{{/if}}

