<div class="form-group">
 {{#if content.text}}
    <label class="control-label">{{{content.text}}}
      {{#if content.isRequired}}
        {{#unless answer.wasAnswered}}<span class="required-field">*</span>{{/unless}}
      {{/if}}</label>
  {{/if}}
  {{#if isRichText}}
    {{rich-text-editor
      editorStyle=content.editorStyle
      name=ident
      data-editor=ident
      value=answerValue
      hasErrors=answer.hasErrors
      errorMessages=answer.readyIssuesArray
      onContentsChanged=(action "valueChanged")
      focusOut=(action "validate")
      class=inputClassNames
      disabled=disabled
      hideError=hideError
    }}
  {{else}}
    {{textarea
      value=(readonly answerValue)
      class="form-control"
      change=(action "valueChanged")
      input=(action "valueChanged")
      focusOut=(action "validate")
      disabled=disabled
    }}
  {{/if}}
  {{card-content/validation-errors content=content errors=answer.readyIssuesArray}}
</div>

