<div class="question-text">{{{model.question}}}</div>

{{#if helpText}}
  <ul class="question-help">{{{helpText}}}</ul>
{{/if}}

<div>
  {{#each option in options}}
    <label>
      {{radio-button-action selection=model.answer name=option.id value=option.id action='select'}}
      {{option.text}}
    </label>
  {{/each}}

  {{#if template}}
    <div class="additional-data">
      {{yield}}
    </div>
  {{/if}}
</div>
