<p>
  Fields marked with an <i class="correspondence-asterisk-field">*</i> are required.
</p>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <label class="correspondence-label">Date sent</label>
    <div class="{{if validationErrors.dateSent "error"}}">
      {{date-picker name='correspondence-date-sent'
                    value=dateSent
                    date=dateSent
                    placeholder="Select date..."
                    class="correspondence-date-sent correspondence-input"}}
    </div>
    <span>
      {{error-message message=validationErrors.dateSent
                      class="correspondence-error"
                      displayIcon=true
                      displayText=true}}
    </span>
  </div>
  <div class="col-sm-6 col-md-3">
    <label class="correspondence-label">Time sent</label>
    <div class="{{if validationErrors.timeSent "error"}}">
      {{time-picker class="correspondence-time-sent correspondence-input"
                    name='correspondence-time-sent'
                    value=timeSent}}
    </div>
    <span>
      {{error-message message=validationErrors.timeSent
                      class="correspondence-error"
                      displayIcon=true
                      displayText=true}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label class="correspondence-label">Description</label>
    <div class="{{if validationErrors.description "error"}}">
      {{input type="text"
              name='correspondence-description'
              value=model.description
              class="correspondence-description correspondence-input"}}
    </div>
    <span>
      {{error-message message=validationErrors.description
                      class="correspondence-error"
                      displayIcon=true
                      displayText=true}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label class="correspondence-label">From</label>
    <div class="{{if validationErrors.sender "error"}}">
      {{input type="text"
              name='correspondence-from'
              value=model.sender
              class="correspondence-from correspondence-input"}}
    </div>
    <span>
      {{error-message message=validationErrors.sender
                      class="correspondence-error"
                      displayIcon=true
                      displayText=true}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label class="correspondence-label">To</label>
    <div class="{{if validationErrors.recipients "error"}}">
      {{input type="text"
              name='correspondence-to'
              value=model.recipients
              class="correspondence-to correspondence-input"}}
    </div>
    <span>
      {{error-message message=validationErrors.recipients
                      class="correspondence-error"
                      displayIcon=true
                      displayText=true}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label>Subject</label>
    <div>
      {{input type="text"
              name='correspondence-subject'
              value=model.subject
              class="correspondence-subject correspondence-input"}}
    </div>
    <span>
      {{error-message message=validationErrors.subject
                      class="correspondence-error"
                      displayIcon=true
                      displayText=true}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label>CC</label>
    <div>
      {{input type="text"
              name='correspondence-cc'
              value=model.cc
              class="correspondence-cc correspondence-input"}}
    </div>
    <span>
      {{error-message message=validationErrors.cc
                      class="correspondence-error"
                      displayIcon=true
                      displayText=true}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label>BCC</label>
    <div class="inset-form-control">
      {{input type="text"
              name='correspondence-bcc'
              value=model.bcc
              class="correspondence-bcc correspondence-input"}}
    </div>
    <span>
      {{error-message message=validationErrors.bcc
                      class="correspondence-error"
                      displayIcon=true
                      displayText=true}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{#if isUploading}}
      <p>Uploading...</p>
    {{/if}}
    {{#if doneUploading}}
      <p>
        <i class="fa fa-file-o"></i>&nbsp;
        <a>{{attachment.filename}}</a>&nbsp;&nbsp;
        <span class="fileinput-buton" {{action 'removeAttachment'}}>
          <i class="fa fa-trash"></i>
          <span>Delete</span>
        </span>
      </p>
    {{/if}}
  </div>
  <div class="col-sm-12">
    <div class="button-secondary button--green correspondence-attachment fileinput-button">
      <i class="fa fa-paperclip"></i>&nbsp;Attach Files
      {{file-uploader accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.pdf,.docx,.doc,.pages"
                      start=(action "uploadStarted")
                      done=(action "uploadFinished")
                      filePrefix="correspondence_attachment"}}
    </div>
  </div>
</div>
<div class="row">
  <p>&nbsp;</p>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label class="correspondence-label">
        Contents
      </label>
      <div class="{{if validationErrors.body "error"}}">
        {{rich-text-editor
          editorStyle='basic'
          ident='correspondence-body'
          value=model.body
          name="correspondence-body"
          class="correspondence-body input"
          onContentsChanged=(action 'saveContentsBody')
          disabled=false
        }}
      </div>
      {{error-message message=validationErrors.body
                          class="correspondence-error"
                          displayIcon=true
                          displayText=true}}
    </div>
  </div>
</div>
 <div class="overlay-footer-content correspondence-form-footer-content">
  <div class="overlay-action-buttons">
    {{#if close}}
      <button class="button-link button--green" {{action close}}>cancel</button>
    {{/if}}
    <button class="button button--green button-primary correspondence-submit" {{action "submit" model}}>{{saveText}}</button>
  </div>
</div>
