{{flash-messages}}

<div class="base-screen">
  <div class="col-md-2">
    {{user-avatar-upload user=model}}
  </div>

  <div class="col-md-10">
    <div class="profile-section">
      <h1>First and last name:</h1>
      <h2 id="profile-name">{{model.fullName}}</h2>
    </div>

    <div id="profile-username" class="profile-section">
      <h1>Username:</h1>
      <h2>{{model.username}}</h2>
    </div>

    <div id="profile-email" class="profile-section">
      <h1>Email:</h1>
      <h2>{{model.email}}</h2>
    </div>

    {{partial "profile/affiliation-form"}}

    <br><br>

    {{#if resetPasswordSuccess}}
      <div class="success">Reset password instructions have been sent to the your email address.</div>
    {{else}}
      <a href="#" class="reset-password-link button-secondary button--green" {{action "resetPassword"}}>Reset password</a>
    {{/if}}
  </div>
</div>
