{{view "control-bar"}}

<div id="tahi-container">

  <div class="col-md-2">
    <div id="profile-avatar">
      <img {{bind-attr src="model.avatarUrl"}}>
      <div id="profile-avatar-hover">
        <span class="button-secondary button--green fileinput-button">
          <span>Upload New</span>
          {{file-uploader id="profile_avatar"
                          accept=".jpg,.jpeg,.tiff,.gif,.png"
                          start="uploadStarted"
                          progress="uploadProgress"
                          done="uploadFinished"
                          filePrefix="user/avatar"
                          railsMethod="PUT"
                          url=avatarUploadUrl}}
        </span>
      </div>
      <div class="profile-avatar-spinner">
        {{progress-spinner visible=isUploading}}
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="profile-section">
      <h1>First and last name:</h1>
      <h2 id="profile-name">{{model.fullName}}</h2>
    </div>

    <div id="profile-username" class="profile-section">
      <h1>Username:</h1>
      <h2>{{model.username}}</h2>
    </div>

    <div id="profile-email" class="profile-section">
      <h1>Email:</h1>
      <h2>{{model.email}}</h2>
    </div>

    <div class="profile-section">
      <h1>Affiliations:</h1>
      {{#each a in affiliations}}
        <div class="profile-affiliation">
          <div class="profile-affiliation-name">{{a.name}}</div>
          <div class="glyphicon glyphicon-remove-circle profile-remove-affiliation" {{action "removeAffiliation" a}}></div>
          <div>{{a.startDate}} - {{a.displayEndDate}}</div>
          <div>{{a.email}}</div>
        </div>
      {{/each}}
      <a class="button-secondary button--grey button--small" {{action "toggleAffiliationForm"}}>
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add New Affiliation
      </a>
      {{#unless hideAffiliationForm}}
        <div class="profile-affiliations-form animation-fade-in">
          <h3>New Affiliation</h3>
          <span {{bind-attr class="errorText:show:hidden :alert-danger :submit-error"}}>{{errorText}}</span>
          {{partial "profile/affiliation_form"}}
        </div>
      {{/unless}}
    </div>

    <br><br>
    <a href="#" id="reset-password">Reset my password</a>
  </div>

</div>
