{{flash-messages}}

<div class="base-screen" id="profile">
  <div class="col-md-2">
    {{user-avatar-upload user=model}}
  </div>

  <div class="col-md-10">
    <div class="profile-section">
      <h1>First and last name:</h1>
      <h2 id="profile-name">{{model.fullName}}</h2>
    </div>

    <div id="profile-username" class="profile-section">
      <h1>Username:</h1>
      <h2>{{model.username}}</h2>
    </div>

    <div id="profile-email" class="profile-section">
      <h1>Email:</h1>
      <h2>{{model.email}}</h2>
    </div>

    {{partial "profile/affiliation-form"}}

    <div class="profile-link">
      <a href="https://community.plos.org/account/edit-profile" target="_blank">
        View or edit your full profile
      </a>
      <br>
      Any changes to your username or email will be updated in Aperta on your next login.
    </div>
  </div>
</div>
