{{#if templateDecision}}
  {{#unless disabled }}
    <p>Please select the template letter and then edit further.</p>
  {{/unless}}

  {{#if showDropdowns }}
    {{nested-question-select ident="register_decision_questions--selected-template"
                      owner=task
                      displayQuestionText=false
                      selectionSelected=templateSelected
                      defaultSelection=firstDecisionTemplate
                      placeholder="Please select the letter template"
                      source=decisionTemplates
                      readOnly=disabled
                      noResponseText=nil
                      width="300"}}

  {{/if}}

  <div class='input-group'>
    <div class='input-group-addon email-header'>
      To:
    </div>
    {{nested-question-input
      ident="register_decision_questions--to-field"
      owner=task
      inputClassNames='form-control'
      disabled=disabled
      displayQuestionText=false
      placeholder='someone@example.edu'
      defaultAnswer=authorEmail
    }}
  </div>

  <div class='input-group'>
    <div class='input-group-addon email-header'>
      Subject:
    </div>
  {{input name=ident
        value=subjectLine
        class=inputClassNames
        disabled=disabled
        placeholder=placeholder
        type=type}}
  </div>

  {{textarea onEvent="false"
             class="decision-letter-field"
             placeholder="A boilerplate decision letter will appear here"
             disabled=disabled
             value=letterValue}}

  {{#unless disabled}}
    <button class="button-primary button--green send-email-action"
  disabled={{disabled}} {{action registerDecision}}>
      Register Decision and Email the Author
    </button>
  {{/unless}}
{{else}}
  <p>No decision has been registered.</p>
{{/if}}
