{{#if _otherOptionSelected}}

  {{#if allowOtherFormatting}}
    {{format-input placeholder=inputPlaceholder
                   value=value
                   class="power-select-other-input"
                   focus-out=(action "validate")
                   autofocus=true}}
  {{else}}
    {{input placeholder=inputPlaceholder
            value=value
            class="power-select-other-input"
            focus-out=(action "validate")
            autofocus=true}}
  {{/if}}

  <span class="ember-power-select-status-icon" {{action "otherTrigger"}}></span>
{{else}}

  {{#power-select options=_optionsWithOther
                  selected=selectedValue
                  searchEnabled=searchEnabled
                  placeholder=selectPlaceholder
                  onchange=(action "select")
                  as |v|}}
    {{v}}
  {{/power-select}}

{{/if}}
