<h1>Cover Letter</h1>
{{#if editingLetter}}
  <div class="edit-cover-letter">
    <h4>Please type or paste your cover letter into this text field:</h4>
    {{content-editable value=letterBody class="taller-textarea"}}

    <button class="button-primary button--green" {{action "saveCoverLetter"}}>Save</button>
  </div>
{{else}}
<div class="preview-cover-letter">
  <h4>Here is your cover letter:</h4>
    <div class="cover-letter">{{formatCoverLetter}}</div>
    <button class="button-primary button--green" {{action "editCoverLetter"}}>Make Changes</button>
</div>
{{/if}}
