<h1>{{model.title}}</h1>

<p>
  Please confirm that your figures comply with our guidelines for preparation and have not been
  inappropriately manipulated. For information on image manipulation, please see our
  <a href="http://www.plos.org/figureguidelines/#manipulation" target="_blank">general guidance</a>
  notes on image manipulation.
</p>

{{question-check ident="figures.complies"
                 task=model
                 question="Yes - I confirm our figures comply with the guidelines."
                 disabled=isSubmissionTaskNotEditable}}

<hr>

{{#each figures as |figure|}}
  {{attachment-thumbnail attachment=figure
                         figure=true
                         strikingImageAction="changeStrikingImage"
                         saveAttachment="updateStrikingImage"
                         destroyAttachment="destroyAttachment"
                         uploadFinished="uploadFinished"
                         uploadStarted="uploadStarted"
                         uploadProgress="uploadProgress"
                         isEditable=isSubmissionTaskEditable}}
{{/each}}


<div id="paper-attachment-uploads">
  {{#each uploads as |upload|}}
    {{upload-preview upload=upload}}
  {{/each}}
</div>


<span {{bind-attr class="isSubmissionTaskNotEditable:button--disabled :button-primary :button--green :fileinput-button"}}>
  <span>Add new Figures</span>
  {{file-uploader id="figure_attachment"
                  accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps"
                  url=figureUploadUrl
                  filePrefix="paper/figures"
                  start="uploadStarted"
                  done="uploadFinished"
                  progress="uploadProgress"
                  multiple=true
                  disabled=isSubmissionTaskNotEditable}}
</span>
