<h1>Financial Disclosures</h1>

<div class="question-list">
  <div class="question">
    <div class="question-text">Did any of the authors receive specific funding for this work?</div>

    {{binary-radio-button name="received-funding"
                          selection=receivedFunding
                          yesAction="choseFundingReceived"
                          noAction="choseFundingNotReceived"}}

    {{#if explicitYes}}
      <span>Please describe all sources of funding that have supported your work.</span>
    {{/if}}
    {{#if explicitNo}}
      <span>Your Financial Disclosure Statement will appear as: The author(s) received no specific funding for this work.</span>
    {{/if}}
  </div>

  {{#each funder in funders}}
    <div class="question-dataset">
      {{render "funder" funder}}
    </div>
  {{/each}}

  {{#if receivedFunding}}
    <button class="button-secondary button--green" {{action "addFunder"}}>Add Another Funder</button>

    <hr>

    <p>
      Please note that if your manuscript is accepted, this statement will be published.
      Your Financial Disclosure Statement will appear as:
    </p>

    {{#each funder in funders}}
      <p>
        This work was supported by

        {{#if funder.formattedWebsite}}
          <a {{bind-attr href=funder.formattedWebsite}} target="_blank"><strong>{{display-value funder.name or="[funder name]"}}</strong></a>
        {{else}}
          <strong>{{display-value funder.name or="[funder name]"}}</strong>
        {{/if}}

        (grant number <strong>{{display-value funder.grantNumber or="[funder grant number]"}}</strong>).

        {{#if funder.funderHadInfluence}}
          {{funder.funderInfluenceDescription}}.
        {{else}}
          The funder had no role in study design, data collection and analysis, decision to publish, or preparation of the manuscript.
        {{/if}}
      </p>
    {{/each}}

  {{/if}}
</div>
