<h1>Invite Reviewers</h1>

<div class="invite-reviewer-text">
  <div class='invite-reviewers'>
    <label for="reviewer">Email</label>
    {{select-2-single value=""
               class="reviewer-select2"
               name="invite_reviewer"
               selectionSelected="didSelectReviewer"
               selectedData=selectedReviewer
               minimumInputLength=0
               selectedTemplate=selectedTemplate
               resultsTemplate=resultsTemplate
               remoteSource=select2RemoteSource
               placeholder="Please select reviewer"}}
    <button class="button-primary button--green invite-reviewer-button" {{action "inviteReviewer"}}>
      Invite
    </button>
  </div>

  <div class='invitees'>
  <table class='invitees-table'>
    {{#each model.decisions as |decision|}}
    <tbody class='active-invitations'>
      {{#each decision.invitations as |invitation|}}
      <tr class='invitation'>
        <td><span>{{user-thumbnail user=invitation.invitee classNames="invitee-thumbnail"}}</span></td>
        <td><span class='invitee-full-name'>{{invitation.inviteeFullName}}</span> has been invited</td>
        <td><span class='invitation-updated-at'>{{format-date invitation.updatedAt format='LLL'}}</span></td>
        <td><span class='invitation-state'>({{invitation.state}})</span></td>
        {{#unless invitation.accepted}}
        <td>
          <span class="glyphicon glyphicon-trash invite-reviewer-remove" {{action "destroyInvitation" invitation}}></span>
        </td>
        {{/unless}}
      </tr>
      {{/each}}
    </tbody>
    {{/each}}
  </table>
  </div>
</div>
