<h1>Invite Reviewers</h1>

<div class="invite-reviewer-text">
  {{#if composingEmail}}
    <div class="invite-reviewer-edit-invite">
      <h3 class="invite-to">
        Invitation to
        {{#if selectedReviewer.full_name}}
          {{selectedReviewer.full_name}}
        {{/if}}
        [{{selectedReviewer.email}}]
      </h3>

      {{textarea value=updatedTemplate
                 class="form-control taller-textarea"}}

      <div class="invite-reviewer-cta">
        <button class="button-link button--green cancel" {{action "cancelAction"}}>cancel</button>
        <button class="button-primary button--green invite-reviewer-button" {{action "setLetterBody"}}>Send Invitation</button>
      </div>
   </div>
  {{else}}
    <div class='invite-reviewers'>
      <label for="reviewer">Email</label>

      <input id="auto-suggest-input" style="width:200px;">

      {{#auto-suggest-list positionNearSelector="#auto-suggest-input"
                           class="animation-fade-in"
                           selectItem="selectAutoSuggestItem"
                           items=autoSuggestData as |user|}}
        {{user.fullName}} - {{user.email}}
      {{/auto-suggest-list}}

      {{select-2-single
          class="reviewer-select2"
          minimumInputLength=3
          name="invite_reviewer"
          placeholder="Please select reviewer"
          resultsTemplate=resultsTemplate
          remoteSource=select2RemoteSource
          selectedData=selectedReviewer
          selectedTemplate=resultsTemplate
          selectionSelected="didSelectReviewer"
          value=""}}
      <button class="button-primary button--green compose-invite-button" {{action "composeInvite"}}>
        Compose Invite
      </button>
    </div>

    {{invitations-display decisions=decisions
                          invitationType="Reviewer"
                          latestDecision=latestDecision
                          onDestroyInvitation='destroyInvitation'}}
  {{/if}}
</div>
