<div {{bind-attr class=":register-decision-saving-cover isSavingData"}}>
  {{progress-spinner visible=true}}
</div>

<h1>Register Decision</h1>

<div class="decision-selections">
  <label class="decision-label">
    {{decision-radio-button value="accepted"
                            action="setDecisionTemplate"
                            selection=model.paperDecision
                            disabled=model.completed
                            name="decision"}}
    Accepted
  </label>

  <label class="decision-label">
    {{decision-radio-button value="rejected"
                            action="setDecisionTemplate"
                            selection=model.paperDecision
                            disabled=model.completed
                            name="decision"}}
    Rejected
  </label>

  <label class="decision-label">
    {{decision-radio-button value="revise"
                            action="setDecisionTemplate"
                            selection=model.paperDecision
                            disabled=model.completed
                            name="decision"}}
    Revise
  </label>
</div>

<p>Feel free to modify the standard decision letter. Your changes will be saved.</p>

{{textarea focus-out="saveModel"
           onEvent="false"
           class="decision-letter-field"
           placeholder="A boilerplate decision letter will appear here"
           disabled=model.completed
           value=paperDecisionLetter}}
