<div class="register-decision-saving-cover {{if isSavingData "is-saving-data"}}">
  {{progress-spinner visible=true size="large" center=true}}
</div>

<h1>
  Register Decision
</h1>

{{#if model.completed}}
  {{#if finalDecision}}
  <div class="alert alert-info">
    A final Decision of {{latestDecision.verdict}} has been registered.
  </div>
  {{/if}}
{{else}}
  {{#unless controller.publishable}}
    <div class="alert alert-warning">
      A Decision cannot be Registered at this time.
      The Manuscript is not in a Submitted state.
    </div>
  {{/unless}}
{{/if}}

<div class="decision-selections">
  <label class="decision-label">
    {{decision-radio-button value="accepted"
                            action="setDecisionTemplate"
                            selection=latestDecision.verdict
                            disabled=controller.nonPublishable
                            name="decision"}}
    Accepted
  </label>

  <label class="decision-label">
    {{decision-radio-button value="rejected"
                            action="setDecisionTemplate"
                            selection=latestDecision.verdict
                            disabled=controller.nonPublishable
                            name="decision"}}
    Rejected
  </label>

  <label class="decision-label">
    {{decision-radio-button value="revise"
                            action="setDecisionTemplate"
                            selection=latestDecision.verdict
                            disabled=controller.nonPublishable
                            name="decision"}}
    Revise
  </label>
</div>

<p>
  Feel free to modify the standard decision letter. Your changes will be saved.
</p>

{{textarea focus-out="saveLatestDecision"
           onEvent="false"
           class="decision-letter-field"
           placeholder="A boilerplate decision letter will appear here"
           disabled=model.completed
           value=latestDecision.letter}}

<button class="btn send-email-action {{unless controller.publishable 'disabled'}}" {{action 'registerDecision'}}>
  Register Decision and Email the Author
</button>

{{#if previousDecisions}}
  <hr>
  <h3>Decision History</h3>
{{/if}}

{{partial "overlays/partials/decision-list"}}
