<div class="register-decision-saving-cover {{if isSavingData "is-saving-data"}}">
  {{progress-spinner visible=true size="large" center=true}}
</div>

<h1>Register Decision</h1>

{{#if model.completed}}
  {{#if finalDecision}}
    <div class="alert alert-info">
      A final Decision of {{latestDecision.verdict}} has been registered.
    </div>
  {{/if}}
{{/if}}

<div class="decision-selections">
  <label class="decision-label">
    {{decision-radio-button value="accept"
                            action="setDecisionTemplate"
                            selection=latestDecision.verdict
                            disabled=model.completed
                            name="decision"}}
    Accept
  </label>

  <label class="decision-label">
    {{decision-radio-button value="reject"
                            action="setDecisionTemplate"
                            selection=latestDecision.verdict
                            disabled=model.completed
                            name="decision"}}
    Reject
  </label>

  <label class="decision-label">
    {{decision-radio-button value="major_revision"
                            action="setDecisionTemplate"
                            selection=latestDecision.verdict
                            disabled=model.completed
                            name="decision"}}
    Major Revision
  </label>

  <label class="decision-label">
    {{decision-radio-button value="minor_revision"
                            action="setDecisionTemplate"
                            selection=latestDecision.verdict
                            disabled=model.completed
                            name="decision"}}
    Minor Revision
  </label>
</div>

<p>
  Feel free to modify the standard decision letter. Your changes will be saved.
</p>

{{textarea focus-out="saveLatestDecision"
           onEvent="false"
           class="decision-letter-field"
           placeholder="A boilerplate decision letter will appear here"
           disabled=model.completed
           value=latestDecision.letter}}

{{#if previousDecisions}}
  <hr>
  <h3>Decision History</h3>
{{/if}}

{{partial "overlays/partials/decision-list"}}
