<h1>Reporting Guidelines</h1>

<ol class="question-list">
  <li class="question">
    <div class="question-text">Authors should check the <a href="http://www.equator-network.org/" target="_blank">EQUATOR Network</a> site for any reporting guidelines that apply to their study design, and ensure that any required Supporting Information (checklists, protocols, flowcharts, etc.) be included in the article submission.</div>
    <div class="help">Select all that apply</div>
    <ul class="list-unstyled">
      <li class="item">
        {{question-check ident="reporting_guidelines.clinical_trial"
                         task=model
                         question="Clinical Trial"
                         disabled=isSubmissionTaskNotEditable}}
      </li>

      <li class="item">
        {{#question-check ident="reporting_guidelines.systematic_reviews"
                          task=model
                          question="Systematic Reviews"
                          disabled=isSubmissionTaskNotEditable
                          as |checked|}}
          {{#if checked}}
            <div class="question-dataset">
              {{question-uploader ident="reporting_guidelines.systematic_reviews.prisma_checklist"
                                  task=model
                                  question="Provide a completed PRISMA checklist as supporting information. You can <a href='http://www.prisma-statement.org/' target='_blank'>download it here</a>."
                                  updateStore="updateStore"
                                  accept=".docx,.pdf"
                                  disabled=isSubmissionTaskNotEditable}}
            </div>
          {{/if}}
        {{/question-check}}
      </li>

      <li class="item">
        {{#question-check ident="reporting_guidelines.meta_analyses"
                          task=model
                          question="Meta-analyses"
                          disabled=isSubmissionTaskNotEditable
                          as |checked|}}
          {{#if checked}}
            <div class="question-dataset">
              {{question-uploader ident="reporting_guidelines.meta_analyses.prisma_checklist"
                                  task=model
                                  question="Provide a completed PRISMA checklist as supporting information."
                                  updateStore="updateStore"
                                  accept=".docx,.pdf"
                                  disabled=isSubmissionTaskNotEditable}}
            </div>
          {{/if}}
        {{/question-check}}
      </li>

      <li class="item">
        {{question-check ident="reporting_guidelines.diagnostic_studies"
                         task=model
                         question="Diagnostic studies"
                         disabled=isSubmissionTaskNotEditable}}
      </li>

      <li class="item">
        {{question-check ident="reporting_guidelines.epidemiological_studies"
                         task=model
                         question="Epidemiological studies"
                         disabled=isSubmissionTaskNotEditable}}
      </li>

      <li class="item">
        {{question-check ident="reporting_guidelines.microarray_studies"
                         task=model
                         question="Microarray studies"
                         disabled=isSubmissionTaskNotEditable}}
      </li>
    </ul>
  </li>
</ol>
