<h1>
  Revise Manuscript
</h1>

<p>
  A decision was registered on the Manuscript,
  @manuscript_name.
</p>

<p>
  Here's the most Recent Decision
  @decision
  {{latestDecision}}
</p>

<hr>

<p>
  Find my template at:
  /client/lib/{{view.cardName}}/app/templates/overlays/{{view.cardName}}.hbs
</p>
<p>
  Enter JavaScript in:
  /client/lib/{{view.cardName}}/app/views/overlays/{{view.cardName}}.js
</p>
