<tr>
  <td class="role-name" {{action "edit"}}>
    {{#if isEditing}}
      {{input value=name placeholder="Role name" action='save'}}
    {{else}}
      {{name}}
    {{/if}}
  </td>
  <td><input type="checkbox" disabled="disabled" /><label>Manuscript Manager</label></td>
  <td><input type="checkbox" disabled="disabled" /><label>All Manuscript Managers</label></td>
  <td><input type="checkbox" disabled="disabled" /><label>Admin</label></td>
</tr>
<tr {{bind-attr class=":action-buttons isEditing"}}>
  <td colspan="4">
    <button class="column-header-update-save primary-button" {{action "save"}}>Save</button>
    <button class="column-header-update-cancel btn-link" {{action "cancel"}}>cancel</button>
  </td>
</tr>
