<tr>
  <td class="role-name">
    {{#if isEditing}}
      {{input name="role[name]" value=name placeholder="Role name" action='save'}}
    {{else}}
      <div class="relative">
        <div class="hover-target">
          <i class='delete-button glyphicon glyphicon-trash' {{action 'delete' bubbles=false}}></i>
          <span class='name-field'>{{name}}</span>
        </div>
      </div>
    {{/if}}
  </td>
  <td><label>{{input name="role[canViewAssignedManuscriptManagers]" type="checkbox" checked=canViewAssignedManuscriptManagers disabled=notEditing}} Manuscript Manager</label></td>
  <td><label>{{input name="role[canViewAllManuscriptManagers]" type="checkbox" checked=canViewAllManuscriptManagers disabled=notEditing}}All Manuscript Managers</label></td>
  <td><label>{{input name="role[canAdministerJournal]" type="checkbox" checked=canAdministerJournal disabled=notEditing}}Admin</label></td>
</tr>
<tr {{bind-attr class=":action-buttons isEditing"}}>
  <td colspan="4">
    {{errorsOn model 'name'}}
    <button class="column-header-update-save primary-button" {{action "save" bubbles=false}}>Save</button>
    <button class="column-header-update-cancel btn-link" {{action "cancel" bubbles=false}}>cancel</button>
  </td>
</tr>
