<tr>
  <td class="admin-role-name">
    {{#if isEditing}}
      {{input name="role[name]" value=name placeholder="Role name" action="save"}}
    {{else}}
      <i class="role-delete-button glyphicon glyphicon-trash" {{action "delete" bubbles=false}}></i>
      <span class="name-field">{{name}}</span>
    {{/if}}
  </td>
  <td>
    <label class="token">{{check-box name="role[canViewAssignedManuscriptManagers]" checked=canViewAssignedManuscriptManagers}} Manuscript Manager</label>
    <label class="token">{{check-box name="role[canViewAllManuscriptManagers]" checked=canViewAllManuscriptManagers}} All Manuscript Managers</label>
    <label class="token">{{check-box name="role[canAdministerJournal]" checked=canAdministerJournal}} Admin</label>
    <span  class="token token--add">
        <span class="glyphicon glyphicon-plus"></span>
    </span>
  </td>
</tr>
<tr {{bind-attr class=":action-buttons isEditing"}}>
  <td colspan="4">
    {{errorsOn model "name"}}
    <button class="column-header-update-save button-primary button--blue" {{action "save" bubbles=false}}>Save</button>
    <button class="column-header-update-cancel button-link button--blue" {{action "cancel" bubbles=false target="view"}}>cancel</button>
  </td>
</tr>
