<tr>
  <td class="role-name">
    {{#if isEditing}}
      {{input name="role[name]" value=name placeholder="Role name" action="save"}}
    {{else}}
      <div class="relative">
        <div class="hover-target">
          <i class="delete-button glyphicon glyphicon-trash" {{action "delete" bubbles=false}}></i>
          <span class="name-field">{{name}}</span>
        </div>
      </div>
    {{/if}}
  </td>
  <td><label>{{check-box name="role[canViewAssignedManuscriptManagers]" checked=canViewAssignedManuscriptManagers}} Manuscript Manager</label></td>
  <td><label>{{check-box name="role[canViewAllManuscriptManagers]" checked=canViewAllManuscriptManagers}}All Manuscript Managers</label></td>
  <td><label>{{check-box name="role[canAdministerJournal]" checked=canAdministerJournal}}Admin</label></td>
</tr>
<tr {{bind-attr class=":action-buttons isEditing"}}>
  <td colspan="4">
    {{errorsOn model "name"}}
    <button class="column-header-update-save button-primary button--blue" {{action "save" bubbles=false}}>Save</button>
    <button class="column-header-update-cancel btn-link" {{action "cancel" bubbles=false}}>cancel</button>
  </td>
</tr>
