!!!
%html
  %head
    %title Tahi
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Cabin:400,700,400italic"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #new-overlay
    #overlay
      %div
        %header
          %h2
          %a.primary-button.close-overlay{href: "#"} Close
        %main
        %footer
          .content
          %a.primary-button.close-overlay{href: "#"} Close

    #nav-bar-container
      %nav#nav-bar
        %header
          = link_to root_path do
            %i.glyphicon.glyphicon-home
            Tahi
        %section
          %ul
            - if current_user
              %li.nav-bar-item= active_link_to 'Dashboard', root_path
              - if current_user.admin?
                %li.nav-bar-item= active_link_to 'Admin', rails_admin_path
              = yield :nav_bar_items
          %ul
            - if current_user
              %li.nav-bar-text= link_to 'Sign out', destroy_user_session_path, method: :delete
              %li.nav-bar-text Welcome back, #{current_user.username}

    = yield :control_bar

    #tahi-container{class: yield(:tahi_container_class)}
      - if flash.present?
        %p.notice= notice
        %p.alert= alert
      = yield
