<%# Copyright (c) 2018 Public Library of Science %>

<%# Permission is hereby granted, free of charge, to any person obtaining a %>
<%# copy of this software and associated documentation files (the "Software"), %>
<%# to deal in the Software without restriction, including without limitation %>
<%# the rights to use, copy, modify, merge, publish, distribute, sublicense, %>
<%# and/or sell copies of the Software, and to permit persons to whom the %>
<%# Software is furnished to do so, subject to the following conditions: %>

<%# The above copyright notice and this permission notice shall be included in %>
<%# all copies or substantial portions of the Software. %>

<%# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR %>
<%# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, %>
<%# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL %>
<%# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER %>
<%# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING %>
<%# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER %>
<%# DEALINGS IN THE SOFTWARE. %>

<!DOCTYPE html>
<html class="bg-<%= (rand() * 2).to_i + 1 %> rails-view">
  <head>
    <%= git_commit_id_meta_tag %>

    <title>
      <%= app_name %>
    </title>
    <%= stylesheet_link_tag "auth", media: "all" %>

    <link rel="shortcut icon" href="https://www.plos.org/wp-content/themes/plos_new/favicon.ico" />
    <%- unless Rails.env.test? %>
      <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Cabin:400,700,400italic" %>
    <% end %>
    <%= csrf_meta_tags %>
    <% if !(Rails.env.test? || Rails.env.development?) %>
      <%= render "shared/bugsnag_javascript" %>
    <% end %>
  </head>
  <body class="sessions">
    <%# Tag manager immediately after opening body. https://support.google.com/tagmanager/answer/6103696?hl=en %>
    <%= render "shared/gtm" %>
    <div id="aperta-container" class="<%= yield(:tahi_container_class) %>">
      <%= yield %>
    </div>
    <div id="login-attribution">
      <span id="login-ccby"><a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> license</span>
    </div>
  </body>
</html>
