!!!
%html
  %head
    %title Tahi
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #overlay{style: 'display: none'}
      %header
        %a.btn.btn-primary.close-overlay{href: "#"} Close
      %main
      %footer
        %a.btn.btn-primary.close-overlay{href: "#"} Close

    #nav-container
      %nav#nav-bar
        %header
          = link_to root_path do
            %i.glyphicon.glyphicon-home
            Tahi
        %section
          %ul
            - if current_user
              %li.nav-bar-item= active_link_to 'Dashboard', root_path
              - if current_user.admin?
                %li.nav-bar-item= active_link_to 'Admin', admin_users_path
          %ul
            - if current_user
              %li.nav-bar-text= link_to 'Sign out', destroy_user_session_path, method: :delete
              %li.nav-bar-text Welcome back, #{current_user.username}

    .container
      %p.notice= notice
      %p.alert= alert
      = yield
