!!!
%html
  %head
    %title Tahi
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .app-overlay{style: 'display: none'}
      .overlay-content
        %a.close-button{href: "#"} Close
        %h2 Overlay
    .container
      %nav.navbar.navbar-default{role: "navigation"}
        .navbar-header
          %a.navbar-brand{href: "#"} Tahi
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Dashboard', root_path
            %li= link_to 'Show overlay', '#', class: 'display-overlay'
            - if current_user
              - if current_user.admin?
                %li= link_to 'Admin', admin_users_path
              %li= link_to 'Sign out', destroy_user_session_path, method: :delete
      %p.notice= notice
      %p.alert= alert
      = yield
