<!DOCTYPE html>
<html class="bg-<%= (rand() * 2).to_i + 1 %>">
  <head>
    <title>
      <%= app_name %>
    </title>
    <%= stylesheet_link_tag "auth", media: "all" %>

    <link rel="shortcut icon" href="https://www.plos.org/wp-content/themes/plos_new/favicon.ico" />
    <%- unless Rails.env.test? %>
      <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Cabin:400,700,400italic" %>
    <% end %>
    <%= csrf_meta_tags %>
    <% if !(Rails.env.test? || Rails.env.development?) %>
      <%= render "shared/segment_io" %>
      <%= render "shared/bugsnag_javascript" %>
    <% end %>
  </head>
  <body class="sessions">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TP26BH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TP26BH');</script>

    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MQQMGF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MQQMGF');</script>
    <!-- End Google Tag Manager -->

    <!--[if lte IE 9]>
      <h2 class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h2>
    <![endif]-->

    <script>
      // This really only works for IE10. Starting with IE11, the user agent no longer indicates IE version.
      // http://stackoverflow.com/questions/18871760/how-to-detect-ie-11-with-javascript-in-asp-net
      var showIENotification = function() {
        var IERegex = /MSIE\s?(\d+)(?:\.(\d+))?/i;
        var matches = navigator.userAgent.match(IERegex);

        if (matches != null && parseInt(matches[1]) >= 10) {
          $('#tahi-container').prepend("<h3 class='browsehappy'>You are using an <strong>unsupported</strong> browser. #{app_name} works best in open source browsers, such as Firefox and Chrome. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</h3>");
        }
      }

      showIENotification();
    </script>

    <div id="tahi-container" class="<%= yield(:tahi_container_class) %>">
      <%= yield %>
    </div>
    <div id="login-attribution">
      <span id="login-ccby"><a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> license</span>
    </div>
  </body>
</html>
