<!DOCTYPE html>
<html class="bg-<%= (rand() * 2).to_i + 1 %>">
  <head>
    <title>
      <%= app_name %>
    </title>
    <%= stylesheet_link_tag "auth", media: "all" %>

    <link rel="shortcut icon" href="https://www.plos.org/wp-content/themes/plos_new/favicon.ico" />
    <%- unless Rails.env.test? %>
      <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Cabin:400,700,400italic" %>
    <% end %>
    <%= csrf_meta_tags %>
    <% if !(Rails.env.test? || Rails.env.development?) %>
      <%= render "shared/segment_io" %>
      <%= render "shared/bugsnag_javascript" %>
    <% end %>
  </head>
  <body class="sessions">
    <div id="tahi-container" class="<%= yield(:tahi_container_class) %>">
      <%= yield %>
    </div>
    <div class="attribution">
      <span class="ccby"><a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> license</span>
    </div>
  </body>
</html>
