<!DOCTYPE html>
<html>
<head>
  <title>Tahi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tahi</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Dashboard', root_path %></li>
        <li><%= link_to 'Admin', admin_users_path %></li>
        <% if current_user %>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</div>
</body>
</html>
