!!!
%html
  %head
    %title Tahi
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

    - if Rails.env.test? # disable animations
      = javascript_tag "$.fx.off = true"
      = stylesheet_link_tag "test"

    = csrf_meta_tags
    %meta{'name' => 'blitz', 'content' => 'mu-b3889ed7-0648789a-23e0b2b7-244f7a06'}

  %body
    #ember-app

- if current_user
  :javascript
    window.loggedIn = true
