<!DOCTYPE html>
<html>
  <head>
    <script type='text/javascript'>
      window.appName = "<%= app_name %>"
    </script>
    <title><%= app_name %></title>
    <%= include_ember_stylesheet_tags :tahi %>
    <%= stylesheet_link_tag "application", media: "all" %>

    <%= csrf_meta_tags %>

    <% if !(Rails.env.test? || Rails.env.development?) %>
      <%= render "layouts/segment_io" %>
      <%= render "shared/bugsnag_javascript" %>
    <% end %>
  </head>

  <body>

      <script type="text/javascript">
        window.eventStreamConfig = <%= TahiPusher::Config.to_json.html_safe %>;
        <% if current_user %>
            window.currentUserData = <%= CurrentUserSerializer.new(current_user, root: :user).to_json.html_safe %>;
        <% end %>
      </script>

    <%= include_ember_script_tags :tahi %>

    <% if Rails.env.test? %>
      <% # disable jquery animations %>
      <%= javascript_tag "$.fx.off = true" %>
    <% end %>

  </body>
</html>
