!!!
%html
  %head
    %title Tahi
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #ember-app

- if current_user
  :javascript
    window.Tahi.currentUser = {id: #{current_user.id},
    admin: #{current_user.admin},
    test: true,
    username: "#{current_user.username}",
    fullName: "#{current_user.full_name}",
    imageUrl: "#{current_user.image_url}"};
