!!!
%html
  %head
    %title Tahi
    = stylesheet_link_tag    "application", media: "all"

    - if Rails.env.test?
      = javascript_tag "$.fx.off = true" # disable jquery animations
      = stylesheet_link_tag "test" # disable css animations
      = javascript_tag "EventSource = NativeEventSource" # undo eventsource.js polyfill

    = csrf_meta_tags

    = render 'layouts/segment_io'
    = render 'shared/bugsnag_javascript'

  %body
    #ember-app
    = include_ember_script_tags :tahi

- if current_user
  :javascript
    window.currentUserId = #{current_user.id};

-# :javascript
-#   window.ETahi.environment = "#{Rails.env}";
