<!DOCTYPE html>
<html>
  <head>
    <title>Tahi</title>
    <%= stylesheet_link_tag "application", media: "all" %>

    <%= csrf_meta_tags %>

    <% if !(Rails.env.test? || Rails.env.development?) %>
      <%= render "layouts/segment_io" %>
      <%= render "shared/bugsnag_javascript" %>
    <% end %>
  </head>

  <body>

    <% if current_user %>
      <script type="text/javascript">
        window.currentUserData = <%= CurrentUserSerializer.new(current_user, root: :user).to_json.html_safe %>;
      </script>
    <% end %>

    <%= include_ember_script_tags :tahi %>
    <%= include_ember_stylesheet_tags :tahi %>

    <% if Rails.env.test? %>
      <% # disable jquery animations %>
      <%= javascript_tag "$.fx.off = true" %>
    <% end %>

  </body>
</html>
