<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= app_name %> Styleguide
    </title>
    <%= include_ember_stylesheet_tags :tahi %>
    <%= stylesheet_link_tag "application", media: "all" %>

    <%= csrf_meta_tags %>

    <script type="text/javascript">
      window.eventStreamConfig = <%= TahiPusher::Config.to_json.html_safe %>;
    </script>

    <style media="screen">
    *[element-name] {
      position: relative;
    }
    .add-author-form {
      min-width: 900px;
    }
    .lora * {
      font-family: 'lora';
    }
    .buttons div.button--green,
    .buttons div.button--grey,
    .buttons div.button--blue {
      margin-top: 10px;
    }
    .source-sans-pro * {
      font-family: 'source-sans-pro';
    }
    .card-content {
      width: 220px;
    }
    #card-overlays > a {
      display: block
    }
    #cards-tab .overlay-container {
      max-width: 940px;
      min-width: 900px;
      margin: 0;
      padding: 0;
    }
    #cards-tab ul.select2-choices {
      display: none;
    }
    .color-bar {
    }
    .color-bar .swatch {
      height: 120px;
    }
    .color-bar p {
      background-color: #E5E5E5;
      color: #878787;
      padding: 1em;
      height: 160px;
    }
    .column-title-update-buttons {
      display: none !important;
    }
    .constrain {
      max-width: 940px;
      margin: auto;
    }
    .content {
      padding-left: 50px;
      padding-right: 50px;
    }
    .fa.large {
      font-size: 28px;
    }
    .fa.small {
      font-size: 18px;
    }
    .green-overlay-text {
      color: white;
    }
    .green-overlay-text:hover {
      color: white;
    }
    #header {
      margin: 20px auto;
    }
    #inline-body-edit .inline-edit-body-part {
      border-top: none;
    }
    .navigation-toggle {
      display: none !important;
    }
    .paper-journal {
      display: none;
    }
    p.text {
      max-width: 500px;
      padding-bottom: 25px;
    }
    .row {
      padding-bottom: 50px;
    }
    #radio-checkbox label {
      margin-right: 20px;
    }
    #segmented-buttons {
      width: 25%;
    }
    .styleguide-card {
      border: 2px solid #ccc;
      border-radius: 5px;
      padding: 30px;
      margin-bottom: 30px;
    }
    .styleguide-example pre,
    .styleguide-example .styleguide-description,
    .styleguide-example h3,
    .styleguide-example .styleguide-element .styleguide-modifier-name {
      display: none;
    }
    #tabs {
      margin-bottom: 20px;
    }
    .toggle-link {
      text-decoration: none;
      cursor: pointer;
    }
    .yes-no-with-comments label,
    .question label,
    .form-group label {
      margin-right: 20px;
    }
    .overlay-container {
      width: 75%;
    }
    .overlay-container h1 {
      margin-top: 100px;
    }
    .overlay-preview {
      position: relative;
      max-width: 100%;
      height: 500px;
      border: 1px solid lightgray;
    }
    .overlay-preview .overlay,
    .overlay-preview .overlay-close-x  {
      position: absolute;
    }
  </style>
  </head>

  <body>
    <%= include_ember_script_tags :tahi %>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </body>
</html>
