<%= tinymce_assets %>

<%= render layout: 'container' do %>
  <div class='message'>
    <span class='bold'>You've successfully declined the invitation to
      review</span> "<%= @paper.title.html_safe %>". We're always trying to improve our
    invitation process and would appreciate your feedback below.
  </div>
  <div>
    <%= form_for @invitation, url: post_feedback_path(@invitation.token), method: 'post'  do |f| %>
      <%= f.label :decline_reason do %>
        <div style='margin-bottom: 0.5em;'>
          Please give your reasons for declining this invitation.
        </div>
      <% end %>
      <%= f.text_area :decline_reason, class: 'tinymce', id: 'invitation_decline_reason' %>
      <br/>

      <%= f.label :reviewer_suggestions do %>
        <div style='margin-bottom: 0.5em;'>
          We would value your suggestions of alternative reviewers for this manuscript.<br/>
          Please provide reviewers' names, institutions, and email addresses if known.
        </div>
      <% end %>
      <%= f.text_area :reviewer_suggestions, class: 'tinymce', id: 'invitation_reviewer_suggestions' %>
      <br/>

      <div class='flex-bar'>
        <%= link_to "No thank you", invitation_thank_you_path(@invitation.token), class: 'flex-item' %>
        <%= f.submit value: 'Send Feedback', class: 'button-secondary button--green flex-item' %>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  function initTinyMCE() {
    var options = {
      selector: 'textarea.tinymce',
      branding: false,
      menubar: false,
      toolbar: 'p,br,strong/b,em/i,u,sub,sup,pre',
      valid_elements: 'bold italic underline | subscript superscript | undo redo'
    };

    if (typeof window.tinyMCE !== 'undefined') {
      window.tinyMCE.init(options);
    } else {
      setTimeout(initTinyMCE, 50);
    }
  }

  initTinyMCE();
</script>
